<%= form_for(@m_audit_check) do |f| %>
  <% if @m_audit_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_audit_check.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @m_audit_check.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <%= hidden_field "input",'check',:value=>@check_del_flg%>

  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label 'チェックコード' %></th>
  	  <td><%= f.number_field :check_code, :style=>"ime-mode:disabled" ,:maxlength=>2 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '分類' %></th>
  	  <td>
		<%= f.select(:m_class_check_id, MClassCheck.find(:all, :conditions => ["deleted_flg = ?",0], :order => 'class_code').map do |u|
      		[u.item,u.id]
        end, {:include_blank => "選択して下さい"}) %>
	  </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '内容' %></th>
  	  <td><%= f.text_field :content,:maxlength=>50 %></td>  	  
  	</tr>
  </table>
  <div class="actions">
    <%= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div>
  
<% end %>
