<p id="notice"><%= notice %></p>

<p>
  <b>Check code:</b>
  <%= @m_audit_check.check_code %>
</p>

<p>
  <b>M class check:</b>
  <%= @m_audit_check.m_class_check_id %>
</p>

<p>
  <b>Content:</b>
  <%= @m_audit_check.content %>
</p>

<p>
  <b>Deleted flg:</b>
  <%= @m_audit_check.deleted_flg %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @m_audit_check.deleted_at %>
</p>


<%= link_to 'Edit', edit_m_audit_check_path(@m_audit_check) %> |
<%= link_to 'Back', m_audit_checks_path %>
