<% if @from_view == "syoukai_menu" %>
	<h1>人件費表一覧</h1>
<% else %>
	<h1>人件費入力状況</h1>
<% end %>
<%= form_tag(url_for(:action => 'search', :from_view=>@from_view),:remote => true) do %>
<table id='rounded-corner'>
	<tr>
      <th>対象年月</th>
      <td>
      		<%#= select_year(@input_ymd, :start_year => @start_year,:end_year => @input_ymd.year) %>
      		<%= select_year(@input_ymd, :start_year => @start_year,:end_year => Time.now.year) %>年
      		<%= select_month(@input_ymd,:use_month_numbers=>true) %>月
      	<%#= select_year(@input_ymd.to_s[0,4].to_i, :prefix=>"",
      	   #             :start_year => @start_year, :end_year => @input_ymd.to_s[0,4].to_i) %>
      	<%#= select_month(@input_ymd.to_s[4,2].to_i, :prefix=>"", :use_month_numbers => true) %>
      </td>
	  <th>店舗種別</th>
	  <td>
	  	  <% shop_kbn_list = MCode.find(:all, :conditions => ["kbn='shop_kbn'and code<>'9'"], :order => "code").collect{|i| [i.code_name, i.code]} %>	  	
	  	  <% if @shop_kbn.to_s == "0" %>
			<%= select_tag "shop_kbn", options_for_select(shop_kbn_list, 0) %>
	      <% else %>  
	  		<%= select_tag "shop_kbn", options_for_select(shop_kbn_list, 1) %>
	      <% end %>
	        </td> 
	  <td><%= submit_tag "検索" %></td>
      </tr>
</table>
<% end %>

<p>
	<div id="shop_list">
	    <%= render partial: 'shop_list'%>
	</div>
</p>

<script type="text/javascript">
    //全てロック／解除が変更された場合のイベント
    $("#all_lock")
	    .live('click', function(){
	    		var msg;
	    		if ($(this).attr('checked') == "checked") {
	    			msg = "すべてロックします。よろしいですか？"
	    		}else{
	    			msg = "すべて解除します。よろしいですか？"
	    		};
	    		
	    		if(confirm(msg)){
	    			$.post(
		    			//'/d_results/all_lock/',
		    			'<%=url_for(:action => "all_lock")%>',
		    			{ kakutei_flg: $(this).attr('checked'), input_day: $("#select_date").val(), input_shop_kbn: $("#shop_kbn").val() },
					    function(data, status) {        // 通信成功時にデータを表示
					       $('#result').empty();
			               $('#result').append(data);
			               
			             },
					    "html"                          // 応答データ形式 xml, html, script, json, jsonp, text
		    		);
					//return true;
				}else{
					return false;	
				};
				
	    	});	    	
</script>
