<%= form_for(@m_keep_month) do |f| %>
  <% if @m_keep_month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_keep_month.errors.count, "error") %> prohibited this m_keep_month from being saved:</h2>

      <ul>
      <% @m_keep_month.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table id='rounded-corner'>
  	<tr>
	    <th><%= f.label "No" %></th>
	    <td><%= f.number_field :display_order ,:readonly => true ,:maxlength=>2 %></td>
  	</tr>
  	<tr>
	    <th><%= f.label "名称" %></th>
	    <td><%= f.text_field :display_name ,:maxlength=>80 %></td>
  	</tr>
  	<tr>
	    <th><%= f.label "保持期間" %></th>
	    <td><%= f.number_field :keep_month , :style=>"ime-mode:disabled" ,:maxlength=>2 %>&nbsp&nbspヶ月</td>
  	</tr>
	<td align="left" style="border: none">
  		<%= link_to '戻る', m_keep_months_path, :class => 'return_icon' %>
	</td>
	<td align="right" style="border: none">
		<%= f.submit "  更  新  ",:disable_with => "更新中.....",:confirm => '更新しても良いですか？' %>
	</td>
  </table>
<% end %>
