<h1>メニュー一覧</h1>
<%= link_to '新規登録', new_menu_path, :class => 'add_icon' %>

<table id='rounded-corner'>
  <tr>
    <th>メニュー分類１</th>
    <th>メニュー分類２</th>
    <th>メニュー分類３</th>
    <th>メニュー名</th>
    <th>処理名</th>
    <th>メッセージ種別</th>
    <!--<th>詳細</th>-->
    <th>編集</th>
    <th>削除</th>
  </tr>
	
<% @menus.each do |menu| %>
  <tr>
    <td><%= menu.menu_cd1 %></td>
    <td><%= menu.menu_cd2 %></td>
    <td><%= menu.menu_cd3 %></td>    
    <td><%= menu.display_name %></td>
    <td><%= menu.uri %></td>
    <td><%= menu.messege_send %></td>  
    <!--<td class="icon"><%#= link_to image_tag('icon/24_show.png'), menu %></td>-->
    <td class="icon"><%#= link_to '編集', edit_menu_path(menu), :class => 'edit_icon' %>
    	<%= link_to image_tag('icon/24_edit.png'), edit_menu_path(menu) %>
    </td>
    <td class="icon"><%#= link_to '削除', menu, :confirm => '削除します。よろしいですか？', :method => :delete, :class=> 'delete_icon' %>
    	<%= link_to image_tag('icon/24_delete.png'), menu, :confirm => '削除します。よろしいですか？', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<%# menus = Menu.find(:all, :order => 'parent_menu_id, display_order') %>
<%#= select :select, :prefecture_id, Menu.all.collect {|u| [ u.display_name, u.id]} %>
<%#
<div id="city_id">test</div>
<script>
$(function(){
$('#select_prefecture_id').change(function(){
var pref_id = $("#select_prefecture_id").val();
$.get("menus/city_select?pref_id=" + pref_id);
});
});
</script>


<p>Date: <input type="text" class="datepicker"></p>


<html>
<head>
<script type="text/javascript">
<!--
function scrollRC()
{
  document.getElementById('trow').scrollLeft
        = document.getElementById('tbody').scrollLeft;
  document.getElementById('tcol').scrollTop
        = document.getElementById('tbody').scrollTop;
}
// -->
</script>
<style type="text/css">
 table{
	border-collapse:collapse;
	white-space:nowrap;
	border:solid 0px;
	padding:0px;
	margin:0px;	
 }
 th.col1,th.col2,
 th.col4,th.col4 {
	background-color: #00ccff;
 }
 th.col1,td.col1,
 th.col2,td.col2 {
 	width:100px;
	border:solid 1px;
 }
 th.col3,td.col3,
 th.col4,td.col4 {
 	width:200px;
	border:solid 1px;
	background-color: #00ccff;
 }
 tr.even{
 	background-color: #lightgray;
 }

</style>

</head>
<body>
	
<table border="0" cellspacing="0" cellpadding="0" style="width: 400px;">
<!-- HEAD -->
<thead>
  <tr>
    <td>
    	<div style="overflow:hidden;height; 1em;">
			<table >
				<thead>
					<tr>
						<th class="col1">HEAD1a</th>
						<th class="col2">HEAD2b</th>			
					</tr>					
				</thead>
			</table>
		</div>
	</td>
	    <td>
	<div  id="trow" style="overflow:hidden; width: 200px;">
			<table style=" width: 415px;">
				<thead>
					<tr>
						<th class="col3">HEAD-SCROLL1a</th>
						<th class="col4">HEAD-SCROLL2b</th>
						<th style="width:15px;"></th>
					</tr>					
				</thead>
			</table>
		</div>
	</td>
  </tr>
</thead>  
<!-- BODY -->
<tbody>
  <tr>
    <td>
    	<div id="tcol" style="overflow: hidden; height: 100px;">
			<table style="padding-bottom:15px;">
				<tbody >
					<tr>
						<td class="col1">BODY1</td>
						<td class="col2">BODY2</td>			
					</tr>
					<tr class="even">
						<td class="col1">BODY1</td>
						<td class="col2">BODY2</td>			
					</tr>
					<tr>
						<td class="col1">BODY1</td>
						<td class="col2">BODY2</td>			
					</tr>
					<tr class="even">
						<td class="col1">BODY1</td>
						<td class="col2">BODY2</td>			
					</tr>
					<tr>
						<td class="col1">BODY1</td>
						<td class="col2">BODY2</td>			
					</tr>
					<tr class="even">
						<td class="col1">BODY1</td>
						<td class="col2">BODY2</td>			
					</tr>
					<tr style="height:15px;" border="0"></tr>					
				</tbody>
			</table>
		</div>
	</td>
    <td>
    	<div onScroll="scrollRC()" id="tbody" style="overflow:auto; width: 200px; height: 100px;">
			<table style="width: 400px;" >
				<tbody>
					<tr>
						<td class="col1">BODY-SCROLL1</td>
						<td class="col2">BODY-SCROLL2</td>
					</tr>
					<tr class="even">
						<td class="col1">BODY-SCROLL1</td>
						<td class="col2">BODY-SCROLL2</td>
					</tr>
					<tr>
						<td class="col1">BODY-SCROLL1</td>
						<td class="col2">BODY-SCROLL2</td>
					</tr>
					<tr class="even">
						<td class="col1">BODY-SCROLL1</td>
						<td class="col2">BODY-SCROLL2</td>
					</tr>	
					<tr>
						<td class="col1">BODY-SCROLL1</td>
						<td class="col2">BODY-SCROLL2</td>
					</tr>
					<tr class="even">
						<td class="col1">BODY-SCROLL1</td>
						<td class="col2">BODY-SCROLL2</td>
					</tr>		
					<tr border="0"></tr>													
				</tbody>
			</table>
		</div>
	</td>
  </tr>
 </tbody>
</table>
</body>
</html>
%>