<p id="notice"><%= notice %></p>

  <table id='rounded-corner'>
  	<tr>
  	  <th>メニュー分類１</th>
  	  <td><%= @menu.menu_cd1 %></td>  	  
  	</tr>
  	<tr>
  	  <th>メニュー分類２</th>
  	  <td><%= @menu.menu_cd2 %></td>  	  
  	</tr>
  	<tr>
  	  <th>メニュー分類３</th>
  	  <td><%= @menu.menu_cd3 %></td>  	  
  	</tr>  	
  	<tr>
  	  <th>メニュー名</th>
  	  <td><%= @menu.display_name %></td>  	  
  	</tr>
  	<tr>
  	  <th>処理名</th>
  	  <td><%= @menu.uri %></td>  	  
  	</tr>
  	<tr>
  	  <th>メッセージ種別</th>
  	  <td><%= @menu.messege_send %></td>  	  
  	</tr>  	   	   	 	
  	<tr>
  	  <th>使用を許可するアクション</th>
  	  <td><%= @menu.permission_actions %></td>  	  
  	</tr>  	   	   	 	
  </table>

<%= link_to '編集', edit_menu_path(@menu), :class => 'edit_icon' %> |
<%= link_to '戻る', menus_path, :class => 'return_icon' %>
