<table class='rounded-corner'>
<tr>
	<th>対象年月</th>
	<td>
		<%= @year %>年
		<%= @month %>月
	</td>
	<th>所属店舗</th>
	<td style="min-width: 150px;">
		<%= MShop.find(@m_shop_id).shop_ryaku %>
	</td>
</tr>
</table>

<br/>

<table class='rounded-corner' style="white-space: nowrap;" id="tbl_kyuyo">
<tr>
	<th>
		社員<br/>コード
	</th>
	<th style="min-width: 100px;">
		ユーザー名
	</th>
	
	<th >
		出勤<br/>日数
	</th>
	<th>
		時間
	</th>
	<th style="min-width: 70px;">
		日勤
	</th>
	<th>
		時間
	</th>
	<th style="min-width: 70px;">
		残業
	</th>
	<th>
		時間
	</th>
	<th style="min-width: 70px;">
		夜勤
	</th>
	<th>
		時間
	</th>
	<th style="min-width: 70px;">
		深残
	</th>

	<th style="min-width: 70px;">
		<%= @m_cost_name.hour_name1 %>
	</th>
	<th style="min-width: 70px;">
		<%= @m_cost_name.hour_name2 %>
	</th>
	<th style="min-width: 70px;">
		<%= @m_cost_name.hour_name3 %>
	</th>
	<th style="min-width: 70px;">
		<%= @m_cost_name.hour_name4 %>
	</th>
	<th style="min-width: 70px;">
		<%= @m_cost_name.hour_name5 %>
	</th>
	<th style="min-width: 70px;">
		<%= @m_cost_name.hour_name6 %>
	</th>

	<th style="min-width: 70px;">
		<%= @m_cost_name.day_name1 %>
	</th>
	<th style="min-width: 70px;">
		<%= @m_cost_name.day_name2 %>
	</th>

	<th style="min-width: 70px;">
		<%= @m_cost_name.input_name1 %>
	</th>
	<th style="min-width: 70px;">
		<%= @m_cost_name.input_name2 %>
	</th>
	<th style="min-width: 70px;">
		<%= @m_cost_name.input_name3 %>
	</th>
	<th style="min-width: 70px;">
		<%= @m_cost_name.input_name4 %>
	</th>
	
	<th style="min-width: 70px;">
		支払額
	</th>
</tr>

<% for d_duty in @d_duties %>
<tr>
	<!-- 社員コード -->
	<td rowspan="2" style="text-align: right; border-bottom-width: 2px;">
		<%= d_duty.account[(d_duty.account.length - 3) .. (d_duty.account.length - 1)] %>
	</td>
	<!-- ユーザ名 -->
	<td rowspan="2" style="border-bottom-width: 2px;"> 
		<%= d_duty.user_name %>
	</td>
	<!-- 出勤日数 -->
	<td rowspan="2" style="text-align: center; border-bottom-width: 2px;">
		<%= d_duty.day %>
	</td>
	<!--  日勤時間 -->
	<td rowspan="2" style="text-align: right; border-bottom-width: 2px;">
		<%= number_to_currency(d_duty.day_work_time, :precision => 1, :unit => "") %>
	</td>
	<!-- 日勤(1:単価) -->
	<td style="text-align: right;">
		<% if d_duty.general_price.nil? then%>
			&nbsp;
		<% else %>
			<%= number_with_delimiter(d_duty.general_price) %>
		<% end %>
	</td>
	<!--  残業時間 -->
	<td rowspan="2" style="text-align: right; border-bottom-width: 2px;" >
		<%= number_to_currency(d_duty.day_over_time, :precision => 1, :unit => "") %>
	</td>
	<!-- 残業(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(d_duty.general_overtime) %>
	</td>
	<!--  夜勤時間 -->
	<td rowspan="2" style="text-align: right; border-bottom-width: 2px;">
		<%= number_to_currency(d_duty.night_work_time, :precision => 1, :unit => "") %>
	</td>
	<!-- 夜勤(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(d_duty.night_price) %>
	</td>
	<!--  深残時間 -->
	<td rowspan="2" style="text-align: right; border-bottom-width: 2px;">
		<%= number_to_currency(d_duty.night_over_time, :precision => 1, :unit => "") %>
	</td>
	<!-- 深残(1:単価) -->
	<td style="text-align: right; ">
		<%= number_with_delimiter(d_duty.night_overtime) %>
	</td>
	<!-- 時間1(1:単価) -->
	<td style="text-align: right; border-left-width: 3px;">
		<%= number_with_delimiter(d_duty.time_price1) %>
	</td>
	<!-- 時間2(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(d_duty.time_price2) %>
	</td>
	<!-- 時間3(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(d_duty.time_price3) %>
	</td>
	<!-- 時間4(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(d_duty.time_price4) %>
	</td>
	<!-- 時間5(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(d_duty.time_price5) %>
	</td>
	<!-- 時間6(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(d_duty.time_price6) %>
	</td>
	<!-- 日数1(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(d_duty.day_price1) %>
	</td>
	<!-- 日数2(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(d_duty.day_price2) %>
	</td>
	<!-- 手当1 -->
	<td rowspan="2" style="text-align: right; border-left-width: 3px; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.get_money1) %>
	</td>
	<!-- 手当2 -->
	<td rowspan="2" style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.get_money2) %>
	</td>
	<!-- 手当3 -->
	<td rowspan="2" style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.get_money3) %>
	</td>
	<!-- 手当4 -->
	<td rowspan="2" style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.get_money4) %>
	</td>
	<!-- 支払額 -->
	<td rowspan="2" style="text-align: right; border-left-width: 3px; border-bottom-width: 2px;">
		<%= number_with_delimiter(get_shiharai_gak(d_duty)) %>
	</td>
</tr>
<tr>
	<!-- 日勤(2:金額) -->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(get_general_money(d_duty)) %>
	</td>
	<!-- 残業(2:金額) -->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(get_general_overtime_money(d_duty)) %>
	</td>
	<!-- 夜勤(2:金額) -->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(get_night_money(d_duty)) %>
	</td>
	<!-- 深残(2:金額) -->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(get_night_overtime_money(d_duty)) %>
	</td>
	<!-- 時間1(2:金額) -->
	<td style="text-align: right; border-left-width: 3px; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.time1_money) %>
	</td>
	<!-- 時間2(2:金額) -->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.time2_money) %>
	</td>
	<!-- 時間3(2:金額) -->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.time3_money) %>
	</td>
	<!-- 時間4(2:金額) -->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.time4_money) %>
	</td>
	<!-- 時間5(2:金額) -->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.time5_money) %>
	</td>
	<!-- 時間6(2:金額) -->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.time6_money) %>
	</td>
	<!-- 日数1(2:金額)-->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.day1_money)%>
	</td>
	<!-- 日数2(2:金額)-->
	<td style="text-align: right; border-bottom-width: 2px;">
		<%= number_with_delimiter(d_duty.day2_money)%>
	</td>
</tr>
<% end %> <!-- for d_duty in @d_duties -->

<!-- 合計行 -->
<tr>
	<!-- ユーザ名 -->
	<td colspan = 2 style="text-align: center; min-height: 30px"> 
		合&nbsp;&nbsp;計
	</td>
	<!-- 出勤日数 -->
	<td>
		&nbsp;
	</td>
	<!--  日勤時間 -->
	<td style="text-align: right;">
		<%= number_to_currency(get_day_work_times(@d_duties), :precision => 1, :unit => "") %>
	</td>
	<!-- 日勤(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_general_moneys(@d_duties)) %>
	</td>
	<!--  残業時間 -->
	<td style="text-align: right;">
		<%= number_to_currency(get_day_over_times(@d_duties), :precision => 1, :unit => "") %>
	</td>
	<!-- 残業(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_general_overtime_moneys(@d_duties)) %>
	</td>
	<!--  夜勤時間 -->
	<td style="text-align: right;">
		<%= number_to_currency(get_night_work_times(@d_duties), :precision => 1, :unit => "") %>
	</td>
	<!-- 夜勤(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_night_moneys(@d_duties)) %>
	</td>
	<!--  深残時間 -->
	<td style="text-align: right;">
		<%= number_to_currency(get_night_overtimes(@d_duties), :precision => 1, :unit => "") %>
	</td>
	<!-- 深残(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_night_overtime_moneys(@d_duties)) %>
	</td>
	<!-- 時間1(1:単価) -->
	<td style="border-left-width: 3px; text-align: right;">
		<%= number_with_delimiter(get_time1_moneys(@d_duties)) %>
	</td>
	<!-- 時間2(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_time2_moneys(@d_duties)) %>
	</td>
	<!-- 時間3(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_time3_moneys(@d_duties)) %>
	</td>
	<!-- 時間4(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_time4_moneys(@d_duties)) %>
	</td>
	<!-- 時間5(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_time5_moneys(@d_duties)) %>
	</td>
	<!-- 時間6(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_time6_moneys(@d_duties)) %>
	</td>
	<!-- 日数1(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_day1_money(@d_duties))%>
	</td>
	<!-- 日数2(1:単価) -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_day2_money(@d_duties))%>
	</td>
	<!-- 手当1 -->
	<td style="text-align: right; border-left-width: 3px;">
		<%= number_with_delimiter(get_moneys1(@d_duties)) %>
	</td>
	<!-- 手当2 -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_moneys2(@d_duties)) %>
	</td>
	<!-- 手当3 -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_moneys3(@d_duties)) %>
	</td>
	<!-- 手当4 -->
	<td style="text-align: right;">
		<%= number_with_delimiter(get_moneys4(@d_duties)) %>
	</td>
	<!-- 支払額 -->
	<td style="text-align: right; border-left-width: 3px;">
		<%= number_with_delimiter(get_shiharai_gaks(@d_duties)) %>
	</td>
</tr>
<!-- 合計行 END -->
</table>

<%= submit_tag  '  印  刷  ',format: 'pdf' %>
<% end %>

<script>
$(function() {

	$("#tbl_kyuyo").tablefix({width: 900, height: 500, fixRows:1, fixCols: 2});
	
});
</script>
