<% shop_name_key = "" %>

<% if @from_ymd_s.to_i  > @to_ymd_s.to_i %>
	<font color="red"><b><%= "対象日(From)を対象日(To)より大きくしてください"  %></b></font>
<% else %>
	<%= form_tag(url_for(:action => 'csv')) do %>
	<%= hidden_field_tag 'from_ymd',@from_ymd %>
	<%= hidden_field_tag 'to_ymd',@to_ymd %>
	<%= hidden_field_tag 'shop_kbn',@shop_kbn %>
	<table id="report_view_table" class="rounded-corner">
	<thead>
	<tr>
	    <th rowspan="2" scope="col">店舗</th>
	    <th rowspan="2" scope="col">日付</th>
	    <th colspan="4" scope="col">出荷量(L)</th>
	</tr>
	<tr>
	  	<% @m_oils.each do |oil| %>
	    	<th  style="width:15%"><%= oil.oil_name %></th>
	    <% end %>
	</tr>
	</thead>
	
	<tbody>
	<% @num = Date.parse(@to_ymd_s) - Date.parse(@from_ymd_s) %>
	<% @m_shops.each do |shop| %>
		<% for i in 0..@num.to_i %>
			<tr>
				<td>
					<% unless shop.shop_name == shop_name_key %>
						<%= shop.shop_cd %> <%= shop.shop_name %>
					<% end %>
					<% shop_name_key = shop.shop_name %>
				</td>

				<td><%= (Date.parse(@from_ymd_s) + i).strftime("%Y/%m/%d") %></td>
				<%# @m_oils.each do |oil| %>
				<% get_pos_data((@from_ymd_s.to_i + i).to_s,shop.id).each do |oil_list| %>
					<td align="right">
						<%#= number_with_delimiter(get_pos_data((@from_ymd_s.to_i + i).to_s,(@from_ymd_s.to_i + i).to_s,shop.id,oil.id)) %>
						<%= number_with_delimiter(oil_list.pos_data) %>
					</td>
				<% end %>
			</tr>
		<% end %><!-- for -->
	<% end %><!-- shop -->
	</tbody>
	</table>
	<%= submit_tag "ＣＳＶ作成" %>
<% end %><!-- form -->
<% end %><!-- 最初のif -->

<script>
$(function () {
	$("#report_view_table").tablefix({height:500,fixRows:2});
});
</script>