<%= form_tag({:action => 'authority_menu_create' }, { :remote => true }) do %>
<table id='rounded-corner'>
  <tr>
    <th>メニュー分類１</th>
    <th>メニュー分類２</th>
    <th>メニュー分類３</th>
    <th>表示有無</th>
  </tr>

<% @authority_menus.each_with_index do |authority_menu, idx| %>
  <% if authority_menu.authority_menu_id.blank?
  	   on = false
  	   off = true
  	 else
  	   on = true
  	   off = false
  	 end
  %>
  <tr>
  	<% if authority_menu.menu_cd2 == 0 %>
  	  <td><%= authority_menu.display_name %></td>
  	  <td></td>
  	  <td></td>  	  
  	<% elsif authority_menu.menu_cd3 == 0 %>
  	  <td></td>
  	  <td><%= authority_menu.display_name %></td>
  	  <td></td>
  	<% else %>
  	  <td></td>
  	  <td></td>  	  
  	  <td><%= authority_menu.display_name %></td>	
  	<% end %>
    
    <td>
      <%= radio_button("#{authority_menu.id}","chk","on", :checked => on)%>表示する	
      <%= radio_button("#{authority_menu.id}","chk","off", :checked => off)%>表示しない
      
      <%#= radio_button("menu[#{idx}]","chk","on", :checked => on)%>
      <%#= radio_button("menu[#{idx}]","chk","off", :checked => off)%>
    </td>
  </tr>
  <%= hidden_field :select, :m_authority_id, :value => @m_authority_id %>
<% end %>

</table>
  <%= submit_tag '登録' %>
<% end %>  