<table id='rounded-corner'>
  <tr>
    <th>ユーザ</th>
    <th>基本給</th>
    <th>深夜給</th>
    <th>福利費</th>
    <th>手当1</th>
    <th>手当2</th>
    <th>手当3</th>
    <th>手当4</th>
    <th>手当5</th>
    <th>手当6</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @m_info_costs.each do |m_info_cost| %>
  <% if m_info_cost.deleted_flg == 0 %>
  	<% del_flg = "del_n" %>
  <% else %>
  	<% del_flg = "del_y" %>
  <% end %>

  <tr>
    <td class="<%= "#{del_flg}" %>"><%= m_info_cost.user_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_info_cost.base_pay %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_info_cost.night_pay %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_info_cost.welfare_pay %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_info_cost.etc_pay1 %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_info_cost.etc_pay2 %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_info_cost.etc_pay3 %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_info_cost.etc_pay4 %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_info_cost.etc_pay5 %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_info_cost.etc_pay6 %></td>
    <td class="icon">
    	<%- if m_info_cost.deleted_flg == 0 -%>
    	<%= link_to image_tag('icon/24_edit.png'), {:action=>"edit",:id=>m_info_cost.id,:input_check=>@check_del_flg} %>
    	<%- end -%>
    </td>
    
    <td class="icon">
    <%- if m_info_cost.deleted_flg == 0 -%>
    <%= link_to image_tag('icon/24_delete.png'), {:action=>"destroy",:id=>m_info_cost.id,:input_check=>@check_del_flg}, :confirm => '削除します。よろしいですか？', :method => :delete %>
    <%- else -%>
    <%= link_to image_tag('icon/refresh.png'), {:action=>"destroy",:id=>m_info_cost.id,:input_check=>@check_del_flg}, :confirm => '削除の取消をします。よろしいですか？', :method => :delete %>
    <%- end -%>
    </td>
    
  </tr>
<% end %>
</table>