<%if session[:audit_class] == "0" then %>
	<h1>他商品自主監査報告</h1>
<%else%>
	<h1>他商品本監査報告</h1>
<%end%>

<!-- 検索条件入力領域 BEGIN -->
<%= form_tag({:action => 'edit'}) do %>
<table style="border: 1px solid #7D808A; padding: 5px;">
<tr>
<td>
	
  <table class='rounded-corner' >
  	<tr>
  		<th>対象店舗</th>
  		<td style="background-color: #A5D7AA;">
  			<%if session[:audit_class] == "1" then%>
  				<!-- 本監査 -->
				<%=select :input, :m_shop_id, 
				          MShop.find(:all, :conditions=> "deleted_flg=0", :order => "shop_cd").collect{|i| ["#{i.shop_cd} #{i.shop_name}",i.id]},
					      :selected => m_shop_id, :include_blank => "選択してください" %>
  				<%=hidden_field :header, :m_shop_id, :value => m_shop_id %>
  				
  				<script language="JavaScript">
				$(function () {
					$("#input_m_shop_id").change(function () {
						window.location.href = "<%=url_for(:action=>"index")%>?audit_class=1&header_m_shop_id=" + $("#input_m_shop_id").val();
					});
				});
  				</script>
  			<%else%>
  				<!-- 自主監査 -->
				<% m_shop = MShop.find(m_shop_id) %>
  				<%=m_shop.shop_cd%>&nbsp<%=m_shop.shop_name%>
  				<%=hidden_field :header, :m_shop_id, :value => m_shop_id %>
  			<%end%>
  		</td>
  	</tr>
  	<tr>
  		<th>監査人</th>
  		<td style="background-color: #A5D7AA;">
  			<% user = User.find(created_user_id) %>
  			<%=user.user_name%>
  			<%=hidden_field :header, :created_user_id, :value => created_user_id %>
  		</td>
  	</tr>
  </table>
  
</td>
<td valign="top">
	
  <table class='rounded-corner' >
  	<tr>
  		<th>監査日(From)</th>
  		<td>
  			<%=select :header, :audit_date_from, @from, :selected => audit_date_from %>
  		</td>
  	</tr>	
  </table>
  
</td>

<td valign="top">
  <table class='rounded-corner' >
  	<tr>
  		<th>監査日(To)</th>
  		<td>
  			<% 
  			  if audit_date_to.nil? then
  				audit_date_to = Time.now.strftime('%Y/%m/%d')
  			  end
  			  to_disabled = (@from[0][0].to_s == audit_date_from)
  			%>			
  			<%=text_field :header, :audit_date_to, :value => audit_date_to, :disabled => to_disabled, :style => "width:90px;" %>
  			<input type='hidden' id='h_to' value="<%=@to.join(',')%>">
  		</td>
  	</tr>	
  </table>
</td>

</tr>
<tr>
	<td colspan="3" align="right" style="margin-right: 5px;">
		<%= submit_tag '　表　示　', :onclick => "return kansa_from_to_chk()", :disable_with => "処理中です..." %>
	</td>
</tr>
</table>
<% end %>

<script language="JavaScript">
  $(function() {
  	// 監査日Toのカレンダー機能
    $("#header_audit_date_to").datepicker();
  
  	// 監査日Fromの変更時にToの自動入力
  	$("#header_audit_date_from").change( function() {
  		var from  = $("#header_audit_date_from")[0];
  		var to    = $("#header_audit_date_to")[0];
  		var h_to  = $("#h_to")[0];
  		
  		to.value    = h_to.value.split(',')[from.selectedIndex];
  		to.disabled = (from.selectedIndex != 0);
  		to.locked   = (from.selectedIndex == 0);
  		
  	});
  
  });
  
  // 表示ボタン時の入力チェック
  function kansa_from_to_chk() {
  	var from = $("#header_audit_date_from")[0];
  	var to   = $("#header_audit_date_to")[0];
  
	if ($("#header_m_shop_id").val() == "") {
		alert('対象店舗を選択してください。');
		return false;
	}
  	
  	if (!ckDate(to.value)) {
  		alert('監査日(To)を正しく入力してください。');
  		to.focus();
  		return false;  		
  	}
  	
  	if (from.value > to.value) {
		alert('監査日(From)(To)が前後しています。');
		from.focus();
		return false;
  	}
    
    // POSTの対象とする
    to.disabled = false;
    
  	return true;

  }
  
/****************************************************************
* 機　能： 入力された値が日付でYYYY/MM/DD形式になっているか調べる
* 引　数： datestr　入力された値
* 戻り値： 正：true　不正：false
****************************************************************/
function ckDate(datestr) {
    // 正規表現による書式チェック
    if(!datestr.match(/^\d{4}\/\d{2}\/\d{2}$/)){
        return false;
    }
    var vYear = datestr.substr(0, 4) - 0;
    var vMonth = datestr.substr(5, 2) - 1; // Javascriptは、0-11で表現
    var vDay = datestr.substr(8, 2) - 0;
    // 月,日の妥当性チェック
    if(vMonth >= 0 && vMonth <= 11 && vDay >= 1 && vDay <= 31){
        var vDt = new Date(vYear, vMonth, vDay);
        if(isNaN(vDt)){
            return false;
        }else if(vDt.getFullYear() == vYear && vDt.getMonth() == vMonth && vDt.getDate() == vDay){
            return true;
        }else{
            return false;
        }
    }else{
        return false;
    }
}
</script>
<!-- 検索条件入力領域 END -->