<%=form_tag({:action => 'update' }, :id => "form_update") do%>

<!-- 検索パラメータ -->
<%=hidden_field :hheader, :kansa,       :value => params[:header][:kansa] %>
<%=hidden_field :hheader, :shop_kbn,    :value => params[:header][:shop_kbn] %>
<%=hidden_field :hheader, :audit_class, :value => params[:header][:audit_class] %>
<%=hidden_field :hheader, :zumi_flg,    :value => params[:header][:zumi_flg] %>

<%=hidden_field :hheader, :ym_y,       :value => params[:header][:ym_y] %>
<%=hidden_field :hheader, :ym_m,       :value => params[:header][:ym_m] %>

<!-- 書き込み先の情報を付加 -->
<%=hidden_field :approval, :table,         :value => @table %>
<%=hidden_field :approval, :approval_id,   :value => @approval_id %>
<%=hidden_field :approval, :approval_name, :value => @approval_name %>

<table class='rounded-corner' style="width:98%" >

	<!-- DELETE 2012.10.15 ボタンをやめてチェックボックスへ変更
	<tr>
		<td colspan="8" align="right" style="border: none;">
			<input type="button" value=" 　一括 　" onclick="return chk_flgs_all(true);"  <%="disabled = 'disabled'" if (@approval_id == 0) %>><br/>
			<input type="button" value="一括クリア" onclick="return chk_flgs_all(false);" <%="disabled = 'disabled'" if (@approval_id == 0) %>>
		</td>
	</tr>
	-->

	<tr>
		<th>店舗</th>
		<th>監査日</th>
		<th>処理</th>
		<th>種別</th>
		<!--
		<th>監査人</th>
		<th>立会人</th>
		-->
		<th>承認者</th>
		<th>承認者</th>
		<th>承認者</th>
		<th>承認者</th>
		<th>承認者</th>
		<th>詳細</th>
		<th>
		<!-- UPDATE 2012.10.15 ボタンをやめてチェックボックスへ変更 -->
			承認<br/>
			<!-- <input type="checkbox" id="audit_approves_check_all" />
			-->
			<script>/*
			$(function() {
				$("#audit_approves_check_all").click( function (){ 
					$(":checkbox[id$=approval_flg]:not([disabled=disabled])").prop("checked", $(this).prop("checked"));
				});
			});
			*/</script>
		<!-- UPDATE 2012.10.15 ボタンをやめてチェックボックスへ変更 -->
		</th>
	</tr>
	
	<% rec_cnt = 0 %>
	<% for approval in @approval do %>
		<% rec_cnt += 1 %>

		<tr>
			<td align="left">
				<% m_shop = MShop.find(approval.m_shop_id) %>
				<%= m_shop.shop_cd %>
				&nbsp;
				<%= m_shop.shop_ryaku %>
			</td>
			<td align="center">
				<%if approval[:audit_date].nil? then%>
				    <%
				      dtf = approval.audit_date_from
				      dts = approval.audit_date_to
				    %>
					<%=dtf[0..3] + "/" + dtf[4..5] + "/" + dtf[6..7] %>
			        ～</Br>
			        <%=dts[0..3] + "/" + dts[4..5] + "/" + dts[6..7] %>
			    <%else%>
			        <%
			          dt = approval.audit_date
			        %>
					<%=dt[0..3] + "/" + dt[4..5] + "/" + dt[6..7] %>
			    <%end%>
			</td>
			<td align="center">
				<%=Menu.find(@menu_id).display_name.to_s.delete('自主監査').delete('本監査')%>
			</td>
			<td align="center">
				<% if params[:header][:audit_class] == 0 %>
					自主監査
				<% else %>
					本監査
				<% end %>
			</td>
			<!--
			<td align="center">
				<%#=MCode.find(:first, :conditions=>["kbn='shop_kbn' and code=?", params[:header][:shop_kbn]]).code_name %>
			</td>
			-->
			<!--承認者5 -->
			<td align="center">
				<% unless approval.approve_id5.blank? %>
					<% if approval.approve_id5 != '0' then %>
						<% user = User.find(approval.approve_id5) %>
						<%= user.user_name %>
					<%end%>
				<%end%>
			</td>
			<!--承認者4 -->
			<td align="center">
				<% unless approval.approve_id4.blank? %>
					<% if approval.approve_id4 != '0' then %>
						<% user = User.find(approval.approve_id4) %>
						<%= user.user_name %>
					<%end%>
				<%end%>
			</td>
			<!--承認者3 -->
			<td align="center">
				<% unless approval.approve_id3.blank? %>
					<% if approval.approve_id3 != '0' then %>
						<% user = User.find(approval.approve_id3) %>
						<%= user.user_name %>
					<%end%>
				<%end%>
			</td>
			<!--承認者2 -->
			<td align="center">
				<% unless approval.approve_id2.blank? %>
					<% if approval.approve_id2 != '0' then %>
						<% user = User.find(approval.approve_id2) %>
						<%= user.user_name %>
					<%end%>
				<%end%>
			</td>
			<!--承認者1 -->
			<td align="center">
				<% unless approval.approve_id1.blank? %>
					 <% if approval.approve_id1 != '0' then %>
						<% user = User.find(approval.approve_id1) %>
						<%= user.user_name %>
					<%end%>
				<%end%>
			</td>
<!--
			<td align="center">
				<% user = User.find(approval.created_user_id) %>
				<%= user.user_name %>
			</td>
			<td align="center">
				<% user = User.find(approval.confirm_user_id) %>
				<%= user.user_name %>
			</td>
-->
			<td align="center">
				<!-- UPDATE 2012.10.16 詳細の呼出先にコメントのみ更新する機能をつける -->
				<%= link_to image_tag('icon/24_show.png'), :controller => @table, :action => "show", :id => approval.id, :comment => true %>
			</td>
			<td align="center">
				<%
					flg = false
					for i in 1..5 do
						if (approval["approve_id#{i}"].to_s == current_user.id.to_s) then
							flg = true 
						end
					end
				%>
				<%=hidden_field "approval#{rec_cnt}", :id,               :value   => approval.id %>
				<%=hidden_field "approval#{rec_cnt}", :old_approval_flg, :value   => flg %> 
				<%=check_box    "approval#{rec_cnt}", :approval_flg,     
						{:checked => flg, :disabled => (@approval_id == 0)} , true, false %>
			</td>
		</tr>
		
	<% end %> <!-- for approval in @approval do -->
		
	<tr>
		<td colspan="10" align="right" style="border: none">
			<%= submit_tag '　登  録　', :disable_with => "登録中です...", :confirm => "登録してもよろしいですか？",
				:disabled => (@approval_id == 0) %>
		</td>
	</tr>
		
</table>
<% end %> <!-- form_tag({:action => 'update' }, :id => "form_update") do -->

<script>
	
	// 承認の全てを一括ON/OFFする
	function chk_flgs_all(flg) {
		$(":checkbox[id$=approval_flg]").each(function() {
			this.checked = flg;
		});
		
		return true;
	}
	
</script>