<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<% sum_goukei_uriage = 0 %>
<% sum_genkin_uriage = 0 %>
<% sum_gosa = 0 %>
<!--                    データ更新      -->
<ul id="error_summary"></ul>

	<%= form_tag({:action => 'update'}) do %>
	  <table  id='rounded-corner'>
	  <tr>
		<th>機種名</th>
		<th>当日メーター</th>
		<th>前回メーター</th>
		<th>計算上売上高</th>
		<th>現金売上高</th>
		<th>誤差</th>
	  </tr>
     <%  @m_etcs.each do |etc| %>
       <% d_sale_etc = get_d_sale_etc(@input_ymd_s) %>
       <% sum_keisan_uriage = 0 %>
       <% etc.max_num.times do |i| %>
	  <tr>
		  <th id="wash_cd_<%= etc.etc_cd.to_s %>_<%= (i+1).to_s %>"><%= etc.etc_name + (i + 1).to_s %></th>
		  	<% unless d_sale_etc == nil %>
		  	  <% d_sale_etc_detail = get_d_sale_etc_detail(d_sale_etc.id, etc.etc_cd,(i+1)) %>
		  	<% else %>
		  	  <% d_sale_etc_detail = nil %>
		  	<% end %>
		  	<% unless (d_sale_etc_detail == nil) %>
		  		<% if d_sale_etc.kakutei_flg == 1 %>
		  		  <td><%= d_sale_etc_detail.meter %></td>
		  		<% else %>
		  		  <div class="field">
   	  	  	      <% meter_id = "meter_" + d_sale_etc_detail.m_etc_id.to_s + '_'+ d_sale_etc_detail.etc_no.to_s %>
		  		  <td><%= text_field_tag(meter_id, d_sale_etc_detail.meter ,:class => "number") %></td>
		  		  </div>
		  		<% end %>
		  	<% else %>
		  	  <% unless d_sale_etc == nil %>
		  	    <% if d_sale_etc.kakutei_flg == 1 %>
		  	      <td>0</td>
		  	    <% else %>
		  	      <td>
		  	        <% meter_id = "meter_" + etc.etc_cd.to_s + '_'+ (i+1).to_s %>
		  	        <%= text_field_tag(meter_id,0,:class => "number") %>
		  	      </td>
		  	    <% end %>
		  	  <% else %>
		  	    <td>
		  	      <% meter_id = "meter_" + etc.etc_cd.to_s + '_'+ (i+1).to_s %>
		  	      <%= text_field_tag(meter_id,0,:class => "number") %>
		  	    </td>
		  	  <% end %>
		  	<% end %>

		  <td><!-- 前回メーター-->
		  	<% d_sale_etc_mae = get_d_sale_etc(@input_ymd_mae_s) %>
		  	<% unless d_sale_etc_mae == nil  %>
 		  	  <% d_sale_etc_detail_mae = get_d_sale_etc_detail(d_sale_etc_mae.id, etc.etc_cd,(i+1)) %>
 		  	<% else %>
 		  	  <% d_sale_etc_detail_mae = nil %>
 		  	<% end %>

		  	<% if d_sale_etc_detail_mae == nil %>
		  	  0
		  	<% else %>
		  	  <%= d_sale_etc_detail_mae.meter %>
		  	<% end %>
		  	</td>
		  <td><!-- 計算上売上高 -->
		  	<% display_keisan_uriage = keisan_uriage(d_sale_etc_detail,d_sale_etc_detail_mae) %>
		  	<%= display_keisan_uriage %>
		  	<% sum_keisan_uriage = sum_keisan_uriage + display_keisan_uriage %>
		  </td>
          <% if i == 0%>
		    <td rowspan="<%= etc.max_num %>"><center>ー</center></td>
		    <td rowspan="<%= etc.max_num %>">
	   		  <% unless d_sale_etc == nil %>
	   		    <% d_sale_etc_detail_99 = get_d_sale_etc_detail(d_sale_etc.id, etc.etc_cd,99) %>
	     		  <% unless d_sale_etc_detail_99 == nil %>
		    	    <%= link_to '誤差入力',
		    	        {:controller => 'd_sale_etcs',:action => 'entry_error', :sale_date=> @input_ymd_s,:etc_cd => etc.etc_cd },
		    	        :class => 'modal'%> 
		  	      <% else %>
		  	        誤差入力不可
		    	<% end%>
	   		  <% else %>
	   		     誤差入力不可
	   		  <% end %>
		    </td>
		  <% end %>
	  </tr>
	    <% end %>
	  <tr>
	   	<td colspan="2">&nbsp;</td>
	   	<th><%= etc.etc_name + "計" %></th>
	   	<td><%= sum_keisan_uriage %>
	   		<% sum_goukei_uriage = sum_goukei_uriage + sum_keisan_uriage %>
	   	</td>
	   	
	   		<% meter_id = "meter_" + etc.etc_cd.to_s + '_'+ 99.to_s %>
	   		<% unless d_sale_etc == nil %>
	   		  <% d_sale_etc_detail_99 = get_d_sale_etc_detail(d_sale_etc.id, etc.etc_cd,99) %>
	   		  <% unless d_sale_etc_detail_99 == nil %>
		  	    <td><%= text_field_tag(meter_id, d_sale_etc_detail_99.meter ,
		  	      :class => "number") %></td>
		  	    <% sum_genkin_uriage = sum_genkin_uriage + d_sale_etc_detail_99.meter %>
		  	  <% else %>
		  	    <td><%= text_field_tag(meter_id,0 ,:class => "number") %></td>
		  	<% end%>
	   		<% else %>
	   		   <td><%= text_field_tag(meter_id,0 ,:class => "number") %></td>
	   		<% end %>
		<td>
			<% unless d_sale_etc_detail_99 == nil %>
			  <% if sum_keisan_uriage -  d_sale_etc_detail_99.meter == d_sale_etc_detail_99.error_money %>
			    <%= d_sale_etc_detail_99.error_money %>
			  <% else %>
			    <font color="red">
			    	<%= d_sale_etc_detail_99.error_money %><br />
			    	※更新ボタンを<br />押してください
			    </font>
			  <% end %>
			  <% sum_gosa = sum_gosa + d_sale_etc_detail_99.error_money %>
			<% else %>
			  0
			<% end %>
	    </td>
	   </tr>
	  <% end %>
	  <tr><td colspan="2">&nbsp;</td>
	  	  <th>売上合計</th>
	  	  <td><%= sum_goukei_uriage %></td>
	  	  <td><%= sum_genkin_uriage %></td>
	  	  <td>
	  	  	  <%= sum_gosa %>
	  	  </td>
	  </tr>
	  <tr><td colspan="6">
	  	<div class="field">
	     <%= submit_tag(" 更新 ",:disable_with => "更新中...",:confirm => '保存しても良いですか？') %>	  
	   </div>
	 </td></tr>
	 </table>
	 <%= hidden_field_tag 'sale_date',@input_ymd.delete("/") %>

	<% end %>

