<h1>他商品売上・メーター入力</h1>

<table id='rounded-corner'>
	<tr>
		<th>対象店舗</th>
		<td class="input_no" id="display"><%= @shop.shop_cd %>&nbsp;&nbsp;<%= @shop.shop_name %></td>
		<th>売上日</th>
		<td>
			<!-- UPDATE BEGIN カレンダーの入力のみに制限 2012.12.17 -->
			<%#= text_field_tag  "input_ymd" , @input_ymd ,:class => 'datepicker',:size => 8 %>
			<%= text_field_tag  "input_ymd" , @input_ymd ,:class => 'datepicker',:size => 8, :readonly => true %>
			<!-- UPDATE END カレンダーの入力のみに制限 2012.12.17 -->
		</td>
	</tr>
</table>

<% if @mode == 'list' %>
  <%#= link_to '他売上入力状況へ戻る',{:controller => 'd_sale_etc_lists',:action => 'index', :input_ymd => @input_ymd,:shop_kbn => @shop_kbn} %>
  	<%= link_to '入力状況へ戻る',{:controller => 'd_sale_etc_lists',:action => 'index', :input_ymd => @input_ymd,:shop_kbn => @shop_kbn}, :confirm => "入力状況へ戻ります。よろしいですか？", :method => :get, :class => 'return_icon'  %>
<% end %>

	<div id="meter_data">
	    <%= render partial: 'meter_data'%>
	</div>
<% if @mode == 'list' %>
  <%#= link_to '他売上入力状況へ戻る',{:controller => 'd_sale_etc_lists',:action => 'index', :input_ymd => @input_ymd,:shop_kbn => @shop_kbn} %>
  	<%= link_to '入力状況へ戻る',{:controller => 'd_sale_etc_lists',:action => 'index', :input_ymd => @input_ymd,:shop_kbn => @shop_kbn}, :confirm => "入力状況へ戻ります。よろしいですか？", :method => :get, :class => 'return_icon'  %>
<% end %>


<!-- 読み込む位置が関係しているので、ここに書く -->
<script type="text/javascript">
$("#input_ymd").change(function(){
    var input_ymd = $("#input_ymd").val();
    //$.get("<%#=url_for({:action => 'change_input_ymd'}) %>?input_ymd=" + input_ymd);
    $.get("<%=url_for({:action => 'change_input_ymd'}) %>?input_ymd=" + input_ymd + "&mode=<%= @mode %>" + "&m_shop_id=<%= @shop_id %>" + "&shop_kbn=<%= @shop_kbn %>");
});
</script>

