<!-- CODE -->
<%= form_for(@m_shop ,:html => {:onsubmit=>"return m_shop_val();" }) do |f| %>
	
	<div id="tabs">
		<ul>
		<li><a href="#first">店舗情報</a></li>
		<li><a href="#second">釣銭固定額</a></li>
		<li><a href="#third">洗車売上報告</a></li>
		<li><a href="#fourth">タンク情報</a></li>
		</ul>
		
		<div id="error_msg"></div>
		
		<br />
		<div style="padding-left: 20px">
		<table id='rounded-corner'>
		<tr>
		  <th style="min-width: 100px"><%= f.label '店舗コード' %></th>
		  <td><%= f.number_field :shop_cd , :style=>"ime-mode:disabled" ,:maxlength=>6,:onkeyup=>"numberCheck(this)"%></td> 	  
		</tr>
		<tr>
		  <th><%= f.label '店舗名' %></th>
		  <td><%= f.text_field :shop_name %></td>  	  
		</tr>
		</table>
		</div>
		
		
		<div id="first">
		 	<% if @m_shop.errors.any? %>
				<div id="error_explanation">
				<h2><%= pluralize(@m_shop.errors.count, "件") %> のエラーが存在します。</h2>
			
				<ul>
				<% @m_shop.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
				</div>
			<% end %>
		
		<table id='rounded-corner'>
		<!--tr>
		  <th><%#= f.label '店舗コード' %></th>
		  <td><%#= f.number_field :shop_cd , :style=>"ime-mode:disabled" ,:maxlength=>6,:onkeyup=>"numberCheck(this)"%></td> 	  
		</tr>
		<tr>
		  <th><%#= f.label '店舗名' %></th>
		  <td><%#= f.text_field :shop_name %></td>  	  
		</tr-->
		<tr>
		  <th style="min-width: 100px"><%= f.label '店舗カナ' %></th>
		  <td><%= f.text_field :shop_kana %></td>  	  
		</tr>
		<tr>
		  <th><%= f.label '店舗略称' %></th>
		  <td><%= f.text_field :shop_ryaku %></td>  	  
		</tr>
		<tr>
		  <th><%= f.label '郵便番号' %></th>
		  <td><%= f.text_field :shop_zip_cd , :style=>"ime-mode:disabled" ,:maxlength=>8 %></td>  	  
		</tr>
		<tr>
		  <th><%= f.label '住所' %></th>
		  <td><%= f.text_field :shop_adress %></td>  	  
		</tr>
		<tr>
		  <th><%= f.label 'TEL' %></th>
		  <td><%= f.text_field :shop_tel , :style=>"ime-mode:disabled" ,:maxlength=>12 %></td>  	  
		</tr>
		<tr>
		  <th><%= f.label 'FAX' %></th>
		  <td><%= f.text_field :shop_fax , :style=>"ime-mode:disabled" ,:maxlength=>12 %></td>  	  
		</tr>
		<tr>
		  <th><%= f.label 'E-mail' %></th>
		  <td><%= f.text_field :shop_mail_adress , :style=>"ime-mode:disabled" ,:maxlength=>25 %></td>  	  
		</tr>
		<tr>
		  <th><%= f.label '店舗種別' %></th>
		  <td>
			<%= f.select(:shop_kbn, 
			MCode.find(:all,:conditions => ["kbn = 'shop_kbn'"], :order => 'code').map do |u|
			[u.code_name1,u.code]
			end, :selected => @m_shop.shop_kbn, :include_blank => "選択して下さい") %>
		  </td>  	  
		</tr>
		<tr>
		  <th><%= f.label '所属' %></th>
		  <td>
			<%= f.select(:m_shop_group_id, 
			MShopGroup.find(:all,:conditions => ["deleted_flg = 0"], :order => 'group_cd').map do |u|
			[u.group_name,u.id]
			end, :selected => @m_shop.m_shop_group_id, :include_blank => "選択して下さい") %>
		  </td>  	  
		</tr>
		
		
		<% @m_oils.each_with_index do |m_oil,idx| %>
		<%- if m_oil.id == @m_shop.m_oil_id1 -%>
		<%- elsif m_oil.id == @m_shop.m_oil_id2 -%>
		<%- elsif m_oil.id == @m_shop.m_oil_id3 -%>
		<%- elsif m_oil.id == @m_shop.m_oil_id4 -%>
		<%- else -%>
		<%- if idx < 4 -%>
			<%= f.hidden_field "m_oil_id#{idx+1}" , :value => m_oil.id %>
		<%- end -%>
		<%- end -%>
		<% end %>
		     	
		</table>
		  
		</div>
			  
		<div id="second">
		
		<input type="button" value="追加" onClick="AddTableRows2();" />
		<div class="scr" style="width: 900px;"> 
		<table id='rounded-corner'>
		<tr>
			
			<th style="min-width: 50px">開始月</th>
			<th style="min-width: 50px">終了月</th>
			
			<% @m_fix_items = MFixItem.find(:all,:conditions=>"deleted_flg=0",:order=>"fix_item_cd")%>
			<% if @m_fix_items %>
			<% @m_fix_items.each do |m_fix_item| %>
				<th style="min-width: 100px"><%= m_fix_item.fix_item_ryaku %></th>
			<% end %>
			<% end %>
			
			<th style="min-width: 100px">金庫合計</th>
			<th style="min-width: 100px">釣銭機合計</th>
			<th style="min-width: 100px">釣銭合計</th>
			<th style="min-width: 130px"></th>
		</tr>
		<tbody id="tbody2-row">
		<% if @m_fix_moneys %>
			<% @m_fix_moneys.each_with_index do |m_fix_money,idx| %>   
			<tr>
				<%= hidden_field "m_fix_money[#{idx}]", 'id' , :value=>m_fix_money.id %>
				  
			    <td class="start_month">
					<%= select("m_fix_money[#{idx}]", "start_month",
				  	 	12.times.map do |i|	
						[(i + 1).to_s + "月", i + 1]
				  	 	end, :selected => m_fix_money.start_month,:include_blank => "") %>
				</td>
				<td class="end_month">
					<%= select("m_fix_money[#{idx}]", "end_month",
				  	 	12.times.map do |i|	
						[(i + 1).to_s + "月", i + 1]
				  	 	end, :selected => m_fix_money.end_month,:include_blank => "") %>
				</td>
				
				
				<% if @m_fix_items %>
				<% @m_fix_items.each_with_index do |m_fix_item,idx_item| %>
					<td class="fix_money<%= idx_item + 1 %>">
						<% if eval("m_fix_money.m_fix_item_id#{idx_item+1}") == m_fix_item.id %>
							<%= text_field "m_fix_money[#{idx}]", "fix_money#{idx_item+1}",:value=>eval("m_fix_money.fix_money#{idx_item+1}"),:size=>7,:maxlength=>9,:class=>"money" %>
							<% if eval("m_fix_money.m_fix_item_id#{idx_item+1}") %>
							<%= hidden_field "m_fix_money[#{idx}]", "m_fix_item_id#{idx_item+1}",:value=>eval("m_fix_money.m_fix_item_id#{idx_item+1}") %>
							<% else %>
							<%= hidden_field "m_fix_money[#{idx}]", "m_fix_item_id#{idx_item+1}",:value=>m_fix_item.id %>
							<% end %>
						<% else %>
							<% money_item_flg = 0 %>
							<% for i in 1..13 %>
								<% if eval("m_fix_money.m_fix_item_id#{i}") == m_fix_item.id %>
									<%= text_field "m_fix_money[#{idx}]", "fix_money#{idx_item+1}",:value=>eval("m_fix_money.fix_money#{i}"),:size=>7,:maxlength=>9,:class=>"money" %>
									<%= hidden_field "m_fix_money[#{idx}]", "m_fix_item_id#{idx_item+1}",:value=>m_fix_item.id %>
									<% money_item_flg = 1 %>
								<% end%>
							<% end %>
							
							<% if money_item_flg == 0 %>
								<%= text_field "m_fix_money[#{idx}]", "fix_money#{idx_item+1}",:size=>7,:maxlength=>9,:class=>"money" %>
								<%= hidden_field "m_fix_money[#{idx}]", "m_fix_item_id#{idx_item+1}",:value=>m_fix_item.id %>
							<% end %>
							
						<% end %>
					</td>
				<% end %>
				<% end %>
				
				<td class="total_cash_box">
					<%= text_field "m_fix_money[#{idx}]", 'total_cash_box',:value=>m_fix_money.total_cash_box,:size=>7,:maxlength=>9,:class=>"money" %>
				</td>
				<td class="total_change_money">
					<%= text_field "m_fix_money[#{idx}]", 'total_change_money',:value=>m_fix_money.total_change_money,:size=>7,:maxlength=>9,:class=>"money" %>
				</td>
				<td class="total_money">
					<%= text_field "m_fix_money[#{idx}]", 'total_money',:value=>m_fix_money.total_money,:size=>7,:maxlength=>9,:class=>"money" %>
				</td>
				<td class="clear">
					<input type="button" value="クリア" onClick="form_clear2(<%= idx %>);" />
					<input type="button" value="削 除" onClick="DelTableRows2(this);" />
				</td>
			</tr>
			<% end %>
		<% end %>
		</tbody>
		</table>
		</div>  	
		</div>
		  
		<div id="third">
		   
		<input type="button" value="追加" onClick="AddTableRows();" />
		 
		<table id='rounded-corner'>
		
		<tr>
			<th>洗車機名</th>
			<th>(日)</th>
			<th>(月)</th>
			<th>(火)</th>
			<th>(水)</th>
			<th>(木)</th>
			<th>(金)</th>
			<th>(土)</th>
			<th></th>
		</tr>
		
		<tbody id="tbody-row">
		<% if @m_washsale_plans %>
			<% @m_washsale_plans.each_with_index do |m_washsale_plan,idx| %>   
			<tr>
				<%= hidden_field "m_washsale_plan[#{idx}]", 'id' , :value=>m_washsale_plan.id %>
				  
			    <td class="m_wash_id">
					<%= select("m_washsale_plan[#{idx}]", "m_wash_id",
				  	 	MWash.find(:all,:conditions => ["deleted_flg is null or deleted_flg <> ?",1], :order => 'wash_cd').map do |u|
				      	[u.wash_ryaku,u.id]	   		end, :selected => m_washsale_plan.m_wash_id, :include_blank => "選択して下さい") %>
				</td>
				<td class="sunday">
					<%- if m_washsale_plan.sunday == 1 -%>
					<%= check_box "m_washsale_plan[#{idx}]", 'sunday', {:checked => true}, 1, 0%>
					<%- else -%>
					<%= check_box "m_washsale_plan[#{idx}]", 'sunday', {}, 1, 0%>
					<%- end -%>
				</td>
				<td class="monday">
					<%- if m_washsale_plan.monday == 1 -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'monday', {:checked => true}, 1, 0)%>
					<%- else -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'monday', {}, 1, 0)%>
					<%- end -%>
				</td>
				<td class="tuesday">
					<%- if m_washsale_plan.tuesday == 1 -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'tuesday', {:checked => true}, 1, 0)%>
					<%- else -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'tuesday', {}, 1, 0)%>
					<%- end -%>
				</td>
				<td class="wednesday">
					<%- if m_washsale_plan.wednesday == 1 -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'wednesday', {:checked => true}, 1, 0)%>
					<%- else -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'wednesday', {}, 1, 0)%>
					<%- end -%>
				</td>
				<td class="thursday">
					<%- if m_washsale_plan.thursday == 1 -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'thursday', {:checked => true}, 1, 0)%>
					<%- else -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'thursday', {}, 1, 0)%>
					<%- end -%>
				</td>
				<td class="friday">
					<%- if m_washsale_plan.friday == 1 -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'friday', {:checked => true}, 1, 0)%>
					<%- else -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'friday', {}, 1, 0)%>
					<%- end -%>
				</td>
				<td class="saturday">
					<%- if m_washsale_plan.saturday == 1 -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'saturday', {:checked => true}, 1, 0)%>
					<%- else -%>
					<%= check_box( "m_washsale_plan[#{idx}]", 'saturday', {}, 1, 0)%>
					<%- end -%>
				</td>
				<td class="clear">
					<input type="button" value="クリア" onClick="form_clear(<%= idx %>);" />
					<input type="button" value="削 除" onClick="DelTableRows(this);" />
				</td>
			</tr>
			<% end %>
		<% end %>
		</tbody>
		</table>
		
		</div>
		  
		<div id="fourth">
		
		<input type="button" value="追加" onClick="AddTableRows3();" />
		
		<table id='rounded-corner'>
		
		<tr>
			<th>油種</th>
			<th>タンクNo</th>
			<th>タンク名</th>
			<th>タンク容量</th>
			<th>結合No</th>
			<th></th>
		</tr>
		
		<tbody id="tbody3-row">
		<% if @m_tanks %>
			<% @m_tanks.each_with_index do |m_tank,idx| %>   
			<tr>
				<%= hidden_field "m_tank[#{idx}]", 'id' , :value=>m_tank.id %>
				  
				<td class="m_oil_id">
					<%= select("m_tank[#{idx}]", "m_oil_id",@m_oils.map do |u| [u.oil_name,u.id] 
						end, :selected => m_tank.m_oil_id,:include_blank => "選択して下さい") %>
				</td>
				<td class="tank_no">
					<%#= text_field "m_tank[#{idx}]", 'tank_no',:value=>m_tank.tank_no,:size=>2, :style=>"ime-mode:disabled" ,:maxlength=>2,:onkeyup=>"showPreview(#{idx});"%>
					<%= text_field "m_tank[#{idx}]", 'tank_no',:value=>m_tank.tank_no,:size=>2, :style=>"ime-mode:disabled" ,:maxlength=>2,:onchange=>"showPreview(#{idx});"%>
				</td>
				<td class="tank_name">
					<%= text_field "m_tank[#{idx}]", 'tank_name',:value=>m_tank.tank_name,:size=>8, :readonly=>true %>
				</td>
				<td class="volume">
					<%#= text_field "m_tank[#{idx}]", 'volume',:value=>m_tank.volume,:size=>9,:style=>"ime-mode:disabled" ,:maxlength=>9,:class=>"money2",:onkeyup=>"numberCheck(this)"%>
					<%#= text_field "m_tank[#{idx}]", 'volume',:value=>m_tank.volume,:size=>9,:style=>"ime-mode:disabled",:maxlength=>9,:class=>"number",:onkeyup=>"numberCheck(this)" %>
					<%= text_field "m_tank[#{idx}]", 'volume',:value=>m_tank.volume,:size=>9,:style=>"ime-mode:disabled",:maxlength=>9,:class=>"number",:onchange=>"numberCheck(this)" %>
				</td>
				
				<td class="tank_union_no">
					<%#= text_field "m_tank[#{idx}]", 'tank_union_no',:value=>m_tank.tank_union_no,:size=>2, :style=>"ime-mode:disabled" ,:maxlength=>2,:onkeyup=>"numberCheck(this);"%>
					<%= text_field "m_tank[#{idx}]", 'tank_union_no',:value=>m_tank.tank_union_no,:size=>2, :style=>"ime-mode:disabled" ,:maxlength=>2,:onchange=>"numberCheck(this);"%>
				</td>
				   
				<td class="clear">
					<input type="button" value="クリア" onClick="form_clear3(<%= idx %>);" />
					<input type="button" value="削 除" onClick="DelTableRows3(this);" />
				</td>
			</tr>
			<% end %>
		<% end %>
		</tbody>
		</table>
		  	
		</div>
			  
	</div>
	 
	<div class="actions">
		<%= f.submit f.object.new_record? ? '追加' : '更新'%>
	</div>
	
<% end %>
<!-- / CODE -->

<!-- JS -->
<%= javascript_include_tag "comma" %>

<script type="text/javascript">

	 function m_shop_val(){
	 	var error_msg_s = '<div id="error_explanation"><ul><h2>エラーが存在します。</h2>';
	 	var error_msg_m = '';
	 	var error_msg_e = '</ul></div>';
	 	
	 	
	 	//店舗情報  <<<<<<<<<<<<<<<<<<<<<<<
	 	if (document.getElementById('m_shop_shop_cd').value == "") {
			error_msg_m = error_msg_m + '<li>店舗コードを入力してください。</li>';
		}
	 	if (document.getElementById('m_shop_shop_name').value == "") {
			error_msg_m = error_msg_m + '<li>店舗名を入力してください。</li>';
		}
		if (document.getElementById('m_shop_shop_kana').value == "") {
			error_msg_m = error_msg_m + '<li>店舗カナを入力してください。</li>';
		}
	 	if (document.getElementById('m_shop_shop_ryaku').value == "") {
			error_msg_m = error_msg_m + '<li>店舗略称を入力してください。</li>';
		}
		
		var ary_shop_cd = 
		
			<% if params[:id].blank? %>
				String(<%= MShop.find(:all).map do |u| [u.shop_cd] end %>).split(",");
			<% else %>
				String(<%= MShop.find(:all,:conditions=>["id <> ?",params[:id]]).map do |u| [u.shop_cd] end %>).split(",");
			<% end %>
		
		
		for(i=0; i<ary_shop_cd.length; i++) {
			if(ary_shop_cd[i] == document.getElementById('m_shop_shop_cd').value) {
				error_msg_m = error_msg_m + '<li>店舗コードが既に登録されています。</li>';
				break;
			}
		}
		
		
		if (document.getElementById('m_shop_shop_kbn') != null) {
 			if (document.getElementById('m_shop_shop_kbn').value == "") {
 				error_msg_m = error_msg_m + '<li>店舗種別を選択してください。</li>';
 			}
 		}
 		
 		if (document.getElementById('m_shop_m_shop_group_id') != null) {
 			if (document.getElementById('m_shop_m_shop_group_id').value == "") {
 				error_msg_m = error_msg_m + '<li>所属を選択してください。</li>';
 			}
 		}
		
		
	 	//店舗情報  >>>>>>>>>>>>>>>>>>>>>>>
	 	
	 	//固定釣銭  <<<<<<<<<<<<<<<<<<<<<<<
	 	var table1 = document.getElementById("tbody2-row");
		
		if (counter2 == 0) {
			counter2 = table1.rows.length;
		}
	 	
	 	
	 	for (i = 0; i < counter2; i++) {
	 		if (document.getElementById('m_fix_money_' + i + '_start_month') != null) {
	 			if (document.getElementById('m_fix_money_' + i + '_start_month').value == "") {
	 				error_msg_m = error_msg_m + '<li>開始月を選択してください。</li>';
	 				break;
	 			}
	 		}
	 		
	 		if (document.getElementById('m_fix_money_' + i + '_end_month') != null) {
		 		if (document.getElementById('m_fix_money_' + i + '_end_month').value == "") {
	 				error_msg_m = error_msg_m + '<li>終了月を選択してください。</li>';
	 				break;
	 			}
	 		}
	 	}
	 	
	 	
	 	var ary_month = []
	 	var start_month = 0
	 	var end_month = 0
	 	
	 	for (i = 0; i < counter2; i++) {
	 		if (document.getElementById('m_fix_money_' + i + '_start_month') != null) {
	 			if (document.getElementById('m_fix_money_' + i + '_start_month').value != "") {
	 				start_month = document.getElementById('m_fix_money_' + i + '_start_month').selectedIndex;
	 			}
	 		}
	 		if (document.getElementById('m_fix_money_' + i + '_end_month') != null) {
	 			if (document.getElementById('m_fix_money_' + i + '_end_month').value != "") {
	 				end_month = document.getElementById('m_fix_money_' + i + '_end_month').selectedIndex;
	 			}
	 		}
	 		
	 		if ((start_month != 0) && (end_month != 0)) {
	 			
		 		if(start_month > end_month){
		 			end_month = end_month + 12;
		 		}
		 		
		 		for (j = start_month; j <= end_month; j++) {
		 			if(j > 12){
		 				ary_month.push(j-12);
		 			} else {
		 				ary_month.push(j);
		 			}
		 		}
		 	}
		 	
		 	start_month = 0
	 		end_month = 0
	 		
	 	}
		
	 	var ary_months = String(ary_month).split(",");
		loopout: for(i=0; i<ary_months.length; i++) {
			for(j=0; j<ary_months.length; j++) {
				if(i != j) {
					if(ary_months[i] == ary_months[j]) {
						error_msg_m = error_msg_m + '<li>月範囲が重複しています。</li>';
						break loopout;
					}
				}
			}
		}
	 	
	 	//固定釣銭  >>>>>>>>>>>>>>>>>>>>>>>
	 	
	 	
	 	//タンク情報  <<<<<<<<<<<<<<<<<<<<<<<
	 	var table1 = document.getElementById("tbody3-row");
		
		if (counter3 == 0) {
			counter3 = table1.rows.length;
		}
	 	
	 	for (i = 0; i < counter3; i++) {
	 		if (document.getElementById('m_tank_' + i + '_m_oil_id') != null) {
	 			if (document.getElementById('m_tank_' + i + '_m_oil_id').value == "") {
	 				error_msg_m = error_msg_m + '<li>油種を選択してください。</li>';
	 				break;
	 			}
	 		}
	 		
	 		if (document.getElementById('m_tank_' + i + '_tank_no') != null) {
	 			if (document.getElementById('m_tank_' + i + '_tank_no').value == "") {
	 				error_msg_m = error_msg_m + '<li>タンクNoを入力してください。</li>';
	 				break;
	 			}
	 		}
	 		
	 		if (document.getElementById('m_tank_' + i + '_tank_union_no') != null) {
	 			if ((document.getElementById('m_tank_' + i + '_tank_union_no').value == "") ||
	 					(document.getElementById('m_tank_' + i + '_tank_union_no').value < 1)) {
	 				error_msg_m = error_msg_m + '<li>結合Noは１以上で入力してください。</li>';
	 				break;
	 			}
	 		}
	 	}
	 	
	 	
	 	loopout: for (i = 0; i < counter3; i++) {
	 		
	 		if (document.getElementById('m_tank_' + i + '_tank_no') != null) {
		 			
		 			for (j = 0; j < counter3; j++) {
				 		if (document.getElementById('m_tank_' + j + '_tank_no') != null) {
				 			
				 			if (i != j) {
					 			if (document.getElementById('m_tank_' + i + '_tank_no').value 
					 					== document.getElementById('m_tank_' + j + '_tank_no').value) {
					 				error_msg_m = error_msg_m + '<li>タンクNoが重複しています。</li>';
					 				break loopout;
					 			 }
				 			 }
				 			
				 		 }
				 	}
				 	
	 		 }
	 	 }
	 	 
	 	 
	 	 
	 	 loopout: for (i = 0; i < counter3; i++) {
	 		
	 		if (document.getElementById('m_tank_' + i + '_tank_union_no') != null) {
		 			
		 			for (j = 0; j < counter3; j++) {
				 		if (document.getElementById('m_tank_' + j + '_tank_union_no') != null) {
				 			
				 			if (i != j) {
					 			
					 			if (document.getElementById('m_tank_' + i + '_m_oil_id').value 
					 					!= document.getElementById('m_tank_' + j + '_m_oil_id').value) {
					 						
					 			
						 			if (document.getElementById('m_tank_' + i + '_tank_union_no').value 
						 					== document.getElementById('m_tank_' + j + '_tank_union_no').value) {
						 				error_msg_m = error_msg_m + '<li>結合Noが他油種と重複しています。</li>';
						 				break loopout;
						 			 }
						 			 
						 			 
					 			 }
					 			 
				 			 }
				 			
				 		 }
				 	}
				 	
	 		 }
	 	 }
	 	
	 	
	 	//タンク情報  >>>>>>>>>>>>>>>>>>>>>>>
	 	
	 	
	 	
	 	//洗車売上報告  >>>>>>>>>>>>>>>>>>>>>>>
	 	var table1 = document.getElementById("tbody-row");
		
		if (counter == 0) {
			counter = table1.rows.length;
		}
	 	
	 	for (i = 0; i < counter; i++) {
	 		if (document.getElementById('m_washsale_plan_' + i + '_m_wash_id') != null) {
	 			if (document.getElementById('m_washsale_plan_' + i + '_m_wash_id').value == "") {
	 				error_msg_m = error_msg_m + '<li>洗車機を選択してください。</li>';
	 				break;
	 			}
	 		}
	 	}
	 	
	 	loopout: for (i = 0; i < counter; i++) {
	 		if (document.getElementById('m_washsale_plan_' + i + '_m_wash_id') != null) {
		 			for (j = 0; j < counter; j++) {
				 		if (document.getElementById('m_washsale_plan_' + j + '_m_wash_id') != null) {
				 			if (i != j) {
					 			if (document.getElementById('m_washsale_plan_' + i + '_m_wash_id').value 
					 					== document.getElementById('m_washsale_plan_' + j + '_m_wash_id').value) {
					 				error_msg_m = error_msg_m + '<li>洗車機が重複しています。</li>';
					 				break loopout;
					 			}
				 			}
				 		}
				 	}
	 		}
	 	}
	 	
	 	//洗車売上報告  <<<<<<<<<<<<<<<<<<<<<<<
	 	
	 	
	 	if (error_msg_m != ""){
	 		document.getElementById("error_msg").innerHTML = error_msg_s + error_msg_m + error_msg_e;
	 	} else {
	 		document.getElementById("error_msg").innerHTML = "";
	 		return true;
	 	}
	 	return false;
	 };
     
     
     
     var counter2 = 0;
	 function AddTableRows2(){
		
		var table1 = document.getElementById("tbody2-row");
		
		if (counter2 == 0) {
			counter2 = table1.rows.length;
		}
		
		var row1 = table1.insertRow(table1.rows.length);
		var cell1 = row1.insertCell(0);
		var cell2 = row1.insertCell(1);
		
		<% @m_fix_items = MFixItem.find(:all,:conditions=>"deleted_flg=0",:order=>"fix_item_cd")%>
		<% if @m_fix_items %>
		<% @m_fix_items.each_with_index do |m_fix_item,idx_item| %>
			var cell<%= idx_item + 3 %> = row1.insertCell(<%= idx_item + 2 %>);
		<% end %>
		<% end %>
		
		var cell16 = row1.insertCell(<%= @m_fix_items.count + 2 %>);
		var cell17 = row1.insertCell(<%= @m_fix_items.count + 3 %>);
		var cell18 = row1.insertCell(<%= @m_fix_items.count + 4 %>);
		var cell19 = row1.insertCell(<%= @m_fix_items.count + 5 %>);
	
		// class の付与は UserAgent によって
		// 挙動が違うっぽいので念のため両方の方法で
		cell1.setAttribute("class","start_month");
		cell2.setAttribute("class","end_month");
		
		<% if @m_fix_items %>
		<% @m_fix_items.each_with_index do |m_fix_item,idx_item| %>
			cell<%= idx_item + 3 %>.setAttribute("class","fix_money<%= idx_item + 1 %>");
		<% end %>
		<% end %>
		
		cell16.setAttribute("class","total_cash_box");
		cell17.setAttribute("class","total_change_money");
		cell18.setAttribute("class","total_money");
		cell19.setAttribute("class","clear");
		
		
		cell1.className = 'start_month';
		cell2.className = 'end_month';
		
		<% if @m_fix_items %>
		<% @m_fix_items.each_with_index do |m_fix_item,idx_item| %>
			cell<%= idx_item + 3 %>.className = 'fix_money<%= idx_item + 1 %>';
		<% end %>
		<% end %>
		
		cell16.className = 'total_cash_box';
		cell17.className = 'total_change_money';
		cell18.className = 'total_money';
		cell19.className = 'clear';
		
		
	   	var HTML1 = '<select id="m_fix_money_' + (counter2) + '_start_month" name="m_fix_money[' + (counter2) + '][start_month]">'
	   	HTML1 = HTML1 + '<option value=""></option>'
	   	<% 12.times.map do |i| %>
	   		HTML1 = HTML1 + '<option value="<%= i + 1 %>"><%= (i + 1).to_s + "月" %></option>'
	   	<% end %>
	   	HTML1 = HTML1 + '</select>'
	   	
		var HTML2 = '<select id="m_fix_money_' + (counter2) + '_end_month" name="m_fix_money[' + (counter2) + '][end_month]">'
	   	HTML2 = HTML2 + '<option value=""></option>'
	   	<% 12.times.map do |i| %>
	   		HTML2 = HTML2 + '<option value="<%= i + 1 %>"><%= (i + 1).to_s + "月" %></option>'
	   	<% end %>
	   	HTML2 = HTML2 + '</select>'
	   	
	   	
	   	<% if @m_fix_items %>
		<% @m_fix_items.each_with_index do |m_fix_item,idx_item| %>
			var HTML<%= idx_item + 3 %> = '<input type="text" id="m_fix_money_' + (counter2) 
					+ '_fix_money<%= idx_item + 1 %>" name="m_fix_money[' + (counter2) + '][fix_money<%= idx_item + 1 %>]" size="7" maxlength="9" class="money" />'
					
					+ '<input type="hidden" id="m_fix_money_' + (counter2) + '_m_fix_item_id<%= idx_item + 1 %>"'
					+ ' name="m_fix_money[' + (counter2) + '][m_fix_item_id<%= idx_item + 1 %>]" value=<%= m_fix_item.id %> />';
					
		<% end %>
		<% end %>
	   	
	   	var HTML16 = '<input type="text" id="m_fix_money_' + (counter2) 
					+ '_total_cash_box" name="m_fix_money[' + (counter2) + '][total_cash_box]" size="7" maxlength="9" class="money" />';
		var HTML17 = '<input type="text" id="m_fix_money_' + (counter2) 
					+ '_total_change_money" name="m_fix_money[' + (counter2) + '][total_change_money]" size="7" maxlength="9" class="money" />';
		var HTML18 = '<input type="text" id="m_fix_money_' + (counter2) 
					+ '_total_money" name="m_fix_money[' + (counter2) + '][total_money]" size="7" maxlength="9" class="money" />';
		
		var HTML19 = '<input type="button" name="clear" value="クリア" onClick="form_clear2(' + (counter2) + ');" />'
					+ '<input type="button" name="clear" value="削 除" onClick="DelTableRows2(this);" />';
	   	
		
		cell1.innerHTML = HTML1;
		cell2.innerHTML = HTML2;
		
		<% if @m_fix_items %>
		<% @m_fix_items.each_with_index do |m_fix_item,idx_item| %>
			cell<%= idx_item + 3 %>.innerHTML = HTML<%= idx_item + 3 %>;
		<% end %>
		<% end %>
		
		cell16.innerHTML = HTML16;
		cell17.innerHTML = HTML17;
		cell18.innerHTML = HTML18;
		cell19.innerHTML = HTML19;
		
		counter2++;
	};
	
	function DelTableRows2(obj){
		
		var table1 = document.getElementById("tbody2-row");
		
		if (counter2 == 0) {
			counter2 = table1.rows.length;
		}
		
		var myTbl = document.getElementById("tbody2-row");
		var tr = obj.parentNode.parentNode;
		myTbl.removeChild(tr);
	};


	function form_clear2(idx){
			document.getElementById('m_fix_money_' + idx + '_start_month').selectedIndex = 0;
			document.getElementById('m_fix_money_' + idx + '_end_month').selectedIndex = 0;
			document.getElementById('m_fix_money_' + idx + '_cash_box').value = "";
			document.getElementById('m_fix_money_' + idx + '_pos_register').value = "";
			document.getElementById('m_fix_money_' + idx + '_part_time').value = "";
			document.getElementById('m_fix_money_' + idx + '_wash_money').value = "";
			document.getElementById('m_fix_money_' + idx + '_money_change').value = "";
			document.getElementById('m_fix_money_' + idx + '_total_cash_box').value = "";
			document.getElementById('m_fix_money_' + idx + '_total_change_money').value = "";
			document.getElementById('m_fix_money_' + idx + '_total_money').value = "";
	};
     
    var counter = 0;
	function AddTableRows(){
		var table1 = document.getElementById("tbody-row");
		
		if (counter == 0) {
			counter = table1.rows.length;
		}
		
		var row1 = table1.insertRow(table1.rows.length);
		var cell1 = row1.insertCell(0);
		var cell2 = row1.insertCell(1);
		var cell3 = row1.insertCell(2);
		var cell4 = row1.insertCell(3);
		var cell5 = row1.insertCell(4);
		var cell6 = row1.insertCell(5);
		var cell7 = row1.insertCell(6);
		var cell8 = row1.insertCell(7);
		var cell9 = row1.insertCell(8);
	
		// class の付与は UserAgent によって
		// 挙動が違うっぽいので念のため両方の方法で
		cell1.setAttribute("class","m_wash_id");
		cell2.setAttribute("class","sunday");
		cell3.setAttribute("class","monday");
		cell4.setAttribute("class","tuesday");
		cell5.setAttribute("class","wednesday");
		cell6.setAttribute("class","thursday");
		cell7.setAttribute("class","friday");
		cell8.setAttribute("class","saturday");
		cell9.setAttribute("class","clear");
		cell9.setAttribute("class","row-del");
		cell1.className = 'm_wash_id';
		cell2.className = 'sunday';
		cell3.className = 'monday';
		cell4.className = 'tuesday';
		cell5.className = 'wednesday';
		cell6.className = 'thursday';
		cell7.className = 'friday';
		cell8.className = 'saturday';
		cell9.className = 'clear';
		
	   	var HTML1 = '<select id="m_washsale_plan_' + (counter) + '_m_wash_id" name="m_washsale_plan[' + (counter) + '][m_wash_id]">'
	   	HTML1 = HTML1 + '<option value="">選択して下さい</option>'
	   	<% MWash.find(:all,:conditions => ["deleted_flg is null or deleted_flg <> ?",1], :order => "wash_cd").map.map do |u| %>
	   		HTML1 = HTML1 + '<option value="<%= u.id %>"><%= u.wash_ryaku %></option>'
	   	<% end %>
	   	HTML1 = HTML1 + '</select>'
	   	
		var HTML2 = '<input type="hidden" value="0" name="m_washsale_plan[' + (counter) + '][sunday]">'
					+ '<input type="checkbox" id="m_washsale_plan_' + (counter) 
					+ '_sunday" name="m_washsale_plan[' + (counter) + '][sunday]" value=1 />';
		
		var HTML3 = '<input type="hidden" value="0" name="m_washsale_plan[' + (counter) + '][monday]">'
					+ '<input type="checkbox" id="m_washsale_plan_' + (counter) 
					+ '_monday" name="m_washsale_plan[' + (counter) + '][monday]" value=1 />';
		
		var HTML4 = '<input type="hidden" value="0" name="m_washsale_plan[' + (counter) + '][tuesday]">'
					+ '<input type="checkbox" id="m_washsale_plan_' + (counter) 
					+ '_tuesday" name="m_washsale_plan[' + (counter) + '][tuesday]" value=1 />';
		
		var HTML5 = '<input type="hidden" value="0" name="m_washsale_plan[' + (counter) + '][wednesday]">'
					+ '<input type="checkbox" id="m_washsale_plan_' + (counter) 
					+ '_wednesday" name="m_washsale_plan[' + (counter) + '][wednesday]" value=1 />';
		
		var HTML6 = '<input type="hidden" value="0" name="m_washsale_plan[' + (counter) + '][thursday]">'
					+ '<input type="checkbox" id="m_washsale_plan_' + (counter) 
					+ '_thursday" name="m_washsale_plan[' + (counter) + '][thursday]" value=1 />';
		
		var HTML7 = '<input type="hidden" value="0" name="m_washsale_plan[' + (counter) + '][friday]">'
					+ '<input type="checkbox" id="m_washsale_plan_' + (counter) 
					+ '_friday" name="m_washsale_plan[' + (counter) + '][friday]" value=1 />';
		
		var HTML8 = '<input type="hidden" value="0" name="m_washsale_plan[' + (counter) + '][saturday]">'
					+ '<input type="checkbox" id="m_washsale_plan_' + (counter) 
					+ '_saturday" name="m_washsale_plan[' + (counter) + '][saturday]" value=1 />';
		
		var HTML9 = '<input type="button" name="clear" value="クリア" onClick="form_clear(' + (counter) + ');" />'
					+ '<input type="button" name="clear" value="削 除" onClick="DelTableRows(this);" />';
		
		cell1.innerHTML = HTML1;
		cell2.innerHTML = HTML2;
		cell3.innerHTML = HTML3;
		cell4.innerHTML = HTML4;
		cell5.innerHTML = HTML5;
		cell6.innerHTML = HTML6;
		cell7.innerHTML = HTML7;
		cell8.innerHTML = HTML8;
		cell9.innerHTML = HTML9;
		
		counter++;
	};
	
	function DelTableRows(obj){
		
		var table1 = document.getElementById("tbody-row");
			
		if (counter == 0) {
			counter = table1.rows.length;
		}
		
		var myTbl = document.getElementById("tbody-row");
		var tr = obj.parentNode.parentNode;
		myTbl.removeChild(tr);
	};
	
	
	function form_clear(idx){
				document.getElementById('m_washsale_plan_' + idx + '_m_wash_id').selectedIndex = 0;
				document.getElementById('m_washsale_plan_' + idx + '_sunday').checked = false;
				document.getElementById('m_washsale_plan_' + idx + '_monday').checked = false;
				document.getElementById('m_washsale_plan_' + idx + '_tuesday').checked = false;
				document.getElementById('m_washsale_plan_' + idx + '_wednesday').checked = false;
				document.getElementById('m_washsale_plan_' + idx + '_thursday').checked = false;
				document.getElementById('m_washsale_plan_' + idx + '_friday').checked = false;
				document.getElementById('m_washsale_plan_' + idx + '_saturday').checked = false;
	};
     
           
    var counter3 = 0;
	function AddTableRows3(){
	
		var table1 = document.getElementById("tbody3-row");
		
		if (counter3 == 0) {
			counter3 = table1.rows.length;
		}
		
		var row1 = table1.insertRow(table1.rows.length);
		var cell1 = row1.insertCell(0);
		var cell2 = row1.insertCell(1);
		var cell3 = row1.insertCell(2);
		var cell4 = row1.insertCell(3);
		var cell5 = row1.insertCell(4);
		var cell6 = row1.insertCell(5);
		
		// class の付与は UserAgent によって
		// 挙動が違うっぽいので念のため両方の方法で
		cell1.setAttribute("class","m_oil_id");
		cell2.setAttribute("class","tank_no");
		cell3.setAttribute("class","tank_name");
		cell4.setAttribute("class","volume");
		cell5.setAttribute("class","tank_union_no");
		cell6.setAttribute("class","clear");
		
		
	   	var HTML1 = '<select id="m_tank_' + (counter3) + '_m_oil_id" name="m_tank[' + (counter3) + '][m_oil_id]">'
	   	HTML1 = HTML1 + '<option value="">選択して下さい</option>'
	   	<% @m_oils.map do |u| %>
	   		HTML1 = HTML1 + '<option value="<%= u.id %>"><%= u.oil_name %></option>'
	   	<% end %>
	   	HTML1 = HTML1 + '</select>'
	   	
	   	var HTML2 = '<input type="text" id="m_tank_' + (counter3) 
					+ '_tank_no" name="m_tank[' + (counter3) + '][tank_no]" size="2" maxlength="2" style="ime-mode:disabled" onChange="showPreview(' + (counter3) + ')"/>';
		var HTML3 = '<input type="text" id="m_tank_' + (counter3) 
					+ '_tank_name" name="m_tank[' + (counter3) + '][tank_name]" size="8", readonly=true />';
		var HTML4 = '<input type="text" id="m_tank_' + (counter3) 
					+ '_volume" name="m_tank[' + (counter3) + '][volume]" size="9" maxlength="9" style="ime-mode:disabled" class="number" onChange="numberCheck(this)"/>';
		
		var HTML5 = '<input type="text" id="m_tank_' + (counter3) 
					+ '_tank_union_no" name="m_tank[' + (counter3) + '][tank_union_no]" size="2" maxlength="2" style="ime-mode:disabled" onChange="numberCheck(this)" />';
		
		var HTML6 = '<input type="button" value="クリア" onClick="form_clear3(' + (counter3) + ');" />'
					+ '<input type="button" value="削 除" onClick="DelTableRows3(this);" />';
		
		
		cell1.innerHTML = HTML1;
		cell2.innerHTML = HTML2;
		cell3.innerHTML = HTML3;
		cell4.innerHTML = HTML4;
		cell5.innerHTML = HTML5;
		cell6.innerHTML = HTML6;
		
		counter3++;
	};
	
	function DelTableRows3(obj){
		
		var table1 = document.getElementById("tbody3-row");
		
		if (counter3 == 0) {
			counter3 = table1.rows.length;
		}
		
		var myTbl = document.getElementById("tbody3-row");
		var tr = obj.parentNode.parentNode;
		myTbl.removeChild(tr);
	};


	function form_clear3(idx){
			document.getElementById('m_tank_' + idx + '_m_oil_id').selectedIndex = 0;
			document.getElementById('m_tank_' + idx + '_tank_no').value = "";
			document.getElementById('m_tank_' + idx + '_tank_name').value = "";
			document.getElementById('m_tank_' + idx + '_volume').value = "";
			document.getElementById('m_tank_' + idx + '_tank_union_no').value = "";
	};


	function numberCheck(obj) { 
		var v = obj.value;
		
		if (v.match(/[^0-9]/g)) {
			obj.value = v.replace(/[^0-9]/g,'');
		}
	};

	function showPreview(idx){
		var v = document.getElementById('m_tank_' + idx + '_tank_no').value;
		
		if (v.match(/[^0-9]/g)) {
			document.getElementById('m_tank_' + idx + '_tank_no').value = v.replace(/[^0-9]/g,'');
		}
		
		var html = document.getElementById('m_tank_' + idx + '_tank_no').value;
		
 		if (document.getElementById('m_tank_' + idx + '_tank_union_no').value == "") {
			document.getElementById('m_tank_' + idx + '_tank_union_no').value = html;
		}
		
		document.getElementById('m_tank_' + idx + '_tank_name').value = "タンク" + html
		
	};
	
</script>

<style type="text/css">
	.scr {
		overflow: scroll;
		width: 900px;
	}
</style>

