
<table id='rounded-corner'>
  <tr>
    <th width="8%">店舗コード</th>
    <th width="12%">店舗名</th>
    <th width="7%">店舗種別</th>
    <% @m_oils.each do |m_oil| %>
    	<th width="7%"><%= m_oil.oil_name %></th>
    <% end %>
    <th width="8%">固定約銭額</th>
    <!--th width="5%">詳細</th-->
    <th width="5%">編集</th>
    <th width="5%">計量</th>
    <th width="5%">削除</th>
  </tr>

<% @m_shops.each do |m_shop| %>
  <tr>
    <td><%= m_shop.shop_cd %></td>
    <td><%= m_shop.shop_name %></td>
    <td>
    	<%# @shopkbn_first = MCode.find(:first,:conditions => ["kbn = 'shop_kbn' and code = ?",m_shop.shop_kbn.to_s])%>
		<%#= @shopkbn_first.code_name1%>
		<%= m_shop.shop_kbn_name %>
    </td>
    
    <% @m_oils.each do |m_oil| %>
    	<%- if m_oil.id == m_shop.m_oil_id1 -%>
    		<td>
    			<% @tank1_totals = MTank.find(:all,
		                                   :conditions=>["deleted_flg = 0 and m_shop_id = ? and m_oil_id = ?",m_shop.id,m_shop.m_oil_id1])%>
		    	<div class="oil_total"><%= @tank1_totals.sum{|tank| tank.volume}%></div>
		    	
    		</td>
    	<%- elsif m_oil.id == m_shop.m_oil_id2 -%>
    		<td>
    			<% @tank2_totals = MTank.find(:all,
		                                   :conditions=>["deleted_flg = 0 and m_shop_id = ? and m_oil_id = ?",m_shop.id,m_shop.m_oil_id2])%>
		    	<div class="oil_total"><%= @tank2_totals.sum{|tank| tank.volume}%></div>
    			
    		</td>
    	<%- elsif m_oil.id == m_shop.m_oil_id3 -%>
    		<td>
    			<% @tank3_totals = MTank.find(:all,
		                                   :conditions=>["deleted_flg = 0 and m_shop_id = ? and m_oil_id = ?",m_shop.id,m_shop.m_oil_id3])%>
		    	<div class="oil_total"><%= @tank3_totals.sum{|tank| tank.volume}%></div>
    	
    		</td>
    	<%- elsif m_oil.id == m_shop.m_oil_id4 -%>
    		<td>
    			<% @tank4_totals = MTank.find(:all,
		                                   :conditions=>["deleted_flg = 0 and m_shop_id = ? and m_oil_id = ?",m_shop.id,m_shop.m_oil_id4])%>
		    	<div class="oil_total"><%= @tank4_totals.sum{|tank| tank.volume}%></div>
    			
    		</td>
    	<%- else -%>
    		<td></td>
    	<%- end -%>
    <% end %>
    <td>
		<% @m_fix_money_totals = MFixMoney.find(:all,
                                   :conditions=>["m_shop_id = ? and (deleted_flg is null or deleted_flg <> ?)",m_shop.id,1])%>
    	<div class="money_total"><%= number_with_delimiter(@m_fix_money_totals.sum{|money| money.total_cash_box.to_i}) %></div>
	</td>
    <!--td class="icon"><%#= link_to image_tag('icon/24_show.png'), m_shop %></td-->
    <td class="icon"><%= link_to image_tag('icon/24_edit.png'), edit_m_shop_path(m_shop) %></td>
    <td class="icon"><%= link_to image_tag('icon/24_meter.png'), :controller => "m_meters",:action => "new",:id => m_shop.id %></td>
    <td class="icon">
    	<%= link_to image_tag('icon/24_delete.png'), m_shop, :confirm => '削除します。よろしいですか？', :method => :delete %>
    </td>
    
    
  </tr>
<% end %>
</table>
