<%= stylesheet_link_tag 'jquery-ui-1.8.22.custom' %>    
<%= javascript_include_tag "jquery-ui-1.8.22.custom.min" %>
<%= javascript_include_tag "jquery.ui.datepicker-ja" %> 

<%= form_tag({:action => 'reserve_create' }, { :remote => true }) do %>

  <table>
  	<tr>
  	  <th>タンクNo</th>
      <td><%= number_field :m_tank, :tank_no, :size => 10 ,:onkeyup=>'showPreview()'%></td>
    </tr>
    <tr>
      <th>タンク名</th>
      <td><%= text_field :m_tank, :tank_name ,:readonly=>true %>
      </td>
    </tr>
    <tr>
      <th>タンク容量</th>
      <td><%= text_field :m_tank, :volume, :size => 10 %></td>
    </tr>
    
    <tr>
      <td colspan="2" align="right"><%= submit_tag '追加'%></td>
    </tr>
  </table>    

  <%= hidden_field :m_tank, :m_shop_id, :value => @m_shop_id %>
  <%= hidden_field :m_tank, :m_oil_id, :value => @m_oil_id %>
<% end %>

<script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
  
  function showPreview(){
		var html = document.getElementById('m_tank_tank_no').value;
		document.getElementById('m_tank_tank_name').value = "タンク" + html;
	}
</script>