<%= javascript_include_tag :defaults %>

<h1>店舗マスタ</h1>
<%= link_to '新規登録', new_m_shop_path, :class => 'add_icon' %>

<table id='rounded-corner'>
  <tr>
    <th>店舗コード</th>
    <th>店舗名</th>
    <th>店舗種別</th>
    <% @m_oils.each do |m_oil| %>
    	<th><%= m_oil.oil_name %></th>
    <% end %>
    <th>固定約銭額</th>
    <!--th>詳細</th-->
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @m_shops.each do |m_shop| %>
  <tr>
    <td><%= m_shop.shop_cd %></td>
    <td><%= m_shop.shop_name %></td>
    <td><%#= m_shop.shop_kbn %>
    	<%- if m_shop.shop_kbn == 0 -%>
    	直営
    	<%- elsif m_shop.shop_kbn == 1 -%>
    	油外
    	<%- else -%>
    	
    	<%- end -%>
    	
    </td>
    
    <% @m_oils.each do |m_oil| %>
    	<%- if m_oil.id == m_shop.m_oil_id1 -%>
    		<td><%= m_shop.tank1_all %></td>
    	<%- elsif m_oil.id == m_shop.m_oil_id2 -%>
    		<td><%= m_shop.tank2_all %></td>
    	<%- elsif m_oil.id == m_shop.m_oil_id3 -%>
    		<td><%= m_shop.tank3_all %></td>
    	<%- elsif m_oil.id == m_shop.m_oil_id4 -%>
    		<td><%= m_shop.tank4_all %></td>
    	<%- else -%>
    		<td></td>
    	<%- end -%>
    <% end %>
    <td>保留</td>
    <!--td class="icon"><%#= link_to image_tag('icon/24_show.png'), m_shop %></td-->
    <td class="icon"><%= link_to image_tag('icon/24_edit.png'), edit_m_shop_path(m_shop) %></td>
    <td class="icon">
    	<%= link_to image_tag('icon/24_delete.png'), m_shop, :confirm => '削除します。よろしいですか？', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />
