
<!--<p id="notice"><%#= notice %></p>-->

  <table id='rounded-corner'>
  	<tr>
  	  <th>店舗コード</th>
  	  <td><%= @m_shop.shop_cd %></td>  	  
  	</tr>
  	<tr>
  	  <th>店舗名</th>
  	  <td><%= @m_shop.shop_name %></td>  	  
  	</tr>
  	<tr>
  	  <th>店舗カナ</th>
  	  <td><%= @m_shop.shop_kana %></td>  	  
  	</tr>
  	<tr>
  	  <th>店舗略称</th>
  	  <td><%= @m_shop.shop_ryaku %></td>  	  
  	</tr>
  	<tr>
  	  <th>郵便番号</th>
  	  <td><%= @m_shop.shop_zip_cd %></td>  	  
  	</tr>
  	<tr>
  	  <th>住所</th>
  	  <td><%= @m_shop.shop_adress %></td>  	  
  	</tr>
  	<tr>
  	  <th>TEL</th>
  	  <td><%= @m_shop.shop_tel %></td>  	  
  	</tr>
  	<tr>
  	  <th>FAX</th>
  	  <td><%= @m_shop.shop_fax %></td>  	  
  	</tr>
  	<tr>
  	  <th>E-mail</th>
  	  <td><%= @m_shop.shop_mail_adress %></td>  	  
  	</tr>
  	<tr>
  	  <th>店舗種別</th>
  	  <td>
  	  	<% @m_code = MCode.find(:first,:conditions => ["kbn = 'shop_kbn' and code = ?",@m_shop.shop_kbn.to_s]) %>
  	  	<%= @m_code.code_name1 %>
  	  </td>  	  
  	</tr>
  	<tr>
  	  <th>所属</th>
  	  <td>
  	  	<% @m_shop_group = MShopGroup.find(:first,:conditions => ["deleted_flg = 0 and id = ?",@m_shop.m_shop_group_id]) %>
  	  	<%= @m_shop_group.group_name %></td>  	  
  	</tr>
  	
  </table>

<%= link_to '編集', edit_m_shop_path(@m_shop), :class => 'edit_icon' %> |
<%= link_to '戻る', m_shops_path, :class => 'return_icon' %>
