
<p id="notice"><%= notice %></p>

  <table id='rounded-corner'>
  	<tr>
  	  <th>店舗コード</th>
  	  <td><%= @m_shop.shop_cd %></td>  	  
  	</tr>
  	<tr>
  	  <th>店舗名</th>
  	  <td><%= @m_shop.shop_name %></td>  	  
  	</tr>
  	<tr>
  	  <th>店舗カナ</th>
  	  <td><%= @m_shop.shop_kana %></td>  	  
  	</tr>
  	<tr>
  	  <th>店舗略称</th>
  	  <td><%= @m_shop.shop_ryaku %></td>  	  
  	</tr>
  	<tr>
  	  <th>郵便番号</th>
  	  <td><%= @m_shop.shop_zip_cd %></td>  	  
  	</tr>
  	<tr>
  	  <th>住所</th>
  	  <td><%= @m_shop.shop_adress %></td>  	  
  	</tr>
  	<tr>
  	  <th>TEL</th>
  	  <td><%= @m_shop.shop_tel %></td>  	  
  	</tr>
  	<tr>
  	  <th>FAX</th>
  	  <td><%= @m_shop.shop_fax %></td>  	  
  	</tr>
  	<tr>
  	  <th>E-mail</th>
  	  <td><%= @m_shop.shop_mail_adress %></td>  	  
  	</tr>
  	<tr>
  	  <th>店舗種別</th>
  	  <td>
  	  	<% @m_code = MCode.find(:first,:conditions => ["kbn = '6' and code = ?",@m_shop.shop_kbn.to_s]) %>
  	  	<%= @m_code.code_name1 %>
  	  </td>  	  
  	</tr>
  	<tr>
  	  <th>所属</th>
  	  <td>
  	  	<% @m_shop_group = MShopGroup.find(:first,:conditions => ["deleted_flg = 0 and id = ?",@m_shop.m_shop_group_id]) %>
  	  	<%= @m_shop_group.group_name %></td>  	  
  	</tr>
  	
  	<!--
  	<%# @m_oils.each_with_index do |m_oil,idx| %>
  		<%#- if m_oil.id == @m_shop.m_oil_id1 -%>
    		<tr>
		  	  <th><%#= m_oil.oil_name %></th>
		  	  <td><%#= @m_shop.tank1_all %></td>
		  	</tr>
    	<%#- elsif m_oil.id == @m_shop.m_oil_id2 -%>
    		<tr>
		  	  <th><%#= m_oil.oil_name %></th>
		  	  <td><%#= @m_shop.tank2_all %></td>
		  	</tr>
    	<%#- elsif m_oil.id == @m_shop.m_oil_id3 -%>
    		<tr>
		  	  <th><%#= m_oil.oil_name %></th>
		  	  <td><%#= @m_shop.tank3_all %></td>
		  	</tr>
    	<%#- elsif m_oil.id == @m_shop.m_oil_id4 -%>
    		<tr>
		  	  <th><%#= m_oil.oil_name %></th>
		  	  <td><%#= @m_shop.tank4_all %></td>
		  	</tr>
    	<%#- else -%>
    		<tr>
		  	  <th></th>
		  	  <td></td>
		  	</tr>
    	<%#- end -%>
    <%# end %>
  	
  	
  	-->
  	
  </table>

<%= link_to '編集', edit_m_shop_path(@m_shop), :class => 'edit_icon' %> |
<%= link_to '戻る', m_shops_path, :class => 'return_icon' %>
