<%= form_for(@m_class_check) do |f| %>
  <% if @m_class_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_class_check.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @m_class_check.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <%= hidden_field "input",'check',:value=>@check_del_flg%>

  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label '分類コード' %></th>
  	  <td><%= f.number_field :class_code, :style=>"ime-mode:disabled" ,:maxlength=>2 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '分類名' %></th>
  	  <td><%= f.text_field :item,:maxlength=>20 %></td>  	  
  	</tr>
  	
  	<tr>
  		<td align="left" style="border: none">
  			<%= link_to '戻る', {:action=>"index",:input_check=>@check_del_flg}, :class => 'return_icon' %>
		</td>
	  	<td align="right" style="border: none">
	  		<% if f.object.new_record? %>
			<%= f.submit "  登  録  ",:disable_with => "登録中.....",:confirm => '登録しても良いですか？' %>
			<% else %>
			<%= f.submit "  更  新  ",:disable_with => "更新中.....",:confirm => '更新しても良いですか？' %>
			<% end %>
		</td>
	</tr>
  	
  </table>
  <!--div class="actions">
    <%#= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div-->  

<% end %>
