<table id='rounded-corner'>
  <tr>
    <th>他売上<br />コード</th>
    <th>他売上名</th>
    <th>他売上略称</th>
    <th>単位</th>
    <th>グループ<br />種類</th>
    <th>最大数</th>    
    <th>監査<br />フラグ</th>
    <th>課税<br />フラグ</th>
    <!--<th>詳細</th>-->
    <th>他売上種別</th>
    <th>単価</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @m_etcs.each do |m_etc| %>
  <% if m_etc.deleted_flg == 0 %>
  	<% del_flg = "del_n" %>
  <% else %>
  	<% del_flg = "del_y" %>
  <% end %>
  
  <tr>
    <td class="<%= "#{del_flg}" %>"><%= m_etc.etc_cd %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_etc.etc_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_etc.etc_ryaku %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_etc.etc_tani_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_etc.etc_group_name %></td>
    <td class="<%= "#{del_flg}" %>" align="right"><%= m_etc.max_num %></td>    
    <td class="<%= "#{del_flg}" %>"><%= m_etc.kansa_flg_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_etc.tax_flg_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_etc.etc_class_name %></td>
    <td class="<%= "#{del_flg}" %>" align="right"><%= number_with_delimiter(m_etc.price) %></td>
    <!--<td class="icon">
    	<%#= link_to image_tag('icon/24_show.png'), m_etc %>
    	<%#= link_to image_tag('icon/24_show.png'), {:action=>"show",:id=>m_etc.id,:input_check=>@check_del_flg} %>
    </td>-->
    <td class="icon"><%#= link_to image_tag('icon/24_edit.png'), edit_m_etc_path(m_etc) %>
    	<%- if m_etc.deleted_flg == 0 -%>
    	<%= link_to image_tag('icon/24_edit.png'), {:action=>"edit",:id=>m_etc.id,:input_check=>@check_del_flg} %>
    	<%- end -%>
    </td>
    
    <td class="icon">
    <%- if m_etc.deleted_flg == 0 -%>
    <%#= link_to image_tag('icon/24_delete.png'), m_etc, :confirm => '削除します。よろしいですか？', :method => :delete %>
    <%= link_to image_tag('icon/24_delete.png'), {:action=>"destroy",:id=>m_etc.id,:input_check=>@check_del_flg}, :confirm => '削除します。よろしいですか？',:method => :delete %>
    <%- else -%>
    <%#= link_to image_tag('icon/24_show.png'), m_etc, :confirm => '削除の取消をします。よろしいですか？', :method => :delete %>
    <%= link_to image_tag('icon/refresh.png'), {:action=>"destroy",:id=>m_etc.id,:input_check=>@check_del_flg}, :confirm => '削除の取消をします。よろしいですか？', :method => :delete %>
    <%- end -%>
    </td>
    
  </tr>
<% end %>
</table>