<p id="notice"><%= notice %></p>

<p>
  <b>M shop:</b>
  <%= @m_fix_money.m_shop_id %>
</p>

<p>
  <b>Cash box:</b>
  <%= @m_fix_money.cash_box %>
</p>

<p>
  <b>Pos register:</b>
  <%= @m_fix_money.pos_register %>
</p>

<p>
  <b>Part time:</b>
  <%= @m_fix_money.part_time %>
</p>

<p>
  <b>Wash money:</b>
  <%= @m_fix_money.wash_money %>
</p>

<p>
  <b>Money change:</b>
  <%= @m_fix_money.money_change %>
</p>

<p>
  <b>Total cash box:</b>
  <%= @m_fix_money.total_cash_box %>
</p>

<p>
  <b>Total change money:</b>
  <%= @m_fix_money.total_change_money %>
</p>

<p>
  <b>Total money:</b>
  <%= @m_fix_money.total_money %>
</p>


<%= link_to 'Edit', edit_m_fix_money_path(@m_fix_money) %> |
<%= link_to 'Back', m_fix_moneys_path %>
