<!-- INSERT 2012.10.16 コメントのみの更新をするフラグ -->
<%= hidden_field :comment, :on, :value => params[:comment] %>

<%= form_tag({:action => 'update' }, :id => "form_update") do %>
	<!-- 検索ヘッダ -->
	<%= hidden_field :hheader, "m_shop_id",       :value => @m_shop_id %>
	<%= hidden_field :hheader, "created_user_id", :value => @created_user_id %>
	<%= hidden_field :hheader, "audit_date",      :value => @audit_date %>

	<!-- KEY部分データ -->
	<%= hidden_field :key,             "id",         :value => @d_audit_cashbox["id"] %>
	
	<!-- 更新データ -->
	<%= hidden_field :d_audit_cashbox, "audit_date",  :value => @d_audit_cashbox["audit_date"] %>
	<%= hidden_field :d_audit_cashbox, "audit_class", :value => @d_audit_cashbox["audit_class"] %>
	<%= hidden_field :d_audit_cashbox, "m_shop_id",   :value => @d_audit_cashbox["m_shop_id"] %>

	<%= hidden_field :d_audit_cashbox, "comment",    :value => @d_audit_cashbox["comment"] %>

<% for i in 1..6 %>
	<!-- form1 描写後 で宣言 -->
	<%#= hidden_field :d_audit_cashbox, "cashbox#{ i }"           ,   :value => @d_audit_cashbox["cashbox#{ i }"] %>
	
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_10000paper",   :value => @d_audit_cashbox["cashbox#{ i }_10000paper"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_5000paper",    :value => @d_audit_cashbox["cashbox#{ i }_5000paper"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_2000paper",    :value => @d_audit_cashbox["cashbox#{ i }_2000paper"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_1000paper" ,   :value => @d_audit_cashbox["cashbox#{ i }_1000paper"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_500coin_50" ,  :value => @d_audit_cashbox["cashbox#{ i }_500coin_50"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_500coin_20" ,  :value => @d_audit_cashbox["cashbox#{ i }_500coin_20"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_500coin_mai" , :value => @d_audit_cashbox["cashbox#{ i }_500coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_100coin_hon" , :value => @d_audit_cashbox["cashbox#{ i }_100coin_hon"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_100coin_mai" , :value => @d_audit_cashbox["cashbox#{ i }_100coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_50coin_hon" ,  :value => @d_audit_cashbox["cashbox#{ i }_50coin_hon"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_50coin_mai" ,  :value => @d_audit_cashbox["cashbox#{ i }_50coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_10coin_hon" ,  :value => @d_audit_cashbox["cashbox#{ i }_10coin_hon"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_10coin_mai" ,  :value => @d_audit_cashbox["cashbox#{ i }_10coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_5coin_hon" ,   :value => @d_audit_cashbox["cashbox#{ i }_5coin_hon"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_5coin_mai" ,   :value => @d_audit_cashbox["cashbox#{ i }_5coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_1coin_hon" ,   :value => @d_audit_cashbox["cashbox#{ i }_1coin_hon"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_1coin_mai" ,   :value => @d_audit_cashbox["cashbox#{ i }_1coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_yobi",         :value => @d_audit_cashbox["cashbox#{ i }_yobi"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_still1",       :value => @d_audit_cashbox["cashbox#{ i }_still1"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_still2",       :value => @d_audit_cashbox["cashbox#{ i }_still2"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_still3",       :value => @d_audit_cashbox["cashbox#{ i }_still3"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_still4",       :value => @d_audit_cashbox["cashbox#{ i }_still4"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_still5",       :value => @d_audit_cashbox["cashbox#{ i }_still5"] %>
<% end %>

<% for i in 1..7 %>
	<!-- form_tbl2 描写後に宣言 -->
	<%#= hidden_field :d_audit_cashbox, "sum#{ i }_cashbox", :value => @d_audit_cashbox["sum#{ i }_cashbox"] %>
	
	<%= hidden_field :d_audit_cashbox, "sum#{ i }_money",   :value => @d_audit_cashbox["sum#{ i }_money"] %>
	<%= hidden_field :d_audit_cashbox, "sum#{ i }_still1",  :value => @d_audit_cashbox["sum#{ i }_still1"] %>
	<%= hidden_field :d_audit_cashbox, "sum#{ i }_still2",  :value => @d_audit_cashbox["sum#{ i }_still2"] %>	
	<%= hidden_field :d_audit_cashbox, "sum#{ i }_still3",  :value => @d_audit_cashbox["sum#{ i }_still3"] %>
	<%= hidden_field :d_audit_cashbox, "sum#{ i }_still4",  :value => @d_audit_cashbox["sum#{ i }_still4"] %>
	<%= hidden_field :d_audit_cashbox, "sum#{ i }_still5",  :value => @d_audit_cashbox["sum#{ i }_still5"] %>
<% end %>

<table>
<tr>
	<td colspan="2">
		<div id="div_top" style="margin-bottom: 30px;">
			<%= render 'form_tbl1' %>
		</div>		
	</td>
</tr>

<% # form_tbl2の表示データがない場合を考慮
		w_name = ""
		for i in 1..7
			w_name += @d_audit_cashbox["sum#{ i }_cashbox_name"].to_s
		end
%>

<% if w_name == "" then %>
<!-- form_tbl2無しのデザイン -->
<tr>
	<td>
		<div id="div_bottom_left" >
			<%= render 'form_tbl4'%>
		</div>	
	</td>
	<td>
		<div id="div_middle_right" >
			<%= render 'form_tbl3' %>
		</div>		
		<!-- 立会人 -->
		<table class='rounded-corner' style="margin-top: 10px;" >
		<tr>
			<th rowspan="2">立会人</th>
			<td>
				<%=render :partial => 'd_audit_changemachines/confirm_shop_id', :locals => {:c_shop_id => @d_audit_cashbox[:confirm_shop_id], 
					                                                                        :c_user_id => @d_audit_cashbox[:confirm_user_id]} %>
			</td>
		</tr>
		<tr>
			<td>
				<div id="confirm_user_id_div">
					<%=render :partial => 'd_audit_changemachines/confirm_user_id', :locals => {:c_shop_id => @d_audit_cashbox[:confirm_shop_id], 
					                                                                            :c_user_id => @d_audit_cashbox[:confirm_user_id]} %>
				</div>
			</td>
		</tr>
		</table>
	</td>
</tr>
<% else %>
<!-- form_tbl2有のデザイン -->
<tr>
	<td>
		<div id="div_middle_left" >
			<%= render 'form_tbl2' %>
		</div>		
	</td>
	<td>
		<div id="div_middle_right" >
			<%= render 'form_tbl3' %>
		</div>		
	</td>
</tr>
<tr>
	<td>
		<div id="div_bottom_left" >
			<%= render 'form_tbl4'%>
		</div>	
	</td>
	<td>
		<!-- 立会人 -->
		<table class='rounded-corner' >
		<tr>
			<th rowspan="2">立会人</th>
			<td>
				<%=render :partial => 'd_audit_changemachines/confirm_shop_id', :locals => {:c_shop_id => @d_audit_cashbox[:confirm_shop_id], 
					                                                                        :c_user_id => @d_audit_cashbox[:confirm_user_id]} %>
			</td>
		</tr>
		<tr>
			<td>
				<div id="confirm_user_id_div">
					<%=render :partial => 'd_audit_changemachines/confirm_user_id', :locals => {:c_shop_id => @d_audit_cashbox[:confirm_shop_id], 
					                                                                            :c_user_id => @d_audit_cashbox[:confirm_user_id]} %>
				</div>
			</td>
		</tr>
		</table>
	</td>
</tr>
<% end %> <!-- if w_name == "" then -->
</table>

<div style="float:right; padding-right: 20px;">
<%
	url = "./edit?header[m_shop_id]=#{@m_shop_id}&header[created_user_id]=#{@created_user_id}&header[audit_date]=#{@audit_date}"			
%>
			<input type="button" value="キャンセル" 
				onclick="if (confirm('入力をキャンセルします。よろしいですか？')) {
								this.value='キャンセル中です...';
								this.disabled=true;document.location='<%=url%>';
						}" />
			&nbsp;&nbsp;
			<!-- 使用不可で開始、立会人入力より使用可 -->
			<%= submit_tag("　登　録　" ,:onclick => "return update_chk()" ,:disable_with => "登録中です...", :disabled => true , :id => "btn_update") %>	
			<!-- true の場合は永続的に更新不可 -->
			<%= hidden_field_tag "update_flg", ((params[:readonly].to_s == "true") or (@d_audit_cashbox["kakutei_flg"].to_s == "1")) %>
</div>

<% for i in 1..6 %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_name", :value => @d_audit_cashbox["cashbox#{ i }_name"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }",      :value => @d_audit_cashbox["cashbox#{ i }"] %>
<% end %>

<% for i in 1..7 %>
	<%= hidden_field :d_audit_cashbox, "sum#{ i }_cashbox_name",    :value => @d_audit_cashbox["sum#{ i }_cashbox_name"] %>
	<%= hidden_field :d_audit_cashbox, "sum#{ i }_cashbox", :value => @d_audit_cashbox["sum#{ i }_cashbox"] %>
<% end %>

<% end %> <!--  form_tag({:action => 'update' }, :id => "form_update") do -->

<br/>


<br/>

<script>
	
  	// 更新前チェック
  	function update_chk() {
  		var sel_shop = $("#confirm_shop_id")[0];
  		var sel_user = $("#confirm_user_id")[0];
  		
  		if (sel_shop.value == '') {
  			alert('立会人を選択してください。');
  			sel_shop.focus();
  			return false;
  		}
  		
  		if (sel_user.value == '') {
  			alert('立会人を選択してください。');
  			sel_user.focus();
  			return false;
  		}
  		
  		return confirm('登録しても良いですか？');	
  		
  	}
  		
</script>

<!-- 立会人確認用 -->
<div id="dialog_div">
	&nbsp;
</div>
