<h1>金庫釣銭監査</h1>

<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->

<form>
<% for i in 1..6 %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }"           ,   :value => @d_audit_cashbox["cashbox#{ i }"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_10000paper",   :value => @d_audit_cashbox["cashbox#{ i }_10000paper"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_5000paper" ,   :value => @d_audit_cashbox["cashbox#{ i }_5000paper"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_1000paper" ,   :value => @d_audit_cashbox["cashbox#{ i }_1000paper"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_500coin_50" ,  :value => @d_audit_cashbox["cashbox#{ i }_500coin_50"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_500coin_20" ,  :value => @d_audit_cashbox["cashbox#{ i }_500coin_20"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_500coin_mai" , :value => @d_audit_cashbox["cashbox#{ i }_500coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_100coin_hon" , :value => @d_audit_cashbox["cashbox#{ i }_100coin_hon"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_100coin_mai" , :value => @d_audit_cashbox["cashbox#{ i }_100coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_50coin_hon" ,  :value => @d_audit_cashbox["cashbox#{ i }_50coin_hon"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_50coin_mai" ,  :value => @d_audit_cashbox["cashbox#{ i }_50coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_10coin_hon" ,  :value => @d_audit_cashbox["cashbox#{ i }_10coin_hon"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_10coin_mai" ,  :value => @d_audit_cashbox["cashbox#{ i }_10coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_5coin_hon" ,   :value => @d_audit_cashbox["cashbox#{ i }_5coin_hon"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_5coin_mai" ,   :value => @d_audit_cashbox["cashbox#{ i }_5coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_1coin_hon" ,   :value => @d_audit_cashbox["cashbox#{ i }_1coin_hon"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_1coin_mai" ,   :value => @d_audit_cashbox["cashbox#{ i }_1coin_mai"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_yobi",         :value => @d_audit_cashbox["cashbox#{ i }_yobi"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_still1",       :value => @d_audit_cashbox["cashbox#{ i }_still1"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_still2",       :value => @d_audit_cashbox["cashbox#{ i }_still2"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_still3",       :value => @d_audit_cashbox["cashbox#{ i }_still3"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_still4",       :value => @d_audit_cashbox["cashbox#{ i }_still4"] %>
	<%= hidden_field :d_audit_cashbox, "cashbox#{ i }_still5",       :value => @d_audit_cashbox["cashbox#{ i }_still5"] %>
<% end %>
</form>

<script language="JavaScript">

</script>

<div id="div_top">
<%= render 'form_tbl1' %>
<br/>
</div>
