<style type="text/css">
	/* 緑色 td */
	td.green {
		background-color: #A5D7AA;
	}
	/* 灰色 td */
	td.gray {
		background-color: #C3C3C3;
	}
	/* オレンジ td */
	td.orange {
		background-color:#FDF3B5	
	}
</style>

<%
	m_fix = Array.new()
	for i in 1..6
		m_fix[i] = get_m_fix(@d_audit_cashbox["m_shop_id"], 
		                     i, 
		                     @d_audit_cashbox["audit_date"].to_s.gsub("/","")[4..5])
		
		# 新規データの場合は指定額を設定
		if @d_audit_cashbox["cashbox#{ i }"].to_s == "" then
			if not(m_fix[i].nil?) then
				@d_audit_cashbox["cashbox#{ i }"] = m_fix[i][1]
			end 
		end
					
	end
%>

<table class="rounded-corner">
	<td class="orange" width="100px;" align="center">
		<%= link_to("コメント入力", {:action => "edit_comment"}, :class => 'modal') %>
	</td>
</tr>
</table>

<table class='rounded-corner' id="tbl1" style="white-space: nowrap">

	<!-- begin ヘッダ -->
	<tr>

		<th >
			&nbsp;
		</th>

		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>
				<th colspan="2"><%= link_to(m_fix[i][0] ,{:action => "edit_tbl1", :id => i }, :class => 'modal') %></th>
				<td rowspan="2" class="green" align="right" style="min-width: 80px;">
						<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }"]) %> 
				</td>
			<% end %>
		<% end %>
	</tr>	

	<tr>
		<!-- th rowspan="2" colspan="3" -->
		<th >&nbsp;</th>

		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>
				<th colspan="2">指定額</th>
				<!-- td rowspan="2" -->
			<% end %>
		<% end %>
	</tr>
	
	<tr>
		<th >&nbsp;</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>
				<th>本数</th>
				<th>枚数</th>
				<th>金額</th>
			<% end %>
		<% end %>
		
	</tr>
	<!-- end ヘッダ -->
	
	<tr>

		<th >10,000円札</th>

		<% for i in 1..6 %>		
			<% if not(m_fix[i].nil?) then%>
				<td class="gray">&nbsp;</td>
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_10000paper"]) %> 
				</td>
				<td class="green" align="right">
					<%= number_with_delimiter(get_kingaku_10000paper(i)) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>
		
		<th >5,000円札</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>		
				<td class="gray">&nbsp;</td>
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_5000paper"]) %> 
				</td>
				<td class="green" align="right">
					<%= number_with_delimiter(get_kingaku_5000paper(i)) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>
		
		<th >2,000円札</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>		
				<td class="gray">&nbsp;</td>
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_2000paper"]) %>
				</td>
				<td class="green" align="right">
					<%= number_with_delimiter(get_kingaku_2000paper(i)) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>
		
		<th >1,000円札</th>
		
		<% for i in 1..6 %>		
			<% if not(m_fix[i].nil?) then%>
				<td class="gray">&nbsp;</td>
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_1000paper"]) %>
				</td>
				<td class="green" align="right">
					<%= number_with_delimiter(get_kingaku_1000paper(i)) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>

		<th >500円玉(20)</th>
		
		<% for i in 1..6 %>		
			<% if not(m_fix[i].nil?) then%>
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_500coin_20"]) %>	
				</td>
				
				<!-- UPDATE BEGIN 2012.10.12 硬貨枚数を削除 -->
				
				<!-- 
				<td rowspan="2"  class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_500coin_mai"]) %>
				</td>
				-->
				
				<td rowspan="2"  class="gray" align="right">
					&nbsp;
				</td>
				
				<!-- UPDATE END 2012.10.12 硬貨枚数を削除 -->
				
				<td rowspan="2"  class="green" align="right">
					<%= number_with_delimiter(get_kingaku_500coin(i)) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>

		<th >500円玉(50)</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>		
				<td  class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_500coin_50"]) %>
				</td>
				<!-- td rowspan="2"></td> -->
				<!-- td rowspan="2"></td> -->
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>

		<th >100円玉</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>		
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_100coin_hon"]) %>	
				</td>
				
				<!-- UPDATE BEGIN 2012.10.12 硬貨枚数を削除 -->
				
				<!-- 
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_100coin_mai"]) %>
				</td>
				-->
				
				<td class="gray" align="right">
					&nbsp;
				</td>
				
				<!-- UPDATE END 2012.10.12 硬貨枚数を削除 -->
								
				<td class="green" align="right">
					<%= number_with_delimiter(get_kingaku_100coin(i)) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>

		<th >50円玉</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>		
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_50coin_hon"]) %>
				</td>
				
				<!-- UPDATE BEGIN 2012.10.12 硬貨枚数を削除 -->
				
				<!-- 
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_50coin_mai"]) %>
				</td>
				-->
				
				<td class="gray" align="right">
					&nbsp;
				</td>
				
				<!-- UPDATE END 2012.10.12 硬貨枚数を削除 -->
				
				<td class="green" align="right">
					<%= number_with_delimiter(get_kingaku_50coin(i)) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>

		<th >10円玉</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>		
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_10coin_hon"]) %>	
				</td>

				<!-- UPDATE BEGIN 2012.10.12 硬貨枚数を削除 -->
				
				<!--
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_10coin_mai"]) %>
				</td>
				-->
				
				<td class="gray" align="right">
					&nbsp;
				</td>
				
				<!-- UPDATE END 2012.10.12 硬貨枚数を削除 -->
				
				<td class="green" align="right">
					<%= number_with_delimiter(get_kingaku_10coin(i)) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>

		<th >5円玉</th>
		
		<% for i in 1..6 %>		
			<% if not(m_fix[i].nil?) then%>
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_5coin_hon"]) %>
				</td>
				
				<!-- UPDATE BEGIN 2012.10.12 硬貨枚数を削除 -->
				
				<!--
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_5coin_mai"]) %>
				</td>
				-->
				
				<td class="gray" align="right">
					&nbsp;
				</td>
				
				<!-- UPDATE END 2012.10.12 硬貨枚数を削除 -->
				
				<td  class="green" align="right">
					<%= number_with_delimiter(get_kingaku_5coin(i)) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>

		<th >1円玉</th>
		
		<% for i in 1..6 %>	
			<% if not(m_fix[i].nil?) then%>	
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_1coin_hon"]) %>	
				</td>
				
				<!-- UPDATE BEGIN 2012.10.12 硬貨枚数を削除 -->
				
				<!-- 
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_1coin_mai"]) %>
				</td>
				-->
				
				<td class="gray" align="right">
					&nbsp;
				</td>
				
				<!-- UPDATE END 2012.10.12 硬貨枚数を削除 -->
				
				<td class="green" align="right">
					<%= number_with_delimiter(get_kingaku_1coin(i)) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>

		<th >予備</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>		
				<td colspan="2" class="gray">&nbsp;</td>
				<td class="orange" align="right">
					<%= number_with_delimiter(@d_audit_cashbox["cashbox#{ i }_yobi"]) %>
				</td>
			<% end %>
		<% end %> <!--  for i in 1..6  -->
		
	</tr>
	
	<tr>

		<th >合計金額</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>
				<td class="green" colspan="3" align="right">
					<%= number_with_delimiter(get_kingaku(i)) %>
				</td>
			<% end %>
		<% end %> <!-- for i in 1..6 -->
		
	</tr>
	
	<tr>

		<th >過不足額</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>
				<td class="green" colspan="3" align="right">
					<%= number_with_delimiter(get_kabusoku(i)) %>
				</td>
			<% end %>
		<% end %> <!-- for i in 1..6 -->
		
	</tr>
		
	<tr>

		<th >立替未処理合計</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>
				<td class="green" colspan="3" align="right">
					<%= number_with_delimiter(get_tatekae_kei(i)) %>
				</td>
			<% end %>
		<% end %> <!-- for i in 1..6 -->
		
	</tr>		
		
	<tr>

		<th >実過不足金</th>
		
		<% for i in 1..6 %>
			<% if not(m_fix[i].nil?) then%>
				<td class="green" colspan="3" align="right">
					<%= number_with_delimiter(get_jitu_kabusoku(i)) %>
				</td>
			<% end %>
		<% end %> <!-- for i in 1..6 -->
		
	</tr>		
		
</table>

<script language="JavaScript">
$(function(){
	// スクロール
	$("#tbl1").tablefix({width: 900, height: 500, fixRows: 3, fixCols: 1});
});
</script>