<p id="notice"><%= notice %></p>

<p>
  <b>M shop:</b>
  <%= @m_tank.m_shop_id %>
</p>

<p>
  <b>M oil:</b>
  <%= @m_tank.m_oil_id %>
</p>

<p>
  <b>Tank all:</b>
  <%= @m_tank.tank_all %>
</p>

<p>
  <b>Measure1:</b>
  <%= @m_tank.measure1 %>
</p>

<p>
  <b>Measure2:</b>
  <%= @m_tank.measure2 %>
</p>

<p>
  <b>Measure3:</b>
  <%= @m_tank.measure3 %>
</p>

<p>
  <b>Measure4:</b>
  <%= @m_tank.measure4 %>
</p>

<p>
  <b>Measure5:</b>
  <%= @m_tank.measure5 %>
</p>

<p>
  <b>Measure6:</b>
  <%= @m_tank.measure6 %>
</p>

<p>
  <b>Measure7:</b>
  <%= @m_tank.measure7 %>
</p>

<p>
  <b>Measure8:</b>
  <%= @m_tank.measure8 %>
</p>

<p>
  <b>Measure9:</b>
  <%= @m_tank.measure9 %>
</p>

<p>
  <b>Measure10:</b>
  <%= @m_tank.measure10 %>
</p>

<p>
  <b>Measure11:</b>
  <%= @m_tank.measure11 %>
</p>

<p>
  <b>Measure12:</b>
  <%= @m_tank.measure12 %>
</p>

<p>
  <b>Deleted flg:</b>
  <%= @m_tank.deleted_flg %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @m_tank.deleted_at %>
</p>


<%= link_to 'Edit', edit_m_tank_path(@m_tank) %> |
<%= link_to 'Back', m_tanks_path %>
