
<%= form_tag({:action => 'print'}) do %>
<table id="report_view_table" class="rounded-corner">
  <tr>
    <!--th colspan="3" scope="col">&nbsp;</th-->
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th rowspan="3" scope="row"  style="min-width: 20px;">当<br />り<br />確<br />率</th>
    <th>&nbsp;</th>
    <th colspan="6" scope="col" style="font-weight:bolder;">ハイオク</th>
    <th colspan="6" scope="col" style="font-weight:bolder;">レギュラー</th>
    <th colspan="6" scope="col" style="font-weight:bolder;">軽油</th>
    <th colspan="6" scope="col" style="font-weight:bolder;">灯油</th>

  </tr>
  <tr>
	<!-- 2012/10/31 更新日時追加 oda -->
	<th rowspan="2" style="min-width: 70px;">最終<br>更新日時</th>
  	<th style="min-width: 110px;">プリカ/会員</th>
  	<!--th rowspan="3" scope="row"  style="min-width: 40px;">当り<br />確率</th-->
    <th style="min-width: 110px;">店舗</th>
    <!-- ハイオク -->
    <th colspan="3" style="min-width: 120px;">看板</th>
    <th colspan="2" scope="col">現金</th>
    <th style="min-width: 45px;">会員</th>
    <!-- レギュラー -->
    <th colspan="3" style="min-width: 120px;">看板</th>
    <th colspan="2" scope="col">現金</th>
    <th style="min-width: 45px;">会員</th>
    <!-- 軽油 -->
    <th colspan="3" style="min-width: 120px;">看板</th>
    <th colspan="2" scope="col">現金</th>
    <th style="min-width: 45px;">会員</th>
    <!-- 灯油 -->
    <th style="min-width: 80px;">看板</th>
    <th colspan="3" scope="col">現金</th>
    <th style="min-width: 45px;">会員</th>
    <th style="min-width: 50px;">会員18L</th>
    
  </tr>
  <tr>
  	<th>備考</th>
  	<th>特売</th>
  	<!-- ハイオク -->
    <th colspan="3" >(税込)</th>
    <th style="min-width: 45px;">(税抜)</th>
    <th style="min-width: 45px;">(税込)</th>
    <th style="min-width: 45px;">プリカ</th>
    <!-- レギュラー -->
    <th colspan="3" >(税込)</th>
    <th style="min-width: 45px;">(税抜)</th>
    <th style="min-width: 45px;">(税込)</th>
    <th style="min-width: 45px;">プリカ</th>
    <!-- 軽油 -->
    <th colspan="3" >(税込)</th>
    <th style="min-width: 45px;">(税抜)</th>
    <th style="min-width: 45px;">(税込)</th>
    <th style="min-width: 45px;">プリカ</th>
    <!-- 灯油 -->
    <th>(税込)</th>
    <th style="min-width: 45px;">(税込)</th>
    <th style="min-width: 45px;">(税込)</th>
    <th style="min-width: 45px;">(税抜)</th>
    <th style="min-width: 45px;">プリカ</th>
    <th>プリカ18L</th>
  </tr>
	
  <% if @price_kbn.to_i == 0 %>
  <!-- 通常時 -->
	  <% @shops.each do |shop|%>
	  <!-- 2012/10/31 レイアウト(見やすくする為濃線付加) oda -->
	  <tr style="border-top:solid 2px #000000;">
	  	<!--更新日時　-->
	  	<td rowspan="2"  align="center" style="min-height: 15px;">
	  		<% if shop.research_day != nil %>
	  			<%= shop.research_day[0,4] + "/"+ shop.research_day[4,2] + "/"+ shop.research_day[6,2] %>
	  		<br>
	  			<%= shop.research_time + "時"%>
	  		<% end %>
	  	</td>
	  	<td style="min-height: 15px;">
	  		<% if @shop_kbn.to_i == 0 %>
	  			<!-- 洗車 -->
		  		<% if shop.minus_gak2.to_f != 0 %>
			  		<%= shop.minus_name2 %>
			  		<% if shop.minus_gak2.to_f < 0 %>
			  			<%= "△" + format_minus_gak(shop.minus_gak2.to_f * -1) %>
			  		<% else %>
			  			<%= " " + format_minus_gak(shop.minus_gak2.to_f) %>
			  		<% end %>
			    <% elsif shop.minus_gak3.to_f != 0 %>
			  		<%= shop.minus_name3 %>
			  		<% if shop.minus_gak3.to_f < 0 %>
			  			<%= "△" + format_minus_gak(shop.minus_gak3.to_f * -1) %>
			  		<% else %>
			  			<%= " " + format_minus_gak(shop.minus_gak3.to_f) %>
			  		<% end %>
			  	<% else %>
		  		<% end %>
		  		
	  		<% else %>
		  		<!-- 油外 -->
		  		<% if shop.minus_gak3.to_f != 0 %>
			  		<%= shop.minus_name3 %>
			  		<% if shop.minus_gak3.to_f < 0 %>
			  			<%= "△" + format_minus_gak(shop.minus_gak3.to_f * -1) %>
			  		<% else %>
			  			<%= " " + format_minus_gak(shop.minus_gak3.to_f) %>
			  		<% end %>
		  		<% elsif shop.minus_gak2.to_f != 0 %>
		  			<%= shop.minus_name2 %>
			  		<% if shop.minus_gak2.to_f < 0 %>
			  			<%= "△" + format_minus_gak(shop.minus_gak2.to_f * -1) %>
			  		<% else %>
			  			<%= " " + format_minus_gak(shop.minus_gak2.to_f) %>
			  		<% end %>
			  	<% else %>
		  		<% end %>
	  		<% end %>
	  	</td>
	    <td rowspan="2" scope="row" align="center"><%= shop.game %></td>
	    <td style="font-weight:bold;"><%= shop.shop_ryaku %></td>
	    <!-- ハイオク -->
	    <!-- <td rowspan="2" scope="row" align="right"> -->
	    <!-- 2012/10/31 888の場合表示無対応消去 oda -->
	    <!-- 看板1 -->
	    <td style="border-right:none; min-width: 56px;" align="right">
	    	<%#= price_888_print(shop.dis1_1_hg) %>
	    	<%#= if shop.dis1_1_hg.to_s != "" and shop.dis1_2_hg.to_s != "" and
	    			shop.dis1_1_hg.to_i != 888 and shop.dis1_2_hg.to_i != 888 then "/" end %>
	    	<%#= price_888_print(shop.dis1_2_hg) %>
	    	<%= shop.dis1_1_hg %>
	    </td>
		<!-- 看板2 -->
	    <td style="border-right:none; border-left:none; min-width: 4px;" align="center">
	    	<%= if shop.dis1_1_hg.to_s != "" or shop.dis1_2_hg.to_s != "" then "/" end %>
	    </td>
	    <!-- 看板3 -->
	    <td style="border-left:none; min-width: 56px;" align="left">
	    	<%= shop.dis1_2_hg %>
	    </td>
	    <!-- 現金(税抜) -->
	    <td rowspan="2" scope="row" align="center">
	    	<%# if shop.dis1_3_hg.to_i != 888 %>
	    		<%#= shop.dis1_4_hg %>
	    	<%# end %>
	    	<%= shop.dis1_4_hg %>
	    </td>
	    <!-- 現金(税込) -->
	    <!-- 201211/28 レイアウト修正 oda
	    <td align="center">
	    -->
	    <td rowspan="2" scope="row" align="center"style="font-weight:bold;">
	    	<%#= price_888_print(shop.dis1_3_hg) %>
	    	<%= shop.dis1_3_hg %>
	    </td>
	   	<!-- 会員 -->
	    <!-- <td rowspan="2" scope="row" align="right"> -->
	    <td align="center">
	    	<%# if shop.dis1_3_hg.to_i != 0 and shop.dis1_3_hg.to_i != 888 and shop.minus_gak3.to_i != 0 %>
	    	<% if shop.dis1_3_hg.to_i != 0 and shop.minus_gak3.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis1_3_hg.to_f + shop.minus_gak3.to_f) %>
	    	<% end %>
	    </td>
	    <!-- レギュラー -->
	    <!-- 看板1 -->
	    <td style="border-right:none; min-width: 56px;" align="right">
	    	<%#= price_888_print(shop.dis1_1_rg) %>
	    	<%#= if shop.dis1_1_rg.to_s != "" and shop.dis1_2_rg.to_s != "" and
	    			shop.dis1_1_rg.to_i != 888 and shop.dis1_2_rg.to_i != 888 then "/" end %>
	    	<%#= price_888_print(shop.dis1_2_rg) %>
	    	<%= shop.dis1_1_rg %>
	    </td>
	    <!-- 看板2 -->
	    <td style="border-right:none; border-left:none; min-width: 4px;" align="center">
			<%= if shop.dis1_1_rg.to_s != "" or shop.dis1_2_rg.to_s != "" then "/" end %>
	    </td>
	    <!-- 看板3 -->
	    <td style="border-left:none; min-width: 56px;" align="left">
	    	<%= shop.dis1_2_rg %>
	    </td>
	    <!-- 現金(税抜) -->
	    <td rowspan="2" scope="row" align="center">
	    	<%# if shop.dis1_3_rg.to_i != 888 %>
	    		<%#= shop.dis1_4_rg %>
	    	<%# end %>
	    	<%= shop.dis1_4_rg %>
	    </td>
	    <!-- 現金(税込) -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center">
	    -->
	    <td rowspan="2" scope="row" align="center"style="font-weight:bold;">
	    	<%#= price_888_print(shop.dis1_3_rg) %>
	    	<%= shop.dis1_3_rg %>
	    </td>
	   	<!-- 会員 -->
	    <td align="center">
	    	<%# if shop.dis1_3_rg.to_i != 0 and shop.dis1_3_rg.to_i != 888 and shop.minus_gak3.to_i != 0 %>
			<% if shop.dis1_3_rg.to_i != 0 and shop.minus_gak3.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis1_3_rg.to_f + shop.minus_gak3.to_f) %>
	    	<% end %>
	    </td>
	    <!-- 軽油 -->
	    <!-- 看板1 -->
	    <td style="border-right:none; min-width: 56px;" align="right">
	    	<%#= price_888_print(shop.dis1_1_kg) %>
	    	<%#= if shop.dis1_1_kg.to_s != "" and shop.dis1_2_kg.to_s != "" and
	    			shop.dis1_1_kg.to_i != 888 and shop.dis1_2_kg.to_i != 888 then "/" end %>
	    	<%#= price_888_print(shop.dis1_2_kg) %>
	    	<%= shop.dis1_1_kg %>
	    </td>
	    <!-- 看板2 -->
	    <td style="border-right:none; border-left:none; min-width: 4px;" align="center">
	    	<%= if shop.dis1_1_kg.to_s != "" or shop.dis1_2_kg.to_s != "" then "/" end %>
	    </td>
	    <!-- 看板3 -->
	    <td style="border-left:none; min-width: 56px;" align="left">
	    	<%= shop.dis1_2_kg %>
	    </td>
	    <!-- 現金(税抜) -->
	    <td rowspan="2" scope="row" align="center">
	    	<%# if shop.dis1_3_kg.to_i != 888 %>
	    		<%#= shop.dis1_4_kg %>
	    	<%# end %>
	    	<%= shop.dis1_4_kg %>
	    </td>
	    <!-- 現金(税込) -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center">
	    -->
	    <td rowspan="2" scope="row" align="center"style="font-weight:bold;">
	    	<%#= price_888_print(shop.dis1_3_kg) %>
	    	<%= shop.dis1_3_kg %>
	    </td>
	   	<!-- 会員 -->
	    <td align="center">
	    	<%# if shop.dis1_3_kg.to_i != 0 and shop.dis1_3_kg.to_i != 888 and shop.minus_gak3.to_i != 0 %>
	    	<% if shop.dis1_3_kg.to_i != 0 and shop.minus_gak3.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis1_3_kg.to_f + shop.minus_gak3.to_f) %>
	    	<% end %>
	    </td>
	    <!-- 灯油 -->
	    <!-- 看板 -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center">
	    -->
	    <td rowspan="2" scope="row" align="center">
	    	<%#= price_888_print(shop.dis1_1_tg) %>
	    	<%#= if shop.dis1_1_tg.to_s != "" and shop.dis1_2_tg.to_s != "" and
	    	  		shop.dis1_1_tg.to_i != 888 and shop.dis1_2_tg.to_i != 888 then "/" end %>
	    	<%#= price_888_print(shop.dis1_2_tg) %>
	    	<%= shop.dis1_2_tg %>
	    </td>
	    <!-- 現金(税込) -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center">
	    -->
	    <td rowspan="2" scope="row" align="center"style="font-weight:bold;">
	    	<%#= price_888_print(shop.dis1_3_tg) %>
	    	<%= shop.dis1_3_tg %>
	    </td>
	    <!-- 現金(税込)1ﾘｯﾄﾙ -->
	    <td rowspan="2" scope="row" align="center">
	    	<%# if shop.dis1_3_tg.to_i != 0 and shop.dis1_3_tg.to_i != 888 %>
	    	<% if shop.dis1_3_tg.to_i != 0 %>
	    		<%= (shop.dis1_3_tg.to_f/18).round(1) %>
	    	<% end %>
	    </td>
	    <!-- 現金(税抜)1ﾘｯﾄﾙ -->
	    <td rowspan="2" scope="row" align="center">
	    	<%# if shop.dis1_3_tg.to_i != 888 %>
	    		<%#= shop.dis1_4_tg %>
	    	<%# end %>
	    	<%= shop.dis1_4_tg %>
	    </td>
	    <!-- 会員 -->
	    <td align="center">
	    	<%# if shop.dis1_3_tg.to_i != 0 and shop.dis1_3_tg.to_i != 888 and shop.minus_gak3.to_i != 0 %>
	    	<% if shop.dis1_3_tg.to_i != 0 and shop.minus_gak5.to_f != 0 %>
	    		<%= format_minus_gak(((shop.dis1_3_tg.to_f/18).round(1) + shop.minus_gak5.to_f).round(1)) %>
	    	<% end %>
	    </td>
	    <!-- 会員18L -->
	    <td align="center">
	    	<%# if shop.dis1_3_tg.to_i != 0 and shop.dis1_3_tg.to_i != 888 and shop.minus_gak3.to_i != 0 %>
	    	<% if shop.dis1_3_tg.to_i != 0 and shop.minus_gak5.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis1_3_tg.to_i + (shop.minus_gak5.to_f * 18)) %>
	    	<% end %>
	    </td>
	  </tr>
<!-- 二段目 -->
	  <tr>
	  	<td style="min-height: 15px;">
	  		<%= shop.minus_name6 %>
	  	</td>
	  	<td>
	  		<%= shop.minus_name1 %>
	  		<% if shop.minus_gak1.to_f < 0 %>
	  			<%= "△" + format_minus_gak(shop.minus_gak1.to_f * -1) %>
	  		<% elsif shop.minus_gak1.to_f == 0 %>
	  		<% else %>
	  			<%= " " + format_minus_gak(shop.minus_gak1.to_f) %>
	  		<% end %>
	  	</td>
	    <td colspan="3" align="center"><%= shop.dis1_2_code_name %></td><!-- ハイオク 下看 -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center"></td>--><!-- ハイオク 現金税込 -->
	    <td align="center">
	    	<%# if shop.dis1_3_hg.to_i != 0 and shop.dis1_3_hg.to_i != 888 and shop.minus_gak2.to_i != 0 %>
	    	<% if shop.dis1_3_hg.to_i != 0 and shop.minus_gak2.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis1_3_hg.to_f + shop.minus_gak2.to_f) %>
	    	<% end %>
		</td><!-- ハイオク プリカ -->
	    <td colspan="3" align="center"><%= shop.dis1_2_code_name %></td><!-- レギュラー 下看 -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center"></td>--><!-- レギュラー 現金税込 -->
	    <td align="center">
	    	<%# if shop.dis1_3_rg.to_i != 0 and shop.dis1_3_rg.to_i != 888 and shop.minus_gak2.to_i != 0 %>
	    	<% if shop.dis1_3_rg.to_i != 0 and shop.minus_gak2.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis1_3_rg.to_f + shop.minus_gak2.to_f) %>
	    	<% end %>
		</td><!-- レギュラー プリカ -->
	    <td colspan="3" align="center"><%= shop.dis1_2_code_name %></td><!-- 軽油 下看 -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center">--></td></td><!-- 軽油 現金税込 -->
	    <td align="center">
	    	<%# if shop.dis1_3_kg.to_i != 0 and shop.dis1_3_kg.to_i != 888 and shop.minus_gak2.to_i != 0 %>
	    	<% if shop.dis1_3_kg.to_i != 0 and shop.minus_gak2.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis1_3_kg.to_f + shop.minus_gak2.to_f) %>
	    	<% end %>
		</td><!-- 軽油 プリカ -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center"><%= shop.dis1_2_code_name %>--></td><!-- 灯油 下看 -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center"></td>--><!-- 灯油 現金税込 -->
	    <td align="center">
	    	<%# if shop.dis1_3_tg.to_i != 0 and shop.dis1_3_tg.to_i != 888 and shop.minus_gak2.to_i != 0 %>
	    	<% if shop.dis1_3_tg.to_i != 0 and shop.minus_gak4.to_f != 0 %>
	    		<%= format_minus_gak(((shop.dis1_3_tg.to_f/18).round(1) + shop.minus_gak4.to_f).round(1)) %>
	    	<% end %>
		</td><!-- 灯油 プリカ -->
		<td align="center">
	    	<%# if shop.dis1_3_tg.to_i != 0 and shop.dis1_3_tg.to_i != 888 and shop.minus_gak2.to_i != 0 %>
	    	<% if shop.dis1_3_tg.to_i != 0 and shop.minus_gak4.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis1_3_tg.to_f + (shop.minus_gak4.to_f * 18)) %>
	    	<% end %>
		</td><!-- 灯油 プリカ18L -->
	  </tr>
	  <% end %>
  
  <% else %>
  <!-- 特売時 -->
	  <% @shops.each do |shop|%>
	  <tr style="border-top:solid 2px #000000;">
	  	<!-- 2012/10/31 レイアウト変更(更新日時追加) -->
	  	<!--更新日時　-->
	  	<td rowspan="2"  align="center" style="min-height: 15px;">
	  		<% if shop.research_day != nil %>
	  			<%= shop.research_day[0,4] + "/"+ shop.research_day[4,2] + "/"+ shop.research_day[6,2] %>
	  		<br>
	  			<%= shop.research_time + "時"%>
	  		<% end %>
	  	</td>
	  	<td style="min-height: 15px;">
	  		<% if @shop_kbn.to_i == 0 %>
	  			<!-- 洗車 -->
		  		<% if shop.minus_gak2.to_f != 0 %>
			  		<%= shop.minus_name2 %>
			  		<% if shop.minus_gak2.to_f < 0 %>
			  			<%= "△" + format_minus_gak(shop.minus_gak2.to_f * -1) %>
			  		<% else %>
			  			<%= " " + format_minus_gak(shop.minus_gak2.to_f) %>
			  		<% end %>
			    <% elsif shop.minus_gak3.to_f != 0 %>
			  		<%= shop.minus_name3 %>
			  		<% if shop.minus_gak3.to_f < 0 %>
			  			<%= "△" + format_minus_gak(shop.minus_gak3.to_f * -1) %>
			  		<% else %>
			  			<%= " " + format_minus_gak(shop.minus_gak3.to_f) %>
			  		<% end %>
			  	<% else %>
		  		<% end %>
		  		
	  		<% else %>
		  		<!-- 油外 -->
		  		<% if shop.minus_gak3.to_f != 0 %>
			  		<%= shop.minus_name3 %>
			  		<% if shop.minus_gak3.to_f < 0 %>
			  			<%= "△" + format_minus_gak(shop.minus_gak3.to_f * -1) %>
			  		<% else %>
			  			<%= " " + format_minus_gak(shop.minus_gak3.to_f) %>
			  		<% end %>
		  		<% elsif shop.minus_gak2.to_f != 0 %>
		  			<%= shop.minus_name2 %>
			  		<% if shop.minus_gak2.to_f < 0 %>
			  			<%= "△" + format_minus_gak(shop.minus_gak2.to_f * -1) %>
			  		<% else %>
			  			<%= " " + format_minus_gak(shop.minus_gak2.to_f) %>
			  		<% end %>
			  	<% else %>
		  		<% end %>
	  		<% end %>
	  	</td>
	    <td rowspan="2" scope="row" align="center"><%= shop.game %></td>
	    <td style="font-weight:bold;"><%= shop.shop_ryaku %></td>
	    <!-- ハイオク -->
	    <!-- 2012/10/31 888の場合表示無対応消去 oda -->
	    <!-- 看板1 -->
	    <td style="border-right:none; min-width: 56px;" align="right">
	    	<%#= price_888_print(shop.dis2_1_hg) %>
	    	<%#= if shop.dis2_1_hg.to_s != "" and shop.dis2_2_hg.to_s != "" and
	    			shop.dis2_1_hg.to_i != 888 and shop.dis2_2_hg.to_i != 888 then "/" end %>
	    	<%#= price_888_print(shop.dis2_2_hg) %>
	    	<%= shop.dis2_1_hg %>
	    </td>
		<!-- 看板2 -->
	    <td style="border-right:none; border-left:none; min-width: 4px;" align="center">
	    	<%= if shop.dis2_1_hg.to_s != "" and shop.dis2_2_hg.to_s != "" then "/" end %>
	    </td>
		<!-- 看板3 -->
		<td style="border-left:none; min-width: 56px;" align="left">
	    	<%= shop.dis2_2_hg %>
	    </td>
	    <!-- 現金(税抜) -->
	    <td rowspan="2" scope="row" align="center">
	    	<%# if shop.dis2_3_hg.to_i != 888 %>
	    		<%#= shop.dis2_4_hg %>
	    	<%# end %>
	    	<%= get_zeinuki_print(shop.dis2_3_hg) %>
	    </td>
	    <!-- 現金(税込み) -->
	    <!-- 20121128 レイアウト修正  oda
	    <td align="center"></td>
		-->
	    <td rowspan="2" scope="row" align="center"style="font-weight:bold;">
	    	<%#= price_888_print(shop.dis2_3_hg) %>
	    	<%= shop.dis2_3_hg %>
	    </td>
	    <!-- 会員 -->
	    <td align="center">
	    	<% if shop.dis2_3_hg.to_i != 0 and shop.dis2_3_hg.to_i != 888 and shop.minus_gak3.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis2_3_hg.to_f + shop.minus_gak3.to_f) %>
	    	<% end %>
	    </td>
	    <!-- レギュラー -->
	    <!-- 看板1 -->
	    <td style="border-right:none; min-width: 56px;" align="right">
	    	<%#= price_888_print(shop.dis2_1_rg) %>
	    	<%#= if shop.dis2_1_rg.to_s != "" and shop.dis2_2_rg.to_s != "" and
	    			shop.dis2_1_rg.to_i != 888 and shop.dis2_2_rg.to_i != 888 then "/" end %>
	    	<%#= price_888_print(shop.dis2_2_rg) %>
	    	<%= shop.dis2_1_rg %>
	    </td>
		<!-- 看板2 -->
	    <td style="border-right:none; border-left:none; min-width: 4px;" align="center">
	    	<%= if shop.dis2_1_rg.to_s != "" and shop.dis2_2_rg.to_s != "" then "/" end %>
	    </td>
		<!-- 看板3 -->
		<td style="border-left:none; min-width: 56px;" align="left">
	    	<%= shop.dis2_2_rg %>
	    </td>
	    <!-- 現金(税抜) -->
	    <td rowspan="2" scope="row" align="center">
	    	<%# if shop.dis2_3_rg.to_i != 888 %>
	    		<%#= shop.dis2_4_rg %>
	    	<%# end %>
	    		<%= get_zeinuki_print(shop.dis2_3_rg) %>
	    </td>
	    <!-- 現金(税込) -->
	    <!-- 20121128 レイアウト修正  oda
	    <td align="center"></td>
		-->
	    <td rowspan="2" scope="row" align="center"style="font-weight:bold;">
	    	<%#= price_888_print(shop.dis2_3_rg) %>
	    	<%= shop.dis2_3_rg %>
	    </td>
	    <!-- 会員 -->
	    <td align="center">
	    	<%# if shop.dis2_3_rg.to_i != 0 and shop.dis2_3_rg.to_i != 888 and shop.minus_gak3.to_i != 0 %>
	    	<% if shop.dis2_3_rg.to_f != 0 and shop.minus_gak3.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis2_3_rg.to_f + shop.minus_gak3.to_f) %>
	    	<% end %>
	    </td>
	    <!-- 軽油 -->
	    <!-- 看板1 -->
	    <td style="border-right:none; min-width: 56px;" align="right">
	    	<%#= price_888_print(shop.dis2_1_kg) %>
	    	<%#= if shop.dis2_1_kg.to_s != "" and shop.dis2_2_kg.to_s != "" and
	    			shop.dis2_1_kg.to_i != 888 and shop.dis2_2_kg.to_i != 888 then "/" end %>
	    	<%#= price_888_print(shop.dis2_2_kg) %>
	    	<%= shop.dis2_1_kg %>
	    </td>
		<!-- 看板2 -->
	    <td style="border-right:none; border-left:none; min-width: 4px;" align="center">
	    	<%= if shop.dis2_1_kg.to_s != "" and shop.dis2_2_kg.to_s != "" then "/" end %>
	    </td>
		<!-- 看板3 -->
		<td style="border-left:none; min-width: 56px;" align="left">
	    	<%= shop.dis2_2_kg %>
	    </td>
	    <!-- 現金(税抜) -->
	    <td rowspan="2" scope="row" align="center">
	    	<%# if shop.dis2_3_kg.to_i != 888 %>
	    		<%#= shop.dis2_4_kg %>
	    	<%# end %>
	    	<%= get_zeinuki_kg_print(shop.dis2_3_kg) %>
	    </td>
	    <!-- 現金(税込) -->
	    <!-- 20121128 レイアウト修正  oda
	    <td align="center">
	    -->
	    <td rowspan="2" scope="row" align="center"style="font-weight:bold;">
	    	<%#= price_888_print(shop.dis2_3_kg) %>
	    	<%= shop.dis2_3_kg %>
	    </td>
	    <!-- 会員 -->
	    <td align="center">
	    	<%# if shop.dis2_3_kg.to_i != 0 and shop.dis2_3_kg.to_i != 888 and shop.minus_gak3.to_i != 0 %>
	    	<% if shop.dis2_3_kg.to_i != 0 and shop.minus_gak3.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis2_3_kg.to_f + shop.minus_gak3.to_f) %>
	    	<% end %>
	    </td>
	    <!-- 灯油 -->
	    <!-- 看板 -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center">
	    -->
	    <td rowspan="2" scope="row" align="center">
	    	<%#= price_888_print(shop.dis2_1_tg) %>
	    	<%#= if shop.dis2_1_tg and shop.dis2_2_tg and
	    	  #		shop.dis2_1_tg.to_i != 888 and shop.dis2_2_tg.to_i != 888 then "/" end %>
	    	<%#= price_888_print(shop.dis2_2_tg) %>
	    	<%= shop.dis2_2_tg %>
	    </td>
	    <!-- 現金(税込) -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center">
	    -->
	    <td rowspan="2" scope="row" align="center"style="font-weight:bold;">
	    	<%#= price_888_print(shop.dis2_3_tg) %>
	    	<%= shop.dis2_3_tg %>
	    </td>
	    <!-- 現金(税込)１ﾘｯﾄﾙ -->
	    <td rowspan="2" scope="row" align="center">
	    	<%# if shop.dis2_3_tg.to_i != 0 and shop.dis2_3_tg.to_i != 888 %>
	    	<% if shop.dis2_3_tg.to_i != 0  %>
	    		<%= (shop.dis2_3_tg.to_f/18).round(1) %>
	    	<% end %>
	    </td>
	    <!-- 現金(税抜)１ﾘｯﾄﾙ -->
	    <td rowspan="2" scope="row" align="center">
	    	<%# if shop.dis2_3_tg.to_i != 888 %>
	    		<%#= shop.dis2_4_tg %>
	    	<%# end %>
	    	<%= get_zeinuki_print(shop.dis2_3_tg.to_f/18) %>
	    </td>
	    <!-- 会員 -->
	    <td align="center">
	    	<%# if shop.dis2_3_tg.to_i != 0 and shop.dis2_3_tg.to_i != 888 and shop.minus_gak3.to_i != 0 %>
	    	<% if shop.dis2_3_tg.to_i != 0 and shop.minus_gak5.to_f != 0 %>
	    		<%= format_minus_gak(((shop.dis2_3_tg.to_f/18).round(1) + shop.minus_gak5.to_f).round(1)) %>
	    	<% end %>
	    </td>
	    <!-- 会員18L -->
	    <td align="center">
	    	<%# if shop.dis2_3_tg.to_i != 0 and shop.dis2_3_tg.to_i != 888 and shop.minus_gak3.to_i != 0 %>
	    	<% if shop.dis2_3_tg.to_i != 0 and shop.minus_gak5.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis2_3_tg.to_i + (shop.minus_gak5.to_f * 18)) %>
	    	<% end %>
	    </td>
	  </tr>
	<!-- 二段目 -->
	  <tr>
	  	<td style="min-height: 15px;">
	  		<%= shop.minus_name6 %>
	  	</td>
	  	<td>
	  		<%= shop.minus_name1 %>
	  		<% if shop.minus_gak1.to_f < 0 %>
	  			<%= "△" + format_minus_gak(shop.minus_gak1.to_f * -1) %>
	  		<% elsif shop.minus_gak1.to_f == 0 %>
	  		<% else %>
	  			<%= " " + format_minus_gak(shop.minus_gak1.to_f) %>
	  		<% end %>
	  	</td>
	    <td colspan="3" align="center"><%= shop.dis2_2_code_name %></td><!-- ハイオク 下看 -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center"></td>--><!-- ハイオク 現金税込 -->
	    <td align="center">
	    	<%# if shop.dis2_3_hg.to_i != 0 and shop.dis2_3_hg.to_i != 888 and shop.minus_gak2.to_i != 0 %>
	    	<% if shop.dis2_3_hg.to_i != 0 and shop.minus_gak2.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis2_3_hg.to_i + shop.minus_gak2.to_f) %>
	    	<% end %>
		</td><!-- ハイオク プリカ -->
	    <td colspan="3"  align="center"><%= shop.dis2_2_code_name %></td><!-- レギュラー 下看 -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center">--></td><!-- レギュラー 現金税込 -->
	    <td align="center">
	    	<%# if shop.dis2_3_rg.to_i != 0 and shop.dis2_3_rg.to_i != 888 and shop.minus_gak2.to_i != 0 %>
	    	<% if shop.dis2_3_rg.to_i != 0 and shop.minus_gak2.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis2_3_rg.to_i + shop.minus_gak2.to_f) %>
	    	<% end %>
		</td><!-- レギュラー プリカ -->
	    <td colspan="3"  align="center"><%= shop.dis2_2_code_name %></td><!-- 軽油 下看 -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center"></td>--><!-- 軽油 現金税込 -->
	    <td align="center">
	    	<%# if shop.dis2_3_kg.to_i != 0 and shop.dis2_3_kg.to_i != 888 and shop.minus_gak2.to_i != 0 %>
	    	<% if shop.dis2_3_kg.to_i != 0 and shop.minus_gak2.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis2_3_kg.to_i + shop.minus_gak2.to_f) %>
	    	<% end %>
		</td><!-- 軽油 プリカ -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center"><%= shop.dis2_2_code_name %></td>--><!-- 灯油 下看 -->
	    <!-- 201211/28 レイアウト修正  oda
	    <td align="center"></td>--><!-- 灯油 現金税込 -->
	    <td align="center">
	    	<%# if shop.dis2_3_tg.to_i != 0 and shop.dis2_3_tg.to_i != 888 and shop.minus_gak2.to_i != 0 %>
	    	<% if shop.dis2_3_tg.to_i != 0 and shop.minus_gak4.to_f != 0 %>
	    		<%= format_minus_gak(((shop.dis2_3_tg.to_f/18).round(1) + shop.minus_gak4.to_f).round(1)) %>
	    	<% end %>
		</td><!-- 灯油 プリカ -->
		<td align="center">
	    	<%# if shop.dis2_3_tg.to_i != 0 and shop.dis2_3_tg.to_i != 888 and shop.minus_gak2.to_i != 0 %>
	    	<% if shop.dis2_3_tg.to_i != 0 and shop.minus_gak4.to_f != 0 %>
	    		<%= format_minus_gak(shop.dis2_3_tg.to_i + (shop.minus_gak4.to_f * 18)) %>
	    	<% end %>
		</td><!-- 灯油 プリカ18L -->
	  </tr>
	  <% end %>
  
  <% end %>
  
  
</table>
<%= hidden_field_tag 'input_ymd', @input_ymd %>
<%= hidden_field_tag 'shop_kbn', @shop_kbn %>
<%= hidden_field_tag 'price_kbn', @price_kbn %>
<%= submit_tag  '  印  刷  ',format: 'pdf' %>
<% end %>



<script>
	$(function () {
		$('#report_view_table').tablefix({width:900,height: 600,fixRows:3, fixCols: 4});
	});
</script>