<h1>SS価格表</h1>
<%= form_tag(url_for(:action => 'search'),:remote => true) do %>
<table class='rounded-corner'>
	<tr>
		<th>対象日</th>
		<td>
	      <%= text_field_tag  "input_ymd" , @input_ymd ,:class => 'datepicker',:size => 10%>
	    </td>
	    <!--th>店舗種別</th>
		<td>
		  	<%#= select_tag "shop_kbn",  
	        options_for_select(MCode.find(:all, :conditions=>["kbn='shop_kbn' and code <> '9'"], :order=>"code").collect{|i| [ "#{i.code_name}", i.code ]}) %>
		</td-->
		<th>対象店舗</th>
		<td>
		<%= select_tag "shop_from",  
	        options_for_select(MShop.find(:all, :conditions=>["deleted_flg = 0 and shop_kbn <> 9"], :order=>"price_sort").collect{|i| 
	        [ "#{i.price_sort.to_s.rjust(3,'　')} #{i.shop_ryaku}", i.price_sort ]}), :include_blank => "" %>
		～
	  	<%= select_tag "shop_to",  
	        options_for_select(MShop.find(:all, :conditions=>["deleted_flg = 0 and shop_kbn <> 9"], :order=>"price_sort").collect{|i| 
	        [ "#{i.price_sort.to_s.rjust(3,'　')} #{i.shop_ryaku}", i.price_sort ]}), :include_blank => "" %>
	    </td>
		
		<th>価格表種別</th>
		<td>
			<%= radio_button_tag("price_kbn",0, :checked => true) %>税込<!--通常時-->
			<%= radio_button_tag("price_kbn",1) %>税抜<!--特売時-->
		</td>
		<td><%= submit_tag "検索" %></td>
    </tr>
</table>
<% end %>

<hr>
	<div id="result">
	    <%= render partial: 'result'%>
	</div>

