<%#= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->
<% nyuryoku_flg = 0 %>
<%= form_tag(url_for(:action => 'update')) do %>
<div id="check">
<table  id='rounded-corner'>
	<tr>
		<th>店舗</th>
		<th>売上日</th>
		<th>作成者</th>
		<th>店舗種別</th>
		<th>入力状況</th>
		<th>ロック／解除<br />
			<input type="checkbox" id="kakutei_flg_all" />
		</th>
		<th>詳細</th>
		<th>参照</th>
	</tr>
  <% i = 1 %>
  <% @shops.each do |shop| %>
    <% nyuryoku_flg = wday_hantei(@wday,shop.id) %>
    <!-- 2012/12/05 予備メーター入力件数取得-->
    <% submeter_cnt = get_submeter_count_wash(shop.id,@input_ymd_s) %>
    <tr>
    <!-- 2012/12/05 予備メーター入力有無判定-->
    <% if submeter_cnt == "0" %>
      <td>
    <% else %>
      <td style="color: red; font-weight: bold">
    <% end %>
     	<%= shop.shop_cd.to_s + '　' + shop.shop_name %></td>
        <% d_wash_sale = DWashSale.find(:all,:conditions => ['sale_date = ? and m_shop_id = ?',@input_ymd_s,shop.id]).first %>
    <!-- 2012/12/05 予備メーター入力有無判定-->
    <% if submeter_cnt == "0" %>
      <td>
    <% else %>
      <td style="color: red; font-weight: bold">
    <% end %>
      	<% unless d_wash_sale == nil %>
      	  <%= d_wash_sale.sale_date[0,4] + '/' + d_wash_sale.sale_date[4,2] + '/' + d_wash_sale.sale_date[6,2] %>
      	<% end %>
      </td>
    <!-- 2012/12/05 予備メーター入力有無判定-->
    <% if submeter_cnt == "0" %>
      <td>
    <% else %>
      <td style="color: red; font-weight: bold">
    <% end %>
      	<% unless d_wash_sale == nil %>
      	  <%= User.find(d_wash_sale.created_user_id).user_name %><% end %>
      </td>
    <!-- 2012/12/05 予備メーター入力有無判定-->
    <% if submeter_cnt == "0" %>
      <td align="center">
    <% else %>
      <td align="center" style="color: red; font-weight: bold">
    <% end %>
		<%= MCode.find(:first, :conditions => ["kbn = 'shop_kbn' and code = ?", shop.shop_kbn.to_s]).code_name %>
      </td>
    <!-- 2012/12/05 予備メーター入力有無判定-->
    <% if submeter_cnt == "0" %>
      <td align="center">
    <% else %>
      <td align="center" style="color: red; font-weight: bold">
    <% end %>
      	<%= unless d_wash_sale == nil then "済" else "未" end %>
      </td>
      <td align="center">
        <% unless d_wash_sale == nil %>
          <!-- DEL 2012.10.03 更新はAJAXで行う
          <% if d_wash_sale.kakutei_flg == 1  %>
            <%= check_box_tag("cbox[]",d_wash_sale.id,{:checked => true}) %>
          <% else %>
            <%= check_box_tag("cbox[]",d_wash_sale.id) %> 	  
          <% end %>
          -->
          <% if d_wash_sale.kakutei_flg.to_i == 0 %>
            <%=  check_box_tag "data_kakutei_flg_#{i}", "0", false  %>
          <% else %>
            <%=  check_box_tag "data_kakutei_flg_#{i}", "1", true %>
          <% end%>
          <%= hidden_field_tag "data_id_#{i}", d_wash_sale.id %>
          <% i += 1 %>
        <% end %>
      </td>

      <td><%= link_to image_tag('icon/24_edit.png'), {:controller => 'd_wash_sales',:action => 'index',
            :input_ymd => @input_ymd,:m_shop_id => shop.id,:shop_kbn => @shop_kbn,:mode => 'list'} %></td>
      <td><%= link_to('参照' ,{:action => 'show',:m_shop_id => shop.id}, :class => 'modal') %></td>
    </tr>
  <% end %>
  <!-- DEL 2012.10.03 更新はAJAXで行う
    <tr><td colspan="8"><%= submit_tag(" 更新 ",:disable_with => "更新中...",:confirm => '保存しても良いですか？') %>	 </td></tr>
  -->
</table>
  <%= hidden_field_tag "input_ymd",@input_ymd %>
  <%= hidden_field_tag "shop_kbn",@shop_kbn %>
<% end %>
</div>

<script type="text/javascript">
$(function(){
  /* DEL 2012.10.03 更新はAJAXで行う
    $('#all').click(function(){
    if(this.checked){
    $('#check input').attr('checked','checked');
    }else{
    $('#check input').removeAttr('checked');
    }
  });
  */
});
</script>
