<%= form_for(@m_aim) do |f| %>
  <% if @m_aim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_aim.errors.count, "error") %> prohibited this m_aim from being saved:</h2>

      <ul>
      <% @m_aim.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aim_code %><br />
    <%= f.number_field :aim_code %>
  </div>
  <div class="field">
    <%= f.label :aim_name %><br />
    <%= f.text_field :aim_name %>
  </div>
  <div class="field">
    <%= f.label :shop_kbn %><br />
    <%= f.number_field :shop_kbn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
