<table id='rounded-corner'>
  <tr>
  	<th>社員コード</th>
    <th>ユーザ名</th>
    <th>所属店舗</th>
    <th>社員種別</th>
    <th>権限</th>
    <th>編集</th>
    <th>パスワード変更</th>
    <th>削除</th>
  </tr>

<% @users.each do |user| %>
  <% if user.deleted_flg == 0 %>
  	<% del_flg = "del_n" %>
  <% else %>
  	<% del_flg = "del_y" %>
  <% end %>
  
  <tr>
  	<td class="<%= "#{del_flg}" %>"><%= user.account %></td>
    <td class="<%= "#{del_flg}" %>"><%= user.user_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= user.shop_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= user.user_class_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= user.authority_name %></td>
    <td class="icon">
    	<%- if user.deleted_flg == 0 -%>
    	<%= link_to image_tag('icon/24_edit.png'), {:action=>"edit",:id=>user.id,:pass_flg=>0,:return_flg=>1} %>
    	<%- end -%>
    </td>
    <td class="icon">
    	<%- if user.deleted_flg == 0 -%>
    	<%= link_to image_tag('icon/24_password.png'), {:action=>"edit",:id=>user.id,:pass_flg=>1,:return_flg=>1} %>
    	<%- end -%>
    </td>
    <td class="icon">
    	<%- if user.deleted_flg == 0 -%>
	    <%= link_to image_tag('icon/24_delete.png'), {:action=>"destroy",:id=>user.id,:input_check=>@check_del_flg}, :confirm => '削除します。よろしいですか？', :method => :delete %>
	    <%- else -%>
	    <%= link_to image_tag('icon/refresh.png'), {:action=>"destroy",:id=>user.id,:input_check=>@check_del_flg}, :confirm => '削除の取消をします。よろしいですか？', :method => :delete %>
	    <%- end -%>
    	<%#= link_to image_tag('icon/24_delete.png'), user, :confirm => '削除します。よろしいですか？', :method => :delete %>
    </td>
    
    
  </tr>
<% end %>
</table>