<%= javascript_include_tag "wareki" %> <!-- 和暦入力機能 -->

<% if @pass_flg == 1 %>
<h1>パスワード変更</h1>
<% else %>
<h1>更新</h1>
<% end %>

<%= form_for @user, :url=>{:controller=>'users',:action=> 'update',:id=>@user.id,:pass_flg=>@pass_flg,:return_flg=>@return_flg} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field "input",'check',:value=>@check_del_flg%>

  	<table id='rounded-corner'>
	  	<% if @pass_flg == 0 %>
	  	<tr>
	  	  <th><%= f.label "社員コード" %></th>
	  	  <td><%= f.text_field :account,:maxlength=>10 %></td>  	  
	  	</tr>
	  	<tr>
	  	  <th><%= f.label "氏名" %></th>
	  	  <td><%= f.text_field :user_name,:maxlength=>50 %></td>  	  
	  	</tr>
	  	<tr>
	  	  <th><%= f.label "氏名カナ" %></th>
	  	  <td><%= f.text_field :user_name_kana,:maxlength=>50 %></td>  	  
	  	</tr>
	  	<tr>
	  	  <th><%= f.label "所属店舗" %></th>
	  	  <td>
			<%= f.select(:m_shop_id, MShop.find(:all, :conditions => ["deleted_flg = ?",0], :order => 'shop_cd').map do |u|
	      		[u.shop_name,u.id]
	        end, {:include_blank => "選択して下さい"}) %>
		  </td>  	  
	  	</tr>
	  	<!-- INSERT BEGIN 主店舗ID 2012.12.06 -->
	  	<tr>
	  	  <th><%= f.label "主所属店舗" %></th>
	  	  <td>
			<%= f.select(:org_shop_id, MShop.find(:all, :conditions => ["deleted_flg = ?",0], :order => 'shop_cd').map do |u|
	      		[u.shop_name,u.id]
	        end, {:include_blank => "選択して下さい"}) %>
		  </td>  	  
	  	</tr>
	  	<!-- INSERT END 主店舗ID 2012.12.06 -->
	  	<tr>
	  	  <th><%= f.label "社員種別" %></th>
	  	  <td>
			<%= f.select(:user_class, MCode.find(:all, :conditions => ["kbn = ?",'user_class'], :order => 'code').map do |u|
	      		[u.code_name,u.code]
	        end, {:include_blank => "選択して下さい"}) %>
		  </td>  	  
	  	</tr>
	  	<tr>
	  	  <th><%= f.label "権限" %></th>
	  	  <td>
			<%= f.select(:m_authority_id, MAuthority.find(:all, :conditions => ["deleted_flg = ?",0], :order => 'authority_cd').map do |u|
	      		[u.authority_name,u.id]
	        end, {:include_blank => "選択して下さい"}) %>
		  </td>  	  
	  	</tr>
	  	<tr>
	  	  <th><%= f.label "給与区分" %></th>
	  	  <td>
			<%= f.select(:salary_kbn, MCode.find(:all, :conditions => ["kbn = ?",'salary_kbn'], :order => 'code').map do |u|
	      		[u.code_name,u.code]
	        end, {:include_blank => "選択して下さい"}) %>
		  </td>  	  
	  	</tr>
	  	<!-- INSERT BEGIN 人件費出力区分追加 2012.12.06 -->
	  	<tr>
	  		<th><%= f.label "人件費出力区分" %></th>
	  		<td>
			<%= f.select(:duty_sort, MCode.find(:all, :conditions => ["kbn = ?",'duty_sort'], :order => 'code').map do |u|
	      		["#{u.code}:#{u.code_name}",u.code]
	        end, {:include_blank => "選択して下さい"}) %>
	  		</td>
	  	</tr>
	  	<!-- INSERT END 人件値出力区分追加 2012.12.06 -->
	  	<!-- INSERT BEGIN 出力区分内順,ユーザランク追加 2012.12.14 -->
	  	<tr>
	  		<th><%= f.label "出力区分内順" %></th>
	  		<td>
	  			<%= f.text_field :duty_kbn_sort, :class => "money" %>
	  		</td>
	  	</tr>
	  	<tr>
	  		<th><%= f.label "ユーザランク" %></th>
	  		<td>
			<%= f.select(:user_rank, MCode.find(:all, :conditions => ["kbn = ?",'user_rank'], :order => 'code').map do |u|
	      		["#{u.code}:#{u.code_name}",u.code.to_i]
	        end, {:include_blank => "選択して下さい"}) %>
	  		</td>
	  	</tr>
	  	<!-- INSERT END 出力区分内順,ユーザランク追加 2012.12.14 -->
	  	<tr>
	  	  <th><%= f.label "入社日" %></th>
	  	  <td>
	  	  	<!-- UPDATE BEGIN 入社日型変更 2012.12.06 -->
	  	  	<%#= f.date_select :nyusya_date,:use_month_numbers=>true,:start_year=>Date.today.year - 100, :use_month_numbers => true %>
	  	  	<%= f.text_field :nyusya_date, :class => "datepicker" %>
	  	  	<!-- UPDATE END 入社日型変更 2012.12.06 -->
	  	  </td>  	  
	  	</tr>
	  	<!-- INSERT BEGIN 退職日,返却日追加 2012.12.06 -->
	  	<tr>
	  		<th><%= f.label "退職日" %></th>
	  		<td>
	  			<%= f.text_field :taisyoku_date, :class => "datepicker" %>
	  		</td>
	  	</tr>
	  	<tr>
	  		<th><%= f.label "返却日" %></th>
	  		<td>
	  			<%= f.text_field :return_date, :class => "datepicker" %>
	  		</td>
	  	</tr>
	  	<!-- INSERT END 退職日,返却日追加 2012.12.06 -->
	  	<tr>
	  	  <th><%= f.label "生年月日" %></th>
	  	  <td>
	  	  	<!-- UPDATE BEGIN 生年月日型変更 2012.12.06 -->
	  	  	<%#= f.date_select :birthday,:use_month_numbers=>true,:start_year=>Date.today.year - 100, :use_month_numbers => true %>
	  	    <%= f.text_field :birthday, :class => "datepicker" %>
	  	    <!-- UPDATE END 生年月日型変更 2012.12.06 -->
	  	  </td>
	  	</tr>
	  	<!-- INSERT BEGIN 2012.12.17 支払区分追加 -->
	  	<tr>
	  		<th><%= f.label "支払区分" %></th>
	  		<td>
				<%= f.select(:pay_kbn, MCode.find(:all, :conditions => ["kbn = ?",'pay_kbn'], :order => 'code').map do |u|
	      			["#{u.code}:#{u.code_name}",u.code.to_i]
	        	end, {:include_blank => "選択して下さい"}) %>
	  		</td>
	  	</tr>
	  	<!-- INSERT END 2012.12.17 支払区分追加 -->
		<% end %>
	
		<% if @pass_flg == 1 %>
		<tr>
	  	  <th><%= f.label "社員コード" %></th>
	  	  <td><%= @user.account %></td>  	  
	  	</tr>
	  	<tr>
	  	  <th><%= f.label "氏名" %></th>
	  	  <td><%= @user.user_name %></td>  	  
	  	</tr>
	  	<tr>
	  	  <th><%= f.label "所属店舗" %></th>
	  	  <td>
				<% m_shop = MShop.find(:first,:conditions=>["id = ?",@user.m_shop_id]) %>
			    <% if m_shop != nil %>
			    <%= m_shop.shop_name %>
			    <% end %>
		  </td>  	  
	  	</tr>
		<tr>
	  	  <th><%= f.label "新パスワード" %></th>
	  	  <td><%= f.password_field :password %></td>  	  
	  	</tr>
	  	<tr>
	  	  <th><%= f.label "新確認用パスワード" %></th>
	  	  <td><%= f.password_field :password_confirmation %></td>  	  
	  	</tr>
	    <% end %>
	    
	    <tr>
	  		<td align="left" style="border: none">
	  			<% if @return_flg == 1 %>
				<%= link_to '戻る', users_path, :class => 'return_icon' %>
				<% end %>
			</td>
		  	<td align="right" style="border: none">
		  		<% if f.object.new_record? %>
				<%= f.submit "  登  録  ",:disable_with => "登録中.....",:confirm => '登録しても良いですか？' %>
				<% else %>
				<%= f.submit "  更  新  ",:disable_with => "更新中.....",:confirm => '更新しても良いですか？' %>
				<% end %>
			</td>
		</tr>
	    
    </table>
    
  <!--div class="actions">
    <%#= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div-->
<% end %>
<%# if @return_flg == 1 %>
<%#= link_to '戻る', users_path, :class => 'return_icon' %>
<%# end %>

<!-- INSERT BEGIN 生年月日型変更 2012.12.06 -->
<script>
$(function(){
	// 表示時に「yyyymmdd→yyyy/mm/dd」へ
	$(".datepicker").each(function(){
		var ymd = $(this).val();
		
		if (ymd.length == 8) {
			ymd = ymd.substring(0, 4) + "/" + ymd.substring(4, 6) + "/" + ymd.substring(6, 8);
			$(this).val(ymd);
		}
		
	});

	// submit時に日付チェック 及び "/"を消す
	$("form").submit(function(){
		var ymd = $(".datepicker");
		
		for (i = 0; i < ymd.length; i++) {
			if (ymd[i].value != "" && (!ckDate(ymd[i].value))) {
				alert("日付を正しく入力してください。");
				ymd[i].focus();
				return false;
			}
		}
		
		for (i = 0; i < ymd.length; i++) {
			ymd[i].value = ymd[i].value.replace(/\//g, "")
		}
		return true;
	});
	
	// 日付の入力を和暦にする
	wareki_input("user_nyusya_date");
	wareki_input("user_taisyoku_date");
	wareki_input("user_return_date");
	wareki_input("user_birthday");
	
});

/****************************************************************
* 機　能： 入力された値が日付でYYYY/MM/DD形式になっているか調べる
* 引　数： datestr　入力された値
* 戻り値： 正：true　不正：false
****************************************************************/
function ckDate(datestr) {
    // 正規表現による書式チェック
    if(!datestr.match(/^\d{4}\/\d{2}\/\d{2}$/)){
        return false;
    }
    var vYear = datestr.substr(0, 4) - 0;
    var vMonth = datestr.substr(5, 2) - 1; // Javascriptは、0-11で表現
    var vDay = datestr.substr(8, 2) - 0;
    // 月,日の妥当性チェック
    if(vMonth >= 0 && vMonth <= 11 && vDay >= 1 && vDay <= 31){
        var vDt = new Date(vYear, vMonth, vDay);
        if(isNaN(vDt)){
            return false;
        }else if(vDt.getFullYear() == vYear && vDt.getMonth() == vMonth && vDt.getDate() == vDay){
            return true;
        }else{
            return false;
        }
    }else{
        return false;
    }
}
</script>
<!-- END BEGIN 生年月日型変更 2012.12.06 -->