<%#= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->

<table id='rounded-corner'>
	<tr>
	  <th style="min-width: 75px;">油種</th>
	  <th>タンク容量(KL)</th>
	  <th>メーター進み</th>
	  <th>メーター過不足</th>
	  <th>地下タンク過不足</th>
	  <th>仕入(L)</th>
	  <th>在庫(L)</th> 	  	  	  	  	  	  
	</tr>	
  <% @meters.each do |meter| %>
    <tr>
      <th><%= meter[:oil_name] %></th>
      <th><%= meter[:volume] %></th>
      <td class="input_no" id="display"><%= meter[:meter_susumi] %></td>
      <% if meter[:meter_kabusoku].to_i < 0 %>
        <td class="input_no" id="display" style="color: red;"><%= num_fmt(meter[:meter_kabusoku]) %></td>
      <% else %>
        <td class="input_no" id="display">
        	<% if meter[:meter_kabusoku] == nil %>
        		<%= meter[:meter_kabusoku] %>
        	<% else %>
        		<%= meter[:meter_kabusoku].round(2) %>
        	<% end %>
        </td>
      <% end %>
      
      <% if meter[:tank_kabusoku].to_i < 0 %>
        <td class="input_no" id="display" style="color: red;"><%= num_fmt(meter[:tank_kabusoku]) %></td>
      <% else %>
        <td class="input_no" id="display"><%= num_fmt(meter[:tank_kabusoku]) %></td>
      <% end %>
      <td class="input_no" id="display"><%= num_fmt(meter[:receive]) %></td>
      <td class="input_no" id="display"><%= num_fmt(meter[:stock]) %></td>                                            
    </tr>
  <% end %>	
</table>
