<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->

<div>
  <% if @d_result.blank? or @edit_flg.to_i == 1 or @d_result.kakutei_flg == 0 %> 	
    <%= link_to 'メーター入力', {:controller => 'd_results', :action => 'meter_index', :result_date => @result_date, :m_shop_id => @m_shop.id, :edit_flg => @edit_flg}, :id => "meter_icon", :class => "modal" %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to 'タンク入力', {:controller => 'd_results', :action => 'tank_index', :result_date => @result_date, :m_shop_id => @m_shop.id, :edit_flg => @edit_flg}, :id => "tank_icon", :class => "modal" %>	
  <% else %>
	<%= link_to 'メーター詳細', {:controller => 'd_results', :action => 'meter_index', :result_date => @result_date, :m_shop_id => @m_shop.id, :edit_flg => @edit_flg}, :id => "meter_icon", :class => "modal" %>
	 &nbsp;&nbsp;&nbsp;
    <%= link_to 'タンク詳細', {:controller => 'd_results', :action => 'tank_index', :result_date => @result_date, :m_shop_id => @m_shop.id, :edit_flg => @edit_flg}, :id => "tank_icon", :class => "modal" %>
  <% end %>
</div>
<table id='rounded-corner'>
	<tr>
	  <th>油種</th>
	  <th>タンク容量(KL)</th>
	  <th>メーター進み</th>
	  <th>メーター過不足</th>
	  <th>地下タンク過不足</th>
	  <th>仕入(L)</th>
	  <th>在庫(L)</th> 	  	  	  	  	  	  
	</tr>	
  <% @meters.each do |meter| %>
    <tr>
      <th><%= meter[:oil_name] %></th>
      <th><%= meter[:volume] %></th>
      <td class="input_no" id="display"><%= meter[:meter_susumi] %></td>
      <% if meter[:meter_kabusoku].to_i < 0 %>
        <td class="input_no" id="display" style="color: red;"><%= num_fmt(meter[:meter_kabusoku]) %></td>
      <% else %>
        <td class="input_no" id="display"><%= num_fmt(meter[:meter_kabusoku]) %></td>
      <% end %>
      
      <% if meter[:tank_kabusoku].to_i < 0 %>
        <td class="input_no" id="display" style="color: red;"><%= num_fmt(meter[:tank_kabusoku]) %></td>
      <% else %>
        <td class="input_no" id="display"><%= num_fmt(meter[:tank_kabusoku]) %></td>
      <% end %>
      <td class="input_no" id="display"><%= num_fmt(meter[:receive]) %></td>
      <td class="input_no" id="display"><%= num_fmt(meter[:stock]) %></td>                                            
    </tr>
  <% end %>	
</table>
