<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->

<table id='rounded-corner'>
  <tr>
    <th colspan="4">夢ポイント報告</th>
  </tr>
  <tr>
  	<th>種別</th>
  	<th>件数</th>
    <th>ポイント</th>
	<th>金額</th>  	  	  
  </tr>
  <% unless @d_result_yumepoints.blank? %>
    <% @d_result_yumepoints.each do |d_result_yumepoint| %>
      <tr>
      	<td id="display"><%= d_result_yumepoint.code_name %></td>
        <td class="input_no" id="display"><%= num_fmt(d_result_yumepoint.yumepoint_num) %></td> 	
        <td class="input_no" id="display"><%= num_fmt(d_result_yumepoint.yumepoint) %></td> 
        <td class="input_no" id="display"><%= num_fmt(d_result_yumepoint.yumepoint_money) %></td>           
      </tr>	
    <% end %>
  <% end %>
</table>
  