<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->
<%= link_to '入力', {:controller => 'd_results', :action => 'reserve_index', :result_date => @result_date, :m_shop_id => @m_shop.id}, :id => "add_icon", :class => "modal" %>
<table id='rounded-corner'>
	<tr>
	  <th colspan="4">車検予約カード獲得</th>
	</tr>
	<tr>
	  <th>月</th>
	  <th>日計</th>
	  <th>累計</th>  	  	  
	</tr>
  <% unless @syukei_reserves.blank?%>	
  <% @syukei_reserves.each do |syukei_reserve| %>
    <tr>
      <th class="input_no" id="display"><%= syukei_reserve[:month] %></th> 	
      <td class="input_no" id="display"><%= syukei_reserve[:nikkei] %></td> 
      <td class="input_no" id="display"><%= syukei_reserve[:ruikei] %></td>           
    </tr>
  <% end %>	
  <% end %>
</table>
    