<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->
<% if @d_result_yumes.blank? 
     row = 1
   else
   	 row = @d_result_yumes.size + 1
   end
   
   m_oiletc = MOiletc.find(:first, :conditions => ["oiletc_group = 2"])	   
%>

<table id='rounded-corner'>
  <tr>
    <th colspan="4">夢ポイント報告</th>
  </tr>
  <tr>
  	<th>件数</th>
    <th>ポイント</th>
	<th>金額</th>
	<td rowspan="<%= row %>">
	  <% unless m_oiletc.blank? %> 	
	    <%= link_to '入力', {:controller => 'd_results', :action => 'yume_index', :result_date => @result_date}, :id => "add_icon", :class => "modal" %>
	  <% end %>
	</td>	  	  	  
  </tr>
  <% unless @d_result_yumes.blank? %>
    <% @d_result_yumes.each do |d_result_yume| %>
      <tr>
        <td class="input_no"><%= num_fmt(d_result_yume.pos1_data) %></td> 	
        <td class="input_no"><%= num_fmt(d_result_yume.pos2_data) %></td> 
        <td class="input_no"><%= num_fmt(d_result_yume.pos3_data) %></td>           
      </tr>	
    <% end %>
  <% end %>
</table>
  