<table id='rounded-corner'>
  <tr>
    <th>タンク</th>
    <th>油種</th>
	<th>前日在庫</th>
    <th>受入数量</th>
    <th>販売数量</th>
	<th>計算在庫</th>
    <th>当日在庫</th>
    <th>増減</th>
	<th>販売累計</th>
    <th>増減累計</th>
    <th>増減率</th>
	<th>点検</th>			  	  	  
  </tr>
  <% @d_tank_compute_reports.each do |d_tank_compute_report| %>
    <tr>
      <td>タンク<%= d_tank_compute_report[:tank_no] %></td> 	
      <td><%= d_tank_compute_report[:oil_name] %></td> 
      <td class="input_no"><%= num_fmt(d_tank_compute_report[:before_stock]) %></td> 
      <td class="input_no"><%= num_fmt(d_tank_compute_report[:receive]) %></td>
      <td class="input_no"><%= num_fmt(d_tank_compute_report[:sale]) %></td>  	
      <td class="input_no"><%= num_fmt(d_tank_compute_report[:compute_stock]) %></td> 
      <td class="input_no"><%= num_fmt(d_tank_compute_report[:after_stock]) %></td>
      
      <% if d_tank_compute_report[:decrease].blank? or ((d_tank_compute_report[:decrease]).abs < d_tank_compute_report[:oil_limit].to_i) %>
        <td class="input_no"><%= num_fmt(d_tank_compute_report[:decrease]) %></td> 
      <% else %>
        <td class="input_no" style="background: gold;"><%= num_fmt(d_tank_compute_report[:decrease]) %></td>
      <% end %>	
      
      <td class="input_no"><%= num_fmt(d_tank_compute_report[:sale_total]) %></td> 
      <td class="input_no"><%= num_fmt(d_tank_compute_report[:decrease_total]) %></td> 
      <td class="input_no"><%= num_fmt(d_tank_compute_report[:total_percentage], true) %></td> 
      <td align="center">
      	<% if d_tank_compute_report[:inspect_flg] == 0 %>
      	  <%= check_box :inspect_flg, "#{d_tank_compute_report[:tank_union_no]}", {:checked => false} %>
      	<% elsif d_tank_compute_report[:inspect_flg] == 1 %>  
      	  <%= check_box :inspect_flg, "#{d_tank_compute_report[:tank_union_no]}", {:checked => true} %>
      	<% end %>
      </td>                             
    </tr>	
  <% end %>
</table>