<%= form_tag({:action => 'd_result_meter_create' }, { :remote => true }) do %>

<table id="meter_view_table" class="rounded-corner">
  <thead>	
    <tr>
	  <th style="min-width: 35px;">油種</th>	
  	  <% @m_oils.each do |m_oil| %>
  	    <th colspan="9"><%= m_oil.oil_name %></th>
  	  <% end %>	  		
	</tr>	
    <tr>
      <th>No</th>
  	  <% @m_oils.each do |m_oil| %>
  	    <% @m_codes.each do |m_code| %>
  	      <th style="min-width: 35px;">計量<br/>(ﾀﾝｸ)</th>
  	      <th colspan="2"><%= m_code.code_name %></th>
  	    <% end %> 	
  	  <% end %>    	
    </tr>	
  </thead>
  
  <% meter_old_totals = Hash::new %>
  <% meter_totals = Hash::new %>
  <% tab_index = 0 %><!-- 2012/10/01 tabindex nishimura -->
  <tbody>
  	<% @meters.each_with_index do |meter, idx| %>
  	<tr>
  	  <th><%= idx + 1 %></th>
  	  <% tab_index = idx + 1 %><!-- 2012/10/01 tabindex nishimura -->
  	  <% @m_oils.each do |m_oil| %>
  	    <% @m_codes.each do |m_code| %>
  	      <% if meter["#{m_oil.id}_#{m_code.code}_m_meter_id"].blank? %>  
            <td></td>
            <td style="min-width: 70px;"></td>
            <td style="min-width: 90px;"></td>
  	      <% else %>  	      	
  	        <!-- INSERT BEGIN 2012.11.21 タンク名を表示する -->
  	        <%
  	        	tank_name = ""
  	        	m_meter1 = MMeter.find(meter["#{m_oil.id}_#{m_code.code}_m_meter_id"].to_i)
  	        	if not(m_meter1.nil?)
  	        		m_tank1 = MTank.find(m_meter1.m_tank_id)
  	        		m_tank2 = MTank.find(:all, 
  	        							 :conditions => ["m_shop_id=? and m_oil_id=? and tank_union_no=?", m_tank1.m_shop_id, m_tank1.m_oil_id, m_tank1.tank_union_no],
  	        							 :order => "tank_no")
  	        		
  	        		m_tank2.each do | m_tank2_rec |
  	        			tank_name += "," if tank_name != "" 
  	        			tank_name += "T" + m_tank2_rec.tank_no.to_s
  	        		end
  	        	end
  	        %>
  	        <!-- INSERT END 2012.11.21 タンク名を表示する -->
  	        <% unless @old_meters[idx].blank? %><!-- 2012/10/02  nishimura -->
	  	        <% if @old_meters[idx]["#{m_oil.id}_#{m_code.code}_meter"].to_i > meter["#{m_oil.id}_#{m_code.code}_meter"].to_i %>
	  	        	<td style="color: red;" align="center"><%= meter["#{m_oil.id}_#{m_code.code}_meter_no"] %><br/>(<%=tank_name%>)</td>
	  	        <% else %>
	  	        	<td align="center"><%= meter["#{m_oil.id}_#{m_code.code}_meter_no"] %><br/>(<%=tank_name%>)</td>
	  	        <% end %>
	  	    <% else %>
	  	    	<td align="center"><%= meter["#{m_oil.id}_#{m_code.code}_meter_no"] %><br/>(<%=tank_name%>)</td>
  	        <% end %>
  	        
  	        
  	        <td style="min-width: 70px; text-align: right;">
  	          <%= number_with_delimiter(@old_meters[idx]["#{m_oil.id}_#{m_code.code}_meter"]) unless @old_meters[idx].blank? %>&nbsp;
  	          
  	          <% meter_old_totals["#{m_oil.id}_#{m_code.code}_m_meter_id"] = 
  	          			meter_old_totals["#{m_oil.id}_#{m_code.code}_m_meter_id"].to_i + @old_meters[idx]["#{m_oil.id}_#{m_code.code}_meter"].to_i unless @old_meters[idx].blank? %>
  	          
  	        </td>
  	        <!--td style="min-width: 90px;" align="center"-->
  	        <td style="min-width: 90px;" align="center">
  	          <%#= number_field :meter, meter["#{m_oil.id}_#{m_code.code}_m_meter_id"], :value => meter["#{m_oil.id}_#{m_code.code}_meter"], :maxlength => 9, :readonly => @text, :class=> "meter_input" %>
  	          <!-- 2012/10/01 tabindex nishimura -->
  	          <%#= number_field :meter, meter["#{m_oil.id}_#{m_code.code}_m_meter_id"], :value => meter["#{m_oil.id}_#{m_code.code}_meter"], :maxlength => 9, :readonly => @text, :class=> "money" %>
  	          <%= number_field :meter, meter["#{m_oil.id}_#{m_code.code}_m_meter_id"], :value => meter["#{m_oil.id}_#{m_code.code}_meter"], :maxlength => 9, :readonly => @text, :class=> "money",:tabindex=>tab_index %>
  	          
  	          <% meter_totals["#{m_oil.id}_#{m_code.code}_m_meter_id"] = 
  	          			meter_totals["#{m_oil.id}_#{m_code.code}_m_meter_id"].to_i + meter["#{m_oil.id}_#{m_code.code}_meter"].to_i %>
  	          
  	        </td>
          <% end %>
          <% tab_index = tab_index + @meters.count %><!-- 2012/10/01 tabindex nishimura -->
  	    <% end %>
  	  <% end %>  	  	
  	</tr>
  	<% end %>
  	
  	<tr>
  	  <th>合計</th>
  	  <% @m_oils.each do |m_oil| %>
  	    <% @m_codes.each do |m_code| %>
  	    	<td></td>
  	    	<td id="<%= "#{m_oil.id}_#{m_code.code}_old_total" %>" style="text-align: right;">
  	    		<%= number_with_delimiter(meter_old_totals["#{m_oil.id}_#{m_code.code}_m_meter_id"]) %>
  	    	</td>
  	    	<td id="<%= "#{m_oil.id}_#{m_code.code}_total" %>" style="text-align: right;">
  	    		<%= number_with_delimiter(meter_totals["#{m_oil.id}_#{m_code.code}_m_meter_id"]) %>
  	    	</td>
  	    <% end %>
  	  <% end %>
  	</tr>
  	
  	
  </tbody>	
</table>	
<br/><br/>

  <% if @text == false %>
    <div style="text-align:right; width: 755px;">
      <%= submit_tag '登録', :disable_with => "登録中....." , :confirm => "登録します。よろしいですか？" %>
    </div>
  <% end %>
  
  <%= hidden_field_tag :result_date, @result_date %>
  <%= hidden_field_tag :edit_flg, @edit_flg %>
  <%= hidden_field_tag :m_shop_id, @m_shop_id %>
<% end %>

<%= javascript_include_tag "comma" %>

<script>
$(function () {
	//$('#meter_view_table').tablefix({width: 755, height: 430, fixRows: 2, fixCols: 1});
	$('#meter_view_table').tablefix({width: 755, height: 450, fixRows: 2, fixCols: 1});
});	
</script>


<style type="text/css">
 /*
 input.meter_input { 
 	 width: 80px;
     text-align:right;
                   }　
 */
 #meter_view_table input.money { 
 	 width: 80px;
                   }　                  
</style>


