<table id='rounded-corner'>
	<tr>
	  <th>店舗</th> 
	  <th>実績日</th>
	  <th>作成者</th>
	  <th>確認状況</th>
	  <th>確認者</th>
	  <th>店舗種別</th>
	  <th>入力状況</th>
      <th>ロック/解除<br />
    	<% if @all_kakutei_flg == 0 or @all_kakutei_flg == nil %>
    	  <%=  check_box_tag "all_lock", "0", false  %> 
    	<% else %>
    	  <%=  check_box_tag "all_lock", "1", true  %>
    	<% end %>
      </th>
	  <th>詳細</th> 	  	  	  	  	  	  
	</tr>	
  <% @m_shops.each.each_with_index do |m_shop, i| %>
  	<!-- 2012/12/05 予備メーター入力件数取得-->
  	<% submeter_cnt = "0"%>
  	<% submeter_cnt = m_shop.submeter_cnt%>
	<%# unless m_shop.result_date.blank? %>
    	<%# submeter_cnt = get_submeter_count_results(m_shop.shop_id,m_shop.result_date.delete("/")) %>
	<%# end %>
    <tr>
    	<!-- 2012/12/05 予備メーター入力有無判定-->
	    <% if submeter_cnt == "0" %>
	      <td>
	    <% else %>
	      <td style="color: red; font-weight: bold">
	    <% end %>
      	<%= m_shop.shop_cd %>&nbsp;&nbsp;&nbsp;<%= m_shop.shop_name %></td>
	    <!-- 2012/12/05 予備メーター入力有無判定-->
	    <% if submeter_cnt == "0" %>
	      <td>
	    <% else %>
	      <td style="color: red; font-weight: bold">
	    <% end %>
          <%= m_shop.result_date %></td>
	    <!-- 2012/12/05 予備メーター入力有無判定-->
	    <% if submeter_cnt == "0" %>
	      <td>
	    <% else %>
	      <td style="color: red; font-weight: bold">
	    <% end %>
          <%= m_shop.user_name %></td>
          
        
	    <% if submeter_cnt == "0" %>
	      <td style="text-align: center">
	    <% else %>
	      <td style="text-align: center;color: red; font-weight: bold">
	    <% end %>
          <%= if m_shop.double_check.blank? or m_shop.double_check.to_i == 0 then "未" else "済" end %></td>
        
	    <% if submeter_cnt == "0" %>
	      <td style="text-align: center">
	    <% else %>
	      <td style="text-align: center;color: red; font-weight: bold">
	    <% end %>
          <%= "#{m_shop.double_check_user_name}" %></td>
        
	    <!-- 2012/12/05 予備メーター入力有無判定-->
	    <% if submeter_cnt == "0" %>
	      <td style="text-align: center">
	    <% else %>
	      <td style="color: red; font-weight: bold; text-align: center">
	    <% end %>
	      <%= m_shop.shop_kbn_name %></td>
	    <!-- 2012/12/05 予備メーター入力有無判定-->
	    <% if submeter_cnt == "0" %>
	      <td style="text-align: center">
	    <% else %>
	      <td style="color: red; font-weight: bold; text-align: center">
	    <% end %>
	      <%= m_shop.flg %></td>
	      <td style="text-align: center">
	    	<% unless m_shop.result_date.blank? %>
	    		<% if m_shop.kakutei_flg.to_i == 0 %>
		    		<%=  check_box_tag "data_kakutei_flg_#{i}", "0", false  %>
		    	<% else %>
		    		<%=  check_box_tag "data_kakutei_flg_#{i}", "1", true %>
		    	<% end%>
		    	<%= hidden_field_tag "data_id_#{i}", m_shop.id %>
	    	<% end %>      	
	      </td>	
	      <td>
	    	<% unless m_shop.result_date.blank? %>
	    		<%= link_to image_tag('icon/24_edit.png'), {:controller => "d_results", :action => "new", :d_result_id => m_shop.id} %>
	    	<% end %>      	
	      </td>
    </tr>
  <% end %>	
</table>
