<div id="tabs">
  <ul>
    <li><a href="#first">商品入力</a></li>
    <li><a href="#second">メータ入力</a></li>
    <li><a href="#third">その他入力</a></li>
  </ul>

  <div id="first">	
  <table id='rounded-corner'>
	<tr>
	  <th width="135">出荷数量(L)</th>
	  <th width="95">POS1</th>
	  <th width="95">POS2</th>	
	  <th width="95">POS3</th>
	  <th width="85">POS日計</th>
	  <th width="85">POS累計</th>
	</tr>
  <% @m_oil_totals.each do |m_oil| %>
    <tr>
      <th><%= m_oil.oil_name %></th> 	
      <td class="input_no"><%= num_fmt(m_oil.pos1_data, true) %>&nbsp;L</td>
      <td class="input_no"><%= num_fmt(m_oil.pos2_data, true) %>&nbsp;L</td>
      <td class="input_no"><%= num_fmt(m_oil.pos3_data, true) %>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(m_oil.pos_total, true) %>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@oil_ruikeis[m_oil.id][:oil_ruikei], true) %>&nbsp;L</td>                 
    </tr>
    <% if m_oil.id.to_i == 2 %>
    <tr>
      <th>モーガス合計</th>
      <td class="input_no" id="display"><%= num_fmt(@pos1_gasorin, true) %>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@pos2_gasorin, true) %>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@pos3_gasorin, true) %>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@total_gasorin, true) %>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@ruikei_gasorin, true) %>&nbsp;L</td> 
    </tr>    
    <% end %>
  <% end %>
    <tr>
      <th>MOFUEL計</th>
      <td class="input_no" id="display"><%= num_fmt(@pos1_mofuel, true) %>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@pos2_mofuel, true) %>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@pos3_mofuel, true) %>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@total_mofuel, true) %>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@ruikei_mofuel, true) %>&nbsp;L</td>
    </tr>   
  </table>
  <br/>
  
  <table id='rounded-corner'>
	<tr>
	  <th width="135"></th>
	  <th width="95">POS1</th>
	  <th width="95">POS2</th>	
	  <th width="95">POS3</th>
	  <th width="85">POS日計</th>
	  <th width="85">POS累計</th>	
	  <th width="85">粗利日計</th>
	  <th width="85">粗利累計</th>	  
	</tr>
  <% @oiletcs.each_with_index do |oiletc, idx| %>
    <% flg = tani_check(oiletc.oiletc_tani) 
       boder_style = boder_check(@oiletcs.size, @oiletcs, idx)
       ruikei = view_pos_ruikei(@oiletc_ruikeis[oiletc.id][:oiletc_ruikei], oiletc.pos_total, oiletc.oiletc_tani)
    %>
    <tr>
      <th style="border-bottom:<%= boder_style %>;"><%= oiletc.oiletc_name %></th>
      <td style="border-bottom:<%= boder_style %>;" class="input_no"><%= num_fmt(oiletc.pos1_data, flg) %>&nbsp;<%= oiletc.code_name %></td>
      <td style="border-bottom:<%= boder_style %>;" class="input_no"><%= num_fmt(oiletc.pos2_data, flg) %>&nbsp;<%= oiletc.code_name %></td>
      <td style="border-bottom:<%= boder_style %>;" class="input_no"><%= num_fmt(oiletc.pos3_data, flg) %>&nbsp;<%= oiletc.code_name %></td>       
      <td style="border-bottom:<%= boder_style %>;" class="input_no" id="display"><%= num_fmt(oiletc.pos_total, flg) %>&nbsp;<%= oiletc.code_name %></td> 
      <td style="border-bottom:<%= boder_style %>;" class="input_no" id="display"><%= num_fmt(ruikei, flg) %>&nbsp;<%= oiletc.code_name %></td>
      <td style="border-bottom:<%= boder_style %>;" class="input_no" id="display"><%= num_fmt(oiletc.oiletc_arari) %>&nbsp;円</td>
      <td style="border-bottom:<%= boder_style %>;" class="input_no" id="display"><%= num_fmt(@oiletc_ruikeis[oiletc.id][:arari_ruikei].to_i + oiletc.oiletc_arari.to_i) %>&nbsp;円</td>             
    </tr>
  <% end %>
    <tr>
      <th>粗利合計</th>
      <td colspan="5"></td>
      <td class="input_no" id="display"><%= num_fmt(@arari_nikkei) %>&nbsp;円</td>
      <td class="input_no" id="display"><%= num_fmt(@arari_ruikei) %>&nbsp;円</td>
    </tr>
  </table>
  <br/>
  
  <table id='rounded-corner'>
	<tr>
	  <th width="135">その他売上</th>
	  <th width="95">POS1</th>
	  <th width="95">POS2</th>	
	  <th width="95">POS3</th>
	  <th width="85">POS日計</th>
	  <th width="85">POS累計</th>	
	</tr>
  <% @m_etcs.each do |m_etc| %>
    <% flg = tani_check(m_etc.etc_tani) %>  
    <tr>
      <th><%= m_etc.etc_name %></th> 	
      <td class="input_no"><%= num_fmt(m_etc.pos1_data, flg) %>&nbsp;<%= m_etc.code_name %></td>
      <td class="input_no"><%= num_fmt(m_etc.pos2_data, flg) %>&nbsp;<%= m_etc.code_name %></td>
      <td class="input_no"><%= num_fmt(m_etc.pos3_data, flg) %>&nbsp;<%= m_etc.code_name %></td>  
      <td class="input_no" id="display"><%= num_fmt(m_etc.pos_total, flg) %>&nbsp;<%= m_etc.code_name %></td> 
      <td class="input_no" id="display"><%= num_fmt(@etc_ruikeis[m_etc.id.to_i][:etc_ruikei], flg) %>&nbsp;<%= m_etc.code_name %></td>             
    </tr>      
  <% end %>	
  </table>	
  </div>

  <div id="second">
    <%= link_to 'メーター詳細', {:controller => 'd_results', :action => 'meter_index', :result_date => @result_date, :m_shop_id => @m_shop.id, :edit_flg => @edit_flg}, :id => "meter_icon", :class => "modal" %>
	&nbsp;&nbsp;&nbsp;
    <%= link_to 'タンク詳細', {:controller => 'd_results', :action => 'tank_index', :result_date => @result_date, :m_shop_id => @m_shop.id, :edit_flg => @edit_flg}, :id => "tank_icon", :class => "modal" %>  	
    <%= render 'd_result_meter' %><br/>
    <%= render 'd_tank_compute' %>
  </div>
  
  <div id="third">
  <table width="99%">
    <td valign="top" width="33%">
      <%= render 'd_result_yume' %>
    </td>
    <% if @m_shop.shop_kbn == 1 %> <!-- 油外店のみ表示 -->
      <td valign="top" width="33%">
		<table id='rounded-corner'>
		  <tr>
			<th colspan="4">車検予約カード獲得</th>
		  </tr>
		  <tr>
			<th>月</th>
			<th>日計</th>
			<th>月計</th>
			<th>累計</th>  	  	  
		  </tr>
		  <% unless @syukei_reserves.blank?%>	
		  <% @syukei_reserves.each do |syukei_reserve| %>
		    <tr>
		      <th><%= syukei_reserve[:month] %></th> 	
		      <td class="input_no"><%= syukei_reserve[:nikkei] %></td>	      	
		      <td class="input_no" id="display"><%= syukei_reserve[:gekkei] %></td> 
		      <td class="input_no" id="display"><%= syukei_reserve[:ruikei] %></td>           
		    </tr>
		  <% end %>	
		  <% end %>
		</table>
      </td>  
      <td valign="top" width="33%">
        <table id='rounded-corner'>
	      <tr>
	        <th colspan="3">営業件数報告</th>
	      </tr>
	      <tr>  
	        <th></th>
	        <th>日計</th>	
	        <th>累計</th>
	      </tr>
          <% @m_oil_etcs.each do |m_oil_etc| %>
            <tr>
              <th><%= m_oil_etc.oiletc_name %></th> 	
              <td class="input_no" id="display"><%= m_oil_etc.get_num %></td>
              <td class="input_no" id="display"><%= @ruikei_eigyos[m_oil_etc.id][:ruikei] %></td>              
            </tr>
          <% end %>	
        </table>
      </td>
    <% end %>
  </table>
  </div>
</div>

<%= javascript_include_tag "tabs" %>
