<%= form_tag({:action => 'yume_create' }, { :remote => true }) do %>
  <table id='rounded-corner'>
    <tr>
      <th>件数</th>
      <td><%= number_field :yume, :kensu, :class => "money", :size => 10 %></td>
    </tr>  	
    <tr>
      <th>ポイント</th>
      <td><%= number_field :yume, :point, :class => "money", :size => 10 %></td>
    </tr>    
  	<tr>
  	  <th>金額</th>
      <td><%= number_field :yume, :kingaku, :class => "money", :size => 10 %></td>
    </tr>
    <tr>
      <td colspan="2" align="right"><%= submit_tag '追加', :id => "submit_buttom" %></td>
    </tr>
  </table>    

  <%= hidden_field :yume, :d_result_id, :value => @d_result_id %>
<% end %>

<%= javascript_include_tag "comma" %>