<%#= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->

<h1>実績・計量機メーター入力状況</h1>
<table>
  <td>	
    <table id='rounded-corner'>
      <th>実績日</th>
      <td><%= number_field :select, :date, :value => @today, :readonly => true, :class => "datepicker", :size => 5 %></td>
    </table>	
  </td>
  <td>
    <table id='rounded-corner'>
      <th>店舗種別</th>
      <td>
      <%= select :select, :shop_kbn, 
        MCode.find(:all, :conditions=>["kbn = 'shop_kbn' and code <> '9'"], :order=>"code").collect{|i| [ "#{i.code_name}", i.code ]}, 
        {:include_blank => true, :selected => session[:select_shop_kbn]} %>
      </td>
    </table>
  </td>
</table>  
<hr />

<div id="result"><%= render 'result' %></div>

<script type="text/javascript">
$("#select_date").change(function(){
    var select_date = $("#select_date").val();
    var select_shop_kbn = $("#select_shop_kbn").val();
    
    <% if @flg.to_i == 1%>
      //$.get("index_select?select_date=" + select_date,"select_shop_kbn=" + select_shop_kbn);
    <% else %>
      //$.get("d_results/index_select?select_date=" + select_date,"select_shop_kbn=" + select_shop_kbn);
    <% end %>  
    $.get("<%=url_for(:action=>"index_select")%>?select_date=" + select_date,"select_shop_kbn=" + select_shop_kbn);
});
$("#select_shop_kbn").change(function(){
    var select_date = $("#select_date").val();
    var select_shop_kbn = $("#select_shop_kbn").val();
    
    <% if @flg.to_i == 1%>
      //$.get("index_select?select_date=" + select_date,"select_shop_kbn=" + select_shop_kbn);
    <% else %>
      //$.get("d_results/index_select?select_date=" + select_date,"select_shop_kbn=" + select_shop_kbn);
    <% end %>
    $.get("<%=url_for(:action=>"index_select")%>?select_date=" + select_date,"select_shop_kbn=" + select_shop_kbn);
});

	//ロック／解除が変更された場合のイベント
	$(":checkbox[id^=data_kakutei_flg]")
	    .live('click', function(){
	    		$.post(
	    			//'/d_results/lock/',
	    			'<%=url_for(:action => "lock")%>',
	    			{ kakutei_flg: $(this).attr('checked'), id: $(this).parent().find(":hidden[id^=data_id]").val() },
	    		    "script"
	    		);
	    	});
	    	

    //全てロック／解除が変更された場合のイベント
    $("#all_lock")
	    .live('click', function(){
	    		var msg;
	    		if ($(this).attr('checked') == "checked") {
	    			msg = "すべてロックします。よろしいですか？"
	    		}else{
	    			msg = "すべて解除します。よろしいですか？"
	    		};
	    		
	    		if(confirm(msg)){
	    			$.post(
		    			//'/d_results/all_lock/',
		    			'<%=url_for(:action => "all_lock")%>',
		    			{ kakutei_flg: $(this).attr('checked'), input_day: $("#select_date").val(), input_shop_kbn: $("#select_shop_kbn").val() },
					    function(data, status) {        // 通信成功時にデータを表示
					       $('#result').empty();
			               $('#result').append(data);
			               
			             },
					    "html"                          // 応答データ形式 xml, html, script, json, jsonp, text
		    		);
					//return true;
				}else{
					return false;	
				};
				
	    	});	    	
</script>

<style type="text/css">
 input { 
 	 width: 90px;
                   }　
</style>