<%= form_tag({:action => 'd_result_meter_create' }, { :remote => true }) do %>

<table id="meter_view_table" class="rounded-corner">
  <thead>	
    <tr>
	  <th style="min-width: 35px;">油種</th>	
  	  <% @m_oils.each do |m_oil| %>
  	    <th colspan="9"><%= m_oil.oil_name %></th>
  	  <% end %>	  		
	</tr>	
    <tr>
      <th>No</th>
  	  <% @m_oils.each do |m_oil| %>
  	    <% @m_codes.each do |m_code| %>
  	      <th style="min-width: 35px;">計量</th>
  	      <th colspan="2"><%= m_code.code_name %></th>
  	    <% end %> 	
  	  <% end %>    	
    </tr>	
  </thead>
  
  <tbody>
  	<% @meters.each_with_index do |meter, idx| %>
  	<tr>
  	  <th><%= idx + 1 %></th>
  	  <% @m_oils.each do |m_oil| %>
  	    <% @m_codes.each do |m_code| %>
  	      <% if meter["#{m_oil.id}_#{m_code.code}_m_meter_id"].blank? %>  
            <td></td>
            <td style="min-width: 70px;"></td>
            <td style="min-width: 90px;"></td>
  	      <% else %>  	      	
  	        <td align="center"><%= meter["#{m_oil.id}_#{m_code.code}_meter_no"] %></td>
  	        <td style="min-width: 70px; text-align: right;">
  	          <%= @old_meters[idx]["#{m_oil.id}_#{m_code.code}_meter"] unless @old_meters[idx].blank? %>&nbsp;
  	        </td>
  	        <td style="min-width: 90px;" align="center">
  	          <%= number_field :meter, meter["#{m_oil.id}_#{m_code.code}_m_meter_id"], :value => meter["#{m_oil.id}_#{m_code.code}_meter"], :readonly => @text, :class=> "meter_input" %>
  	        </td>
          <% end %> 	        
  	    <% end %>
  	  <% end %>  	  	
  	</tr>
  	<% end %>
  </tbody>	
</table>	
<br/>


  <%= hidden_field :select, :d_result_id, :value => @d_result.id %>
  <% if @d_result.kakutei_flg == 0 %>
    <div style="text-align:right; width: 755px;"><%= submit_tag '登録' %></div>
  <% end %>
<% end %>

<script>
$(function () {
	$('#meter_view_table').tablefix({width: 755, height: 430, fixRows: 2, fixCols: 1});
});	
</script>


<style type="text/css">
 input.meter_input { 
 	 width: 80px;
     text-align:right;
                   }　
</style>
