<%= form_tag({:action => 'd_result_meter_create' }, { :remote => true }) do %>

<table border="0" cellspacing="0" cellpadding="0" style="width: 800px;">
<!-- HEAD -->
  <tr>
    <td>
      <div style="overflow:hidden;height; 1em;">
	    <table id="rounded-corner4">	
		  <tr>
			<th width="50">油種</th>			
		  </tr>	
		  <tr>
			<th>No</th>			
		  </tr>			
		</table>
	  </div>
	</td>
	<td>
	  <div id="trow2" style="overflow:hidden; width: 750px;">
	    <table id="rounded-corner4" style=" width: 2415px;">
		  <tr>
  	        <% @m_oils.each do |m_oil| %>
  	          <th colspan="9"><%= m_oil.oil_name %></th>
  	        <% end %>
			<th style="width:15px;"></th>
		  </tr>	
		  <tr>
  	        <% @m_oils.each do |m_oil| %>
  	          <% @m_codes.each do |m_code| %>
  	            <th width="30">計量</th>
  	            <th width="160" colspan="2"><%= m_code.code_name %></th>
  	          <% end %> 	
  	        <% end %>
			<th style="width:15px;"></th>
		  </tr>									
		</table>
	  </div>
	</td>
  </tr>
 
<!-- BODY -->
  <tr>
    <td>
      <div id="tcol2" style="overflow: hidden; height: 400px;">
		<table  id="rounded-corner4" style="padding-bottom:15px;">
          <% @meters.each_with_index do |meter, idx| %>
            <tr>
              <th width="50"><%= idx + 1 %></th>
            </tr> 
          <% end %>  
		  <tr style="height:15px;" border="0"></tr>					
		</table>
	  </div>
	</td>
    <td>
      <div onScroll="scrollRC2()" id="tbody2" style="overflow:auto; width: 750px; height: 400px;">
		<table id="rounded-corner4" style="width: 2400px;">
          <% @meters.each_with_index do |meter, idx| %>
            <tr>
  	          <% @m_oils.each do |m_oil| %>
  	            <% @m_codes.each do |m_code| %>
  	              <% if meter["#{m_oil.id}_#{m_code.code}_m_meter_id"].blank? %>  
                    <td width="30"></td>
                    <td width="70"></td>
                    <td width="90"></td>
  	              <% else %>  	      	
  	                <td width="30" align="center"><%= meter["#{m_oil.id}_#{m_code.code}_meter_no"] %></td>
  	                <td width="70" style="text-align: right;"><%= @old_meters[idx]["#{m_oil.id}_#{m_code.code}_meter"] %>&nbsp;</td>
  	                <td width="90" align="center"><%= number_field :meter, meter["#{m_oil.id}_#{m_code.code}_m_meter_id"], :value => meter["#{m_oil.id}_#{m_code.code}_meter"], :class=> "meter_input" %></td>
                  <% end %> 	        
  	            <% end %>
  	          <% end %>
            </tr>
          <% end %>
		  <tr border="0"></tr>													
		</table>
	  </div>
	</td>
  </tr>
</table>	
<br/>


  <%= hidden_field :select, :d_result_id, :value => @d_result.id %>
  <div style="text-align:right; width: 800px;"><%= submit_tag '登録' %></div>
<% end %>


<script type="text/javascript">
  function scrollRC2()
  {
    document.getElementById('trow2').scrollLeft
          = document.getElementById('tbody2').scrollLeft;
    document.getElementById('tcol2').scrollTop
          = document.getElementById('tbody2').scrollTop;
  }
</script>

<style type="text/css">
 input.meter_input { 
 	 width: 80px;
     text-align:right;
                   }　
</style>
