<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->

<h1>実績データ入力</h1>
<table>
  <td>	
    <table id='rounded-corner'>
      <th>対象店舗</th>
      <td id="display"><%= @m_shop.shop_cd %>&nbsp;&nbsp;&nbsp;<%= @m_shop.shop_name %></td>
    </table>	
  </td>
  <td>
    <table id='rounded-corner'>
      <th>入力日</th>
      <td><%= number_field :select, :date, :value => @today, :readonly => true, :class => "datepicker", :size => 5 %></td>
    </table>
  </td>
</table>
<hr />

<div id="result" style="font-size: 13px;">
  <% if @d_result.blank? or @edit_flg.to_i == 1 or @d_result.kakutei_flg == 0 %> 	
	<%= render 'input_d_result' %>
  <% else %>
    <%= render 'show_d_result' %>
  <% end %>	
</div>

<script type="text/javascript">
$("#select_date").change(function(){
    var select_date = $("#select_date").val();

    $.get("<%=url_for({:action => 'select_date', :m_shop_id => @m_shop.id, :edit_flg => @edit_flg}) %>","select_date=" + select_date);
});
</script>


<script>
$(function () {     
   //値がかわったら再計算
   
   //出荷数量
  <% @m_oils.each do |m_oil| %>
    $(":input[id^=oil_pos1_<%= m_oil.id %>]").live('change', function(){ oil_total_calc_<%= m_oil.id %>(); });
    $(":input[id^=oil_pos2_<%= m_oil.id %>]").live('change', function(){ oil_total_calc_<%= m_oil.id %>(); });
    $(":input[id^=oil_pos3_<%= m_oil.id %>]").live('change', function(){ oil_total_calc_<%= m_oil.id %>(); });       
    
    //売上合計を計算
    function oil_total_calc_<%= m_oil.id %>(){
	 	var num1 = Number(format_kanma($("#oil_pos1_<%= m_oil.id %>").val(), 2));
  		var num2 = Number(format_kanma($("#oil_pos2_<%= m_oil.id %>").val(), 2));
  		var num3 = Number(format_kanma($("#oil_pos3_<%= m_oil.id %>").val(), 2));
  		var total;
  		  		
  		if (isNaN(num1)) {num1 = 0};
  		if (isNaN(num2)) {num2 = 0};
  		if (isNaN(num3)) {num3 = 0};
  		
  		total = num1 + num2 + num3;
  		
  		$("#oil_total_<%= m_oil.id %>").text(format_kanma(total.toFixed(2)));
  		$.get("/d_results/oil_total_set?oil_total=" + total.toFixed(2), "oil=" + <%= m_oil.id %>);
    };
    
    
    <% if m_oil.id == 1 or m_oil.id == 2 %>
      <% for i in 1..3 %>
        //モーガスPOS合計
	    $(":input[id^=oil_pos<%= i %>]").live('change', function(){ oil_pos<%= i %>_total(); });
	
	    function oil_pos<%= i %>_total() {
	    	var total;
	    	total = 0
	    	<% for r in 1..2 %>
	    	  var num<%= r %> = Number(format_kanma($("#oil_pos<%= i %>_<%= r %>").val(), 2));
	    	
	    	  if (isNaN(num<%= r %>)) {num<%= r %> = 0};
	    	  total = total + num<%= r %>;
	    	<% end %>
	    	$("#oil_pos<%= i %>_total").text(format_kanma(total.toFixed(2)));
	    	
	    	oil_pos_total();//モーガストータル
	    };
	  <% end %> 
	  
	    //モーガストータル
	    function oil_pos_total() {
	    	var num = new Array(3);
	    	var total=0;
	    	
	    	num[0]=Number(format_kanma($("#oil_pos1_total").text(), 2));
	    	num[1]=Number(format_kanma($("#oil_pos2_total").text(), 2));
	    	num[2]=Number(format_kanma($("#oil_pos3_total").text(), 2));
	    	
			var i=0;
	      	while(i<3){
	        	if (isNaN(num[i])) {num[i] = 0};
	        	i=i+1;
	     	};
	     	
			total = num[0] + num[1] + num[2];
			
			$("#oil_pos_total").text(format_kanma(total.toFixed(2)));  	
	    };
    <% end %> 
  <% end %>       
      
    
  //油外販売
  <% @m_oiletcs.each do |m_oiletc| %>
    $(":input[id^=oiletc_pos1_<%= m_oiletc.id %>]").live('change', function(){ oiletc_total_calc_<%= m_oiletc.id %>(); });
    $(":input[id^=oiletc_pos2_<%= m_oiletc.id %>]").live('change', function(){ oiletc_total_calc_<%= m_oiletc.id %>(); });
    $(":input[id^=oiletc_pos3_<%= m_oiletc.id %>]").live('change', function(){ oiletc_total_calc_<%= m_oiletc.id %>(); });       
    
    //油外販売日計
    function oiletc_total_calc_<%= m_oiletc.id %>(){
	 	var num1 = Number(format_kanma($("#oiletc_pos1_<%= m_oiletc.id %>").val(), 2));
  		var num2 = Number(format_kanma($("#oiletc_pos2_<%= m_oiletc.id %>").val(), 2));
  		var num3 = Number(format_kanma($("#oiletc_pos3_<%= m_oiletc.id %>").val(), 2));
  		//var ruikei = Number(format_kanma($("#w_arari_ruikei_<%#= m_oiletc.id %>").val(), 2));
  		var total;
  		  		
  		if (isNaN(num1)) {num1 = 0};
  		if (isNaN(num2)) {num2 = 0};
  		if (isNaN(num3)) {num3 = 0};
  		
  		//total = num1 + num2 + num3;
  		//arari = Math.floor(total * <%#= m_oiletc.oiletc_arari %>)
  		
  		total = (num1 * 100) + (num2 * 100) + (num3 *100);
  		arari = Math.floor(total * <%= m_oiletc.oiletc_arari %> / 100)
  		total = total / 100
  			
        if ( total == parseInt(total)){
  	      $("#oiletc_total_<%= m_oiletc.id %>").text(format_kanma(total));
        } else if ( total == parseFloat(total)){
          $("#oiletc_total_<%= m_oiletc.id %>").text(format_kanma(total.toFixed(2)));
        }
        
        //ruikei = ruikei + arari
        $("#oiletc_arari_<%= m_oiletc.id %>").text(format_kanma(arari));	 
        //$("#oiletc_arari_ruikei_<%#= m_oiletc.id %>").text(format_kanma(ruikei));
        arari_nikkei_total(); 		 		
    };
  <% end %>     
   
	    //粗利トータル
	    function arari_nikkei_total() {
	    	var num = new Array(<%= @m_oiletcs.size %>);
	    	var ruikei = new Array(<%= @m_oiletcs.size %>);
	    	var total=0;
	    	var ruikei_total = 0
	    	
	    	<% @m_oiletcs.each_with_index do |m_oiletc, idx| %>
	    	  num[<%= idx %>]=Number(format_kanma($("#oiletc_arari_<%= m_oiletc.id %>").text(), 2));
	    	  ruikei[<%= idx %>]=Number(format_kanma($("#oiletc_arari_ruikei_<%= m_oiletc.id %>").text(), 2));
	    	<% end %>
	    	
			var i=0;
	      	while(i<<%= @m_oiletcs.size %>){
	        	if (isNaN(num[i])) {num[i] = 0};
	        	if (isNaN(ruikei[i])) {ruikei[i] = 0};
	        	i=i+1;
	     	};
	     	   	
	     	<% @m_oiletcs.each_with_index do |m_oiletc, idx| %>
	     	  total = total + num[<%= idx %>];
	     	  ruikei_total = ruikei_total + ruikei[<%= idx %>];
	     	<% end %>
			
			$("#arari_nikkei_total").text(format_kanma(total)); 
			$("#arari_ruikei_total").text(format_kanma(ruikei_total));  	
	    };
	    
  //その他売上
  <% @etcs.each do |etc| %>
    <% for no in 1..etc.max_num %>
    $(":input[id^=m_etc_pos1_<%= etc.id %>_no<%= no %>]").live('change', function(){ etc_total_calc_<%= etc.id %>_no<%= no %>(); });
    $(":input[id^=m_etc_pos2_<%= etc.id %>_no<%= no %>]").live('change', function(){ etc_total_calc_<%= etc.id %>_no<%= no %>(); });
    $(":input[id^=m_etc_pos3_<%= etc.id %>_no<%= no %>]").live('change', function(){ etc_total_calc_<%= etc.id %>_no<%= no %>(); });       
    
    //その他商品日計
    function etc_total_calc_<%= etc.id %>_no<%= no %>(){
	 	var num1 = Number(format_kanma($("#m_etc_pos1_<%= etc.id %>_no<%= no %>").val(), 2));
  		var num2 = Number(format_kanma($("#m_etc_pos2_<%= etc.id %>_no<%= no %>").val(), 2));
  		var num3 = Number(format_kanma($("#m_etc_pos3_<%= etc.id %>_no<%= no %>").val(), 2));
  		var total;
  		  		
  		if (isNaN(num1)) {num1 = 0};
  		if (isNaN(num2)) {num2 = 0};
  		if (isNaN(num3)) {num3 = 0};
  		
  		total = num1 + num2 + num3;
  		
  		$("#m_etc_total_<%= etc.id %>_no<%= no %>").text(format_kanma(total));
    };
    <% end %>   
  <% end %>    
});
</script>

<style type="text/css">
 input { 
 	 width: 75px;
                   } 
body, p, ol, ul, td, input, select, textarea{
 	font-size: 13px;
 }                                    　
</style>   