<%= form_tag({:action => 'd_result_tank_create' }, { :remote => true }) do %>
  <table id='rounded-corner' width="400">
    <tr>
  	  <th width="16%">タンク</th>
  	  <th width="15%">容量</th>
  	  <th width="21%">油種</th>
  	  <th width="24%">仕入</th>
  	  <th width="24%">在庫</th>  	  	  	  	
    </tr>
  </table>
  <div style="height:440px;width:425px;overflow-y:auto;overflow-x:hidden;">
  <table id='rounded-corner2'style="margin-top:-1px; width:400px;">
  <% @m_tanks.each do |m_tank| %>
    <tr>
      <td width="16%">タンク<%= m_tank.tank_no %></td>
      <td width="15%"><%= m_tank.volume %>KL</td>
      <td width="21%"><%= m_tank.oil_name %></td>
      <td width="24%"><%= number_field :receive, m_tank.m_tank_id, :value => m_tank.receive, :readonly => @text, :class => "tank_input" %></td>
      <td width="24%"><%= number_field :stock, m_tank.m_tank_id, :value => m_tank.stock, :readonly => @text, :class => "tank_input" %></td>                  
    </tr>
  <% end %>
  </table>
  </div>
  
  <%= hidden_field :select, :d_result_id, :value => @d_result.id %>
  <% if @d_result.kakutei_flg == 0 %>
    <div style="text-align:right; width: 400px;"><%= submit_tag '登録' %></div>
  <% end %>
<% end %>

<style type="text/css">
 input.tank_input { 
 	 width: 75px;
     text-align:right;
                   }　
</style>
