<%= form_tag({:action => 'd_result_tank_create' }, { :remote => true }) do %>
  <table id="tank_view_table" class="rounded-corner" width="775px"> <!-- UPDATE 2012.11.22 横幅調整 435 → 775px -->
  	<thead>
      <tr>
  	    <th style="max-width: 65px;">タンク</th>
  	    <th style="max-width: 60px;">容量</th>
  	    <th style="max-width: 150px;">油種</th>
  	    <th style="max-width: 80px;">仕入</th>
  	    <th style="max-width: 80px;">在庫</th>
  	    <!-- INSERT BEGIN 2012.11.22 調整額追加 -->
  	    <th style="max-width: 80px;">メーター異常</th>
  	    <th style="max-width: 80px;">地下タンク戻し</th>
  	    <th style="width: 155px;">コメント</th>
  	    <!-- INSERT END   2012.11.22 調整額追加 -->
      </tr>
    </thead>

	<% tab_index = 0 %><!-- 2012/10/09 tabindex nishimura -->
    <tbody>
      <% @m_tanks.each do |m_tank| %>
      	<% tab_index = tab_index + 1 %><!-- 2012/10/01 tabindex nishimura -->
        <tr>
          <td>タンク<%= m_tank.tank_no %></td>
          <td><%= m_tank.volume %>KL</td>
          <td><%= m_tank.oil_name %></td>
          <td><%#= number_field :receive, m_tank.m_tank_id, :value => m_tank.receive, :maxlength => 9, :readonly => @text, :class => "money" %>
          	<%= number_field :receive, m_tank.m_tank_id, :value => m_tank.receive, :maxlength => 9, :readonly => @text, :class => "money",:tabindex=>tab_index %>
          </td>
          <td><%#= number_field :stock, m_tank.m_tank_id, :value => m_tank.stock, :maxlength => 9, :readonly => @text, :class => "money" %>
          	<%= number_field :stock, m_tank.m_tank_id, :value => m_tank.stock, :maxlength => 9, :readonly => @text, :class => "money",:tabindex=>tab_index + @m_tanks.count %>
          </td>
          <!-- INSERT BEGIN 2012.11.22 調整額追加 -->
          <td>
          	<%= number_field :adjust1, m_tank.m_tank_id, :value => m_tank.adjust1, :maxlength => 9, :readonly => @text, :class => "money", :tabindex=>tab_index + @m_tanks.count * 2 %>
          </td>
          <td>
          	<%= number_field :adjust2, m_tank.m_tank_id, :value => m_tank.adjust2, :maxlength => 9, :readonly => @text, :class => "money", :tabindex=>tab_index + @m_tanks.count * 3 %>
          </td>
          <td>
          	<%= text_field :comment, m_tank.m_tank_id, :value => m_tank.comment, :maxlength => 20, :readonly => @text, :style => "ime-mode:active; width:150px;", :tabindex=>tab_index + @m_tanks.count * 4 %>
          </td>
          <!-- INSERT END   2012.11.22 調整額追加 -->
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>

  <% if @text == false %>
    <div style="text-align:right; width: 435px;">
      <%= submit_tag '登録', {:confirm => "登録します。よろしいですか？"} %>
    </div>
  <% end %>
  
  <%= hidden_field_tag :result_date, @result_date %>
  <%= hidden_field_tag :edit_flg, @edit_flg %>
  <%= hidden_field_tag :m_shop_id, @m_shop_id %>
<% end %>

<%= javascript_include_tag "comma" %>

<style type="text/css">
 input.tank_input { 
 	 width: 75px;
     text-align:right;
                   }　
</style>

<script>
$(function () {
	$('#tank_view_table').tablefix({width: 775, height: 420, fixRows: 1}); // UPDATE 2012.11.22 横幅調整 435 → 775px
});	
</script>