<%= form_tag({:action => 'd_result_tank_create' }, { :remote => true }) do %>
  <table id="tank_view_table" class="rounded-corner" width="435">
  	<thead>
      <tr>
  	    <th style="max-width: 65px;">タンク</th>
  	    <th style="max-width: 60px;">容量</th>
  	    <th style="max-width: 150px;">油種</th>
  	    <th style="max-width: 80px;">仕入</th>
  	    <th style="max-width: 80px;">在庫</th>  	  	  	  	
      </tr>
    </thead>

    <tbody>
      <% @m_tanks.each do |m_tank| %>
        <tr>
          <td>タンク<%= m_tank.tank_no %></td>
          <td><%= m_tank.volume %>KL</td>
          <td><%= m_tank.oil_name %></td>
          <td><%= number_field :receive, m_tank.m_tank_id, :value => m_tank.receive, :maxlength => 9, :readonly => @text, :class => "money" %></td>
          <td><%= number_field :stock, m_tank.m_tank_id, :value => m_tank.stock, :maxlength => 9, :readonly => @text, :class => "money" %></td>                  
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>

  <% if @text == false %>
    <div style="text-align:right; width: 435px;">
      <%= submit_tag '登録', {:confirm => "登録します。よろしいですか？"} %>
    </div>
  <% end %>
  
  <%= hidden_field_tag :result_date, @result_date %>
  <%= hidden_field_tag :edit_flg, @edit_flg %>
  <%= hidden_field_tag :m_shop_id, @m_shop_id %>
<% end %>

<%= javascript_include_tag "comma" %>

<style type="text/css">
 input.tank_input { 
 	 width: 75px;
     text-align:right;
                   }　
</style>

<script>
$(function () {
	$('#tank_view_table').tablefix({width: 435, height: 420, fixRows: 1});
});	
</script>