<%= form_tag({:action => 'd_result_tank_create' }, { :remote => true }) do %>
  <table id="tank_view_table" class="rounded-corner" width="420">
  	<thead>
      <tr>
  	    <th style="max-width: 50px;">タンク</th>
  	    <th style="max-width: 60px;">容量</th>
  	    <th style="max-width: 150px;">油種</th>
  	    <th style="max-width: 80px;">仕入</th>
  	    <th style="max-width: 80px;">在庫</th>  	  	  	  	
      </tr>
    </thead>

    <tbody>
      <% @m_tanks.each do |m_tank| %>
        <tr>
          <td>タンク<%= m_tank.tank_no %></td>
          <td><%= m_tank.volume %>KL</td>
          <td><%= m_tank.oil_name %></td>
          <td><%= number_field :receive, m_tank.m_tank_id, :value => m_tank.receive, :readonly => @text, :class => "money" %></td>
          <td><%= number_field :stock, m_tank.m_tank_id, :value => m_tank.stock, :readonly => @text, :class => "money" %></td>                  
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  
  <%= hidden_field :select, :d_result_id, :value => @d_result.id %>
  <% if @d_result.kakutei_flg == 0 %>
    <div style="text-align:right; width: 420px;"><%= submit_tag '登録' %></div>
  <% end %>
<% end %>

<%= javascript_include_tag "comma" %>

<style type="text/css">
 input.tank_input { 
 	 width: 75px;
     text-align:right;
                   }　
</style>

<script>
$(function () {
	$('#tank_view_table').tablefix({width: 420, height: 420, fixRows: 1});
});	
</script>