<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->

<%= form_tag({:action => 'd_result_create' }, { :remote => true }) do %>
 <div id="tabs">
  <ul>
     <li><a href="#first">商品入力</a></li>
     <li><a href="#second">メータ入力</a></li>
     <li><a href="#third">その他入力</a></li>
  </ul>
  
  <div id="first">
  <table id='rounded-corner'>
	<tr>
	  <th width="160">出荷数量(L)</th>
	  <th width="115">POS1</th>
	  <th width="115">POS2</th>	
	  <th width="115">POS3</th>
	  <th width="100">POS日計</th>
	  <th width="100">POS累計</th>	
	</tr>
  <% @m_oil_totals.each do |m_oil| %>
    <tr>
      <th><%= m_oil.oil_name %></th> 	
      <td><%= number_field :oil_pos1, "#{m_oil.id}", :value => m_oil.pos1_data, :class => "money", :size => 4 %>&nbsp;L</td>
      <td><%= number_field :oil_pos2, "#{m_oil.id}", :value => m_oil.pos2_data, :class => "money", :size => 4 %>&nbsp;L</td>
      <td><%= number_field :oil_pos3, "#{m_oil.id}", :value => m_oil.pos3_data, :class => "money", :size => 4 %>&nbsp;L</td>  
      <td class="input_no" id="display"><label id="oil_total_<%= m_oil.id %>"><%= num_fmt(session[:m_oil_totals][m_oil.id][:total], true) %></label>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@oil_ruikeis[m_oil.id][:oil_ruikei], true) %>&nbsp;L</td>             
    </tr>  
  <% end %>   
    <tr>
      <th>モーガス合計</th>
      <td class="input_no" id="display"><label id="oil_pos1_total"><%= num_fmt(@pos1_gasorin, true) %></label>&nbsp;L</td>
      <td class="input_no" id="display"><label id="oil_pos2_total"><%= num_fmt(@pos2_gasorin, true) %></label>&nbsp;L</td>
      <td class="input_no" id="display"><label id="oil_pos3_total"><%= num_fmt(@pos3_gasorin, true) %></label>&nbsp;L</td>
      <td class="input_no" id="display"><label id="oil_pos_total"><%= num_fmt(@total_gasorin, true) %></label>&nbsp;L</td>
      <td class="input_no" id="display"><%= num_fmt(@ruikei_gasorin, true) %>&nbsp;L</td> 
    </tr>   
  </table>
  <br/>
  
  <% if @m_shop.shop_kbn == 1 %> <!-- 油外店のみ表示 -->
  <table id='rounded-corner'>
	<tr>
	  <th width="160">油外販売</th>
	  <th width="115">POS1</th>
	  <th width="115">POS2</th>	
	  <th width="115">POS3</th>
	  <th width="100">POS日計</th>	
	</tr>
  <% @oiletc0s.each do |oiletc0| %>
    <tr>
      <th><%= oiletc0.oiletc_name %></th> 	   
      <td><%= number_field :etc0_pos1, "#{oiletc0.id}", :value => oiletc0.pos1_data, :class => "money", :size => 4 %>&nbsp;<%= oiletc0.code_name %></td>
      <td><%= number_field :etc0_pos2, "#{oiletc0.id}", :value => oiletc0.pos2_data, :class => "money", :size => 4 %>&nbsp;<%= oiletc0.code_name %></td>
      <td><%= number_field :etc0_pos3, "#{oiletc0.id}", :value => oiletc0.pos3_data, :class => "money", :size => 4 %>&nbsp;<%= oiletc0.code_name %></td>
      <% if oiletc0.oiletc_tani == 6 %>  
        <td class="input_no" id="display"><label id="etc0_total_<%= oiletc0.id %>"><%= num_fmt(oiletc0.pos_total, true) %></label>&nbsp;<%= oiletc0.code_name %></td>              
      <% else %>  
        <td class="input_no" id="display"><label id="etc0_total_<%= oiletc0.id %>"><%= num_fmt(oiletc0.pos_total) %></label>&nbsp;<%= oiletc0.code_name %></td>         
      <% end %> 
    </tr>
  <% end %>	
    <tr>
      <th>粗利合計</th>
      <td class="input_no" id="display"><label id="etc0_pos1_total"><%= num_fmt(@etc0_pos1_total) %></label>&nbsp;円</td>
      <td class="input_no" id="display"><label id="etc0_pos2_total"><%= num_fmt(@etc0_pos2_total) %></label>&nbsp;円</td>
      <td class="input_no" id="display"><label id="etc0_pos3_total"><%= num_fmt(@etc0_pos3_total) %></label>&nbsp;円</td>
      <td class="input_no" id="display"><label id="etc0_pos_total"><%= num_fmt(@etc0_pos_total) %></label>&nbsp;円</td>
    </tr>  
  </table>
  <br/>
  <% end %>
  
  <table id='rounded-corner'>
	<tr>
	  <th width="160">その他商品</th>
	  <th width="115">POS1</th>
	  <th width="115">POS2</th>	
	  <th width="115">POS3</th>
	  <th width="100">POS日計</th>	
	</tr>
  <% @oiletc1s.each do |oiletc1| %>
    <tr>
      <th><%= oiletc1.oiletc_name %></th>
      <td><%= number_field :etc1_pos1, "#{oiletc1.id}", :value => oiletc1.pos1_data, :class => "money", :size => 4 %>&nbsp;<%= oiletc1.code_name %></td>
      <td><%= number_field :etc1_pos2, "#{oiletc1.id}", :value => oiletc1.pos2_data, :class => "money", :size => 4 %>&nbsp;<%= oiletc1.code_name %></td>
      <td><%= number_field :etc1_pos3, "#{oiletc1.id}", :value => oiletc1.pos3_data, :class => "money", :size => 4 %>&nbsp;<%= oiletc1.code_name %></td>       
      <% if oiletc1.oiletc_tani == 6 %> 
        <td class="input_no" id="display"><label id="etc1_total_<%= oiletc1.id %>"><%= num_fmt(oiletc1.pos_total, true) %></label>&nbsp;<%= oiletc1.code_name %></td>              
      <% else %> 
        <td class="input_no" id="display"><label id="etc1_total_<%= oiletc1.id %>"><%= num_fmt(oiletc1.pos_total) %></label>&nbsp;<%= oiletc1.code_name %></td>          
      <% end %>
    </tr>
  <% end %>	
  </table>
  <br/>
  
  <table id='rounded-corner'>
	<tr>
	  <th width="160">その他売上</th>
	  <th width="115">POS1</th>
	  <th width="115">POS2</th>	
	  <th width="115">POS3</th>
	  <th width="100">POS日計</th>	
	</tr>
  <% @m_etcs.each do |m_etc| %>
    <% if m_etc.d_result_etc_id.blank? %>
      <% for i in 1..m_etc.max_num %>
      <tr>
        <th><%= m_etc.etc_name %></th>
        <td><%= number_field :m_etc_pos1, "#{m_etc.id}_no#{i}", :value => m_etc.pos1_data, :class => "money", :size => 4 %>&nbsp;<%= m_etc.code_name %></td>
        <td><%= number_field :m_etc_pos2, "#{m_etc.id}_no#{i}", :value => m_etc.pos2_data, :class => "money", :size => 4 %>&nbsp;<%= m_etc.code_name %></td>
        <td><%= number_field :m_etc_pos3, "#{m_etc.id}_no#{i}", :value => m_etc.pos3_data, :class => "money", :size => 4 %>&nbsp;<%= m_etc.code_name %></td>         
        <% if m_etc.etc_tani == 6 %> 	 
          <td class="input_no" id="display"><label id="m_etc_total_<%= m_etc.id %>_no<%= i %>"><%= num_fmt(m_etc.pos_total, true) %></label>&nbsp;<%= m_etc.code_name %></td>              
        <% else %> 
          <td class="input_no" id="display"><label id="m_etc_total_<%= m_etc.id %>_no<%= i %>"><%= num_fmt(m_etc.pos_total) %></label>&nbsp;<%= m_etc.code_name %></td>           
        <% end %>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <th><%= m_etc.etc_name %></th> 
        <td><%= number_field :m_etc_pos1, "#{m_etc.id}_no#{m_etc.no}", :value => m_etc.pos1_data, :class => "money", :size => 4 %>&nbsp;<%= m_etc.code_name %></td>
        <td><%= number_field :m_etc_pos2, "#{m_etc.id}_no#{m_etc.no}", :value => m_etc.pos2_data, :class => "money", :size => 4 %>&nbsp;<%= m_etc.code_name %></td>
        <td><%= number_field :m_etc_pos3, "#{m_etc.id}_no#{m_etc.no}", :value => m_etc.pos3_data, :class => "money", :size => 4 %>&nbsp;<%= m_etc.code_name %></td>        
        <% if m_etc.etc_tani == 6 %>	  
          <td class="input_no" id="display"><label id="m_etc_total_<%= m_etc.id %>_no<%= m_etc.no %>"><%= num_fmt(m_etc.pos_total, true) %></label>&nbsp;<%= m_etc.code_name %></td>             
        <% else %> 
          <td class="input_no" id="display"><label id="m_etc_total_<%= m_etc.id %>_no<%= m_etc.no %>"><%= num_fmt(m_etc.pos_total) %></label>&nbsp;<%= m_etc.code_name %></td>          
        <% end %>
      </tr>      
    <% end %>
  <% end %>	
  </table>	
  </div>
  
  <div id="second">
    <%= link_to 'メーター入力', {:controller => 'd_results', :action => 'meter_index', :result_date => @result_date, :m_shop_id => @m_shop.id, :edit_flg => @edit_flg}, :id => "meter_icon", :class => "modal" %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to 'タンク入力', {:controller => 'd_results', :action => 'tank_index', :result_date => @result_date, :m_shop_id => @m_shop.id, :edit_flg => @edit_flg}, :id => "tank_icon", :class => "modal" %>
    <div id="d_result_meter"><%= render 'd_result_meter' %></div><br/>
    <div id="d_tank_compute"><%= render 'd_tank_compute' %></div><br/>
  </div>
  
  <div id="third">
  <table width="99%">  
    <td valign="top" width="33%">
      <%= link_to '入力', {:controller => 'd_results', :action => 'yume_index', :result_date => @result_date, :m_shop_id => @m_shop.id}, :id => "add_icon", :class => "modal" %>
      <div id="d_result_yume"><%= render 'd_result_yume' %></div>
    </td>
    <% if @m_shop.shop_kbn == 1 %> <!-- 油外店のみ表示 -->
      <td valign="top" width="33%">
      	<!-- <div id="d_result_reserve"><%#= render 'd_result_reserve' %></div> -->
		<table id='rounded-corner'>
		  <tr>
			<th colspan="4">車検予約カード獲得</th>
		  </tr>
		  <tr>
			<th>月</th>
			<th>日計</th>
			<th>月計</th>
			<th>累計</th>  	  	  
		  </tr>
		  <% unless @syukei_reserves.blank?%>	
		  <% @syukei_reserves.each do |syukei_reserve| %>
		    <tr>
		      <th><%= syukei_reserve[:month] %></th> 	
		      <td class="input_no"><%#= syukei_reserve[:nikkei] %>
		      	<%= number_field :reserve_num, "#{syukei_reserve[:month]}", :value => syukei_reserve[:nikkei], :class => "money", :size => 4 %>
		      </td>	      	
		      <td class="input_no" id="display"><%= syukei_reserve[:gekkei] %></td> 
		      <td class="input_no" id="display"><%= syukei_reserve[:ruikei] %></td>           
		    </tr>
		  <% end %>	
		  <% end %>
		</table>
      </td>
      <td valign="top" width="33%">
        <table id='rounded-corner'>
	      <tr>
	        <th colspan="3">営業件数報告</th>
	      </tr>
	      <tr>  
	        <th></th>
	        <th>日計</th>
	        <th>累計</th>
	      </tr>
          <% @m_oil_etcs.each do |m_oil_etc| %>
            <tr>
              <th><%= m_oil_etc.oiletc_name %></th> 	
              <td><%= number_field :get_num, "#{m_oil_etc.id}", :value => m_oil_etc.get_num, :class => "money", :size => 4 %></td>            
              <td class="input_no" id="display"><%= @ruikei_eigyos[m_oil_etc.id][:ruikei] %></td> 
            </tr>
          <% end %>	
        </table>
      </td>
    <% end %>
  </table>  
  </div>
	  
 </div>
  <br/>  
      
  <%= hidden_field :select, :result_date, :value => @result_date %>
  <%= hidden_field :select, :m_shop_id, :value => @m_shop.id %>
  <div style="text-align:right; width: 800px;">
  	<%= submit_tag '登録', {:confirm => "登録します。よろしいですか？"} %>
  </div>
<% end %>

<%= javascript_include_tag "comma" %>

<% if @edit_flg.to_i == 1 %>
  <%= link_to "戻る", {:controller => "d_results", :action => "index", :result_date => @result_date}, 
      :confirm => "一覧表に戻ります。よろしいですか？", :method => :get, :class => 'return_icon' %>
<% end %>

<%= javascript_include_tag "tabs" %>
