<%= javascript_include_tag "comma" %>

<script>
//整数数字に強制変換する(変換不可の場合は0)
function toNum(str) {
	var num = new String( str ).replace( /,/g, "" );
	if (isNaN(num)) {
		return 0;
	} else {
		num = Number(num);
		return Math.floor(num);	
	}
}	
</script>

<!-- INSERT 2012.10.16 コメントのみの更新をするフラグ -->
<%= hidden_field :comment, :on, :value => params[:comment] %>
<% 
if @d_audit_changemachine[0].nil? then
	tmp_id = 0
else
	tmp_id = @d_audit_changemachine[0][:id].to_s
end
%>
<%= hidden_field :key, :id, :value => tmp_id %>


<%= form_for(@d_audit_changemachine, :url => {:action => "update"} ) do |f| %>

<%= f.hidden_field :audit_date %>

<%= f.hidden_field :comment %>

<table class='rounded-corner' >

	<tr>
		<th>釣銭機合計<br/>指定額</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;">
			<%=number_with_delimiter(@m_fix_money.total_change_money) unless @m_fix_money.nil?%>
		</td>
		<td colspan="5" style="border: none;">&nbsp;</td>
		<td align="center">
			<%= link_to("コメント入力", {:action => "edit_comment"}, :class => 'modal') %>	
		</td> 
	</tr>

	<tr>
		<th>釣銭機<br/>POS1</th><!-- UPDATE 2012.10.16 POS1→釣銭機POS1 -->
		<th>監査前有高</th>
		<th>監査後有高</th>
		<th>釣銭機<br/>POS2</th><!-- UPDATE 2012.10.16 POS2→釣銭機POS2 -->
		<th>監査前有高</th>
		<th>監査後有高</th>
		<th>釣銭機<br/>POS3</th><!-- UPDATE 2012.10.16 POS3→釣銭機POS3 -->
		<th>監査前有高</th>
		<th>監査後有高</th>
	</tr>  	
	
	<% for i in 1..7 %>
	<tr>
		<th>
			<%= f.label f.object["pos1machineno#{ i }"].to_s %>
			<%= f.hidden_field "pos1machineno#{ i }" %>
		</th>
		<td><%=f.text_field 'pos1_before_money' + i.to_s , :size=>10, :maxlength => 11, :class=>"money", :style=>"width:90px;" %></td>
		<td><%=f.text_field 'pos1_after_money' + i.to_s  , :size=>10, :maxlength => 11, :class=>"money", :style=>"width:90px;" %></td>
		<th>
			<%= f.label f.object["pos2machineno#{ i }"].to_s %>
			<%= f.hidden_field "pos2machineno#{ i }" %>
		</th>
		<td><%=f.text_field 'pos2_before_money' + i.to_s , :size=>10, :maxlength => 11, :class=>"money", :style=>"width:90px;"  %></td>
		<td><%=f.text_field 'pos2_after_money' + i.to_s  , :size=>10, :maxlength => 11, :class=>"money", :style=>"width:90px;"  %></td>
		<th>
			<%= f.label f.object["pos3machineno#{ i }"].to_s %>
			<%= f.hidden_field "pos3machineno#{ i }" %>
		</th>
		<td><%=f.text_field 'pos3_before_money' + i.to_s , :size=>10, :maxlength => 11, :class=>"money", :style=>"width:90px;"  %></td>
		<td><%=f.text_field 'pos3_after_money' + i.to_s  , :size=>10, :maxlength => 11, :class=>"money", :style=>"width:90px;"  %></td>
	</tr>
	<% end %> <!-- for i in 1..7 -->

	<tr id="tr_gokei">
		<th              >合計</th>
		<td align="right" style="background-color: #A5D7AA;"><span id="pos1_before_money_sum"></span></td>
		<td align="right" style="background-color: #A5D7AA;"><span id="pos1_after_money_sum"></span></td>
		<th              >合計</th>
		<td align="right" style="background-color: #A5D7AA;"><span id="pos2_before_money_sum"></span></td>
		<td align="right" style="background-color: #A5D7AA;"><span id="pos2_after_money_sum"></span></td>
		<th              >合計</th>
		<td align="right" style="background-color: #A5D7AA;"><span id="pos3_before_money_sum"></span></td>
		<td align="right" style="background-color: #A5D7AA;"><span id="pos3_after_money_sum"></span></td>
	</tr>
	
	<!-- INSERT 2012.10.16 合計欄のみ上下部分太字に変更 -->
	<script>
		$(function() {
			$("#tr_gokei").find("th,td").css({
				 "border-top-width"    : "3px"
				,"border-bottom-width" : "3px"
			});
		});
	</script>
	
	<tr>
		<th>補充金額</th>
		<td colspan="2" align="right">
			<%=f.text_field 'pos1_supplement_money', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>			
		</td>
		<th>補充金額</th>
		<td colspan="2" align="right">
			<%=f.text_field 'pos2_supplement_money', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>	
		</td>
		<th>補充金額</th>
		<td colspan="2" align="right">
			<%=f.text_field 'pos3_supplement_money', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>	
		</td>
	</tr>
		
	<tr>
		<th>回収金額</th>
		<td colspan="2" align="right">
			<%=f.text_field 'pos1_collectt_money', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>			
		</td>
		<th>回収金額</th>
		<td colspan="2" align="right">
			<%=f.text_field 'pos2_collectt_money', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>	
		</td>
		<th>回収金額</th>
		<td colspan="2" align="right">
			<%=f.text_field 'pos3_collectt_money', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>	
		</td>
	</tr>
	
	<tr>
		<th>計算上有高</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;">
			<span id="pos1_keisan_aridaka"></span>			
		</td>
		<th>計算上有高</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;">
			<span id="pos2_keisan_aridaka"></span>	
		</td>
		<th>計算上有高</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;">
			<span id="pos3_keisan_aridaka"></span>
		</td>
	</tr>
	
	<tr>
		<th>過不足額</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;">
			<span id="pos1_kabusoku_gak"></span>			
		</td>
		<th>過不足額</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;">
			<span id="pos2_kabusoku_gak"></span>	
		</td>
		<th>過不足額</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;">
			<span id="pos3_kabusoku_gak"></span>
		</td>
	</tr>
		
	<!-- INSERT 2012.10.16 空行を追加 -->
	<tr>
		<td colspan="9" style="margin:0px; padding:0px; height:20px;"> <!-- UPDATE 2012.10.17 空白の高さを増やす-->
		</th>
	</tr>
		
	<tr>
		<th>全POS合計<br/>計算上有高</th><!-- UPDATE 2012.10.16 計算上→計算上有高-->
		<td colspan="2" align="right" style="background-color: #A5D7AA;">
			<span id="pos_all_keisan_aridaka"></span>			
		</td>
		<th>全POS合計<br/>実有高</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;">
			<span id="pos_all_jitu_aridaka"></span>	
		</td>
		<th>全POS合計<br/>過不足額</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;">
			<span id="pos_all_kabusoku"></span>
		</td>
	</tr>	
	
<!-- 本監査のみ BEGIN -->
<%if session[:audit_class] == "1" then%>

	<tr>
		<td colspan="9" style="border: none">&nbsp;</td>
	</tr>
	
	<tr>
		<td colspan="5" valign="bottom" style="border: none; padding-bottom: 0px">[前日釣銭繰越額]</td>
		<td colspan="4" valign="bottom" style="border: none; padding-bottom: 0px">[監査時金庫内有高]</td>
	</tr>
	
	<tr>
		<th colspan="2">金庫額</th>
		<td colspan="2" align="right">
			<%=f.text_field 'before_cashbox', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
		<td style="border: none">&nbsp;</td>
		<th colspan="2">金庫額(a)</th>
		<td colspan="2" align="right">
			<%=f.text_field 'cashbox_money', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
	</tr>
	
	<tr>
		<th colspan="2">釣銭機額</th>
		<td colspan="2" align="right">
			<%=f.text_field 'before_changemachine', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
		<td style="border: none">&nbsp;</td>
		<td colspan="4" valign="bottom" style="border: none; padding-bottom: 0px">[監査時釣銭機内有高]</td>
	</tr>

	<tr>
		<th colspan="2">合計(A)</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;"><span id="sum_left_a"></span></td>
		<td style="border: none">&nbsp;</td>
		<th colspan="2">POS1</th>
		<td colspan="2" align="right">
			<%=f.text_field 'changemachine_pos1', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
	</tr>
	
	<tr>
		<td colspan="5" valign="bottom" style="border: none; padding-bottom: 0px" >[釣銭持込額]</td>
		<th colspan="2">POS2</th>
		<td colspan="2" align="right">
			<%=f.text_field 'changemachine_pos2', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
	</tr>
	
	<tr>
		<th colspan="2">ASS(B)</th>
		<td colspan="2" align="right">
			<%=f.text_field 'ass', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
		<td style="border:none">&nbsp;</td>
		<th colspan="2">POS3</th>
		<td colspan="2" align="right">
			<%=f.text_field 'changemachine_pos3', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
	</tr>
	
	<tr>
		<td colspan="5" valign="bottom" style="border: none; padding-bottom: 0px" >[監査時売上額]</td>
		<th colspan="2">翌日出し(ASS遅用)</th>
		<td colspan="2" align="right">
			<%=f.text_field 'changemachine_after', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
	</tr>
	
	<tr>
		<th colspan="2">POS1</th>
		<td colspan="2" align="right">
			<%=f.text_field 'sale_pos1', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
		<td style="border:none">&nbsp;</td>
		<th colspan="2">合計(b)</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;"><span id="sum_right_b"></span></td>
	</tr>
	
	<tr>
		<th colspan="2">POS2</th>
		<td colspan="2" align="right">
			<%=f.text_field 'sale_pos2', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
		<td style="border: none"></td>
		<td colspan="4" valign="bottom" style="border: none; padding-bottom: 0px" >[入金額]</td>
	</tr>
	
	<tr>
		<th colspan="2">POS3</th>
		<td colspan="2" align="right">
			<%=f.text_field 'sale_pos3', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
		<td style="border:none">&nbsp;</td>
		<th colspan="2">売上入金額(c)</th>
		<td colspan="2" align="right">
			<%=f.text_field 'receive_money', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
	</tr>
		
	<tr>
		<th colspan="2">WAIWAIMAX</th>
		<td colspan="2" align="right">
			<%=f.text_field 'sale_waiwai', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
		<td colspan="5" style="border:none">&nbsp;</td>
	</tr>
	
	<tr>
		<th colspan="2">入金額(雑収入)</th>
		<td colspan="2" align="right">
			<%=f.text_field 'sale_receive', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
		<td colspan="5" style="border:none">&nbsp;</td>
	</tr>
		
	<tr>
		<th colspan="2">出金額</th>
		<td colspan="2" align="right">
			<%=f.text_field 'sale_pay', :maxlength => 11, :class=>"money", :style=>"width:120px;" %>
		</td>
		<td style="border: none">&nbsp;</td>
		<th colspan="2">実有高(a+b+c)</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;"><span id="sum_right_abc"></span></td>
	</tr>
		
	<tr>
		<th colspan="2">合計(C)</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;"><span id="sum_left_c"></span></td>
		<td colspan="5" style="border: none">&nbsp;</td>
	</tr>
	
	<tr>
		<td colspan="9" style="border: none">&nbsp;</td>
	</tr>
	
	<tr>
		<th colspan="2">計算有高(A+B+C)</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;"><span id="sum_left_abc"></span></td>
		<td style="border: none">&nbsp;</td>
		<th colspan="2">監査過不足額</th>
		<td colspan="2" align="right" style="background-color: #A5D7AA;"><span id="sum_kabusoku"></span></td>
	</tr>

<%end%> <!--  if session[:audit_class] = "1" then -->
<!-- 本監査のみ END -->

	<tr>
		<td colspan="9" style="border: none">
			&nbsp;
		</td>
	</tr>

	<tr>
		<td colspan="6" style="border:none">

		<table class='rounded-corner' >
		<tr>
			<th rowspan="2">立会人</th>
			<td>
				<%=render :partial => 'confirm_shop_id', :locals => {:c_shop_id => f.object[:confirm_shop_id], 
					                                                 :c_user_id => f.object[:confirm_user_id]} %>
			</td>
		</tr>
		<tr>
			<td>
				<div id="confirm_user_id_div">
					<%=render :partial => 'confirm_user_id', :locals => {:c_shop_id => f.object[:confirm_shop_id], 
					                                                     :c_user_id => f.object[:confirm_user_id]} %>
				</div>
			</td>
		</tr>
		</table>

		</td>
		<td colspan="3" style="border:none" align="right">

<%
	url = "./edit?header[m_shop_id]=#{@m_shop_id}&header[created_user_id]=#{@created_user_id}&header[audit_date]=#{@audit_date}"			
%>
			<input type="button" value="キャンセル" 
				onclick="if (confirm('入力をキャンセルします。よろしいですか？')) {
								this.value='キャンセル中です...';
								this.disabled=true;document.location='<%=url%>';
						}" />
			&nbsp;&nbsp;
			<!-- 使用不可で開始、立会人入力により使用可 -->
			<%= submit_tag '　登　録　', :onclick => "return update_chk()" ,:disable_with => '登録中です...', :disabled => true , :id => "btn_update"%>			
			<!-- true の場合は永続的に更新不可 -->
			<%= hidden_field_tag "update_flg", ((params[:readonly].to_s == "true") or (f.object["kakutei_flg"].to_s == "1")) %>
		</td>
	</tr>
	
</table>


<script>

	$(function() {
		
		//上段部分のテキストボックスを定義
		var input1 = [
			"input:text[id*=pos1_before_money]",
			"input:text[id*=pos1_after_money]",
			"input:text[id*=pos2_before_money]",
			"input:text[id*=pos2_after_money]",
			"input:text[id*=pos3_before_money]",
			"input:text[id*=pos3_after_money]",
			"input:text[id$=_supplement_money]",
			"input:text[id$=_collectt_money]"
		];
		
		//下段部分のテキストボックスを定義
		var input2 = [
			"input:text[id$=before_cashbox]",
			"input:text[id$=before_changemachine]",
			"input:text[id$=ass]",
			"input:text[id*=sale_pos]",
			"input:text[id$=sale_waiwai]",
			"input:text[id$=sale_receive]",
			"input:text[id$=sale_pay]",
			"input:text[id$=cashbox_money]",
			"input:text[id$=changemachine_pos1]",
			"input:text[id$=changemachine_pos2]",
			"input:text[id$=changemachine_pos3]",
			"input:text[id$=changemachine_after]",
			"input:text[id$=receive_money]"
		];
		
		//上段金額入力欄更新後イベント
		$(input1.join(",")).blur(function() {

			//合計欄計算表示
			upd_sum1();
		});

		//下段金額入力欄更新後イベント
		$(input2.join(",")).blur(function() {

			//合計欄計算表示
			upd_sum2();
		});
		
		//上段読込時に合計欄更新
		upd_sum1();
		
		//下段読込時に合計欄更新
		if ($(input2.join(",")).length > 0) {
			upd_sum2();
		}
		
	});
	
	//上段合計欄計算ロジック
	function upd_sum1() {
		
		for (var pos = 1; pos < 4; pos++) {

			// POS1～3 監査前有高　
			var sum_value = 0;
			$("input:text[id*=pos{POS}_before_money]".replace("{POS}", pos)).each(function(i, obj){
				sum_value += toNum(obj.value);
			});
			$("#pos{POS}_before_money_sum".replace("{POS}", pos)).html(format_kanma(sum_value));		

			// POS1～3 監査後有高
			var sum_value = 0;
			$("input:text[id*=pos{POS}_after_money]".replace("{POS}", pos)).each(function(i, obj){
				sum_value += toNum(obj.value);
			});
			$("#pos{POS}_after_money_sum".replace("{POS}", pos)).html(format_kanma(sum_value));			
	
			// POS1～3 計算上有高
			var sum_value = 0;
			sum_value += toNum($("#pos{POS}_before_money_sum".replace("{POS}", pos)).html());
			sum_value += toNum($("input:text[id$=pos{POS}_supplement_money]".replace("{POS}", pos)).val())
			sum_value -= toNum($("input:text[id$=pos{POS}_collectt_money]".replace("{POS}", pos)).val())		
			$("#pos{POS}_keisan_aridaka".replace("{POS}", pos)).html(format_kanma(sum_value));
		
			// POS1～3 過不足額
			var sum_value = 0;
			sum_value += toNum($("#pos{POS}_after_money_sum".replace("{POS}", pos)).html());
			sum_value -= toNum($("#pos{POS}_keisan_aridaka".replace("{POS}", pos)).html());
			$("#pos{POS}_kabusoku_gak".replace("{POS}", pos)).html(format_kanma(sum_value));

		}		
	
		// 全POS合計 計算上有高
		var sum_value = 0;
		for (var pos = 1; pos < 4; pos++) {
			sum_value += toNum($("#pos{POS}_keisan_aridaka".replace("{POS}", pos)).html());
		}
		$("#pos_all_keisan_aridaka").html(format_kanma(sum_value));
		
		// 全POS合計 実有高
		var sum_value = 0;
		for (var pos = 1; pos < 4; pos++) {
			sum_value += toNum($("#pos{POS}_after_money_sum".replace("{POS}", pos)).html());
		}
		$("#pos_all_jitu_aridaka").html(format_kanma(sum_value));
		
		// 全POS合計過不足額
		var sum_value = 0;
		for (var pos = 1; pos < 4; pos++) {
			sum_value += toNum($("#pos{POS}_kabusoku_gak".replace("{POS}", pos)).html());
		}
		$("#pos_all_kabusoku").html(format_kanma(sum_value));
	
		return true;
	}
		
	//下段合計欄計算ロジック
	function upd_sum2() {
		 
		// 合計(A)
		var sum_value = 0;
		sum_value += toNum($("input:text[id$=before_cashbox]").val());
		sum_value += toNum($("input:text[id$=before_changemachine]").val());
		$("#sum_left_a").html(format_kanma(sum_value));
		
		// 合計(C)
		var sum_value = 0;
		sum_value += toNum($("input:text[id$=sale_pos1]").val());
		sum_value += toNum($("input:text[id$=sale_pos2]").val());
		sum_value += toNum($("input:text[id$=sale_pos3]").val());
		sum_value += toNum($("input:text[id$=sale_waiwai]").val());
		sum_value += toNum($("input:text[id$=sale_receive]").val());
		sum_value -= toNum($("input:text[id$=sale_pay]").val());		
		$("#sum_left_c").html(format_kanma(sum_value));
		
		// 合計(A+B+C)
		var sum_value = 0;
		sum_value += toNum($("#sum_left_a").html());
		sum_value += toNum($("input:text[id$=ass]").val());
		sum_value += toNum($("#sum_left_c").html());
		$("#sum_left_abc").html(format_kanma(sum_value));
		
		// 合計(b)
		var sum_value = 0;
		sum_value += toNum($("input:text[id$=changemachine_pos1]").val());
		sum_value += toNum($("input:text[id$=changemachine_pos2]").val());
		sum_value += toNum($("input:text[id$=changemachine_pos3]").val());
		sum_value += toNum($("input:text[id$=changemachine_after]").val());
		$("#sum_right_b").html(format_kanma(sum_value));
		
		// 合計(a+b+c)
		var sum_value = 0;
		sum_value += toNum($("input:text[id$=cashbox_money]").val());
		sum_value += toNum($("#sum_right_b").html());
		sum_value += toNum($("input:text[id$=receive_money]").val());
		$("#sum_right_abc").html(format_kanma(sum_value));
		
		// 監査過不足額
		var sum_value = 0;
		sum_value += toNum($("#sum_right_abc").html());
		sum_value -= toNum($("#sum_left_abc").html());
		$("#sum_kabusoku").html(format_kanma(sum_value));
		
		return true;
	}
	
</script>


<br/>

<!-- 参照ダイアログ -->
<div id="dialog_div" style="display: none;" >
	&nbsp;
</div>

<script language="JavaScript">

  	// 更新前チェック
  	function update_chk() {
  		var sel_shop = $("#confirm_shop_id")[0];
  		var sel_user = $("#confirm_user_id")[0];
  		
  		if (sel_shop.value == '') {
  			alert('立会人を選択してください。');
  			sel_shop.focus();
  			return false;
  		}
  		
  		if (sel_user.value == '') {
  			alert('立会人を選択してください。');
  			sel_user.focus();
  			return false;
  		}
  		
  		return confirm('登録しても良いですか？');	
  		
  	}
  	
</script>

<% end %> <!-- form_for(@d_audit_changemachine) do |f| %> -->
