<%if session[:audit_class] == "0" then %>
	<h1>釣銭機自主監査報告</h1>
<%else%>
	<h1>釣銭機本監査報告</h1>
<%end%>

<!-- 検索条件入力領域 BEGIN -->
<%= form_tag({:action => 'hyouji_index' }, { :remote => true }) do %>
<table style="border: 1px solid #7D808A; padding: 5px;">
<tr>
<td>
	
  <table class='rounded-corner' >
  	<tr>
  		<th>対象店舗</th>
  		<td style="background-color: #A5D7AA;">
  			<%=@m_shops.shop_cd%>&nbsp<%=@m_shops.shop_name%>
  		</td>
  	</tr>
  	<tr>
  		<th>監査人</th>
  		<td style="background-color: #A5D7AA;">
  			<%=current_user.account%>&nbsp;<%=current_user.user_name%>
  		</td>
  	</tr>
  </table>
  
</td>

<td>
  <table class='rounded-corner' >
  	<tr>
  		<th>監査日</th>
  		<td>
  			<%
  				if params[:kansa].nil? then
  					ymd = Time.now.strftime('%Y/%m/%d')
  				else
  					ymd = params[:kansa][:ymd]
  					ymd = ymd[0..3] + "/" + ymd[4..5] + "/" + ymd[6..7]	
  				end
  			%>
  			<%=text_field :kansa, :ymd, :size => 11, :maxlength => 10, :value => ymd %>
  		</td>
  	</tr>	
  </table>
</td>

</tr>
<tr>
	<td colspan="2" align="right" style="margin-right: 5px;">
		<%= submit_tag '　表　示　', :onclick => "return kansa_ymd_chk()", :disable_with => "処理中です..." %>
	</td>
</tr>
</table>
<% end %> 

<script language="JavaScript">
  $(function() {
  	// 監査日のカレンダー機能
    $("#kansa_ymd").datepicker();
  
  })
  
  // 表示ボタン時の入力チェック
  function kansa_ymd_chk() {
  	var kansa_ymd = $("#kansa_ymd")[0];
  	
  	if (!ckDate(kansa_ymd.value)) {
  		alert('監査日を正しく入力してください。');
  		kansa_ymd.focus();
  		return false;  		
  	}
  	
  	return true;

  }
  
/****************************************************************
* 機　能： 入力された値が日付でYYYY/MM/DD形式になっているか調べる
* 引　数： datestr　入力された値
* 戻り値： 正：true　不正：false
****************************************************************/
function ckDate(datestr) {
    // 正規表現による書式チェック
    if(!datestr.match(/^\d{4}\/\d{2}\/\d{2}$/)){
        return false;
    }
    var vYear = datestr.substr(0, 4) - 0;
    var vMonth = datestr.substr(5, 2) - 1; // Javascriptは、0-11で表現
    var vDay = datestr.substr(8, 2) - 0;
    // 月,日の妥当性チェック
    if(vMonth >= 0 && vMonth <= 11 && vDay >= 1 && vDay <= 31){
        var vDt = new Date(vYear, vMonth, vDay);
        if(isNaN(vDt)){
            return false;
        }else if(vDt.getFullYear() == vYear && vDt.getMonth() == vMonth && vDt.getDate() == vDay){
            return true;
        }else{
            return false;
        }
    }else{
        return false;
    }
}
</script>

<!-- 検索条件入力領域 END -->
<br/>
<div id='result'>
<% if not(params[:kansa].nil?) then %>
	<%=render :partial => 'hyouji_index'%>
<% end %>
</div>