	     <tr id="row<%= i + 1 %>">
	  	  <td rowspan="2" align="center"><%= i + 1 %></td>
		  <td ><%= text_field_tag("buy_shop_#{i+1}", "" ,
		  		    :size => 20,:maxlength=>40, :style=>"ime-mode:active") %></td>
		  <td ><%= text_field_tag("buy_item_#{i+1}", "" ,
		  		    :size => 30,:maxlength=>80, :style=>"ime-mode:active") %></td>  
		  <td class="input-num"><%= text_field_tag("buy_num_#{i+1}", "" ,
		  		    :class => "money") %></td>  
		  <td class="input-num"><%= text_field_tag("buy_price_#{i+1}", "" ,
		  		    :style => "text-align:right",:class => "money") %></td>  
		  <td></td><!-- 金額--> 
		  <td ><%= text_field_tag("now_num_#{i+1}", "" ,
		  		    :style => "text-align:right",:class => "money") %></td>
		  <td ><%#= text_field_tag("buy_day_#{i+1}", "" , :style => "text-align:right",:size => 2) %></td>
	    </tr>
	    <tr>
		  <td colspan="5"><%= text_field_tag("buy_object_#{i+1}", "" ,
		  		    :size => 110,:maxlength=>110, :style=>"ime-mode:active") %></td>
		  <td></td><!-- 承認-->
		  <td></td><!-- コメント -->
		  <%= hidden_field_tag "fixture_id_#{i+1}",nil %>
	    </tr>
	    <%= javascript_include_tag "comma" %>