	     <tr>
	  	  <td rowspan="2"><%= i + 1 %></td>
		  <td ><%= text_field_tag("buy_shop_#{i+1}", "" ,
		  		    :size => 10) %></td>
		  <td ><%= text_field_tag("buy_item_#{i+1}", "" ,
		  		    :size => 20) %></td>  
		  <td class="input-num"><%= text_field_tag("buy_num_#{i+1}", "" ,
		  		    :size => 2) %></td>  
		  <td class="input-num"><%= text_field_tag("buy_price_#{i+1}", "" ,
		  		    :style => "text-align:right",:size => 2) %></td>  
		  <td colspan="2"></td><!-- 金額--> 
	    </tr>
	    <tr>
		  <td colspan="2"><%= text_field_tag("buy_object_#{i+1}", "" ,
		  		    :size => 35) %></td>
		  <td ><%= text_field_tag("now_num_#{i+1}", "" ,
		  		    :style => "text-align:right",:size => 2) %></td>
		  <td ><%#= text_field_tag("buy_day_#{i+1}", "" , :style => "text-align:right",:size => 2) %></td>
		  <td></td><!-- 承認-->
		  <td></td><!-- コメント -->
		  <%= hidden_field_tag "fixture_id_#{i+1}",nil %>
	    </tr>