<%#= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->
<% i = 0 %>
<%= form_tag({:action => 'update'}) do %>
<table id="rounded-corner">
	<tr>
		<th rowspan="2" style="min-width: 17px">No</th>
		<th  style="min-width: 150px">購入先</th>
		<th  style="min-width: 220px">購入品名</th>
		<th  style="min-width: 70px">個数</th>
		<th  style="min-width: 70px">単価</th>
		<th  style="min-width: 90px">金額</th>
		<th  style="min-width: 70px">現在庫</th>
		<th  style="min-width: 80px">購入日</th>
	</tr>

	<tr>
		<th colspan="5">購入目的</th>
		<th>承認</th>
		<th>コメント</th>
	</tr>

    <% @fixtures.each do |fixture| %>
	    <%= render partial: 'inputed_data',:locals => {:fixture => fixture,:i => i} %>
        <% i = i + 1 %>
	<% end %><!-- each -->
	
	
	<% (10 - i).times do |j| %>
	  <%# if j == 0 then j = j + i end %>
	      <% j = j + i %>
	      <%= render partial: 'empty_data', :locals => {:i => j}%>
	<% end %><!-- times-->
		   <%= hidden_field_tag "input_ymd",@input_ymd %>
</table>
<%= submit_tag(" 登  録 ",:disable_with => "登録中...",:confirm => '登録しても良いですか？',
 :style=>"float:right;margin-right:30px;margin-top:5px") %>	 
<% end %><!-- form -->
<br/>
<script>
$(function () {

    //保存の時
    $("form").submit(function() {
    	
         	//必須入力チェック
         	//購入先、購入品名、個数、単価は必須入力
         	var buy_shop;
         	var buy_item;
         	var buy_num;
         	var buy_price;
         	
         	var errmsg = "";
         	
         	$("[id^=row]").each(function(i){
         		buy_shop = $(this).find(":input[id*=buy_shop]").val();
         		buy_item = $(this).find(":input[id*=buy_item]").val();
         		buy_num = $(this).find(":input[id*=buy_num]").val();
         		buy_price = $(this).find(":input[id*=buy_price]").val();
         		

         		if (buy_shop != "" || buy_item != "" || buy_num != "" || buy_price != "") {
         			if (buy_shop == "" || buy_item == "" || buy_num == "" || buy_price == "") {
         			if (errmsg != "") { errmsg = errmsg + ", " };
         			errmsg = errmsg + (i+1) + "行目"
         			};
         		};
         	});
     		if (errmsg != "") {
     			alert("購入先、購入品名、個数、単価は必須入力です。正しく入力してください。\n（" + errmsg + "）");
     			return false;
     	    };         	
    });


});	
</script>