<%#= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->
<% i = 0 %>
<%= form_tag({:action => 'update'}) do %>
<table id="rounded-corner">
	<tr>
		<th rowspan="2" style="min-width: 17px">No</th>
		<th  style="min-width: 150px">購入先</th>
		<th  style="min-width: 220px">購入品名</th>
		<th  style="min-width: 70px">個数</th>
		<th  style="min-width: 70px">単価</th>
		<th  style="min-width: 90px">金額</th>
		<th  style="min-width: 70px">現在庫</th>
		<th  style="min-width: 80px">購入日</th>
	</tr>

	<tr>
		<th colspan="5">購入目的</th>
		<th>承認</th>
		<th>コメント</th>
	</tr>

    <% @fixtures.each do |fixture| %>
	    <%= render partial: 'inputed_data',:locals => {:fixture => fixture,:i => i} %>
        <% i = i + 1 %>
	<% end %><!-- each -->
	
	
	<% (10 - i).times do |j| %>
	  <%# if j == 0 then j = j + i end %>
	      <% j = j + i %>
	      <%= render partial: 'empty_data', :locals => {:i => j}%>
	<% end %><!-- times-->
		   <%= hidden_field_tag "input_ymd",@input_ymd %>
</table>
<%= submit_tag(" 登  録 ",:disable_with => "登録中...",:confirm => '登録しても良いですか？',
 :style=>"float:right;margin-right:30px;margin-top:5px") %>	 
<% end %><!-- form -->
<br/>
<script>
$(function () {

    //保存の時
    $("form").submit(function() {
    	
         	//必須入力チェック
         	//購入先、購入品名、個数、単価は必須入力
         	var buy_shop;
         	var buy_item;
         	var buy_num;
         	var buy_price;
         	
         	var errmsg = "";
         	
         	$("[id^=row]").each(function(i){
         		buy_shop = $(this).find(":input[id*=buy_shop]").val();
         		buy_item = $(this).find(":input[id*=buy_item]").val();
         		buy_num = $(this).find(":input[id*=buy_num]").val();
         		buy_price = $(this).find(":input[id*=buy_price]").val();
         		

         		if (buy_shop != "" || buy_item != "" || buy_num != "" || buy_price != "") {
         			if (buy_shop == "" || buy_item == "" || buy_num == "" || buy_price == "") {
         			if (errmsg != "") { errmsg = errmsg + ", " };
         			errmsg = errmsg + (i+1) + "行目"
         			};
         		};
         	});
     		if (errmsg != "") {
     			alert("購入先、購入品名、個数、単価は必須入力です。正しく入力してください。\n（" + errmsg + "）");
     			return false;
     	    };
     	    
     	    // 購入日の日付が正しいかを確認する
         	$("[id^=row]").each(function(i){
         		buy_day = $(this).find(":input[id*=buy_day_]");
         		if (buy_day.length > 0 && !ckDate(buy_day.val())) {
         			alert((i+1) + "行目の購入日を正しく入力してください");
         			return false;
         		}
     	 	});
    });


});	


/****************************************************************
* 機　能： 入力された値が日付でYYYY/MM/DD形式になっているか調べる
* 引　数： datestr　入力された値
* 戻り値： 正：true　不正：false
****************************************************************/
function ckDate(datestr) {
    // 正規表現による書式チェック
    if(!datestr.match(/^\d{4}\/\d{2}\/\d{2}$/)){
        return false;
    }
    var vYear = datestr.substr(0, 4) - 0;
    var vMonth = datestr.substr(5, 2) - 1; // Javascriptは、0-11で表現
    var vDay = datestr.substr(8, 2) - 0;
    // 月,日の妥当性チェック
    if(vMonth >= 0 && vMonth <= 11 && vDay >= 1 && vDay <= 31){
        var vDt = new Date(vYear, vMonth, vDay);
        if(isNaN(vDt)){
            return false;
        }else if(vDt.getFullYear() == vYear && vDt.getMonth() == vMonth && vDt.getDate() == vDay){
            return true;
        }else{
            return false;
        }
    }else{
        return false;
    }
}
</script>