	     <tr>
	  	  <td rowspan="2"><%= i + 1 %></td>
	  	  <% if fixture.approve_flg == 1 or fixture.approve_flg == 2%>
          <!-- 承認者更新後 -->
	  	  <td><%= fixture.buy_shop %></td>
	  	  <td><%= fixture.buy_item %></td>
	  	  <td align="right"><%= fixture.buy_num %></td>
	  	  <td align="right"><%= fixture.buy_price %></td>
	  	  <td colspan="2" align="right"><%= fixture.buy_num * fixture.buy_price %></td>
	  	  <% else %>
	  	  <!-- 申請時入力 -->
		  <td ><%= text_field_tag("buy_shop_#{i+1}", fixture.buy_shop ,
		  		    :size => 20) %></td>
		  <td ><%= text_field_tag("buy_item_#{i+1}", fixture.buy_item ,
		  		    :size => 30) %></td>  
		  <td class="input-num"><%= text_field_tag("buy_num_#{i+1}", fixture.buy_num ,
		  		    :class => "money") %></td>  
		  <td class="input-num"><%= text_field_tag("buy_price_#{i+1}", fixture.buy_price ,
		  		    :class => "money") %></td>  
		  <td colspan="2"  class="no-input-num"><%= fixture.buy_num * fixture.buy_price %></td><!-- 金額--> 
		  <% end %>
	    </tr>
	    <tr>
	      <% if fixture.approve_flg == 1 or fixture.approve_flg == 2%>
	      <!-- 承認者更新後 -->
	  	  <td colspan="2"><%= fixture.buy_object %></td>
	  	  <td align="right"><%= fixture.now_num %></td>
	      <% else %>
	      <!-- 申請時入力 -->
		  <td colspan="2"><%= text_field_tag("buy_object_#{i+1}", fixture.buy_object ,
		  		    :size => 55) %></td>
		  <td ><%= text_field_tag("now_num_#{i+1}", fixture.now_num ,
		  		    :class => "money") %></td>
		  <% end %>
		  <td >
		  	<% if fixture.approve_flg == 1 %>
		  	<% unless fixture.buy_day == nil or fixture.buy_day == "" %>
		  	<%= text_field_tag("buy_day_#{i+1}",(fixture.buy_day[0,4] + '/' + fixture.buy_day[4,2] + '/' + fixture.buy_day[6,2]), :size => 10 ,:class => 'datepicker')  %>
            <% else %>
		  	<%= text_field_tag("buy_day_#{i+1}","", :size => 10 ,:class => 'datepicker')  %>
		  	<% end %>
		  	<% end %>
      	  </td>
		  <td><%= if fixture.approve_flg == 1 then "承認" elsif fixture.approve_flg == 2 then "却下" else "未承認" end %></td><!-- 承認-->
		  <td>
		  	<% unless fixture.comment == "" or fixture.comment == nil %>
		  	  <%= link_to 'コメント',{:action => 'show_comment',:id => fixture.id},:class => 'modal' %>
		  	<% end %>
		  </td><!-- コメント -->
		  <%= hidden_field_tag "fixture_id_#{i+1}",fixture.id %>
	    </tr>
	    

 <!-- カレンダー表示↓ -->
  <script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
  </script>
  <%= javascript_include_tag "comma" %>