<% bank_money_data = nil %>

<%= form_tag({:action => 'print'}) do %>
<%= hidden_field_tag 'from_ymd',@from_ymd %>
<%= hidden_field_tag 'to_ymd'  ,@to_ymd %>
<%= hidden_field_tag 'shop_kbn',@shop_kbn %>
<%= hidden_field_tag 'start_ymd',@start_ymd %>
<%= hidden_field_tag 'end_ymd'  ,@end_ymd %>

<% @num = Date.parse(@to_ymd) - Date.parse(@from_ymd) %>

<table id="report_view_table" class="rounded-corner">
  <thead>
	<tr>
		<th style="min-width: 100px;">店舗</th>
        <% start_ymd = (@from_ymd[0,4].to_s + '/' + @from_ymd[4,2] + '/' + @from_ymd[6,2]).to_time %>
        <% start_day = start_ymd.end_of_month.day %>
		<% for i in 0..@num.to_i %>
			<th style="min-width: 60px;"><%= (Date.parse(@from_ymd) + i).strftime("%m/%d") %></th>
		<% end %>
		<th style="min-width: 60px;">合計</th>
	</tr>
  </thead>

<tbody>

	<% @shops.each do |shop|%>
	  <% sum_money_data = 0 %>
	<tr>
		<th style="text-align: left;"><%= shop.shop_cd %>&nbsp;<%= shop.shop_ryaku %></th>
		<% result_date = @from_ymd %>
        <%# start_day.times do |i| %>
        <% for i in 0..@num.to_i %>
  		  <td style="text-align: right">
  		       <% result_date = (Date.parse(@from_ymd) + i).strftime("%Y%m%d") %>
    		   <% bank_money_data = get_bank_money(result_date,shop.id) %>
    		   <%# result_date = (result_date.to_i + 1).to_s %>
    		   <%= num_fmt(bank_money_data) unless bank_money_data == nil %>
    		   <% sum_money_data = sum_money_data + bank_money_data.to_i unless bank_money_data == nil%>
  		   </td>
		<% end %>
		<td style="text-align: right"><%= num_fmt(sum_money_data) %></td>
	</tr>
	<% end %><!-- shop.each -->
	
</tbody>  	

</table>
<%= submit_tag  '  印  刷  ',format: 'pdf' %>
<% end %>


<script>
	$(function () {
		$('#report_view_table').tablefix({width:900,height: 600,fixRows:1, fixCols: 1});
	});
</script>
