<%= form_for(@establish) do |f| %>
  <% if @establish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@establish.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @establish.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label "会社名" %></th>
  	  <td><%= f.text_field :name %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label "郵便番号" %></th>
  	  <td><%= f.text_field :zip_cd, :style=>"ime-mode:disabled" ,:maxlength=>8 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label "住所" %></th>
  	  <td><%= f.text_area :address, :size=>"50x2" %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label "システム名" %></th>
  	  <td><%= f.text_field :system_name %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label "消費税率" %></th>
  	  <td><%= f.number_field :tax_rate, :style=>"ime-mode:disabled" ,:maxlength=>6 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label "軽油税" %></th>
  	  <td><%= f.number_field :light_oil, :style=>"ime-mode:disabled" ,:maxlength=>6 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label "制限範囲" %></th>
  	  <td><%= f.number_field :limit, :style=>"ime-mode:disabled" ,:maxlength=>3 %></td>  	  
  	</tr>
  </table>  	
  	
  <div class="actions">
    <%= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div>
<% end %>
