<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h1>Nchak へようこそ</h1>
<p><%= link_to 'ログイン', [ :new, :user_session ]  %></p>
<p><%= link_to 'ユーザー登録', [ :new, :user_registration ]  %></p>
<p><%= link_to 'パスワード再発行', [ :new, :user_password ]  %></p>
<p><%#= link_to '登録確認メール再送信', [ :new, :user_confirmation ]  %></p>


    <%= link_to "Sign up", new_user_registration_path %> or  
    <%= link_to "Sign in", new_user_session_path %>
    
<%= form_tag({:controller => 'animals',:action => 'age'}) do %>
<%= select("form","age", (1..100),{:include_blank=>false},{:onChange=>"changeage(this.value)"})%>
<%= submit_tag '表示する',:name=>'tag1' %>
<% end %>

<%= form_tag({:controller => 'animals',:action => 'index'}) do %>
<%= hidden_field_tag('age',1,{:name=>'hiddenage'}) %>
<%= submit_tag '次へ進む' %>
<% end %>

<script type="text/javascript">
<!--
document.write("javascriptによるbutton_toのurlの直接書き換え試験")
function changeage(value)
{
alert(value);
document.forms[1].hiddenage.value = value;
}
//-->
</script>