<% old_group_name = '' %>
<table id="rounded-corner">
	<tr>
		<th>所属会社</th>
		<th>店舗</th>
		<th>店舗種別</th>
		<th>最終入力日</th>
		<th>詳細</th>
	</tr>
	<% @results.each do |result|%>
	<tr>
		<td><%= result.group_name unless old_group_name == result.group_name %>
			<% old_group_name = result.group_name %>
		</td>
		<td><%= result.shop_cd%>&nbsp;&nbsp;<%= result.shop_name %></td>
		<td style="text-align: center">
			<%= if result.shop_kbn.to_i == 0 then '直営' else '油外' end %></td>
		<td style="text-align: center">
			<%= result.result_date[0,4] + '年' + result.result_date[4,2] + '月' + result.result_date[6,2] + '日' unless result.result_date == nil or result.result_date == ''%>
		</td>
		<td style="text-align: center">
			<%= link_to image_tag('icon/24_show.png'),{:controller => 'd_tank_compute_report_details',:action => 'index',:result_date => result.result_date,:shop_id => result.m_shop_id,:shop_kbn => @shop_kbn,:mode => 'manager' } unless result.result_date == nil or result.result_date == '' %>
		</td>
	</tr>
	<% end %>
</table>
<% %>
