<%= form_for(@d_comment) do |f| %>
  <% if @d_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@d_comment.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @d_comment.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table id='rounded-corner'>
  <tr>
    <th><%= f.label '入力日' %></th>
    <td>
      <%= f.number_field :send_day, :readonly => true, :class => "datepicker", :size => 5 %>
    </td>
  </tr>
  <tr>
    <th><%= f.label 'タイトル' %></th>
    <td>
      <%= f.text_field :title %>
    </td>
  </tr>
  <tr>
    <th><%= f.label '内容' %></th>
    <td><%= f.text_area :contents, :rows => 2 %></td>
  </tr>
  <tr>
    <th><%= f.label '表示先' %></th>
    <td>
      <table id="hyouji" style="margin: -6px;">
      	<tr>
      	  <td style="border: 0;">店舗</td>
          <td style="border: 0;" id="m_shop">
            <%= select_tag(:m_shop_id, options_from_collection_for_select(MShop.find(:all, 
                           :conditions => ["deleted_flg = 0"], :order => 'shop_cd'),
                           :id, :shop_name), :include_blank => "") %>
          </td>
        </tr>
        <tr>
      	  <td style="border: 0;">社員</td>
          <td style="border: 0;" id="user">
            <%= f.collection_select(:receive_id, User.find(:all, :conditions => ["deleted_flg = 0 and user_class <> 1"],
                            :order => 'account'),:id, :user_name, :include_blank => "選択して下さい") %>                
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>  
  <div class="actions">
    <%= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div>
  
<% end %>

<script type="text/javascript">
  $("#m_shop_id").change(function(){
      var m_shop_id = $("#m_shop_id").val();
      $.get("/d_comments/change_m_shop?m_shop_id=" + m_shop_id);
  });
</script>
