<h1>コメント入力</h1>

<%= link_to '新規登録', new_d_comment_path, :class => 'add_icon' %>
<table id='rounded-corner'>
  <tr>
    <th>入力日</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>表示先</th>
    <th>詳細</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @d_comments.each do |d_comment| %>
  <tr>
    <td><%= d_comment.send_day.strftime("%Y/%m/%d") %></td>
    <td><%= d_comment.title %></td>
    <td style="table-layout: fixed; width: 300px; word-break: break-all"><%= hbr(d_comment.contents) %></td>
    <td><%= d_comment.receive_user_account%>&nbsp;<%= d_comment.receive_user_name %></td>
    <td class="icon">
    	<%= link_to image_tag('icon/24_show.png'), d_comment %>
    </td>
    <td class="icon">
    	<%= link_to image_tag('icon/24_edit.png'), edit_d_comment_path(d_comment) %>
    </td>
    <td class="icon">
        <%= link_to image_tag('icon/24_delete.png'), d_comment, :confirm => '削除します。よろしいですか？', :method => :delete %>	
    </td>
  </tr>
<% end %>
</table>
