<p id="notice"><%= notice %></p>

<table id='rounded-corner'>
  <tr>	
    <th>入力日</th>
    <td><%= @d_comment.send_day.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>	
    <th>タイトル</th>
    <td><%= @display_name %></td>
  </tr>
  <tr>	
    <th>内容</th>
    <td><%= @d_comment.contents %></td>
  </tr>
  <tr>	
    <th>表示先</th>
    <td><%= @receive_user.account %>&nbsp;<%= @receive_user.user_name %></td>
  </tr>
</table>

<%= link_to '編集', edit_d_comment_path(@d_comment), :class => 'edit_icon' %> |
<%= link_to '戻る', d_comments_path, :class => 'return_icon' %>
