<%= form_for(@m_shop_group) do |f| %>
  <% if @m_shop_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_shop_group.errors.count, "error") %> prohibited this m_shop_group from being saved:</h2>

      <ul>
      <% @m_shop_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_cd %><br />
    <%= f.number_field :group_cd %>
  </div>
  <div class="field">
    <%= f.label :group_name %><br />
    <%= f.text_field :group_name %>
  </div>
  <div class="field">
    <%= f.label :deleted_flg %><br />
    <%= f.number_field :deleted_flg %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
