<%= form_for(@m_oiletc) do |f| %>
  <% if @m_oiletc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_oiletc.errors.count, "error") %> prohibited this m_oiletc from being saved:</h2>

      <ul>
      <% @m_oiletc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label '油外コード' %></th>
  	  <td><%= f.number_field :oiletc_cd %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '油外名' %></th>
  	  <td><%= f.text_field :oiletc_name %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '油外略称' %></th>
  	  <td><%= f.text_field :oiletc_ryaku %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '単位' %></th>
  	  <td><%= f.text_field :oiletc_tani %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label 'グループ種類' %></th>
  	  <td><%= f.number_field :oiletc_group %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '営業項目' %></th>
  	  <td><%= f.number_field :oiletc_trade %></td>  	  
  	</tr>  	
  </table>
  <div class="actions">
    <%= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div>
<% end %>
