<%= form_for(@m_oiletc) do |f| %>
  <% if @m_oiletc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_oiletc.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @m_oiletc.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field "input",'check',:value=>@check_del_flg%>

  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label '油外コード' %></th>
  	  <td><%= f.number_field :oiletc_cd, :style=>"ime-mode:disabled" ,:maxlength=>3 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '油外名' %></th>
  	  <td><%= f.text_field :oiletc_name,:maxlength=>20 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '油外略称' %></th>
  	  <td><%= f.text_field :oiletc_ryaku,:maxlength=>10 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '単位' %></th>
  	  <td>
  	  	<%= f.select(:oiletc_tani, MCode.find(:all, :conditions => ["kbn = ?",'tani'], :order => 'code').map do |u|
      		[u.code_name,u.code]
        end, {:include_blank => "選択して下さい"}) %>
  	  </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label 'グループ種類' %></th>
  	  <td>
  	  	<%= f.select(:oiletc_group, MCode.find(:all, :conditions => ["kbn = ?",'oiletc_group'], :order => 'code').map do |u|
      		[u.code_name,u.code]
        end, {:include_blank => "選択して下さい"}) %>
       </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '課税フラグ' %></th>
  	  <td>
  	  	<%= f.select(:tax_flg, MCode.find(:all, :conditions => ["kbn = ?",'tax_flg'], :order => 'code').map do |u|
      		[u.code_name,u.code]
        end, {:include_blank => "選択して下さい"}) %>
  	  </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '営業項目' %></th>
  	  <td>
  	  	<%= f.select(:oiletc_trade, MCode.find(:all, :conditions => ["kbn = ?",'umu_flg'], :order => 'code').map do |u|
      		[u.code_name,u.code]
        end, {:include_blank => "選択して下さい"}) %>
  	  </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '粗利指数' %></th>
  	  <td><%= f.number_field :oiletc_arari, :style=>"ime-mode:disabled" ,:maxlength=>8,:class=>"money" %></td>  	  
  	</tr>
  	
  	<tr>
  		<td align="left" style="border: none">
  			<%= link_to '戻る', {:action=>"index",:input_check=>@check_del_flg}, :class => 'return_icon' %>
		</td>
	  	<td align="right" style="border: none">
	  		<% if f.object.new_record? %>
			<%= f.submit "  登  録  ",:disable_with => "登録中.....",:confirm => '登録しても良いですか？' %>
			<% else %>
			<%= f.submit "  更  新  ",:disable_with => "更新中.....",:confirm => '更新しても良いですか？' %>
			<% end %>
		</td>
	</tr>
  	
  </table>
  <!--div class="actions">
    <%#= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div-->
<% end %>

<%= javascript_include_tag "comma" %>
