<table id='rounded-corner'>
  <tr>
    <th>油外コード</th>
    <th>油外名</th>
    <th>油外略称</th>
    <th>単位</th>
    <th>グループ種類</th>
    <th>課税フラグ</th>
    <th>営業項目</th>
    <th>粗利</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @m_oiletcs.each do |m_oiletc| %>
  <% if m_oiletc.deleted_flg == 0 %>
  	<% del_flg = "del_n" %>
  <% else %>
  	<% del_flg = "del_y" %>
  <% end %>
  <tr>
    <td class="<%= "#{del_flg}" %>"><%= m_oiletc.oiletc_cd %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_oiletc.oiletc_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_oiletc.oiletc_ryaku %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_oiletc.oiletc_tani_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_oiletc.oiletc_group_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_oiletc.tax_flg_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_oiletc.oiletc_trade_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= number_with_delimiter(m_oiletc.oiletc_arari) %></td>
    <td class="icon">
    	<%- if m_oiletc.deleted_flg == 0 -%>
    	<%= link_to image_tag('icon/24_edit.png'), {:action=>"edit",:id=>m_oiletc.id,:input_check=>@check_del_flg} %></td>
    	<%- end -%>
    <td class="icon">
    <%- if m_oiletc.deleted_flg == 0 -%>
    <%= link_to image_tag('icon/24_delete.png'), {:action=>"destroy",:id=>m_oiletc.id,:input_check=>@check_del_flg}, :confirm => '削除します。よろしいですか？', :method => :delete %>
    <%- else -%>
    <%= link_to image_tag('icon/refresh.png'), {:action=>"destroy",:id=>m_oiletc.id,:input_check=>@check_del_flg}, :confirm => '削除の取消をします。よろしいですか？', :method => :delete %>
    <%- end -%>
    </td>
    
  </tr>
<% end %>
</table>