<!-- 2012/12/26 集計表示　-->
<!-- ﾓｰｶﾞｽ-->
<% @mo_gas_total = 0 %>
<% @r_mo_gas_total = 0 %>
<!-- 軽油-->
<% @keiyu_total = 0 %>
<% @r_keiyu_total = 0 %>
<!-- 灯油-->
<% @touyu_total = 0 %>
<% @r_touyu_total = 0 %>
<!-- GP-->
<% @kyuyu_total = 0 %>
<% @r_kyuyu_total = 0 %>
<!-- CB-->
<% @cb_total = 0 %>
<% @r_cb_total = 0 %>

<div style="width: 900px">
<span style="float:right">
<% if @kakutei_flg_count.mikakutei.to_i > 0 %>
<b>未確定</b>
<% elsif @kakutei_flg_count.shop_count.to_i > @kakutei_flg_count.kakutei.to_i %>
<b>未確定</b>
<% elsif @kakutei_flg_count.kakutei.to_i > 0 %>
<b>確定済</b>
<% else %>
<b></b>
<% end %>
</span>
</div>
<br clear="right">


<%= form_tag({:action => 'print',:input_ymd_s => @input_ymd_s }) do %>
<table id="report_view_table" class="rounded-corner">
	<thead>
	<tr>
		<th style="min-width: 150px">店舗</th>
		<th style="min-width: 100px">モーガス</th>
		<th style="min-width: 100px">Rモーガス</th>
		<th style="min-width: 100px">モペース</th>
		<th style="min-width: 100px">モ目標</th>
		<th style="min-width: 100px"><%= @keiyu_label %></th>
		<th style="min-width: 100px"><%= "R" + @keiyu_label %></th>
		<th style="min-width: 100px"><%= @keiyu_label + "ペース" %></th>
		<th style="min-width: 100px"><%= @keiyu_label + "目標" %></th>
		<th style="min-width: 100px"><%= @touyu_label %></th>
		<th style="min-width: 100px"><%= "R" + @touyu_label %></th>
		<th style="min-width: 100px"><%= @touyu_label + "ペース" %></th>
		<th style="min-width: 100px"><%= @touyu_label + "目標" %></th>
		<th style="min-width: 100px"><%= @kyuyu_purika_label + "目標" %></th>
		<th style="min-width: 100px"><%= @kyuyu_purika_label %></th>
		<th style="min-width: 100px"><%= "R" + @kyuyu_purika_label %></th>
		<th style="min-width: 100px"><%= @kyuyu_purika_label + "ペース" %></th>
		<th style="min-width: 100px"><%= @cb_label %></th>
		<th style="min-width: 100px"><%= "R" + @cb_label %></th>
	</tr>
	</thead>
	
	<tbody>
	<% @m_shops.each do |m_shop| %>
	  <tr>
	  	<th style="text-align: left;">
	  		<%= m_shop.shop_cd.to_s + ' ' + m_shop.shop_ryaku %></th>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.mo_gas) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_mo_gas) %></td>
	  	<td class="input_no">
	  		<% if m_shop.r_mo_gas %>
	  			<%= number_with_delimiter((m_shop.r_mo_gas.to_f / @day_e * @month_last_day).round(0)) %>
	  		<% end %>
	  	</td>
	  	<td class="input_no">
	  		<%# if m_shop.hg_aim != nil or m_shop.rg_aim != nil %>
	  		<%#= m_shop.hg_aim.to_i + m_shop.rg_aim.to_i %>
	  		<%# end %>
	  		<%= number_with_delimiter(m_shop.mo_gas_aim) %>
	  	</td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.keiyu) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_keiyu) %></td>
	  	<td class="input_no">
	  		<% if m_shop.r_keiyu %>
	  			<%= number_with_delimiter((m_shop.r_keiyu.to_f / @day_e * @month_last_day).round(0)) %>
	  		<% end %>
	  	</td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.keiyu_aim) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.touyu) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_touyu) %></td>
	  	<td class="input_no">
	  		<% if m_shop.r_touyu %>
	  			<%= number_with_delimiter((m_shop.r_touyu.to_f / @day_e * @month_last_day).round(0)) %>
	  		<% end %>
	  	</td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.touyu_aim) %></td>
	  	<td class="input_no"><%#= number_with_delimiter(m_shop.kyuyu_purika_aim) %>
	  		<% if m_shop.kyuyu_purika_aim %>
	  			<%= number_with_delimiter((m_shop.kyuyu_purika_aim.to_f / 10000).truncate) %>
	  		<% end %>
	  	</td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.kyuyu_purika) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_kyuyu_purika) %></td>
	  	<td class="input_no">
	  		<% if m_shop.r_kyuyu_purika %>
	  			<%= number_with_delimiter((m_shop.r_kyuyu_purika.to_f / @day_e * @month_last_day).round(0)) %>
	  		<% end %>
	  	</td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.cb) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_cb) %></td>
	  </tr>
	<!-- 2012/12/26 集計表示　-->
	  <% @mo_gas_total = @mo_gas_total + m_shop.mo_gas.to_f.round(1) %>
	  <% @keiyu_total = @keiyu_total + m_shop.keiyu.to_f.round(1) %>
	  <% @touyu_total = @touyu_total + m_shop.touyu.to_f.round(1) %>
	  <% @kyuyu_total = @kyuyu_total + m_shop.kyuyu_purika.to_i %>
	  <% @cb_total = @cb_total + m_shop.cb.to_i %>

	  <% @r_mo_gas_total = @r_mo_gas_total + m_shop.r_mo_gas.to_f.round(1) %>
	  <% @r_keiyu_total = @r_keiyu_total + m_shop.r_keiyu.to_f.round(1) %>
	  <% @r_touyu_total = @r_touyu_total + m_shop.r_touyu.to_f.round(1) %>
	  <% @r_kyuyu_total = @r_kyuyu_total + m_shop.r_kyuyu_purika.to_i %>
	  <% @r_cb_total = @r_cb_total + m_shop.r_cb.to_i %>

	  
    <% end %>
    </tbody>
<!-- 2012/12/26 集計表示　-->
    <tr style="border-top:solid 2px #0000CD;">
		<th>日計</th>
		<!-- 本社所属のみ表示 -->
		<% if @shop_info.id == 1 %>
			<td class="input_no"><%= number_with_delimiter(@mo_gas_total.round(1)) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@keiyu_total.round(1)) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@touyu_total.round(1)) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@kyuyu_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@cb_total) %></td>
		  	<td class="input_no"></td>
		  <% else %>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
		<% end %>
	</tr>
	
	<tr>
		<th>累計</th>
		<!-- 本社所属のみ表示 -->
		<% if @shop_info.id == 1 %>
		  	<td class="input_no"></td>
			<td class="input_no"><%= number_with_delimiter(@r_mo_gas_total.round(1)) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_keiyu_total.round(1)) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_touyu_total.round(1)) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_kyuyu_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_cb_total) %></td>
		  <% else %>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
		<% end %>
	</tr>
    <%= hidden_field_tag 'select_kbn',@select_kbn %>
	<%= hidden_field_tag 'input_ymd_s',@input_ymd_s %>
	<%= hidden_field_tag 'input_ymd_e',@input_ymd_e %>
</table>
	<% if @shop_info.shop_kbn == 9 or current_user.user_class == 3 %>
		<%= submit_tag  '  印  刷  ',format: 'pdf' %>
	<% else %>
		<%= submit_tag  '  印  刷  ',:disabled=>true %>
	<% end %>
<% end %>

<script>
$(function () {
	$("#report_view_table").tablefix({width:900,height:500,fixCols:1,fixRows:1});
	//$("#page").css("width", "2800px");
});
</script>
