
<div style="width: 900px">
<span style="float:right">
<% if @kakutei_flg_count.mikakutei.to_i > 0 %>
<b>未確定</b>
<% elsif @kakutei_flg_count.shop_count.to_i > @kakutei_flg_count.kakutei.to_i %>
<b>未確定</b>
<% elsif @kakutei_flg_count.kakutei.to_i > 0 %>
<b>確定済</b>
<% else %>
<b></b>
<% end %>
</span>
</div>
<br clear="right">

<%= form_tag({:action => 'print',:input_ymd_s => @input_ymd_s }) do %>
<table id="report_view_table" class="rounded-corner">
	<thead>
	<tr>
		<th style="min-width: 200px">店舗</th>
		<th style="min-width: 100px"><%= @sensya_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px">ペース</th>
		<th style="min-width: 100px">洗車目標</th>
		<th style="min-width: 100px">洗車PPC</th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px">洗車P目標</th>
		<th style="min-width: 100px"><%= @muton_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @sp_plus_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @taiyaw_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @sc_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @sp_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= "R" + @wash_item_label %></th>
		<th style="min-width: 100px"><%= "R" + @game_label %></th>
		<th style="min-width: 100px"><%= "R" + @health_label %></th>
		<th style="min-width: 100px"><%= "R" + @net_label %></th>
		<th style="min-width: 100px"><%= "R" + @charge_label %></th>
		<th style="min-width: 100px"><%= "R" + @ozone_label %></th>
	</tr>
	</thead>
	
	<tbody>
	<% @m_shops.each do |m_shop| %>
	  <tr>
	  	<td><%= m_shop.shop_cd.to_s + ' ' +  m_shop.shop_ryaku %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sensya) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sensya) %></td>
	  	<td class="input_no"><%#= m_shop.sensya_pace %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sensya_aim) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sensya_purika) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sensya_purika) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sensya_purika_aim) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.muton_aim) %><%#= m_shop.muton %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_muton) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sp_plus_aim) %><%#= m_shop.sp_plus %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sp_plus) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.taiyaw_aim) %><%#= m_shop.taiyaw %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_taiyaw) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sc_aim) %><%#= m_shop.sc %></td>				
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sc) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sp_aim) %><%#= m_shop.sp %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sp) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_wash_item) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_game) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_health) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_net) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_charge) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_ozone) %></td>
	  </tr>
	  		
    <% end %>
    
    </tbody>
    <%= hidden_field_tag 'select_kbn',@select_kbn %>
	<%= hidden_field_tag 'input_ymd_s',@input_ymd_s %>
	<%= hidden_field_tag 'input_ymd_e',@input_ymd_e %>
</table>
	<% if @shop_info.shop_kbn == 9 or current_user.user_class == 3 %>
		<%= submit_tag '印刷',format: 'pdf' %>
	<% else %>
		<%= submit_tag '印刷',:disabled=>true %>
	<% end %>
<% end %>

<script>
$(function () {
	$("#report_view_table").tablefix({width:900,height:500,fixCols:1,fixRows:1});
});
</script>
