<% @mo_gas_total = 0 %><% @keiyu_total = 0 %><% @touyu_total = 0 %>
<% @koua_total = 0 %><% @buyou_total = 0 %><% @tokusei_total = 0 %>
<% @sensya_total = 0 %><% @koutin_total = 0 %><% @taiya_total = 0 %><% @arari_total = 0 %>

<% @r_mo_gas_total = 0 %><% @r_keiyu_total = 0 %><% @r_touyu_total = 0 %>
<% @r_koua_total = 0 %><% @r_buyou_total = 0 %><% @r_tokusei_total = 0 %>
<% @r_sensya_total = 0 %><% @r_koutin_total = 0 %><% @r_taiya_total = 0 %><% @r_arari_total = 0 %>


<div style="width: 900px">
<span style="float:right">
<% if @kakutei_flg_count.mikakutei.to_i > 0 %>
<b>未確定</b>
<% elsif @kakutei_flg_count.shop_count.to_i > @kakutei_flg_count.kakutei.to_i %>
<b>未確定</b>
<% elsif @kakutei_flg_count.kakutei.to_i > 0 %>
<b>確定済</b>
<% else %>
<b></b>
<% end %>
</span>
</div>
<br clear="right">



<%= form_tag({:action => 'print',:input_ymd_s => @input_ymd_s }) do %>

<table id="report_view_table" class="rounded-corner">
	<thead>
	<tr>
		<th style="min-width: 200px">店舗</th>
		<th style="min-width: 100px">モーガス</th>
		<th style="min-width: 100px">Rモーガス</th>
		<th style="min-width: 100px"><%= @keiyu_label %></th>
		<th style="min-width: 100px"><%= "R" + @keiyu_label %></th>
		<th style="min-width: 100px"><%= @touyu_label %></th>
		<th style="min-width: 100px"><%= "R" + @touyu_label %></th>
		<th style="min-width: 100px"><%= @koua_label %></th>
		<th style="min-width: 100px"><%= "R" + @koua_label %></th>
		<th style="min-width: 100px"><%= @buyou_label %></th>
		<th style="min-width: 100px"><%= "R" + @buyou_label %></th>
		<th style="min-width: 100px"><%= @tokusei_label %></th>
		<th style="min-width: 100px"><%= "R" + @tokusei_label %></th>
		<th style="min-width: 100px"><%= @sensya_label %></th>
		<th style="min-width: 100px"><%= "R" + @sensya_label %></th>
		<th style="min-width: 100px"><%= @koutin_label %></th>
		<th style="min-width: 100px"><%= "R" + @koutin_label %></th>
		<th style="min-width: 100px"><%= @taiya_label %></th>
		<th style="min-width: 100px"><%= "R" + @taiya_label %></th>
		<th style="min-width: 100px">粗利</th>
		<th style="min-width: 100px">R粗利</th>
	</tr>
	</thead>
	
	<tbody>
	<% @m_shops.each do |m_shop| %>
	  <tr>
	  	<td><%= m_shop.shop_cd.to_s + ' ' + m_shop.shop_ryaku %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.mo_gas) %><%#= m_shop.mo_gas_aim %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_mo_gas) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.keiyu) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_keiyu) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.touyu) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_touyu) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.koua) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_koua) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.buyou) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_buyou) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.tokusei) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_tokusei) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sensya) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sensya) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.koutin) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_koutin) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.taiya) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_taiya) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.arari) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_arari) %></td>
	  </tr>
	  
	  <% @mo_gas_total = @mo_gas_total + m_shop.mo_gas.to_f.round(1) %>
	  <% @keiyu_total = @keiyu_total + m_shop.keiyu.to_f.round(1) %>
	  <% @touyu_total = @touyu_total + m_shop.touyu.to_f.round(1) %>
	  <% @koua_total = @koua_total + m_shop.koua.to_f.round(2) %>
	  <% @buyou_total = @buyou_total + m_shop.buyou.to_i %>
	  <% @tokusei_total = @tokusei_total + m_shop.tokusei.to_i %>
	  <% @sensya_total = @sensya_total + m_shop.sensya.to_i %>
	  <% @koutin_total = @koutin_total + m_shop.koutin.to_i %>
	  <% @taiya_total = @taiya_total + m_shop.taiya.to_i %>
	  <% @arari_total = @arari_total + m_shop.arari.to_i %>
	  
	  <% @r_mo_gas_total = @r_mo_gas_total + m_shop.r_mo_gas.to_f.round(1) %>
	  <% @r_keiyu_total = @r_keiyu_total + m_shop.r_keiyu.to_f.round(1) %>
	  <% @r_touyu_total = @r_touyu_total + m_shop.r_touyu.to_f.round(1) %>
	  <% @r_koua_total = @r_koua_total + m_shop.r_koua.to_f.round(2) %>
	  <% @r_buyou_total = @r_buyou_total + m_shop.r_buyou.to_i %>
	  <% @r_tokusei_total = @r_tokusei_total + m_shop.r_tokusei.to_i %>
	  <% @r_sensya_total = @r_sensya_total + m_shop.r_sensya.to_i %>
	  <% @r_koutin_total = @r_koutin_total + m_shop.r_koutin.to_i %>
	  <% @r_taiya_total = @r_taiya_total + m_shop.r_taiya.to_i %>
	  <% @r_arari_total = @r_arari_total + m_shop.r_arari.to_i %>
	  
    <% end %>
    
    <tr>
		<th>日計</th>
		<td class="input_no"><%= number_with_delimiter(@mo_gas_total.round(1)) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@keiyu_total.round(1)) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@touyu_total.round(1)) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@koua_total.round(2)) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@buyou_total) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@tokusei_total) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@sensya_total) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@koutin_total) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@taiya_total) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@arari_total) %></td>
	  	<td class="input_no"></td>
	</tr>
	
	<tr>
		<th>累計</th>
		<td class="input_no"></td>
		<td class="input_no"><%= number_with_delimiter(@r_mo_gas_total.round(1)) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@r_keiyu_total.round(1)) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@r_touyu_total.round(1)) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@r_koua_total.round(2)) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@r_buyou_total) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@r_tokusei_total) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@r_sensya_total) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@r_koutin_total) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@r_taiya_total) %></td>
	  	<td class="input_no"></td>
	  	<td class="input_no"><%= number_with_delimiter(@r_arari_total) %></td>
	</tr>
    </tbody>
    <%= hidden_field_tag 'select_kbn',@select_kbn %>
	<%= hidden_field_tag 'input_ymd_s',@input_ymd_s %>
	<%= hidden_field_tag 'input_ymd_e',@input_ymd_e %>
</table>
	<% if @shop_info.shop_kbn == 9 or current_user.user_class == 3 %>
		<%= submit_tag  '  印  刷  ',format: 'pdf' %>
	<% else %>
		<%= submit_tag  '  印  刷  ',:disabled=>true %>
	<% end %>
<% end %>

<script>
$(function () {
	//$("#report_view_table").tablefix({width:900,height:500,fixCols:1,fixRows:1});
	$("#page").css("width", "2900px");
});
</script>