<% @r_chousei_total = 0 %>

<% @syaken_total = 0 %><% @kyuyu_purika_total = 0 %><% @sensya_purika_total = 0 %>
<% @sp_total = 0 %><% @sc_total = 0 %><% @taiyaw_total = 0 %>
<% @sp_plus_total = 0 %><% @atf_total = 0 %><% @kousen_total = 0 %>
<% @bt_total = 0 %><% @bankin_total = 0 %><% @waiper_total = 0 %><% @mobil1_total = 0 %>

<% @r_syaken_total = 0 %><% @r_kyuyu_purika_total = 0 %><% @r_sensya_purika_total = 0 %>
<% @r_sp_total = 0 %><% @r_sc_total = 0 %><% @r_taiyaw_total = 0 %>
<% @r_sp_plus_total = 0 %><% @r_atf_total = 0 %><% @r_kousen_total = 0 %>
<% @r_bt_total = 0 %><% @r_bankin_total = 0 %><% @r_waiper_total = 0 %><% @r_mobil1_total = 0 %>


<div style="width: 900px">
<span style="float:right">
<% if @kakutei_flg_count.mikakutei.to_i > 0 %>
<b>未確定</b>
<% elsif @kakutei_flg_count.shop_count.to_i > @kakutei_flg_count.kakutei.to_i %>
<b>未確定</b>
<% elsif @kakutei_flg_count.kakutei.to_i > 0 %>
<b>確定済</b>
<% else %>
<b></b>
<% end %>
</span>
</div>
<br clear="right">


<%= form_tag({:action => 'print',:input_ymd_s => @input_ymd_s }) do %>
<table id="report_view_table" class="rounded-corner">
	<thead>
	<tr>
		<th style="min-width: 150px">店舗</th>
		<th style="min-width: 100px"><%= @chousei_label %></th>
		<th style="min-width: 100px">油外目標</th>
		<th style="min-width: 100px">油外ペ</th>
		<th style="min-width: 100px"><%= @syaken_label %></th>
		<th style="min-width: 100px">日計</th>
		<th style="min-width: 100px">月計</th>
		<th style="min-width: 100px"><%= @kyuyu_purika_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @sensya_purika_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @sp_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @sc_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @taiyaw_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @sp_plus_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @atf_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @kousen_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @bt_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @bankin_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @waiper_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @mobil1_label %></th>
		<th style="min-width: 100px">累計</th>
	</tr>
	</thead>
	
	<tbody>
	<% @m_shops.each do |m_shop| %>
	  <tr>
	  	<th style="text-align: left;">
	  		<%= m_shop.shop_cd.to_s + ' ' + m_shop.shop_ryaku %></th>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_chousei) %></td>
	  	<td class="input_no"><%#= number_with_delimiter(m_shop.oiletc_aim) %>
	  		<% if m_shop.oiletc_aim %>
	  			<%= number_with_delimiter((m_shop.oiletc_aim.to_f / 10000).truncate) %>
	  		<% end %>
	  	</td>
	  	<td class="input_no"><%#= number_with_delimiter(m_shop.oiletc_pace) %>
	  		<% if m_shop.r_arari %>
	  			<%= number_with_delimiter((m_shop.r_arari.to_f / @day_e * @month_last_day / 10000).truncate) %>
	  		<% end %>
	  	</td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.syaken_aim) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.syaken) %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_syaken) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.kyuyu_purika) %></td>		
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_kyuyu_purika) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sensya_purika) %></td>	
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sensya_purika) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sp) %></td>				
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sp) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sc) %></td>				
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sc) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.taiyaw) %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_taiyaw) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sp_plus) %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sp_plus) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.atf) %></td>				
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_atf) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.kousen) %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_kousen) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.bt) %></td>				
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_bt) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.bankin) %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_bankin) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.waiper) %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_waiper) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.mobil1) %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_mobil1) %></td>
	  </tr>
	  
	  <% @r_chousei_total = @r_chousei_total + m_shop.r_chousei.to_i %>
	  
	  <% @syaken_total = @syaken_total + m_shop.syaken.to_i %>
	  <% @kyuyu_purika_total = @kyuyu_purika_total + m_shop.kyuyu_purika.to_i %>
	  <% @sensya_purika_total = @sensya_purika_total + m_shop.sensya_purika.to_i %>
	  <% @sp_total = @sp_total + m_shop.sp.to_i %>
	  <% @sc_total = @sc_total + m_shop.sc.to_i %>
	  <% @taiyaw_total = @taiyaw_total + m_shop.taiyaw.to_i %>
	  <% @sp_plus_total = @sp_plus_total + m_shop.sp_plus.to_i %>
	  <% @atf_total = @atf_total + m_shop.atf.to_f.round(2) %>
	  <% @kousen_total = @kousen_total + m_shop.kousen.to_i %>
	  <% @bt_total = @bt_total + m_shop.bt.to_i %>
	  <% @bankin_total = @bankin_total + m_shop.bankin.to_i %>
	  <% @waiper_total = @waiper_total + m_shop.waiper.to_i %>
	  <% @mobil1_total = @mobil1_total + m_shop.mobil1.to_f.round(2) %>
	  
	  <% @r_syaken_total = @r_syaken_total + m_shop.r_syaken.to_i %>
	  <% @r_kyuyu_purika_total = @r_kyuyu_purika_total + m_shop.r_kyuyu_purika.to_i %>
	  <% @r_sensya_purika_total = @r_sensya_purika_total + m_shop.r_sensya_purika.to_i %>
	  <% @r_sp_total = @r_sp_total + m_shop.r_sp.to_i %>
	  <% @r_sc_total = @r_sc_total + m_shop.r_sc.to_i %>
	  <% @r_taiyaw_total = @r_taiyaw_total + m_shop.r_taiyaw.to_i %>
	  <% @r_sp_plus_total = @r_sp_plus_total + m_shop.r_sp_plus.to_i %>	
	  <% @r_atf_total = @r_atf_total + m_shop.r_atf.to_f.round(2) %>
	  <% @r_kousen_total = @r_kousen_total + m_shop.r_kousen.to_i %>
	  <% @r_bt_total = @r_bt_total + m_shop.r_bt.to_i %>
	  <% @r_bankin_total = @r_bankin_total + m_shop.r_bankin.to_i %>
	  <% @r_waiper_total = @r_waiper_total + m_shop.r_waiper.to_i %>
	  <% @r_mobil1_total = @r_mobil1_total + m_shop.r_mobil1.to_f.round(2) %>
	  		
    <% end %>
    
    <tr style="border-top:solid 2px #0000CD;">
		<th>日計</th>
		<!-- 2012/12/26 本社所属のみ表示 -->
		<% if @shop_info.id == 1 %>
			<td class="input_no"></td>
			<td class="input_no"></td>
			<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@syaken_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@kyuyu_purika_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@sensya_purika_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@sp_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@sc_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@taiyaw_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@sp_plus_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@atf_total.round(2)) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@kousen_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@bt_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@bankin_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@waiper_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@mobil1_total.round(2)) %></td>
		  	<td class="input_no"></td>
		  <% else %>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
		<% end %>
	</tr>
	
	<tr>
		<th>累計</th>
		<!-- 2012/12/26 本社所属のみ表示 -->
		<% if @shop_info.id == 1 %>
			<td class="input_no"><%= number_with_delimiter(@r_chousei_total) %></td>
			<td class="input_no"></td>
			<td class="input_no"></td>
			<td class="input_no"></td>
			<td class="input_no"></td>
			<td class="input_no"><%= number_with_delimiter(@r_syaken_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_kyuyu_purika_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_sensya_purika_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_sp_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_sc_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_taiyaw_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_sp_plus_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_atf_total.round(2)) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_kousen_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_bt_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_bankin_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_waiper_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_mobil1_total.round(2)) %></td>
		  <% else %>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
		<% end %>
	</tr>
    </tbody>
    <%= hidden_field_tag 'select_kbn',@select_kbn %>
	<%= hidden_field_tag 'input_ymd_s',@input_ymd_s %>
	<%= hidden_field_tag 'input_ymd_e',@input_ymd_e %>
</table>
	<% if @shop_info.shop_kbn == 9 or current_user.user_class == 3 %>
		<%= submit_tag  '  印  刷  ',format: 'pdf' %>
	<% else %>
		<%= submit_tag  '  印  刷  ',:disabled=>true %>
	<% end %>
<% end %>

<script>
$(function () {
	$("#report_view_table").tablefix({width:900,height:500,fixCols:1,fixRows:1});
	//$("#page").css("width", "4000px");
});
</script>


