
<div style="width: 900px">
<span style="float:right">
<% if @kakutei_flg_count.mikakutei.to_i > 0 %>
<b>未確定</b>
<% elsif @kakutei_flg_count.shop_count.to_i > @kakutei_flg_count.kakutei.to_i %>
<b>未確定</b>
<% elsif @kakutei_flg_count.kakutei.to_i > 0 %>
<b>確定済</b>
<% else %>
<b></b>
<% end %>
</span>
</div>
<br clear="right">


<%= form_tag({:action => 'print',:input_ymd_s => @input_ymd_s }) do %>
<table id="report_view_table" class="rounded-corner">
	<thead>
	<tr>
		<th style="min-width: 200px">店舗</th>
		<th style="min-width: 100px">モーガス</th>
		<th style="min-width: 100px">Rモーガス</th>
		<th style="min-width: 100px">モペース</th>
		<th style="min-width: 100px">モ目標</th>
		<th style="min-width: 100px"><%= @keiyu_label %></th>
		<th style="min-width: 100px"><%= "R" + @keiyu_label %></th>
		<th style="min-width: 100px"><%= @keiyu_label + "ペース" %></th>
		<th style="min-width: 100px"><%= @keiyu_label + "目標" %></th>
		<th style="min-width: 100px"><%= @touyu_label %></th>
		<th style="min-width: 100px"><%= "R" + @touyu_label %></th>
		<th style="min-width: 100px"><%= @touyu_label + "ペース" %></th>
		<th style="min-width: 100px"><%= @touyu_label + "目標" %></th>
		<th style="min-width: 100px"><%= @kyuyu_purika_label + "目標" %></th>
		<th style="min-width: 100px"><%= @kyuyu_purika_label %></th>
		<th style="min-width: 100px"><%= "R" + @kyuyu_purika_label %></th>
		<th style="min-width: 100px"><%= @kyuyu_purika_label + "ペース" %></th>
	</tr>
	</thead>
	
	<tbody>
	<% @m_shops.each do |m_shop| %>
	  <tr>
	  	<td><%= m_shop.shop_cd.to_s + ' ' +  m_shop.shop_ryaku %></td>
	  	<td class="input_no"><%= m_shop.mo_gas %></td>
	  	<td class="input_no"><%= m_shop.r_mo_gas %></td>
	  	<td class="input_no"><%#= m_shop.mo_gas_pace %></td>
	  	<td class="input_no">
	  		<% if m_shop.hg_aim != nil or m_shop.rg_aim != nil %>
	  		<%= m_shop.hg_aim.to_i + m_shop.rg_aim.to_i %><%#= m_shop.mo_gas_aim %>
	  		<% end %>
	  	</td>
	  	<td class="input_no"><%= m_shop.keiyu %></td>
	  	<td class="input_no"><%= m_shop.r_keiyu %></td>
	  	<td class="input_no"><%#= m_shop.keiyu_pace %></td>
	  	<td class="input_no"><%= m_shop.keiyu_aim %></td>
	  	<td class="input_no"><%= m_shop.touyu %></td>
	  	<td class="input_no"><%= m_shop.r_touyu %></td>
	  	<td class="input_no"><%#= m_shop.touyu_pace %></td>
	  	<td class="input_no"><%= m_shop.touyu_aim %></td>
	  	<td class="input_no"><%= m_shop.kyuyu_purika_aim %></td>
	  	<td class="input_no"><%= m_shop.kyuyu_purika %></td>
	  	<td class="input_no"><%= m_shop.r_kyuyu_purika %></td>
	  	<td class="input_no"><%#= m_shop.kyuyu_purika_pace %></td>
	  </tr>
	  
    <% end %>
    </tbody>
    <%= hidden_field_tag 'select_kbn',@select_kbn %>
	<%= hidden_field_tag 'input_ymd_s',@input_ymd_s %>
	<%= hidden_field_tag 'input_ymd_e',@input_ymd_e %>
</table>
<%= submit_tag '印刷',format: 'pdf' %>
<% end %>

<script>
$(function () {
	$("#report_view_table").tablefix({width:900,fixCols:1 });
});
</script>
