<!-- 2012/12/26 集計表示　-->
<!-- 洗車 -->
<% @sensya_total = 0 %>
<% @r_sensya_total = 0 %>
<!-- 洗車ﾌﾟﾘｶ -->
<% @sensya_purika_total = 0 %>
<% @r_sensya_purika_total = 0 %>
<!-- ﾑｰﾄﾝﾊﾟｽ -->
<% @muton_total = 0 %>
<% @r_muton_total = 0 %>
<!-- SPﾌﾟﾗｽ -->
<% @sp_plus_total = 0 %>
<% @r_sp_plus_total = 0 %>
<!-- ﾀｲﾔW -->
<% @taiyaw_total = 0 %>
<% @r_taiyaw_total = 0 %>
<!-- SC -->
<% @sc_total = 0 %>
<% @r_sc_total = 0 %>
<!-- SP -->
<% @sp_total = 0 %>
<% @r_sp_total = 0 %>
<!-- 洗用品 -->
<% @r_wash_item_total = 0 %>
<!-- ｽﾛｯﾄ -->
<% @r_game_total = 0 %>
<!-- ﾍﾙｽ -->
<% @r_health_total = 0 %>
<!-- ﾈｯﾄ -->
<% @r_net_total = 0 %>
<!-- 充電器 -->
<% @r_charge_total = 0 %>
<!-- ｵｿﾞﾝ -->
<% @r_ozone_total = 0 %>

<% @kyuyu_purika_total = 0 %><% @sensya_purika_total = 0 %>
<% @sp_total = 0 %><% @sc_total = 0 %><% @taiyaw_total = 0 %>
<% @sp_plus_total = 0 %><% @atf_total = 0 %><% @kousen_total = 0 %>
<% @bt_total = 0 %><% @bankin_total = 0 %><% @waiper_total = 0 %><% @mobil1_total = 0 %>

<% @r_syaken_total = 0 %><% @r_kyuyu_purika_total = 0 %><% @r_sensya_purika_total = 0 %>
<% @r_sp_total = 0 %><% @r_sc_total = 0 %><% @r_taiyaw_total = 0 %>
<% @r_sp_plus_total = 0 %><% @r_atf_total = 0 %><% @r_kousen_total = 0 %>
<% @r_bt_total = 0 %><% @r_bankin_total = 0 %><% @r_waiper_total = 0 %><% @r_mobil1_total = 0 %>

<div style="width: 900px">
<span style="font-weight: bold; font-size: 20px; color: red">
&nbsp;社外秘
</span>	
<span style="float:right">
<% if @kakutei_flg_count.mikakutei.to_i > 0 %>
<b>未確定</b>
<% elsif @kakutei_flg_count.shop_count.to_i > @kakutei_flg_count.kakutei.to_i %>
<b>未確定</b>
<% elsif @kakutei_flg_count.kakutei.to_i > 0 %>
<b>確定済</b>
<% else %>
<b></b>
<% end %>
</span>
</div>


<%= form_tag({:action => 'print',:input_ymd_s => @input_ymd_s }) do %>
<table id="report_view_table" class="rounded-corner">
	<thead>
	<tr>
		<th style="min-width: 150px">店舗</th>
		<th style="min-width: 100px"><%= @sensya_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px">ペース</th>
		<th style="min-width: 100px">洗車目標</th>
		<th style="min-width: 100px">洗車PPC</th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px">ペース</th>
		<th style="min-width: 100px">洗車P目標</th>
		<th style="min-width: 100px"><%= @muton_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @sp_plus_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @taiyaw_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @sc_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= @sp_label %></th>
		<th style="min-width: 100px">累計</th>
		<th style="min-width: 100px"><%= "R" + @wash_item_label %></th>
		<th style="min-width: 100px"><%= "R" + @game_label %></th>
		<th style="min-width: 100px"><%= "R" + @health_label %></th>
		<th style="min-width: 100px"><%= "R" + @net_label %></th>
		<th style="min-width: 100px"><%= "R" + @charge_label %></th>
		<th style="min-width: 100px"><%= "R" + @ozone_label %></th>
	</tr>
	</thead>
	
	<tbody>
	<% @m_shops.each do |m_shop| %>
	  <tr>
	  	<th style="text-align: left;">
	  		<%= m_shop.shop_cd.to_s + ' ' + m_shop.shop_ryaku %></th>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sensya) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sensya) %></td>
	  	<td class="input_no">
	  		<% if m_shop.r_sensya %>
	  			<%= number_with_delimiter((m_shop.r_sensya.to_f / @day_e * @month_last_day).round(0)) %>
	  		<% end %>
	  	</td>
	  	<td class="input_no"><%= number_with_delimiter((m_shop.sensya_aim.to_f / 10000).truncate) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sensya_purika) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sensya_purika) %></td>
	  	<td class="input_no">
	  		<% if m_shop.r_sensya_purika %>
	  			<%= number_with_delimiter((m_shop.r_sensya_purika.to_f / @day_e * @month_last_day).round(0)) %>
	  		<% end %>
	  	</td>
	  	<td class="input_no"><%= number_with_delimiter((m_shop.sensya_purika_aim.to_f / 10000).truncate) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.muton_aim) %><%#= m_shop.muton %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_muton) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sp_plus_aim) %><%#= m_shop.sp_plus %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sp_plus) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.taiyaw_aim) %><%#= m_shop.taiyaw %></td>			
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_taiyaw) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sc_aim) %><%#= m_shop.sc %></td>				
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sc) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.sp_aim) %><%#= m_shop.sp %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_sp) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_wash_item) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_game) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_health) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_net) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_charge) %></td>
	  	<td class="input_no"><%= number_with_delimiter(m_shop.r_ozone) %></td>
	  </tr>
	  <!-- 2012/12/26 集計　-->
	  <% @sensya_total = @sensya_total + m_shop.sensya.to_i %>
	  <% @sensya_purika_total = @sensya_purika_total + m_shop.sensya_purika.to_i %>
	  <% @muton_total = @muton_total + m_shop.muton_aim.to_i %>
	  <% @sp_plus_total = @sp_plus_total + m_shop.sp_plus_aim.to_i %>
	  <% @taiyaw_total = @taiyaw_total + m_shop.taiyaw_aim.to_i %>
	  <% @sc_total = @sc_total + m_shop.sc_aim.to_i %>
	  <% @sp_total = @sp_total + m_shop.sp_aim.to_i %>
	  
	  <% @r_sensya_total = @r_sensya_total + m_shop.r_sensya.to_i %>
	  <% @r_sensya_purika_total = @r_sensya_purika_total + m_shop.r_sensya_purika.to_i %>
	  <% @r_muton_total = @r_muton_total + m_shop.r_muton.to_i %>
	  <% @r_sp_plus_total = @r_sp_plus_total + m_shop.r_sp_plus.to_i %>
	  <% @r_taiyaw_total = @r_taiyaw_total + m_shop.r_taiyaw.to_i %>
	  <% @r_sc_total = @r_sc_total + m_shop.r_sc.to_i %>
	  <% @r_sp_total = @r_sp_total + m_shop.r_sp.to_i %>
	  <% @r_wash_item_total = @r_wash_item_total + m_shop.r_wash_item.to_i %>
	  <% @r_game_total = @r_game_total + m_shop.r_game.to_i %>
	  <% @r_health_total = @r_health_total + m_shop.r_health.to_i %>
	  <% @r_net_total = @r_net_total + m_shop.r_net.to_i %>
	  <% @r_charge_total = @r_charge_total + m_shop.r_charge.to_i %>
	  <% @r_ozone_total = @r_ozone_total + m_shop.r_ozone.to_i %>
	  		
    <% end %>
	  <!-- 2012/12/26 集計表示　-->
    <tr style="border-top:solid 2px #0000CD;">
		<th>日計</th>
		<!-- 本社所属のみ表示 -->
		<% if @shop_info.id == 1 %>
		  	<td class="input_no"><%= number_with_delimiter(@sensya_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@sensya_purika_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@muton_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@sp_plus_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@taiyaw_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@sc_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@sp_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  <% else %>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
		<% end %>
	</tr>
	
	<tr>
		<th>累計</th>
		<!-- 本社所属のみ表示 -->
		<% if @shop_info.id == 1 %>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_sensya_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_sensya_purika_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_muton_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_sp_plus_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_taiyaw_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_sc_total) %></td>
		  	<td class="input_no"></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_sp_total) %></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_wash_item_total) %></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_game_total) %></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_health_total) %></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_net_total) %></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_charge_total) %></td>
		  	<td class="input_no"><%= number_with_delimiter(@r_ozone_total) %></td>
		  <% else %>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
		<% end %>
	</tr>
    </tbody>
    <%= hidden_field_tag 'select_kbn',@select_kbn %>
	<%= hidden_field_tag 'input_ymd_s',@input_ymd_s %>
	<%= hidden_field_tag 'input_ymd_e',@input_ymd_e %>
</table>
	<% if @shop_info.shop_kbn == 9 or current_user.user_class == 3 %>
		<%= submit_tag  '  印  刷  ',format: 'pdf' %>
	<% else %>
		<%= submit_tag  '  印  刷  ',:disabled=>true %>
	<% end %>
<% end %>

<script>
$(function () {
	$("#report_view_table").tablefix({width:900,height:500,fixCols:1,fixRows:1});
	//$("#page").css("width", "3500px");
});
</script>
