<% loopcnt = (Date.new(@head[:input_day].to_s[0,4].to_i, @head[:input_day].to_s[4,2].to_i, -1)).strftime("%d").to_i %>

<table id="d_duty_table" class="rounded-corner">
	 <thead>
		<tr>
			<th colspan="3" style="min-width: 200px">日付</th>
			<% loopcnt.times { |i| %>
			  <th style="min-width: 25px; <%= "background-image:none; background-color: #F7DC67" if Time.now.day == (i+1) %>"><%= i + 1 %></th>
            <% } %>
		</tr>
		<tr>
			<th colspan="3">曜日</th>
			<% loopcnt.times { |i| %>
		      <% select_day = Date.new(@head[:input_day].to_s[0,4].to_i, @head[:input_day].to_s[4,2].to_i, i + 1) %>		
			  <% week_w = day_of_the_week(select_day.wday) %>	
			  <% if week_w == "土" or week_w =="日" %>
			  	<% if Time.now.day == (i+1) %>
			  		<th style='background:none; background-color: #F7DC67' >
			  	<% else %>
			  		<% if week_w == "土" %>
			  			<th style = "background-image:none; background-color: #498AF3">
			  	 	<% else %>
			  	 		<th style = "background-image:none; background-color: #E92033">
			  	 	<% end %>
			  	<% end %> 
			  <% else %>
			    <% if Time.now.day == (i+1) %>
			   		<th style='background:none; background-color: #F7DC67' >
			    <% else %>
			    	<th style='background:none;'>
			    <% end %> 
			  <% end %>
				<%= week_w %>
			  </th>
            <% } %>

		</tr>
		<!--社員-->
		<tr>
			<th colspan="2">氏名</th>
			<th>日数</th>
			<% loopcnt.times { |i| %>
			  <th <%= "style='background:none; background-color: #F7DC67'" if Time.now.day == (i+1) %>>
			     <%= link_to image_tag('icon/24_edit.png'), {:controller => "d_duties", :action => "syain_input", :m_shop_id => @m_shop_id, :input_day => @head[:input_day].to_s + format("%02d", (i+1).to_i)}, :class => "modal" %>
			     
			  </th>
            <% } %>
		</tr>
		</thead>
		<tbody>
		<!--社員繰り返し-->
		<% users = get_user_dutry(0, @m_shop_id, @head[:input_day].to_s[0,4], @head[:input_day].to_s[4,2], 1, loopcnt) %>
		<% users.each_with_index{ |user, index| %>
			<% select_where = " duty_nengetu = '#{@head[:input_day].to_s[0,6]}' and user_id = #{user.id} "%>
			<% nisu = d_duty_syain_total(select_where) %>
			<tr id="syain_<%= "#{index}" %>">
				<td colspan="2" style="min-width: 130px">
					<%= link_to user.user_name , {:controller => "d_duties", :action => "syain_row_input", :m_shop_id => @m_shop_id, :input_day => @head[:input_day], :user_id => user.id }, :class => "modal" %>
					<%= link_to image_tag('icon/user_edit.png'), {:controller => "m_info_costs", :action => "popup_edit", :user_id => user.id }, :class => "modal" %>
				</td>
				<td style="text-align: center;min-width: 50px"><label id=<%= "syain_nisu_#{user.id}" %>><%= nisu[0].nisu %></label></td>
				
				<%= set_syain_row(user.id, loopcnt, select_where).html_safe %>

				
			</tr>
		<% } %>
		<!--社員計-->
		<tr>
			<td colspan="2">出勤日数</td>
			<td style="text-align: center;"><label id="col_syain_nisu_kei"></label></td>
			<%= set_syain_nisu_kei(loopcnt).html_safe %>
		
		</tr>
		<!--バイト-->
		<tr>
			<th colspan="2">氏名</th>
			<th>時間</th>
			<% loopcnt.times { |i| %>
			  <th <%= "style='background:none; background-color: #F7DC67'" if Time.now.day == (i+1) %>>
			     <%= link_to image_tag('icon/24_edit.png'), {:controller => "d_duties", :action => "baito_input", :m_shop_id => @m_shop_id, :input_day => @head[:input_day].to_s + format("%02d", (i+1).to_i)}, :class => "modal" %>
			     
			  </th>
            <% } %>            
		</tr>
		<!--バイト繰り返し-->
		<% users = get_user_dutry(1, @m_shop_id, @head[:input_day].to_s[0,4], @head[:input_day].to_s[4,2], 1, loopcnt) %>
		<% users.each_with_index{ |user, index| %>
			<% select_where = " duty_nengetu = '#{@head[:input_day].to_s[0,6]}' and user_id = #{user.id} "%>
			<% jikan = d_duty_baito_total(select_where) %>
			<tr id="baito_<%= "#{index}" %>">
				<td colspan="2" style="min-width: 130px">
					<%= link_to user.user_name, {:controller => "d_duties", :action => "baito_row_input", :m_shop_id => @m_shop_id, :input_day => @head[:input_day], :user_id => user.id }, :class => "modal" %>
					<%= link_to image_tag('icon/user_edit.png'), {:controller => "m_info_costs", :action => "popup_edit", :user_id => user.id }, :class => "modal" %>
				</td>
				<td style="text-align: center;min-width: 50px"><label id=<%= "baito_jikan_#{user.id}" %>><%= jikan[0].jikan %></label></td>
				
				<%= set_banto_row(user.id, loopcnt, select_where).html_safe %>
				
				
			</tr>
		<% } %>
		<!--バイト計-->
		<tr>
			<td colspan="2">勤務時間合計</td>
			<td style="text-align: center;"><label id="col_baito_jikan_kei"></label></td>
			<%= set_baito_jikan_kei(loopcnt).html_safe %>
		</tr>
		</tbody>				
</table>

<!-- 2012/10/16 nishimura -->
<% if params[:mode] == 'list' %>
<%= hidden_field_tag :mode,params[:mode] %>
<%= link_to "入力状況へ戻る", {:controller => "d_duty_lists", :action => "index", 
		:date =>{"year"=>@head[:input_day].to_s[0,4].to_i,"month"=>@head[:input_day].to_s[4,2].to_i} ,
		:shop_kbn => MShop.find(@m_shop_id).shop_kbn.to_s}, 
	  	:confirm => "入力状況へ戻ります。よろしいですか？", :method => :get, :class => 'return_icon' %>
<% end %>

<script>
$(function () {
	$('#d_duty_table').tablefix({width: 925, height: 800, fixRows: 1, fixCols: 1});
	
    $('div.bodyDiv').scrollLeft(40 * (<%= Time.now.day %> - 2));
    
    //$('div.tablefixDiv div.crossDiv a').attr("href", "#");
    //$('div.tablefixDiv div.rowDiv a').attr("href", "#");
    //$('div.tablefixDiv div.colDiv a').attr("href", "#");
    //$('div.tablefixDiv div.crossDiv a').empty();
    //$('div.tablefixDiv div.rowDiv a').empty();
    //$('div.tablefixDiv div.colDiv a').empty();
    //$('div.tablefixDiv div.bodyDiv a').empty();
});	
</script>