<% loopcnt = (Date.new(@input_day.to_s[0,4].to_i, @input_day.to_s[4,2].to_i, -1)).strftime("%d").to_i %>

<h1>
	<%= "#{@input_day.to_s[0,4]}年#{@input_day.to_s[4,2]}月" %><br />
	<%= "#{@user.user_name}" %>
</h1>
<%= form_tag({:action => 'baito_row_input_add' }, { :remote => true }) do %>
<%= hidden_field_tag 'input_day', @input_day %>
<%= hidden_field_tag 'user_id', @user.id %>
<%= hidden_field_tag 'm_shop_id', @m_shop_id %>
<table id="baito_row_input_table" class="rounded-corner">
	<thead>
		<tr>
		<th style="min-width: 40px">日</th>
		<th style="max-width: 40px">曜</th>
		<th style="min-width: 80px">日勤</th>
		<th style="min-width: 80px">残業</th>
		<th style="min-width: 80px">夜勤</th>
		<th style="min-width: 80px">深夜残業</th>
		<th style="min-width: 80px">時間合計</th>
		<th style="min-width: 80px"><%= @m_cost_name.input_name1 %></th>
		<th style="min-width: 80px"><%= @m_cost_name.input_name2 %></th>
		<th style="min-width: 80px"><%= @m_cost_name.input_name3 %></th>
		<th style="min-width: 80px"><%= @m_cost_name.input_name4 %></th>
		</tr>
	</thead>
	<tbody>
		<% total = Hash::new %>
		<% loopcnt.times { |i| %>
			<% background_css = "background-image:none; background-color: #F7DC67" if Time.now.day == (i+1) and @input_day.to_s == Time.now.localtime.strftime("%Y%m") %>
			<tr>
			<td style="text-align: center; <%= background_css %>"><%= i + 1 %></td>
		      <% select_day = Date.new(@input_day.to_s[0,4].to_i, @input_day.to_s[4,2].to_i, i + 1) %>		
			  <% week_w = day_of_the_week(select_day.wday) %>	
			  <% if week_w == "土" or week_w =="日" %>
			  	<% if Time.now.day == (i+1) %>
			  		<td style='<%= background_css if background_css %>' >
			  	<% else %>
			  		<% if week_w == "土" %>
			  			<td style = "background-image:none; background-color: #498AF3">
			  	 	<% else %>
			  	 		<td style = "background-image:none; background-color: #E92033">
			  	 	<% end %>
			  	<% end %> 
			  <% else %>
			    <% if Time.now.day == (i+1) %>
			   		<td style='<%= background_css if background_css %>' >
			    <% else %>
			    	<td>
			    <% end %> 
			  <% end %>
				<%= week_w %>
			  </td>
			  	<% d_dutry = DDuty.find(:first, 
		              :conditions=>["duty_nengetu = '#{@input_day.to_s[0,6]}' and day = #{ i + 1} and user_id = #{@user.id}"]) %>
			  	<% d_duty_kakutei_flg = get_d_dutie_kakutei_flg(@m_shop_id, @input_day.to_i, i + 1 ) #確定フラグが立っている場合は入力できない %>
			  	<% d_duty_input_flg = get_d_dutie_input_flg(@m_shop_id, @input_day.to_i, i + 1 ) #入力済みフラグが立っている場合は入力できない %>
			  	<% if d_duty_kakutei_flg == 0 and d_duty_input_flg == 0 %>
				  	<% if d_dutry.blank? %>
					    <td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][day_work_time]", "",  {:size=>4, :class=>"money"} %>
						</td>
					    <td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][day_over_time]", "",  {:size=>4, :class=>"money"} %>
						</td>
					    <td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][night_work_time]", "",  {:size=>4, :class=>"money"} %>
						</td>
					    <td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][night_over_time]", "",  {:size=>4, :class=>"money"} %>
						</td>
						<td style="text-align: center; background-color: #A5D7AA;">
							<label id='<%= "l_datas_#{i + 1}_all_work_time" %>'></label>
							<%= hidden_field_tag "datas[#{i + 1}][all_work_time]", "" %>
					    </td>
						<td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][get_money1]", "",  {:size=>4, :class=>"money"} %>
						</td>
						<td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][get_money2]", "",  {:size=>4, :class=>"money"} %>
						</td>
						<td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][get_money3]", "",  {:size=>4, :class=>"money"} %>
						</td>
						<td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][get_money4]", "",  {:size=>4, :class=>"money"} %>
						</td>
					<% else %>
						<td style="text-align: center;<%= background_css if background_css %>">
				  			<%= text_field_tag "datas[#{i + 1}][day_work_time]", d_dutry.day_work_time,  {:size=>4, :class=>"money"} %>
				  		</td>
						<td style="text-align: center;<%= background_css if background_css %>">
				  			<%= text_field_tag "datas[#{i + 1}][day_over_time]", d_dutry.day_over_time,  {:size=>4, :class=>"money"} %>
				  		</td>
						<td style="text-align: center;<%= background_css if background_css %>">
				  			<%= text_field_tag "datas[#{i + 1}][night_work_time]", d_dutry.night_work_time,  {:size=>4, :class=>"money"} %>
				  		</td>
						<td style="text-align: center;<%= background_css if background_css %>">
				  			<%= text_field_tag "datas[#{i + 1}][night_over_time]", d_dutry.night_over_time,  {:size=>4, :class=>"money"} %>
				  		</td>
						<td style="text-align: right; background-color: #A5D7AA;">
							<label id='<%= "l_datas_#{i + 1}_all_work_time" %>'><%= d_dutry.all_work_time %></label>
							<%= hidden_field_tag "datas[#{i + 1}][all_work_time]", d_dutry.all_work_time %>
					    </td>
						<td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][get_money1]", d_dutry.get_money1,  {:size=>4, :class=>"money"} %>
						</td>
						<td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][get_money2]", d_dutry.get_money2,  {:size=>4, :class=>"money"} %>
						</td>
						<td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][get_money3]", d_dutry.get_money3,  {:size=>4, :class=>"money"} %>
						</td>
						<td style="text-align: center;<%= background_css if background_css %>">
							<%= text_field_tag "datas[#{i + 1}][get_money4]", d_dutry.get_money4,  {:size=>4, :class=>"money"} %>
						</td>
				  	<% end %>
				<% else %>
				  <% unless d_dutry.blank? %>
					<td style="text-align: right;<%= background_css if background_css %>">
			  			<%= label_tag "datas_#{i + 1}_day_work_time", d_dutry.day_work_time.to_s, {:id=>"datas_#{i + 1}_day_work_time"} %>
			  		</td>
					<td style="text-align: right;<%= background_css if background_css %>">
			  			<%= label_tag "datas_#{i + 1}_day_over_time", d_dutry.day_over_time.to_s, {:id=>"datas_#{i + 1}_day_over_time"} %>
			  		</td>
					<td style="text-align: right;<%= background_css if background_css %>">
			  			<%= label_tag "datas_#{i + 1}_night_work_time", d_dutry.night_work_time.to_s, {:id=>"datas_#{i + 1}_night_work_time"} %>
			  		</td>
					<td style="text-align: right;<%= background_css if background_css %>">
			  			<%= label_tag "datas_#{i + 1}_night_over_time", d_dutry.night_over_time.to_s, {:id=>"datas_#{i + 1}_night_over_time"} %>
			  		</td>
					<td style="text-align: right; background-color: #A5D7AA;">
						<label id='<%= "l_datas_#{i + 1}_all_work_time" %>'><%= d_dutry.all_work_time.to_s %></label>
						<%= hidden_field_tag "datas[#{i + 1}][all_work_time]", d_dutry.all_work_time %>
				    </td>
					<td style="text-align: right;<%= background_css if background_css %>">
						<%= label_tag "datas_#{i + 1}_get_money1", d_dutry.get_money1.to_s, {:id=>"datas_#{i + 1}_get_money1"} %>
					</td>
					<td style="text-align: right;<%= background_css if background_css %>">
						<%= label_tag "datas_#{i + 1}_get_money2", d_dutry.get_money2.to_s, {:id=>"datas_#{i + 1}_get_money2"} %>
					</td>
					<td style="text-align: right;<%= background_css if background_css %>">
						<%= label_tag "datas_#{i + 1}_get_money3", d_dutry.get_money3.to_s, {:id=>"datas_#{i + 1}_get_money3"} %>
					</td>
					<td style="text-align: right;<%= background_css if background_css %>">
						<%= label_tag "datas_#{i + 1}_get_money4", d_dutry.get_money4.to_s, {:id=>"datas_#{i + 1}_get_money4"} %>
					</td>	
				  <% else %>
				   	<td style="text-align: right;<%= background_css if background_css %>"></td>	  	
				   	<td style="text-align: right;<%= background_css if background_css %>"></td>	  	
				   	<td style="text-align: right;<%= background_css if background_css %>"></td>	  	
				   	<td style="text-align: right;<%= background_css if background_css %>"></td>	  	
				   	<td style="text-align: right; background-color: #A5D7AA;"></td>
				   	<td style="text-align: right;<%= background_css if background_css %>"></td>	  	
				   	<td style="text-align: right;<%= background_css if background_css %>"></td>	  	
				   	<td style="text-align: right;<%= background_css if background_css %>"></td>	  	
				   	<td style="text-align: right;<%= background_css if background_css %>"></td>	  	
				  <% end %>
				<% end %>
			</tr>
		<% } %>
		<tr>
			<th colspan="2">合計</th>
			<th style="text-align: right;"><label id="day_work_time_total"></label></th>
			<th style="text-align: right;"><label id="day_over_time_total"></label></th>
			<th style="text-align: right;"><label id="night_work_time_total"></label></th>
			<th style="text-align: right;"><label id="night_over_time_total"></label></th>
			<th style="text-align: right;"><label id="all_work_time_total"></label></th>
			<th style="text-align: right;"><label id="get_money1_total"></label></th>
			<th style="text-align: right;"><label id="get_money2_total"></label></th>
			<th style="text-align: right;"><label id="get_money3_total"></label></th>
			<th style="text-align: right;"><label id="get_money4_total"></label></th>
		</tr>
	</tbody>
</table>
<br />
<%= submit_tag '保存', {:confirm => "保存します。よろしいですか？", :method => :post} %>
<% end %>

<%= javascript_include_tag "comma" %>

<script>
$(function () {
	$('div#modal div.container').css("height", "600px");
	$('div#modal div.container').css("width", "900px");
	$("div#modal").fadeIn();
	adjustCenter("div#modal div.container");
	$('div#modal #baito_row_input_table').tablefix({width: 850, height: 450, fixRows: 1, fixCols: 2});
	$('div#modal div.bodyDiv').scrollTop(25 * (<%= Time.now.day %> - 2));
	
	//合計計算
	calc_total("_day_work_time", "day_work_time_total");
	calc_total("_day_over_time", "day_over_time_total");
	calc_total("_night_work_time", "night_work_time_total");
	calc_total("_night_over_time", "night_over_time_total");
	calc_total("_all_work_time", "all_work_time_total");
	calc_total("_get_money1", "get_money1_total");
	calc_total("_get_money2", "get_money2_total");
	calc_total("_get_money3", "get_money3_total");
	calc_total("_get_money4", "get_money4_total");
	
	//入力チェック
	//保存の時
    $("form").submit(function() {
    	var Div_id='';
    	
    	var get_index;
    	var user_name=';'
    	var errmsg='';
    	
    	
	    if ($("div#modal div.bodyDiv").size() > 0) {
	    	Div_id = 'div.bodyDiv ';
	    };
	    
	    //日勤
	    $("div#modal " + Div_id + "[id*=_day_work_time]").each(function(i){
		   	get_index = $(this).attr('id').replace("datas_", "");
		    get_index = get_index.replace("_day_work_time", "");
			
			if (d_duty_validation($(this).val()) == false) {
				if (errmsg != "") { errmsg = errmsg + ", "; };
				errmsg = errmsg + get_index;
			};
 
	    });  
	    $("div#modal " + Div_id + "[id*=_day_over_time]").each(function(i){
		   	get_index = $(this).attr('id').replace("datas_", "");
		    get_index = get_index.replace("_day_over_time", "");
			
			if (d_duty_validation($(this).val()) == false) {
				if (errmsg != "") { errmsg = errmsg + ", "; };
				errmsg = errmsg + get_index;
			};
 
	    }); 
	    	    
	    //夜勤
	    $("div#modal " + Div_id + "[id*=_night_work_time]").each(function(i){
		   	get_index = $(this).attr('id').replace("datas_", "");
		    get_index = get_index.replace("_night_work_time", "");
			
			if (d_duty_validation($(this).val()) == false) {
				if (errmsg != "") { errmsg = errmsg + ", "; };
				errmsg = errmsg + get_index;
			};
	        
	    });  
	    $("div#modal " + Div_id + "[id*=_night_over_time]").each(function(i){
		   	get_index = $(this).attr('id').replace("datas_", "");
		    get_index = get_index.replace("_night_over_time", "");
			
			if (d_duty_validation($(this).val()) == false) {
				if (errmsg != "") { errmsg = errmsg + ", "; };
				errmsg = errmsg + get_index;
			};
	        
	    });  
	    
        if (errmsg != "") {
			alert("勤務時間を正しく入力してください。(整数２桁、少数１桁)\n（" + errmsg + "日）");
 			return false;
 	    };	
 	    	    	    
	    //合計
	    $("div#modal " + Div_id + "[id*=_all_work_time]").each(function(i){
		   	get_index = $(this).attr('id').replace("datas_", "");
		    get_index = get_index.replace("_all_work_time", "");
			
			if (d_duty_validation($(this).val()) == false) {
				if (errmsg != "") { errmsg = errmsg + ", "; };
				errmsg = errmsg + get_index;
			};
	        
	    });  
	     
        if (errmsg != "") {
			alert("勤務時間を正しく入力してください。(整数２桁、少数１桁)\n（" + errmsg + "日）");
 			return false;
 	    };
 	    
    });	
});	

</script>
