<% loopcnt = (Date.new(@input_day.to_s[0,4].to_i, @input_day.to_s[4,2].to_i, -1)).strftime("%d").to_i %>

<h1>
	<%= "#{@input_day.to_s[0,4]}年#{@input_day.to_s[4,2]}月" %><br />
	<%= "#{@user.user_name}" %>
</h1>
<%= form_tag({:action => 'syain_row_input_add' }, { :remote => true }) do %>
<%= hidden_field_tag 'input_day', @input_day %>
<%= hidden_field_tag 'user_id', @user.id %>
<%= hidden_field_tag 'm_shop_id', @m_shop_id %>
<%= hidden_field_tag 'system_date', @system_date %>
<table id="syain_row_input_table" class="rounded-corner">
	<thead>
		<tr>
		<th style="min-width: 40px">日</th>
		<th style="max-width: 40px">曜</th>
		<th style="min-width: 100px">勤怠</th>
		</tr>
	</thead>
	<tbody>
		<% loopcnt.times { |i| %>
			<% background_css = "background-image:none; background-color: #F7DC67" if Time.now.day == (i+1) and @input_day.to_s == Time.now.localtime.strftime("%Y%m") %>
			<tr>
			<td style="text-align: center; <%= background_css %>"><%= i + 1 %></td>
		      <% select_day = Date.new(@input_day.to_s[0,4].to_i, @input_day.to_s[4,2].to_i, i + 1) %>		
			  <% week_w = day_of_the_week(select_day.wday) %>	
			  <% if week_w == "土" or week_w =="日" %>
			  	<%# if Time.now.day == (i+1) %>
			  	<% if Date.today == select_day %>
			  		<td style='<%= background_css %>' >
			  	<% else %>
			  		<% if week_w == "土" %>
			  			<td style = "background-image:none; background-color: #498AF3">
			  	 	<% else %>
			  	 		<td style = "background-image:none; background-color: #E92033">
			  	 	<% end %>			  	<% end %> 
			  <% else %>
		   		<td style='<%= background_css %>' >
			  <% end %>
				<%= week_w %>
			  </td>
			  <td style="text-align: center;<%= background_css %>">
			  	<% d_dutry = DDuty.find(:first, 
		              :conditions=>["duty_nengetu = '#{@input_day.to_s[0,6]}' and day = #{ i + 1} and user_id = #{@user.id}"]) %>
			  	<% d_duty_kakutei_flg = get_d_dutie_kakutei_flg(@m_shop_id, @input_day.to_i, i + 1 ) #確定フラグが立っている場合は入力できない %>
			  	<% d_duty_input_flg = get_d_dutie_input_flg(@m_shop_id, @input_day.to_i, i + 1 ) #入力済みフラグが立っている場合は入力できない %>
			  	<% if d_duty_kakutei_flg == 0 and d_duty_input_flg == 0 %>
				  	<%= hidden_field_tag "datas_input_day_#{i + 1}", @input_day.to_s[0,6].to_s + format("%02d", i + 1) %>
				  	<% if d_dutry.blank? %>
					  	<%= radio_button_tag("datas[#{i + 1}][syukin]",1) %>出
						<%= radio_button_tag("datas[#{i + 1}][syukin]",0) %>休
				  	<% else %>
				  		<% if d_dutry.day_work_time.to_i == 0 %>
				  			<%= radio_button_tag("datas[#{i + 1}][syukin]",1) %>出
							<%= radio_button_tag("datas[#{i + 1}][syukin]",0, :checked => true) %>休
				  		<% else %>
				  			<%= radio_button_tag("datas[#{i + 1}][syukin]",1, :checked => true) %>出
							<%= radio_button_tag("datas[#{i + 1}][syukin]",0) %>休
				  		<% end %>
				  	<% end %>
			  	<% else %>
			  		<% unless d_dutry.blank? %>
			  			<% if d_dutry.day_work_time.to_i == 0 %>
			  				<%= label_tag "datas_#{i + 1}_syukin", "休",{:style=>"color:red"} %>
			  			<% else %>
			  				<%= label_tag "datas_#{i + 1}_syukin", "出" %>
			  			<% end %>
			  		<% end %>
			  	<% end %>
			  </td>

			</tr>
		<% } %>
	</tbody>
</table>
<br />
<%= submit_tag '登録', {:confirm => "登録します。よろしいですか？", :method => :post} %>
<% end %>

<script>
$(function () {
	$('div#modal div.container').css("height", "600px");
	$('div#modal div.container').css("width", "280px");
	$("div#modal").fadeIn();
	adjustCenter("div#modal div.container");
	$('div#modal #syain_row_input_table').tablefix({width: 210, height: 450, fixRows: 1, fixCols: 0});
	if ('<%= @input_day.to_s %>' == '<%= Time.now.localtime.strftime("%Y%m") %>') {
		$('div#modal div.bodyDiv').scrollTop(25 * (<%= Time.now.day %> - 2));
	};
	
	//入力チェック
	//保存の時
    $("form").submit(function() {
    	var Div_id='';
	    var get_index;
    	var errmsg='';
    	    	
	    if ($("div#modal div.bodyDiv").size() > 0) {
	    	Div_id = 'div.bodyDiv ';
	    };
    	
    	//システム日付以前分の入力は必須入力
	    $("div#modal " + Div_id + "[id^=datas_input_day_]").each(function(i){
		   	var get_index = $(this).attr('id').replace("datas_input_day_", "");

			if ($(this).val() < $("div#modal #system_date").val()) {
				syukin_checkbox_name = "div#modal " + Div_id + "input:radio[name='datas\\[" + get_index + "\\]\\[syukin\\]']:checked"
				if (!$(syukin_checkbox_name).val()) {
				     if (errmsg != "") { errmsg = errmsg + ", "; };
				     errmsg = errmsg + get_index + "日";
				};
			};
		    
	    });
	    
        if (errmsg != "") {
			alert("勤怠に未入力があります。(" + errmsg + ")");
 			return false;
 	    };
	
    });	
});	
</script>
