<%= form_for(@m_item_account) do |f| %>
  <% if @m_item_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_item_account.errors.count, "error") %> prohibited this m_item_account from being saved:</h2>

      <ul>
      <% @m_item_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_account_code %><br />
    <%= f.number_field :item_account_code %>
  </div>
  <div class="field">
    <%= f.label :item_account_name %><br />
    <%= f.text_field :item_account_name %>
  </div>
  <div class="field">
    <%= f.label :outline %><br />
    <%= f.text_field :outline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
