<h1>Listing m_item_accounts</h1>

<table>
  <tr>
    <th>Item account code</th>
    <th>Item account name</th>
    <th>Outline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @m_item_accounts.each do |m_item_account| %>
  <tr>
    <td><%= m_item_account.item_account_code %></td>
    <td><%= m_item_account.item_account_name %></td>
    <td><%= m_item_account.outline %></td>
    <td><%= link_to 'Show', m_item_account %></td>
    <td><%= link_to 'Edit', edit_m_item_account_path(m_item_account) %></td>
    <td><%= link_to 'Destroy', m_item_account, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New M item account', new_m_item_account_path %>
