<%
## #local args#
##	d_price_check : d_price_check の ActiveRecord(1行)
##	input_flg     : 入力可/不可
##	input_name    : input要素のハッシュ名
%>

<script>
$(function() {
	<% if input_flg.to_s == "true" then %>
		$("#_form_<%= input_name %>").find(".datepicker").datepicker();
	<% else %>
		$("#_form_<%= input_name %>").find("input").attr("readonly", "readonly");
		$("#_form_<%= input_name %>").find("select").attr("disabled", "disabled");
		$("#btn_copy").prop("disabled", false);
	<% end %>
});

// 全角数字入力を半角に置き換える
$(function () {
	$("input[id$=hg], input[id$=rg], input[id$=kg], input[id$=tg]").change( function (){
		var tmp = this.value;
		tmp = tmp.replace(/０/g, "0");
		tmp = tmp.replace(/１/g, "1");
		tmp = tmp.replace(/２/g, "2");
		tmp = tmp.replace(/３/g, "3");
		tmp = tmp.replace(/４/g, "4");
		tmp = tmp.replace(/５/g, "5");
		tmp = tmp.replace(/６/g, "6");
		tmp = tmp.replace(/７/g, "7");
		tmp = tmp.replace(/８/g, "8");
		tmp = tmp.replace(/９/g, "9");
		if (tmp != this.value) {
			this.value = tmp;
		}
	});
});
</script>

<div id="_form_<%= input_name %>">

<%= hidden_field input_name, "id",        :value => d_price_check["id"] %>
<%= hidden_field input_name, "m_shop_id", :value => d_price_check["m_shop_id"] %>

<table class="rounded-corner">
<tr>
	<th>
		価格変更日時
	</th>
	<td>
		<% day = "#{d_price_check['research_day'][0..3]}/#{d_price_check['research_day'][4..5]}/#{d_price_check['research_day'][6..7]}" %>
		<%= text_field input_name, "research_day", :value => day, :maxlength => 10, :class => "datepicker", :readonly => true %>
	</td>
	<td>
		<% 
			hours = Array.new()
			for i in 0..23
				hours.push ["#{i}時", i]
			end
		%>
		<%= select input_name, "research_time", hours, :selected => d_price_check["research_time"], :style => "text-align:right;" %>		
	</td>
</tr>
</table>

<br/>

<table>
<tr>
<td valign="top">

<table class="rounded-corner">
<tr >
	<th>
		&nbsp;
	</th>
	<th>
		表示/価格
	</th>
	<th>
		ハイオク
	</th>
	<th>
		レギュラー
	</th>
	<th>
		軽油
	</th>
	<th>
		灯油
	</th>
</tr>

<%
	# オイルパネルコード
	oil_panels = MCode.find(:all, :conditions => ["kbn=?", "oil_panel"], :order => "code").collect{|i| [i.code_name1, i.code]}
%>

<% for i in 1..2 %><% for j in 1..3 %>
<tr>
	<!-- 通常時 / 特売日 -->
	<% if j == 1 then %>
		<th rowspan="3">
			<%= d_price_check["dis#{ i }_name"].to_s %>
			<%= hidden_field input_name, "dis#{ i }_name", :value => d_price_check["dis#{ i }_name"] %>
		</th>
	<% end %> <!-- if j == 1 then -->

	<!-- 表示 / 価格 -->
	<% if j == 2 then %>
		<th>
			<%= d_price_check["dis#{ i }_#{ j }_name"].to_s %>
			<%= hidden_field input_name, "dis#{ i }_#{ j }_name", :value => d_price_check["dis#{ i }_#{ j }_name"] %>
			<%= select input_name, "dis#{ i }_#{ j }_code", oil_panels, :include_blank => true, :selected => d_price_check["dis#{ i }_#{ j }_code"], :disabled => not(input_flg) %>
		</th>
	<% else %> <!-- if j == 2 -->
		<th>
			<%= d_price_check["dis#{ i }_#{ j }_name"].to_s %>
			<%= hidden_field input_name, "dis#{ i }_#{ j }_name", :value => d_price_check["dis#{ i }_#{ j }_name"] %>
		</th>
	<% end %> <!-- if j == 2 -->

	<!-- ハイオク -->
	<td>
		<%= text_field input_name, "dis#{ i }_#{ j }_hg", :value => d_price_check["dis#{ i }_#{ j }_hg"], :maxlength => 10, :style => "ime-mode:active;" %>
	</td>
	
	<!-- レギュラー -->
	<td>
		<%= text_field input_name, "dis#{ i }_#{ j }_rg", :value => d_price_check["dis#{ i }_#{ j }_rg"], :maxlength => 10, :style => "ime-mode:active;" %>
	</td>
	
	<!-- 軽油 -->
	<td>
		<%= text_field input_name, "dis#{ i }_#{ j }_kg", :value => d_price_check["dis#{ i }_#{ j }_kg"], :maxlength => 10, :style => "ime-mode:active;" %>
	</td>
	
	<!-- 灯油 -->
	<td >
		<%
		if j == 1 then
			color_style = "background-color:lightgray;"
		else
			color_style = ""
		end
		%>
		<%= text_field input_name, "dis#{ i }_#{ j }_tg", :value => d_price_check["dis#{ i }_#{ j }_tg"], :maxlength => 10, :disabled => (j == 1) , :style => "ime-mode:active; #{ color_style }" %>
		<div id="<%="label_#{ input_name }_dis#{ i }_#{ j }_tg"%>" style="width:55px; float: right; text-align: right;">
			&nbsp;
		</div>
		<script>
		$( function () {
			$("#<%="#{ input_name }_dis#{ i }_#{ j }_tg"%>").change( function () {
				var tg = Number($(this).val());
				var label = $("#label_" + this.id);
				
				if (isNaN(tg) || (tg == 0)) {
					label.html("&nbsp;");
				} else {
					tg = tg / 18;
					tg = tg * 10;
					tg = Math.round(tg);
					tg = tg / 10;
					label.html("(" + tg + ")");
				}
			});
			$("#<%="#{ input_name }_dis#{ i }_#{ j }_tg"%>").trigger("change");
		});
		</script>
	</td>
	
</tr>
<% end %><% end %> <!-- for j in 1..3 --> <!-- for i in 1..2 -->

</table>

</td>

<td valign="top">
<table class="rounded-corner">

<tr>
	<th>
		&nbsp;
	</th>
	<th>
		&nbsp;
	</th>
	<th>
		金額
	</th>
</tr>

<%# for i in 1..4 %>
<% for i in 1..6 %>
<tr>
	<th>
		<%#= ["特売", "プリカ", "会員", "備考"][ (i - 1)] %>
		<%=["特売", "ﾌﾟﾘｶ(ｶﾞｿﾘﾝ・軽油)", "会員", "ﾌﾟﾘｶ(灯油)", "会員(灯油)", "備考"][ (i - 1)] %>
	</th>
	<%# if i == 4 then %>
	<% if i == 6 then %>
	<td colspan="2">
		<%= text_field input_name, "minus_name#{ i }", :value => d_price_check["minus_name#{ i }"], :maxlength => 10, :style => "ime-mode:active; width:120px;" %>
	</td>
	<% else %>
	<td>
		<% if DPriceCheck.column_names.include?("minus_name#{ i }") then %>
		<%= text_field input_name, "minus_name#{ i }", :value => d_price_check["minus_name#{ i }"], :maxlength => 10, :style => "ime-mode:active;" %>
		<% end %>
	</td>
	<td>
		<%= text_field input_name, "minus_gak#{ i }", :value => d_price_check["minus_gak#{ i }"] , :style => "ime-mode:inactive; text-align:right; width:40px;" %>
	</td>
	<% end %>
</tr>
<% end %><!-- for i in 1..5 -->

<script>
$(function(){
	// マイナス額の小数点以下を固定する
	$("input[id^=<%= input_name %>_minus_gak]").change( function() {
		var num = Number($(this).val());
		if (isNaN(num)) {
			$(this).val("");
		} else {
			$(this).val(num.toFixed(1));
		}
	});
});

</script>


<tr>
	<th>
		ゲーム確率
	</th>
	<td colspan="3">
		<%= text_field input_name, "game", :value => d_price_check["game"], :maxlength => 3 %>
	</td>
</tr>

</table>
</td>
</tr>
</table>

</div> <!-- <div id="_form_<%= input_name %>"> -->
