<p>
   <%= render partial: 'header'%>
</p>
<p>
<table id='rounded-corner'>
	<tr>
      <th>入力日時</th>
      <td><%= @research_day[0,4] + "/" + @research_day[4,2] + "/" + @research_day[6,2] %>　
      	  <%= @research_time.to_i %>時</td>
      </tr>
</table>
</p>

<%= form_tag({:action => 'update'}) do %>
<%= hidden_field_tag 'research_day',@research_day %>
<%= hidden_field_tag 'research_time',@research_time %>
<table class="rounded-corner">
  <tr>
    <th scope="col">&nbsp;</th>
    <th colspan="2" scope="col">表示/価格</th>
    <th scope="col">レギュラー</th>
    <th scope="col">ハイオク</th>
    <th scope="col">軽油</th>
    <th scope="col">灯油</th>
    <th scope="col">備考</th>
  </tr>
  <tr>
    <th rowspan="3">通常時</th>
    <th colspan="2">サインポール</th>
    <td><%= render 'rg_input_text',:price_check => @price_check,:num => 1 %></td>
    <td><%= render 'hg_input_text',:price_check => @price_check,:num => 1 %></td>
    <td><%= render 'kg_input_text',:price_check => @price_check,:num => 1 %></td>
    <td><%= render 'tg_input_text',:price_check => @price_check,:num => 1 %></td>
    <td></td>
  </tr>
  <tr>
    <th>下看</th>
    <th>&nbsp;</th>
    <td><%= render 'rg_input_text',:price_check => @price_check,:num => 2 %></td>
    <td><%= render 'hg_input_text',:price_check => @price_check,:num => 2 %></td>
    <td><%= render 'kg_input_text',:price_check => @price_check,:num => 2 %></td>
    <td><%= render 'tg_input_text',:price_check => @price_check,:num => 2 %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th colspan="2">通常価格</th>
    <td><%= render 'rg_input_text',:price_check => @price_check,:num => 3 %></td>
    <td><%= render 'hg_input_text',:price_check => @price_check,:num => 3 %></td>
    <td><%= render 'kg_input_text',:price_check => @price_check,:num => 3 %></td>
    <td><%= render 'tg_input_text',:price_check => @price_check,:num => 3 %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th rowspan="3">特売日</th>
    <th colspan="2">サインポール</th>
    <td><%= render 'rg_input_text',:price_check => @price_check,:num => 4 %></td>
    <td><%= render 'hg_input_text',:price_check => @price_check,:num => 4 %></td>
    <td><%= render 'kg_input_text',:price_check => @price_check,:num => 4 %></td>
    <td><%= render 'tg_input_text',:price_check => @price_check,:num => 4 %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th>下看</th>
    <th>&nbsp;</th>
    <td><%= render 'rg_input_text',:price_check => @price_check,:num => 5 %></td>
    <td><%= render 'hg_input_text',:price_check => @price_check,:num => 5 %></td>
    <td><%= render 'kg_input_text',:price_check => @price_check,:num => 5 %></td>
    <td><%= render 'tg_input_text',:price_check => @price_check,:num => 5 %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th colspan="2">特売価格</th>
    <td><%= render 'rg_input_text',:price_check => @price_check,:num => 6 %></td>
    <td><%= render 'hg_input_text',:price_check => @price_check,:num => 6 %></td>
    <td><%= render 'kg_input_text',:price_check => @price_check,:num => 6 %></td>
    <td><%= render 'tg_input_text',:price_check => @price_check,:num => 6 %></td>
    <td>&nbsp;</td>
  </tr>
</table>
<%= submit_tag '更新' %>
<% end %>
<%= link_to '戻る',:action => 'index'%>
