<%= javascript_include_tag "comma" %>

<br/>

<table class="rounded-corner">
<tr>
	<th>対象店舗</th>
	<td style="min-width: 250px; background-color: #A5D7AA;">
		<% m_shop = MShop.find(@m_shop_id) %>
		<%= m_shop.shop_cd %>&nbsp;<%= m_shop.shop_ryaku %>
	</td>
</tr>
</table>

<hr/>
<br/>

<%= form_tag({:action => "update"}, {:method => :post, :remote => true }) do %>
	<div id="input_area">
		<%= render :partial => "form", :locals => { :d_price_check => @d_price_check,
		                                            :input_flg     => true,
		                                            :input_name    => "input_area"} %>
	</div>
	<!-- UPDATE BEGIN 2012.11.21 未来日の入力を不可にする -->
	<%#= submit_tag "　更　新　", :disable_with => "処理中です..", :style => "float:right; margin-top:10px; margin-right:40px;"%>
	<%= submit_tag "　更　新　", :onclick => "return chk_koshin();", :disable_with => "処理中です..", :style => "float:right; margin-top:10px; margin-right:40px;"%>
	<script>
		function chk_koshin() {
			var ymd = $("#input_area_research_day").val().split("/");
			ymd = new Date(Number(ymd[0]), Number(ymd[1]) - 1, Number(ymd[2]));
			
			var symd = new Date();
			symd = new Date(symd.getFullYear(), symd.getMonth(), symd.getDate());

			if (symd < ymd) {
				alert("本日以降の日付が入力されています。");
				return false;
			} else {
				return true;
			}
		}
	</script>
	<!-- UPDATE END 2012.11.21 未来日の入力を不可にする -->
	<br/><br/>
<% end %> <!-- form_tag({:action => "update"}, {:method => :post, :remote => true }) do -->

<hr/><br/>
	<div style="width:100%; text-align: center;">
	<input type="button" value="値コピー" id="btn_copy" style="width:100px;" <%="disabled='disabled'" if @d_price_check_last.nil? %> >
	<!-- 
	<input type="button" value="編集"     id="btn_edit" style="width:100px;">
	-->
	<script>
	$(function (){
		$("#btn_copy").click(function () {
			if ($("#show_area_id").val() == "") {
				return true;
			}
			
			var params = {
				 authenticity_token : $("*[name=authenticity_token]").val()
				,m_shop_id          : $("#input_area_m_shop_id").val()
				,research_day       : $("#input_area_research_day").val()
				,research_time      : $("#input_area_research_time").val()
				,copy_id            : $("#show_area_id").val()
			};
			
			$.post("<%=url_for(:action => 'input_copy')%>", params);
		});
		
		$("#btn_edit").click(function (){ 
			if ($("#show_area_id").val() == "") {
				return true;
			}
			
			var params = {
				 authenticity_token : $("*[name=authenticity_token]").val()
				,edit_id            : $("#show_area_id").val()
			};
			
			$.post("<%=url_for(:action => 'input_edit')%>", params);
		});
		
	});
	</script>
	</div>
<hr/><br/>

<div id="keys_area" style="padding-left: 5px;" >
	<% if not(@d_price_check_last.nil?) then%>
		<%= render :partial => "keys"%>
	<% end %>
</div>

<br/>

<div id="show_area" style="margin-top: 5px;">
	<% if not(@d_price_check_last.nil?) then%>
		<%= render :partial => "form", :locals => { :d_price_check => @d_price_check_last,
			                                        :input_flg     => false,
			                                        :input_name    => "show_area"} %>
	<% end %>
</div>