<p>
   <%= render partial: 'header'%>
</p>
<table id='rounded-corner'>
	<tr>
      <th>入力日時</th>
      <td><%= @research_day[0,4] + "/" + @research_day[4,2] + "/" + @research_day[6,2] %>　
      	  <%= @research_time.to_i %>時</td>
      </tr>
</table>
</p>
<table class="rounded-corner">
  <tr>
    <th scope="col">&nbsp;</th>
    <th colspan="2" scope="col">表示/価格</th>
    <th scope="col">レギュラー</th>
    <th scope="col">ハイオク</th>
    <th scope="col">軽油</th>
    <th scope="col">灯油</th>
    <th scope="col">備考</th>
  </tr>
  <tr>
    <th rowspan="3">通常時</th>
    <th colspan="2">サインポール</th>
    <td><%= @price_check.rg_price1 %></td>
    <td><%= @price_check.hg_price1 %></td>
    <td><%= @price_check.kg_price1 %></td>
    <td><%= @price_check.tg_price1 %></td>
    <td></td>
  </tr>
  <tr>
    <th>下看</th>
    <th>&nbsp;</th>
    <td><%= @price_check.rg_price2 %></td>
    <td><%= @price_check.hg_price2 %></td>
    <td><%= @price_check.kg_price2 %></td>
    <td><%= @price_check.tg_price2 %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th colspan="2">通常価格</th>
    <td><%= @price_check.rg_price3 %></td>
    <td><%= @price_check.hg_price3 %></td>
    <td><%= @price_check.kg_price3 %></td>
    <td><%= @price_check.tg_price3 %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th rowspan="3">特売日</th>
    <th colspan="2">サインポール</th>
    <td><%= @price_check.rg_price4 %></td>
    <td><%= @price_check.hg_price4 %></td>
    <td><%= @price_check.kg_price4 %></td>
    <td><%= @price_check.tg_price4 %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th>下看</th>
    <th>&nbsp;</th>
    <td><%= @price_check.rg_price5 %></td>
    <td><%= @price_check.hg_price5 %></td>
    <td><%= @price_check.kg_price5 %></td>
    <td><%= @price_check.tg_price5 %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th colspan="2">特売価格</th>
    <td><%= @price_check.rg_price6 %></td>
    <td><%= @price_check.hg_price6 %></td>
    <td><%= @price_check.kg_price6 %></td>
    <td><%= @price_check.tg_price6 %></td>
    <td>&nbsp;</td>
  </tr>
</table>

<%= link_to '戻る',:action => 'index'%>
