<table id='rounded-corner2' class="comment_view_table" width="550">
  <thead>	
    <tr>
      <th colspan="5" class="title" style="max-width: 550px;"><%= image_tag 'comment.png' %>コメント</th>
    </tr>
    <tr>
  	  <th style="max-width: 80px;">発信日</th>
  	  <th style="max-width: 190px;">タイトル</th>
  	  <th style="max-width: 170px;">発信者</th>
  	  <th style="max-width: 55px;">詳細</th>  	
      <th style="max-width: 55px;">削除</th>
    </tr>
  </thead>

  <tbody>
    <% @d_comments.each do |d_comment| %>
      <tr>
   	    <td><%= d_comment.send_day.strftime("%Y/%m/%d") %></td>
        <td><%= d_comment.title %></td>
  	    <td><%= d_comment.user_name %></td>
  	    <td align="center">
  	  	  <%= link_to image_tag('icon/show.png'), {:controller => 'homes', :action => 'show_d_comment', :id => d_comment.id}, :class => "modal" %>
  	    </td>
  	    <td align="center">
  	      <%= link_to image_tag('icon/delete.png'), {:action => 'delete_d_comment', :id => d_comment.id}, 
  	          {:remote => true, :confirm => '削除します。よろしいですか？'} %>
  	    </td>  	
      </tr>
    <% end %>
  </tbody>
</table>