<br/><br/>
<table id='rounded-corner'>
  <caption>
  	１週間の予定　<%= @today.strftime("%Y年%m月%d日") %>　～　
  	<%= @end_day.strftime("%Y年%m月%d日") %>
  </caption> 	
  <tr>
  	<% for i in 0..6 %>
      <th width='100'>
      	<% day, wday = home_date_format(@today, i)%>
      	<%= day %>(<%= wday %>)
      </th>  	
  	<% end %>
  </tr>
  <tr>
    <td>　<br><br><br></td>
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>  
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>                    
  </tr>
</table>
<br><br>

<table id='rounded-corner2'>
  <tr>
  	<th width='900'colspan="3" class="title"><%= image_tag 'information.png' %>イベント通知</th>
  </tr>
  <tr>
  	<th width="9%">実施日</th>
  	<th width="35%">タイトル</th>
  	<th width="56%">内容</th>  	  	
  </tr>
</table>  
<div style="height:100px;width:925px;overflow-y:auto;overflow-x:hidden;">
<table id='rounded-corner2'style="margin-top:-1px; width:904px;">  
  <% @d_events.each do |d_event| %>
    <tr>
  	  <td width="9%"><%= Time.parse(d_event.action_day).strftime("%Y/%m/%d") %></td>
  	  <td width="35%"><%= d_event.display_name %></td>
  	  <td width="56%"><%= d_event.contents %></td>  	  	
    </tr>
  <% end %> 
</table>
</div>
<br><br><br>

<div style="float: left;width: 50%;">
  <table id='rounded-corner2'>
    <tr>
  	  <th width='450' colspan="4" class="title"><%= image_tag 'mail.png' %>メッセージ</th>
    </tr>
    <tr>
  	  <th width="17%">日付</th>
  	  <th width="34%">タイトル</th>
  	  <th width="39%">内容</th>
  	  <th width="10%">削除</th>
    </tr>  
  </table>

  <div style="height:100px;width:475px;overflow-y:auto;overflow-x:hidden;">
  <table id='rounded-corner2'style="margin-top:-1px; width:454px;">
    <% @d_messages.each do |d_message| %>  
      <tr>
  	    <td width="17%"><%= d_message.send_day.strftime("%Y/%m/%d") %></td>
  	    <td width="34%"><%= d_message.display_name %></td>
  	    <td width="39%"><%= d_message.contents %></td>
  	    <td width="10%" align="center"><%= link_to image_tag('icon/delete.png'), {:action => 'destroy_d_message'}, :confirm => '削除します。よろしいですか？', :method => :delete %></td>    	    
      </tr>
    <% end %>
  </table>
  </div>
</div>

<div style="float: right;width: 50%;">
  <table id='rounded-corner2'>
    <tr>
  	  <th width='450'colspan="5" class="title"><%= image_tag 'comment.png' %>コメント</th>
    </tr>
    <tr>
  	  <th width="17%">発信日</th>
  	  <th width="33%">タイトル</th>
  	  <th width="30%">発信者</th>
  	  <th width="10%">詳細</th>  	
  	  <th width="10%">削除</th>
    </tr>
  </table>

  <div style="height:100px;width:475px;overflow-y:auto;overflow-x:hidden;">
  <table id='rounded-corner2'style="margin-top:-1px; width:454px;">
    <% @d_comments.each do |d_comment| %>
      <tr>
   	    <td width="17%"><%= d_comment.send_day.strftime("%Y/%m/%d") %></td>
        <td width="33%"><%= d_comment.display_name %></td>
  	    <td width="30%"><%= d_comment.user_name %></td>
  	    <td width="10%" align="center"><%#= link_to image_tag('icon/show.png'), :action => 'show_d_comment' %>
  	  	  <%= link_to image_tag('icon/show.png'), {:controller => 'homes', :action => 'show_d_comment', :id => d_comment.id}, :class => "modal" %>
  	    </td>
  	    <td width="10%" align="center"><%= link_to image_tag('icon/delete.png'), {:action => 'destroy_d_comment'}, :confirm => '削除します。よろしいですか？', :method => :delete %></td>  	
      </tr>
    <% end %>
  </table>
  </div>
</div>
