<br/><br/>
<table id='rounded-corner'>
  <caption>
  	１週間の予定　<%= @today.strftime("%Y年%m月%d日") %>　～　
  	<%= @end_day.strftime("%Y年%m月%d日") %>
  </caption> 	
  <tr>
  	<% for i in 0..6 %>
      <th width='100'>
      	<% day, wday = home_date_format(@today, i)%>
      	<%= day %>(<%= wday %>)
      </th>  	
  	<% end %>
  </tr>
  <tr height="70">
  	<% for i in 0..6 %>
      <td valign="top">
    	<% for r in 0..@m_washsale_plans.size - 1 %>
    	  <% if @m_washsale_plans[r][((@today + i.days).strftime("%A")).downcase].to_i == 1 %>
    	    <%= @m_washsale_plans[r].wash_name %><br/>
    	  <% end %>
    	<% end %>
      </td>
    <% end %>                  
  </tr>
</table>
<br/><br/>

<table id='rounded-corner2'>
  <tr>
  	<th width='900'colspan="3" class="title"><%= image_tag 'information.png' %>イベント通知</th>
  </tr>
  <tr>
  	<th width="10%">実施日</th>
  	<th width="35%">タイトル</th>
  	<th width="55%">内容</th>  	  	
  </tr>
</table>  
<div style="height:100px;width:925px;overflow-y:auto;overflow-x:hidden;">
<table id='rounded-corner2'style="margin-top:-1px; width:904px;">  
  <% @d_events.each do |d_event| %>
    <tr>
  	  <td width="10%"><%= d_event.action_day %></td>
  	  <td width="35%"><%= d_event.display_name %></td>
  	  <td width="55%"><%= d_event.contents %></td>  	  	
    </tr>
  <% end %> 
</table>
</div>
<br/><br/><br/>

<div id="d_comments"><%= render 'd_comments' %></div>	
