<br/><br/>
<table id='rounded-corner'>
  <caption>
  	１週間の予定　<%= @today.strftime("%Y年%m月%d日") %>　～　
  	<%= @end_day.strftime("%Y年%m月%d日") %>
  </caption> 	
  <tr>
  	<% for i in 0..6 %>
      <th width='100'>
      	<% day, wday = home_date_format(@today, i)%>
      	<%= day %>(<%= wday %>)
      </th>  	
  	<% end %>
  </tr>
  <tr>
    <td>　<br><br><br></td>
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>  
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>
    <td>布洗車<br>泡洗車<br>スポンジ洗車</td>                    
  </tr>
</table>
<br><br>

<table id='rounded-corner2'>
  <tr>
  	<th width='500'><%= image_tag 'information.png' %>お知らせ</th>
  </tr>
  <tr>
  	<td>a</td>
  </tr>  
</table>
<br><br><br>


<table id='rounded-corner2'>
  <tr>
  	<th width='500' colspan="4"><%= image_tag 'mail.png' %>メッセージ</th>
  </tr>
  <tr>
  	<th>日付</th>
  	<th>タイトル</th>
  	<th>内容</th>
  	<th>削除</th>
  </tr>  
  <tr>
  	<td>a</td>
  </tr>
</table>
<br><br><br>


<table id='rounded-corner2'>
  <tr>
  	<th width='500'colspan="5"class="title"><%= image_tag 'comment.png' %>コメント</th>
  </tr>
  <tr>
  	<th width="16%">発信日</th>
  	<th width="34%">タイトル</th>
  	<th width="30%">発信者</th>
  	<th width="10%">詳細</th>  	
  	<th width="10%">削除</th>
  </tr>
</table>

<div style="height:100px;width:525px;overflow-y:auto;overflow-x:hidden;">
<table id='rounded-corner2'style="margin-top:0px; width:504px;">
  <% @d_comments.each do |d_comment| %>
  <tr>
  	<td width="16%"><%= d_comment.send_day.strftime("%Y/%m/%d") %></td>
  	<td width="34%"><%= d_comment.display_name %></td>
  	<td width="30%"><%= d_comment.user_name %></td>
  	<td width="10%" align="center"><%= link_to image_tag('icon/24_show.png'), :action => 'show_d_comment' %></td>
  	<td width="10%" align="center"><%= link_to image_tag('icon/24_delete.png'), {:action => 'destroy_d_comment'}, :confirm => '削除します。よろしいですか？', :method => :delete %></td>  	
  </tr>
  <% end %>
</table>
</div>
