<%= form_for(@d_event) do |f| %>
  <% if @d_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@d_event.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @d_event.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table id='rounded-corner'>
  <tr>
    <th><%= f.label '開始日' %></th>
    <td>
      <%= f.number_field :start_day, :readonly => true, :class => "datepicker", :size => 5 %>
    </td>
  </tr>
  <tr>
    <th><%= f.label '終了日' %></th>
    <td>
      <%= f.number_field :end_day, :readonly => true, :class => "datepicker", :size => 5 %>
    </td>
  </tr>
  <tr>
    <th><%= f.label '実施日' %></th>
    <td>
      <%= f.number_field :action_day, :readonly => true, :class => "datepicker", :size => 5 %>
    </td>
  </tr>
  <tr>
    <th><%= f.label 'タイトル' %></th>
    <td><%= f.text_field :title %>
    </td>
  </tr>
  <tr>
    <th><%= f.label '内容' %></th>
    <td><%= f.text_area :contents, :rows => 2 %></td>
  </tr>
</table>
  
  <div class="actions">
    <%= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div>
<% end %>
