<!--<p id="notice"><%#= notice %></p>-->
<h1>詳細</h1>

<table id='rounded-corner'>
  <tr>
    <th>開始日</th>
    <td><%= Time.parse(@d_event.start_day).strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= Time.parse(@d_event.end_day).strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>実施日</th>
    <td><%= Time.parse(@d_event.action_day).strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @d_event.title %></td>
  </tr>
  <tr>
    <th>内容</th>
    <td><%= @d_event.contents %></td>
  </tr>
</table>  




<%= link_to '編集', edit_d_event_path(@d_event), :class => 'edit_icon' %> |
<%= link_to '戻る', d_events_path, :class => 'return_icon' %>
