<%=form_tag({:action => 'update' }, :id => "form_update") do%>

<!-- 検索パラメータ -->
<%=hidden_field :hheader, :ym,       :value => params[:header][:ym] %>
<%=hidden_field :hheader, :shop_kbn, :value => params[:header][:shop_kbn] %>
<%=hidden_field :hheader, :zumi_flg, :value => params[:header][:zumi_flg] %>

<!-- 書き込み先の情報を付加 -->
<%=hidden_field :approval, :approval_id,   :value => @approval_id %>
<%=hidden_field :approval, :approval_name, :value => @approval_name %>

<table class='rounded-corner' style="width:95%;" >

	<tr>
		<td colspan="7" align="right" style="border: none;">
			<input type="button" value=" 　一括 　" onclick="return chk_flgs_all(true);"  <%="disabled = 'disabled'" if (@approval_id == 0) %>><br/>
			<input type="button" value="一括クリア" onclick="return chk_flgs_all(false);" <%="disabled = 'disabled'" if (@approval_id == 0) %>>
		</td>
	</tr>

	<tr>
		<th>店舗コード</th>
		<th>店舗名</th>
		<th>店舗種別</th>
		<th>現金有高(累計)</th>
		<th>過不足(累計)</th>
		<th>&nbsp;</th>
		<th>承認</th>
	</tr>
	
	<% rec_cnt = 0 %>
	<% for approval in @approval do %>
		<% rec_cnt += 1 %>

		<tr>
			<td align="center">
				<%=approval.shop_cd%>
			</td>
			<td align="center">
				<%=approval.shop_name%>
			</td>
			<td align="center">
				<%=MCode.find(:first, :conditions=>["kbn='shop_kbn' and code=?", approval.shop_kbn]).code_name %>
			</td>
			<td align="right">
				<%=number_with_delimiter(approval.exist_money)%>
			</td>
			<td align="right">
				<%=number_with_delimiter(approval.over_short)%>
			</td>
			<td align="center">
				<%=link_to "詳細", :controller => "d_sale_reports", :action => "show", :id => approval.id %>
			</td>
			<td align="center">
				<%
					flg = false
					for i in 1..5 do
						if (approval["approve_id#{i}"].to_s == current_user.id.to_s) then
							flg = true 
						end
					end
				%>
			    <%=hidden_field "approval#{rec_cnt}", :id,               :value   => approval.id %>
				<%=hidden_field "approval#{rec_cnt}", :old_approval_flg, :value   => flg %> 
				<%=check_box    "approval#{rec_cnt}", :approval_flg,     
					{:checked => flg, :disabled => (@approval_id == 0)}, true, false %>
			</td>
		</tr>
		
	<% end %> <!-- for approval in @approval do -->
		
	<tr>
		<td colspan="7" align="right" style="border: none">
			<%= submit_tag '　保　存　', :disable_with => "保存中です...", :confirm => "保存してもよろしいですか？",
			    :disabled => (@approval_id == 0) %>
		</td>
	</tr>
		
</table>
<% end %> <!-- form_tag({:action => 'update' }, :id => "form_update") do -->

<script language="JavaScript">
	
	// 承認の全てを一括ON/OFFする
	function chk_flgs_all(flg) {
		$(":checkbox[id$=approval_flg]").each(function() {
			this.checked = flg;
		});
		
		return true;
	}
	
</script>