<%#= javascript_include_tag "m_meters" %>
<h1>計量機マスタメンテ</h1>

<%= form_tag({:action => 'search' }, { :remote => true }) do %>
	<%= select( "m_oil", 'm_oil_id',@m_oils.map do |u| [u.oil_name,u.id] end ) %>
	
  <%= hidden_field "m_shop" ,'m_shop_id', :value => @m_shop_id %>
  <%= submit_tag '検索' %>
<% end %>


<div id="result">
	<%= render :partial => 'form' %>
</div>

<%#= link_to '戻る', m_meters_path, :class => 'return_icon' %>
<%= link_to '戻る', {:controller=>"m_shops", :action=>"index"}, :class => 'return_icon' %>

</div>