<%= form_for(@m_authority) do |f| %>
  <% if @m_authority.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_authority.errors.count, "error") %> prohibited this m_authority from being saved:</h2>

      <ul>
      <% @m_authority.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label '' %></th>
  	  <td><%= f.number_field :authority_cd %></td>  	  
  	</tr>	  	
  	<tr>
  	  <th><%= f.label '権限名' %></th>
  	  <td><%= f.number_field :authority_name %></td>  	  
  	</tr>	   	 	
  </table>  
  <div class="actions">
    <%= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div>
<% end %>
