<%= form_for(@m_authority) do |f| %>
  <% if @m_authority.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_authority.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @m_authority.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label '権限コード' %></th>
  	  <td><%= f.number_field :authority_cd, :style=>"ime-mode:disabled" ,:maxlength=>2 %></td>  	  
  	</tr>	  	
  	<tr>
  	  <th><%= f.label '権限名' %></th>
  	  <td><%= f.text_field :authority_name,:maxlength=>40 %></td>  	  
  	</tr>	   	 	
  </table>  
  <div class="actions">
    <%= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div>
<% end %>
