<p id="notice"><%= notice %></p>

<p>
  <b>Authority classd:</b>
  <%= @m_authority.authority_cd %>
</p>

<p>
  <b>Authority class name:</b>
  <%= @m_authority.authority_name %>
</p>

<p>
  <b>Deleted flg:</b>
  <%= @m_authority.deleted_flg %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @m_authority.deleted_at %>
</p>


<%= link_to 'Edit', edit_m_authority_path(@m_authority) %> |
<%= link_to 'Back', m_authorities_path %>
