
<% nanaco_point_data = nil %>
<% gsum_nanacopoint_num = 0
   gsum_nanacopoint = 0
%>


<%= form_tag({:action => 'print'}) do %>
<%= hidden_field_tag 'from_ymd',@from_ymd %>
<%= hidden_field_tag 'to_ymd'  ,@to_ymd %>
<%= hidden_field_tag 'shop_kbn',@shop_kbn %>
<%= hidden_field_tag 'start_ymd',@start_ymd %>
<%= hidden_field_tag 'end_ymd'  ,@end_ymd %>

<% 
   nanaco_datas = Array::new
   @num = Date.parse(@to_ymd) - Date.parse(@from_ymd)
   for i in 0..@num.to_i
     result_date = (Date.parse(@from_ymd) + i).strftime("%Y%m%d")
     nanaco_point_data = get_nanaco_point(result_date,@shop_kbn)
     nanaco_point_data.each_with_index do |nanaco,idx|
     	if i == 0
     		nanaco_datas[idx] = Hash::new
     	end
     	nanaco_datas[idx][i] = nanaco
     end
   end
%>

<table id="report_view_table" class="rounded-corner">
  <thead>
	<tr>
		<th style="min-width: 100px;">店舗</th>
		<% for i in 0..@num.to_i %>
			<th style="min-width: 40px;"><%= (Date.parse(@from_ymd) + i).strftime("%m/%d") %></th>
		<% end %>
		<th style="min-width: 40px;">合計</th>
	</tr>
  </thead>

<tbody>
    <% nanaco_datas.each_with_index do |nanaco,idx| %>
    <% sum_cols_pos1 = 0
       sum_cols_pos2 = 0 %>
    <tr>
      <th rowspan="2"><%= nanaco[0].shop_cd %><br /><%= nanaco[0].shop_ryaku %></th>
      <% for i in 0..@num.to_i %>
        <td style="text-align: right">
          <%= nanaco[i].nanacopoint_num.to_i unless nanaco[i] == nil %>
          <% sum_cols_pos1 = sum_cols_pos1 + nanaco[i].nanacopoint_num.to_i unless nanaco[i] == nil %>
        </td>
      <% end %>
      <td style="text-align: right"><%= sum_cols_pos1.to_i %></td>
    </tr>
    <tr>
      <% for i in 0..@num.to_i %>
        <td style="text-align: right">
          <%= nanaco[i].nanacopoint.to_i unless nanaco[i] == nil %>
          <% sum_cols_pos2 = sum_cols_pos2 + nanaco[i].nanacopoint.to_i unless nanaco[i] == nil %>
        </td>
      <% end %>
      <td style="text-align: right"><%= sum_cols_pos2.to_i %></td>
    </tr>
    <% gsum_nanacopoint_num = gsum_nanacopoint_num + sum_cols_pos1%>
    <% gsum_nanacopoint = gsum_nanacopoint + sum_cols_pos2%>
    <% end %><%# nanako_datas.each_with_index %>
    
    <tr style="border-top:solid 2px #0000CD;">
      <th rowspan="2">合計</th>
      <!-- nanacoポイント件数 -->
      <% for i in 0..@num.to_i %>
        <td style="text-align: right"></td>
      <% end %>
      <td style="text-align: right"><%= gsum_nanacopoint_num.to_i %></td>
    </tr>
      <!-- nanacoポイント数 -->
    <tr>
      <% for i in 0..@num.to_i %>
        <td style="text-align: right"></td>
      <% end %>
      <td style="text-align: right"><%= gsum_nanacopoint.to_i %></td>
    </tr>

</tbody>  	

</table>
<%= submit_tag  '  印  刷  ',format: 'pdf' %>
<% end %>


<script>
	$(function () {
		$('#report_view_table').tablefix({width:900,height: 600,fixRows:1, fixCols: 1});
	});
</script>



      
    