<h1>地下タンク過不足表</h1>
<%= form_tag({:action => 'search'},:remote => true ) do  %>
<table id='rounded-corner'>
	<tr>
      <th>入力日</th>
        <td>
	        <%= text_field_tag  "input_ymd" , @input_ymd ,:class => 'datepicker',:size => 10%>
	    </td>
	    <td>
	    	<%= radio_button_tag("rbtn",1) %>日計
	    	<%= radio_button_tag("rbtn",2) %>累計
	    </td>
	    <td><%= submit_tag '表示'%></td>
    </tr>
</table><br />
<% end %>

<div id="result">
	  <%= render :partial => 'result'%>
</div>
