<%= form_for(@m_code) do |f| %>
  <% if @m_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_code.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @m_code.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label 'コード区分' %></th>
  	  <td><%= f.number_field :kbn, :style=>"ime-mode:disabled" ,:maxlength=>20 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label 'コード' %></th>
  	  <td><%= f.text_field :code, :style=>"ime-mode:disabled" ,:maxlength=>1 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label 'コード名称' %></th>
  	  <td><%= f.text_field :code_name,:maxlength=>30 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label 'コード名称１' %></th>
  	  <td><%= f.text_field :code_name1,:maxlength=>30 %></td>  	  
  	</tr>
  	
  	<tr>
  		<td align="left" style="border: none">
  			<%= link_to '戻る', m_codes_path, :class => 'return_icon' %>
		</td>
	  	<td align="right" style="border: none">
	  		<% if f.object.new_record? %>
			<%= f.submit "  登  録  ",:disable_with => "登録中.....",:confirm => '登録しても良いですか？' %>
			<% else %>
			<%= f.submit "  更  新  ",:disable_with => "更新中.....",:confirm => '更新しても良いですか？' %>
			<% end %>
		</td>
	</tr>
  	
  </table>
  <!--div class="actions">
    <%#= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div-->
<% end %>
