<%= @input_ymd %>


<table id="report_view_table" class="rounded-corner">
  <tr>
    <th scope="col">&nbsp;</th>
    <% @m_aims.each do |m_aim| %>
    <th colspan="2" scope="col"><%= m_aim.aim_name %></th>
    <% end %>
    <th colspan="2" scope="col">現金会員</th>
    <th colspan="2" scope="col">車検書換</th>
    <th colspan="8" scope="col">車検予約</th>
  </tr>
  <tr>
    <th rowspan="2" scope="row"  style="min-width: 100px;">店舗</th>
    <% @m_aims.each do |m_aim| %>
    <th rowspan="2">目標</th>
    <th>日計</th>
    <% end %>
    <th rowspan="2">目標</th>
    <th>日計</th>
    <th rowspan="2">目標</th>
    <th>日計</th>
    <th colspan="2">9月</th>
    <th colspan="2">10月</th>
    <th colspan="2">11月</th>
    <th colspan="2">12月</th>
  </tr>
  <tr>
  	<% @m_aims.each do |m_aim| %>
    <th>累計</th>
    <% end %>
    <th>累計</th>
    <th>累計</th>
    <th>日計</th>
    <th>累計</th>
    <th>日計</th>
    <th>累計</th>
    <th>日計</th>
    <th>累計</th>
    <th>日計</th>
    <th>累計</th>
  </tr>

  <% @shops.each do |shop|%>
  <tr>
    <th rowspan="2" scope="row"><%= shop.shop_cd %><br /><%= shop.shop_ryaku %></th>
    <% @m_aims.each do |m_aim| %>
    <td rowspan="2">
    	<% d_aim = get_d_aim(@ym,shop.id,m_aim.id) %>
    	<%= d_aim.aim_total unless d_aim == nil %>
    </td>
    <td>&nbsp;</td>
    <% end %>
    <td rowspan="2">&nbsp;</td>
    <td>&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td>&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <% @m_aims.each do |m_aim| %>
    <td>&nbsp;</td>
    <% end %>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <% end %>
</table>



<script>
	$(function () {
		$('#report_view_table').tablefix({width:900,height: 600,fixRows:3, fixCols: 1});
	});
</script>