<%
	# 承認できるユーザかどうか確認する
	menu = Menu.find(:all,:conditions => ['uri = ?','d_fixture_approvals']).first
	m_approval = MApproval.find(:all,:conditions => ['menu_id = ?',menu.id]).first

	unless m_approval.blank?
		if m_approval.approval_id1 == current_user.id
			@appraval_id = m_approval.approval_id1
		elsif m_approval.approval_id2 == current_user.id
			@appraval_id = m_approval.approval_id2
		elsif m_approval.approval_id3 == current_user.id
			@appraval_id = m_approval.approval_id3
		elsif m_approval.approval_id4 == current_user.id
			@appraval_id = m_approval.approval_id4
		elsif m_approval.approval_id5 == current_user.id
			@appraval_id = m_approval.approval_id5
		end	
	end
%>
<% i = 0 %>
<% sum_goukei = 0 %>
<h1>備品購入申請承認</h1>
<!-- UPDATE BEGIN 2013.03.12 一覧へ戻るを右へ移動 -->
<%#= link_to '一覧へ戻る',{:action => 'index',:from_ymd => @from_ymd,:to_ymd => @to_ymd,:shop_kbn => @shop_kbn, :approve_flg=> @approve_flg}, :class => 'return_icon' %>
<%= link_to '一覧へ戻る',{:action => 'index',:from_ymd => @from_ymd,:to_ymd => @to_ymd,:shop_kbn => @shop_kbn, :approve_flg=> @approve_flg}, :class => 'return_icon', :style => "float:right;" %>
<br/>
<!-- UPDATE END 2013.03.12 一覧へ戻るを右へ移動 -->
<table id='rounded-corner'>
	<tr>
	  <th>対象店舗</th>
	  <td style="background-color: #A5D7AA;">
	  	<%= "#{@m_shop.shop_cd} #{@m_shop.shop_name}" %>
	  </td> 
	  <th>申請日</th>
	  <td style="background-color: #A5D7AA;">
	  	<%= "#{@fixtures[0].application_date[0,4]}/#{@fixtures[0].application_date[4,2]}/#{@fixtures[0].application_date[6,2]}" %>
	  </td>
	  </tr>
</table>
<table id="rounded-corner" style="width: 98%">
	
	<tr>
		<th rowspan="2" >No</th>
		<th>購入先</th>
		<th>購入品名</th>
		<th>個数</th>
		<th>単価</th>
		<th>金額</th>
		<th>現在庫</th>
		<th>購入日</th>
	</tr>
		
	<tr>
		<!-- No -->
		<th colspan="4" >購入目的</th>
		<th colspan="2" >
			承認
			<% if not(@appraval_id.blank?) %>
				<!-- 機能未実装
				<input type="button" value="一括" onclick="return all_check(1);" />
				<input type="button" value="クリア" onclick="return all_check(0);" />
				-->
			<% end %>
		</th>
		<th>コメント</th>
	</tr>
	
<% @fixtures.each do |fixture| %>
    <% i = i + 1%>
    
	<tr>
		<!-- No -->
		<td rowspan="2" align="center" style="border-bottom-width: 3px">
			<%= i %>
		</td>
		<!-- 購入先 -->
		<td>
			<%= fixture.buy_shop %>
		</td>
		<!-- 購入品名 -->
		<td>
			<%= fixture.buy_item %>
		</td>
		<!-- 個数 -->
		<td align="right">
			<%= number_with_delimiter(fixture.buy_num) %>
		</td>
		<!-- 単価 -->
		<td align="right">
			<%= number_with_delimiter(fixture.buy_price) %>
		</td>
		<!-- 金額 -->
		<td align="right">
			<%= number_with_delimiter(goukei = fixture.buy_num * fixture.buy_price) %>
			<% sum_goukei = sum_goukei + goukei %>
		</td>
		<!-- 現在庫 -->
		<td align="right">
			<%= number_with_delimiter(fixture.now_num) %>
		</td>
		<!-- 購入日 -->
		<td align="center">
			<%
				buy_day = fixture.buy_day
				if buy_day.blank? 
					buy_day = ""
				else
					buy_day = buy_day[0,4] + "/"+ buy_day[4,2] + "/" + buy_day[6,2]
				end
			%>
			<%= buy_day %>
		</td>
	</tr>

	<tr>
		<!-- No -->
		<!-- 購入目的 -->
		<td colspan="4" style="border-bottom-width: 3px">
			<%= fixture.buy_object %>
		</td>
		
		<!-- 承認 -->
		<td colspan="2" align="center" style="border-bottom-width: 3px" >
			<% if not(@appraval_id.blank?) %>
			
				<%= radio_button_tag("rbtn#{fixture.id}",1, (fixture.approve_flg == 1)) %>
				<label for='<%="rbtn#{fixture.id}_1"%>'>承認</label>
				
				&nbsp;&nbsp;
				
				<%= radio_button_tag("rbtn#{fixture.id}",2, (fixture.approve_flg == 2)) %>
				<label for='<%="rbtn#{fixture.id}_2"%>'>却下</label>
			
			<% end %> <!-- if not(@appraval_id.blank?) -->
		</td>
		<!-- コメント-->
		<td align="center" style="border-bottom-width: 3px">
			<% if not(@appraval_id.blank?) %>
				<%= link_to '入力',{:action => 'entry_comment',:id => fixture.id},:class => 'modal' %>
			<% end %>
		</td>
	</tr>
<% end %>
  <tr>
  	<th colspan="5">購入合計額</th>
  	<td align="right"><%= number_with_delimiter(sum_goukei) %></td>
  	<td colspan="2"></td>
  </tr>
</table>

<div id="message"></div>
<!-- UPDATE BEGIN 2013.03.12 一覧へ戻るを右へ移動 -->
<%#= link_to '一覧へ戻る',{:action => 'index',:from_ymd => @from_ymd,:to_ymd => @to_ymd,:shop_kbn => @shop_kbn, :approve_flg=> @approve_flg}, :class => 'return_icon' %>
<br/>
<%= link_to '一覧へ戻る',{:action => 'index',:from_ymd => @from_ymd,:to_ymd => @to_ymd,:shop_kbn => @shop_kbn, :approve_flg=> @approve_flg}, :class => 'return_icon', :style => "float:right" %>
<!-- UPDATE END 2013.03.12 一覧へ戻るを右へ移動 -->
<script type="text/javascript">
jQuery(function() {
<% @fixtures.each do |f| %>
    jQuery('input[name="rbtn<%="#{f.id}"%>"]').change(function(){
        var data = jQuery(this).val();
        $.get("<%=url_for({:action => 'change_radio'}) %>?value=" + data + "&id=" + <%= f.id.to_s %>);
    });
<% end %>
});
</script>
