<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->
<% i = 0%>
<% sum_goukei = 0 %>
<h1>備品購入申請承認</h1>
<%= link_to '一覧に戻る',{:action => 'index',:from_ymd => @from_ymd,:to_ymd => @to_ymd,:shop_kbn => @shop_kbn} %>

<table id="rounded-corner">

	<tr>
		<th>No</th>
		<th>購入先</th>
		<th>購入品名</th>
		<th>個数</th>
		<th>単価</th>
		<th>金額</th>
		<th>購入目的</th>
		<th>現在庫</th>
		<th>購入日</th>
		<th>承認</th>
		<th>コメント</th>
	</tr>
<% @fixtures.each do |fixture| %>
    <% i = i + 1%>
    <tr>
    <td><%= i %></td>
    <td><%= fixture.buy_shop %></td>
    <td><%= fixture.buy_item %></td>
    <td align="right"><%= number_with_delimiter(fixture.buy_num) %></td>
    <td align="right"><%= number_with_delimiter(fixture.buy_price) %></td>
    <td align="right"><%= number_with_delimiter(goukei = fixture.buy_num * fixture.buy_price) %>
    	<% sum_goukei = sum_goukei + goukei %>
    </td>
    <td><%= fixture.buy_object %></td>
    <td align="right"><%= number_with_delimiter(fixture.now_num) %></td>
    <% if fixture.buy_day == nil or fixture.buy_day == "" %>
    <td><%= fixture.buy_day %>
    <% else %>
    <td><%= fixture.buy_day[0,4] + "/"+ fixture.buy_day[4,2] + "/" + fixture.buy_day[6,2] %></td>
    <% end %>

    <% menu = Menu.find(:all,:conditions => ['uri = ?','d_fixture_approvals']).first %>    
    <% m_approval = MApproval.find(:all,:conditions => ['menu_id = ?',menu.id]).first %>

    <% unless m_approval == nil %> 
      <% if m_approval.approval_id1 == current_user.id %>
        <% @appraval_id = m_approval.approval_id1 %>
      <% elsif m_approval.approval_id2 == current_user.id %>
        <% @appraval_id = m_approval.approval_id2 %>
      <% elsif m_approval.approval_id3 == current_user.id %>
        <% @appraval_id = m_approval.approval_id3 %>
      <% elsif m_approval.approval_id4 == current_user.id %>
        <% @appraval_id = m_approval.approval_id4 %>
      <% elsif m_approval.approval_id5 == current_user.id %>
        <% @appraval_id = m_approval.approval_id5 %> 
      <% end %>
    <% end %>
    <% unless @appraval_id == nil or @appraval_id == ""%>
	    <td><% if fixture.approve_flg == 1 %>
	    	  <%= radio_button_tag("rbtn#{fixture.id}",1,:checked => true) %>
	    	<% else %>
	    	  <%= radio_button_tag("rbtn#{fixture.id}",1) %>
	    	<% end %>
	    	承認
	    	<% if fixture.approve_flg == 2 %>
	    	  <%= radio_button_tag("rbtn#{fixture.id}",2,:checked => true) %>
	    	<% else %>
	    	  <%= radio_button_tag("rbtn#{fixture.id}",2) %>
	    	<% end %>
	    	却下
	    </td>
	    <td align="center"><%= link_to '入力',{:action => 'entry_comment',:id => fixture.id},:class => 'modal' %></td>
    <% else %>
	    <td></td>
	    <td></td>
    <% end %> 
    </tr>
<% end %>
  <tr>
  	<th colspan="5">購入合計額</th>
  	<td align="right"><%= number_with_delimiter(sum_goukei) %></td>
  	<td colspan="5"></td>
  </tr>
</table>
<div id="message"></div>

<script type="text/javascript">
jQuery(function() {
<% @fixtures.each do |f| %>
    jQuery('input[name="rbtn<%="#{f.id}"%>"]').change(function(){
        var data = jQuery(this).val();
        $.get("<%=url_for({:action => 'change_radio'}) %>?value=" + data + "&id=" + <%= f.id.to_s %>);
    });
<% end %>
});
</script>