<h1>備品購入申請承認一覧</h1>
<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->
<% i = 0%>
<% sum_goukei = 0 %>

<%= form_tag(url_for(:action => 'search'),:remote => true) do %>
<table id="rounded-corner">
	<tr>
		<th>申請日(From)</th>
		<td><% if @from_ymd == '00000000'%>
			  <%= text_field_tag  "from_ymd" , "" ,:class => 'datepicker',:size => 10%>
			<% else %>
			  <%= text_field_tag  "from_ymd" , @from_ymd[0,4] + '/' + @from_ymd[4,2] + '/' + @from_ymd[6,2],:class => 'datepicker',:size => 10%>
			<% end %>
		</td>
		<th>申請日(To)</th>
		<td><% if @to_ymd == '99999999'%>
			<%= text_field_tag  "to_ymd" , "" ,:class => 'datepicker',:size => 10%>
			<% else %>
			<%= text_field_tag  "to_ymd" , @to_ymd[0,4] + '/' + @to_ymd[4,2] + '/' + @to_ymd[6,2],:class => 'datepicker',:size => 10%>
			<% end %>
	    </td>
	    <th>店舗種別</th>
	    <td><%= select_tag "shop_kbn",options_for_select({'直営' => 0,'油外' => 1},@shop_kbn) %></td>
	    <td><%= submit_tag "検索" %></td>
	</tr>
</table>
<% end %>
<p>
	<div id="result">
	    <%= render partial: 'result'%>
	</div>
</p>
