<%= javascript_include_tag "comma" %>
<div id="div_d_washpurika_reports" style="visibility: hidden;">
<%=form_tag({:action => "update"}) do %>
<table class='rounded-corner' id="tablefix" >
<!-- begin ヘッダ -->
<tr>
	<th rowspan="3" >
		&nbsp;
	</th>
	<th rowspan="3" style="white-space: nowrap" >
		店舗<br/><br/>
		前月順位<br/>
		累積pt<br/>
	</th>
	<th rowspan="3" style="white-space: nowrap" >
		&nbsp;
	</th>
	<% for i in 1..@days %>
	<th rowspan="3" style="white-space: nowrap" >
		<%=i%>日<br/><br/>
		<% ymd = Date::new(@d_washpurika_reports[0]["date"][0..3].to_i, @d_washpurika_reports[0]["date"][4..5].to_i, i) %>
		<% 
			case ymd.wday
			when 0
				f_color = "red"
			when 6
				f_color = "blue"
			else
				f_color = "black"
			end 
		%>
		<span style="color:<%=f_color%>;">
		(<%="日月火水木金土"[ymd.wday]%>)
		</span>
	</th>
	<% end %>
	<th rowspan="3" style="white-space: nowrap" >
		累積
	</th>
	<th rowspan="3" style="white-space: nowrap" >
		差枚数
	</th>
	<th rowspan="2" style="white-space: nowrap" >
		ペース
	</th>
	<th rowspan="1" style="white-space: nowrap" >
		前年同日迄のペース
	</th>
	<th rowspan="2" style="white-space: nowrap" >
		同月過去最高実績
	</th>
</tr>
<tr>
	<th rowspan="1" style="white-space: nowrap" >
		前年同日迄の実績
	</th>
</tr>
<tr>
	<th rowspan="1" style="white-space: nowrap" >
		洗車売上金額
	</th>
	<th rowspan="1" style="white-space: nowrap" >
		前年同月末実績
	</th>
	<th rowspan="1" style="white-space: nowrap" >
		本年ペースー過去最高
	</th>
</tr>
<!-- END ヘッダ -->

<% tmp_league = "" %>
<% cnt = 0 %>
<% for rec in @d_washpurika_reports %>
<% cnt += 1%>
<% if tmp_league != rec["before_league"] then %>
<tr class="sikiri">
<% end %>	
	<!-- リーグ -->
	<% if tmp_league != rec["before_league"] then %>
	<th rowspan="<%=get_league_count(@d_washpurika_reports, rec["before_league"]) * 3 %>">
		<span>
		<%=get_league_chr(rec["before_league"])%>
		</span>
		<!-- リーグのみ縦書き IE only -->
		<span style="writing-mode: tb-rl; padding-left: 2px; padding-top: 3px;"> 
			リーグ
		</span>
		<% tmp_league = rec["before_league"] %>
	</th>
	<% end %>
	
	<!-- 店舗,前月順位,累積pt -->
	<% m_shop = MShop.find(rec["m_shop_id"]) %>
	
	<td rowspan="3" align="center" style="white-space: nowrap">
		<%= m_shop.shop_cd %>&nbsp;<%= m_shop.shop_ryaku %><br/><br/>
		前月順位&nbsp;&nbsp;<%=get_league_chr(rec["dsp_league"])%><%=rec["dsp_rank"]%><br/>
		累積pt&nbsp;&nbsp;<%= number_with_delimiter(rec["before_total_point"]) %>
	</td>
	
	<th rowspan="1">
		目標
	</th>
	
	<!-- 目標1～31 -->
	<% d_aim = DAim.find(:first, :conditions => ["date=? and m_shop_id=? and m_aim_id=26", rec["date"], rec["m_shop_id"]]) %>
	<% for i in 1..@days %>
	<td align="right">
		<% if rec["result#{ i }"].nil? then%>
			<!-- わざと表示しません！ -->
		<% else %>
			<%= number_with_delimiter(d_aim["aim_value#{ i }"]) unless d_aim.nil? %>
		<% end %>
	</td>
	<% end %>
	
	<!-- 目標トータル　-->
	<td align="right">
		<%= number_with_delimiter(d_aim.aim_total) unless d_aim.nil? %>
	</td>
	
	<!-- 枚数差 -->
	<td rowspan="3" align="right">
		<%= number_with_delimiter(d_aim.aim_total - rec["result_total"]) unless d_aim.nil? %>
	</td>
	
	<!-- ペース -->
	<td rowspan="2" align="right">
		<%= number_with_delimiter(rec["pace"]) %>
	</td>

	<!-- 前年同日迄のペース -->
	<td rowspan="1" align="right">
		<!-- <%= number_with_delimiter(rec["same_pace"]) %> -->
		<%if session[:washpurika_mode].to_s == "edit" then %>
			<%= text_field "data#{cnt}", :same_pace, :value => rec["same_pace"], :class => "money" %> 
		<% else %>
			<%= number_with_delimiter(rec["same_pace"]) %>
			<%= hidden_field "data#{cnt}", :same_pace, :value => rec["same_pace"] %> 
		<% end %>
	</td>

	<!-- 同月過去最高実績 -->
	<td rowspan="2" align="right">
		<!-- <%= number_with_delimiter(rec["same_uriage_total_max"]) %> -->
		<%if session[:washpurika_mode].to_s == "edit" then %>
			<%= text_field "data#{cnt}", :same_uriage_total_max, :value => rec["same_uriage_total_max"], :class => "money" %> 
		<% else %>
			<%= number_with_delimiter(rec["same_uriage_total_max"]) %>
			<%= hidden_field "data#{cnt}", :same_uriage_total_max, :value => rec["same_uriage_total_max"] %> 
		<% end %>
	</td>

</tr>
<tr>
	<th rowspan="2">
		実績
	</th>

	<!--　実績枚数1～31 -->
	<% for i in 1..@days %>
	<td rowspan="2" align="right">
		<%= number_with_delimiter(rec["result#{ i }"]) %>
	</td>
	<% end %>

	<!-- 実績枚数トータル -->
	<td rowspan="2" align="right">
		<%= number_with_delimiter(rec["result_total"]) %>
	</td>

	<!-- 前年同日迄の実績 -->
	<td rowspan="1" align="right">
		<!-- <%= number_with_delimiter(rec["same_uriage"]) %> -->
		<%if session[:washpurika_mode].to_s == "edit" then %>
			<%= text_field "data#{cnt}", :same_uriage, :value => rec["same_uriage"], :class => "money" %> 
		<% else %>
			<%= number_with_delimiter(rec["same_uriage"]) %>
			<%= hidden_field "data#{cnt}", :same_uriage, :value => rec["same_uriage"] %> 
		<% end %>
	</td>

</tr>
<tr>
	<!-- 洗車売上金額 -->
	<td align="right">
		<%= number_with_delimiter(rec["uriage_total"]) %> 
	</td>
	
	<!-- 前年同月末実績 -->
	<td align="right">
		<!-- <%= number_with_delimiter(rec["same_uriage_total"]) %> -->
		<%if session[:washpurika_mode].to_s == "edit" then %>
			<%= text_field "data#{cnt}", :same_uriage_total, :value => rec["same_uriage_total"], :class => "money" %> 
		<% else %>
			<%= number_with_delimiter(rec["same_uriage_total"]) %>
			<%= hidden_field "data#{cnt}", :same_uriage_total, :value => rec["same_uriage_total"] %> 
		<% end %>
	</td>
	
	<!-- 本年ペース - 過去最高 -->
	<td align="right">
		<span myid="span_pace_minus<%=cnt%>">
		<%= number_with_delimiter(rec["pace"] - rec["same_uriage_total_max"]) %>
		</span>
		<script>
		$( function () {
			$("#data<%=cnt%>_same_uriage_total_max").live("change", function () {
				var pace  = Number($("#data<%=cnt%>_pace").val());
				var total = Number(this.value.replace(/,/g, ""));
				if (isNaN(total)) { total = 0; }
				$("span[myid=span_pace_minus<%=cnt%>]").html( format_kanma(pace - total) );
			});
		});
		</script>
	</td>
</tr>
<% end %><!-- for rec in @d_washpurika_reports -->
</table>

	<!-- begin 検索パラメータ -->
	<%= hidden_field :hheader, :mode, :value => "" %>
	<%= hidden_field :hheader, :y,    :value => params[:header][:y] %>
	<%= hidden_field :hheader, :m,    :value => params[:header][:m] %>
	<%= hidden_field :hheader, :d,    :value => params[:header][:d] %>
	<!-- end 検索パラメータ -->

	<!-- begin データ部分 -->
	<% cnt = 0 %>
	<% for rec in @d_washpurika_reports %>
		<% cnt += 1 %>
		
		<%=hidden_field "data#{cnt}", :date     ,          :value => rec["date"] %>
		<%=hidden_field "data#{cnt}", :m_shop_id,          :value => rec["m_shop_id"] %>
		<%=hidden_field "data#{cnt}", :total_rank,         :value => rec["total_rank"] %>
		<%=hidden_field "data#{cnt}", :before_league,      :value => rec["before_league"] %>
		<%=hidden_field "data#{cnt}", :league,             :value => rec["league"] %>
		<%=hidden_field "data#{cnt}", :before_rank,        :value => rec["before_rank"] %>
		<%=hidden_field "data#{cnt}", :rank,               :value => rec["rank"] %>
		<%=hidden_field "data#{cnt}", :before_total_point, :value => rec["before_total_point"] %>
		<%=hidden_field "data#{cnt}", :total_point,        :value => rec["total_point"] %>

		<% for i in 1..31 %>
		<%=hidden_field "data#{cnt}", "result#{i}",        :value => rec["result#{i}"] %>
		<% end %>
		
		<%=hidden_field "data#{cnt}", :result_total,       :value => rec["result_total"] %>

		<% for i in 1..31 %>
		<%=hidden_field "data#{cnt}", "uriage#{i}",        :value => rec["uriage#{i}"] %>
		<% end %>
		
		<%=hidden_field "data#{cnt}", :uriage_total,       :value => rec["uriage_total"] %>

		<%=hidden_field "data#{cnt}", :pace,                  :value => rec["pace"] %>
		
		<%#### DEL 2012.10.31 text_field で入力可とする %>
		<%#=hidden_field "data#{cnt}", :same_pace,             :value => rec["same_pace"] %>
		<%#=hidden_field "data#{cnt}", :same_uriage,           :value => rec["same_uriage"] %>
		<%#=hidden_field "data#{cnt}", :same_uriage_total,     :value => rec["same_uriage_total"] %>
		<%#=hidden_field "data#{cnt}", :same_uriage_total_max, :value => rec["same_uriage_total_max"] %>
		
		<!-- 今月分のuppoint -->
		<%=hidden_field "data_#{cnt}", :up_point,                  :value => rec["up_point"] %>
	<% end %>
	<!-- end データ部分 -->
	<br/>
	<br/>
	<%if session[:washpurika_mode].to_s == "edit" then %>
	<div style="width: 900px; text-align: right" >
		<!-- 累積ポイント0フラグ -->
		<%=check_box :update, :rezero, {:checked => false}, true, false %>
		<label for="update_rezero">更新時に累積ptを0にする</label>
		&nbsp;&nbsp;
		<%= submit_tag("  登　録  ", 
		               :disable_with => "登録中.....", 
		               :confirm => '登録しても良いですか？') %>	  
	</div>
	<%end%> <!-- if session[:washpurika_mode].to_s == "edit" then -->
	
<% end %> <!-- form_tag({:action => "update"}) do -->

<%if session[:washpurika_mode].to_s != "edit" then %>
	<%= form_tag({:action => 'print'}) do %>
		<!-- begin 帳表用検索パラメータ -->
		<%= hidden_field :rheader, :y,    :value => params[:header][:y] %>
		<%= hidden_field :rheader, :m,    :value => params[:header][:m] %>
		<!-- end 帳表用検索パラメータ -->
	<%= submit_tag  '  印  刷  ',format: 'pdf' %>
	<% end %>
<%end%> <!-- if session[:washpurika_mode].to_s == "edit" then -->

<br/>
</div> <!-- <div id="div_d_washpurika_reports" style="visibility: hidden;"> -->
<script language="JavaScript">
$(function(){

	// リーグの先頭行の仕切りをつける
	$("tr.sikiri>td,tr.sikiri>th").css("border-top-width","3px");

	// スクロール表示
	$("#tablefix").tablefix({width: 900, height: 500, fixRows: 3, fixCols: 3});
	
	// テーブル可視 
	$("#div_d_washpurika_reports").css("visibility","visible");
	
});
</script>


