<%= form_for(@m_oil) do |f| %>
  <% if @m_oil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_oil.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @m_oil.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field "input",'check',:value=>@check_del_flg%>

  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label '油種コード' %></th>
  	  <td><%= f.number_field :oil_cd, :style=>"ime-mode:disabled" ,:maxlength=>2 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '油種名' %></th>
  	  <td><%= f.text_field :oil_name,:maxlength=>40 %></td>  	  
  	</tr>
  </table>
  <div class="actions">
    <%= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div>

<% end %>
