<%= form_for(@m_approval) do |f| %>
  <% if @m_approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_approval.errors.count, "error") %> prohibited this m_approval from being saved:</h2>

      <ul>
      <% @m_approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menu_id %><br />
    <%= f.number_field :menu_id %>
  </div>
  <div class="field">
    <%= f.label :approval_id1 %><br />
    <%= f.number_field :approval_id1 %>
  </div>
  <div class="field">
    <%= f.label :approval_name1 %><br />
    <%= f.text_field :approval_name1 %>
  </div>
  <div class="field">
    <%= f.label :approval_id2 %><br />
    <%= f.number_field :approval_id2 %>
  </div>
  <div class="field">
    <%= f.label :approval_name2 %><br />
    <%= f.text_field :approval_name2 %>
  </div>
  <div class="field">
    <%= f.label :approval_id3 %><br />
    <%= f.number_field :approval_id3 %>
  </div>
  <div class="field">
    <%= f.label :approval_name3 %><br />
    <%= f.text_field :approval_name3 %>
  </div>
  <div class="field">
    <%= f.label :approval_id4 %><br />
    <%= f.number_field :approval_id4 %>
  </div>
  <div class="field">
    <%= f.label :approval_name4 %><br />
    <%= f.text_field :approval_name4 %>
  </div>
  <div class="field">
    <%= f.label :approval_id5 %><br />
    <%= f.number_field :approval_id5 %>
  </div>
  <div class="field">
    <%= f.label :approval_name5 %><br />
    <%= f.text_field :approval_name5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
