
<%= form_for(@m_approval) do |f| %>
  <% if @m_approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_approval.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @m_approval.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label 'メニュー名' %></th>
  	  <td>
  	  	<%= f.select(:menu_id, Menu.find(:all,:conditions => "messege_send = 1", :order => 'id').map do |u|
      		[u.display_name,u.id]
        end, {:include_blank => "選択して下さい"}) %>
  	  </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '承認者1' %></th>
  	  <td>
  	  	<%= f.select(:approval_id1, User.find(:all, :conditions => "user_class = 3 and deleted_flg = 0", :order => 'id').map do |u|
      		[u.user_name,u.id]
        end, {:include_blank => "選択して下さい"}) %>
	  </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '承認者2' %></th>
  	  <td>
  	  	<%= f.select(:approval_id2, User.find(:all, :conditions => "user_class = 3 and deleted_flg = 0", :order => 'id').map do |u|
      		[u.user_name,u.id]
        end, {:include_blank => "選択して下さい"}) %>
	  </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '承認者3' %></th>
  	  <td>
  	  	<%= f.select(:approval_id3, User.find(:all, :conditions => "user_class = 3 and deleted_flg = 0", :order => 'id').map do |u|
      		[u.user_name,u.id]
        end, {:include_blank => "選択して下さい"}) %>
	  </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '承認者4' %></th>
  	  <td>
  	  	<%= f.select(:approval_id4, User.find(:all, :conditions => "user_class = 3 and deleted_flg = 0", :order => 'id').map do |u|
      		[u.user_name,u.id]
        end, {:include_blank => "選択して下さい"}) %>
	  </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '承認者5' %></th>
  	  <td>
  	  	<%= f.select(:approval_id5, User.find(:all, :conditions => "user_class = 3 and deleted_flg = 0", :order => 'id').map do |u|
      		[u.user_name,u.id]
        end, {:include_blank => "選択して下さい"}) %>
	  </td>  	  
  	</tr>
  </table>
  <div class="actions">
    <%= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div>
<% end %>
