<table id='rounded-corner'>
  <tr>
    <th>メニュー名</th>
    <th>承認者名1</th>
    <th>承認者名2</th>
    <th>承認者名3</th>
    <th>承認者名4</th>
    <th>承認者名5</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @m_approvals.each do |m_approval| %>

  <tr>
    <td><%= m_approval.display_name %></td>
    <td><%= m_approval.approval_name1 %></td>
    <td><%= m_approval.approval_name2 %></td>
    <td><%= m_approval.approval_name3 %></td>
    <td><%= m_approval.approval_name4 %></td>
    <td><%= m_approval.approval_name5 %></td>
    <td class="icon"><%= link_to image_tag('icon/24_edit.png'), edit_m_approval_path(m_approval) %></td>
    <td class="icon"><%= link_to image_tag('icon/24_delete.png'), m_approval, :confirm => '削除します。よろしいですか？', :method => :delete %></td>
  </tr>
<% end %>
</table>