<!--<p id="notice"><%#= notice %></p>-->

  <table id='rounded-corner'>
  	<tr>
  	  <th>メニュー名</th>
  	  <td><%= @m_approval.display_name %></td>  	  
  	</tr>
  	<tr>
  	  <th>承認者名1</th>
  	  <td><%= @m_approval.approval_name1 %></td>  	  
  	</tr>
  	<tr>
  	  <th>承認者名2</th>
  	  <td><%= @m_approval.approval_name2 %></td>  	  
  	</tr>
  	<tr>
  	  <th>承認者名3</th>
  	  <td><%= @m_approval.approval_name3 %></td>  	  
  	</tr>
  	<tr>
  	  <th>承認者名4</th>
  	  <td><%= @m_approval.approval_name4 %></td>  	  
  	</tr>
  	<tr>
  	  <th>承認者名5</th>
  	  <td><%= @m_approval.approval_name5 %></td>  	  
  	</tr>
  </table>

<%= link_to '編集', edit_m_approval_path(@m_approval), :class => 'edit_icon' %> |
<%= link_to '戻る', m_approvals_path, :class => 'return_icon' %>