<p id="notice"><%= notice %></p>

<p>
  <b>Menu:</b>
  <%= @m_approval.menu_id %>
</p>

<p>
  <b>Approval id1:</b>
  <%= @m_approval.approval_id1 %>
</p>

<p>
  <b>Approval name1:</b>
  <%= @m_approval.approval_name1 %>
</p>

<p>
  <b>Approval id2:</b>
  <%= @m_approval.approval_id2 %>
</p>

<p>
  <b>Approval name2:</b>
  <%= @m_approval.approval_name2 %>
</p>

<p>
  <b>Approval id3:</b>
  <%= @m_approval.approval_id3 %>
</p>

<p>
  <b>Approval name3:</b>
  <%= @m_approval.approval_name3 %>
</p>

<p>
  <b>Approval id4:</b>
  <%= @m_approval.approval_id4 %>
</p>

<p>
  <b>Approval name4:</b>
  <%= @m_approval.approval_name4 %>
</p>

<p>
  <b>Approval id5:</b>
  <%= @m_approval.approval_id5 %>
</p>

<p>
  <b>Approval name5:</b>
  <%= @m_approval.approval_name5 %>
</p>


<%= link_to 'Edit', edit_m_approval_path(@m_approval) %> |
<%= link_to 'Back', m_approvals_path %>
