<%= form_for(@m_wash) do |f| %>
  <% if @m_wash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_wash.errors.count, "") %> 件のエラーがあります。</h2>

      <ul>
      <% @m_wash.errors.full_messages.each do |msg| %>
        <li><%= sliceString(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field "input",'check',:value=>@check_del_flg%>

  <table id='rounded-corner'>
  	<tr>
  	  <th><%= f.label '洗車機コード' %></th>
  	  <td><%= f.number_field :wash_cd, :style=>"ime-mode:disabled" ,:maxlength=>2 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '洗車機名' %></th>
  	  <td><%= f.text_field :wash_name,:maxlength=>20 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '洗車機略称' %></th>
  	  <td><%= f.text_field :wash_ryaku,:maxlength=>10 %></td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label 'グループ種類' %></th>
  	  <td>
  	  	<%= f.select(:wash_group, MCode.find(:all, :conditions => ["kbn = ?",'wash_group'], :order => 'code').map do |u|
      		[u.code_name,u.code]
        end, {:include_blank => "選択して下さい"}) %>
  	  </td>  	  
  	</tr>
  	<tr>
  	  <th><%= f.label '最大数' %></th>
  	  <td><%= f.number_field :max_num, :style=>"ime-mode:disabled" ,:maxlength=>2,:class=>"number" %></td>  	  
  	</tr>
  </table>
  <div class="actions">
    <%= f.submit f.object.new_record? ? '追加' : '更新' %>
  </div>
<% end %>
