<!--<p id="notice"><%#= notice %></p>-->

  <table id='rounded-corner'>
  	<tr>
  	  <th>洗車機コード</th>
  	  <td><%= @m_wash.wash_cd %></td>  	  
  	</tr>
  	<tr>
  	  <th>洗車機名</th>
  	  <td><%= @m_wash.wash_name %></td>  	  
  	</tr>
  	<tr>
  	  <th>洗車機略称</th>
  	  <td><%= @m_wash.wash_ryaku %></td>  	  
  	</tr>
  	<tr>
  	  <th>グループ種類</th>
  	  <td><%= @m_wash.wash_group_name %></td>  	  
  	</tr>
  	<tr>
  	  <th>最大数</th>
  	  <td><%= @m_wash.max_num %></td>  	  
  	</tr>
  	<tr>
  	  <th>単価</th>
  	  <td align="right"><%= number_with_delimiter(@m_wash.price) %></td>  	  
  	</tr>
  </table>

<%#= link_to '編集', edit_m_wash_path(@m_wash), :class => 'edit_icon' %> 
<%#= link_to '戻る', m_washes_path, :class => 'return_icon' %>
<%= link_to '編集', {:action=>"edit",:id=>@m_wash.id,:input_check=>@check_del_flg}, :class => 'edit_icon' %> |
<%= link_to '戻る', {:action=>"index",:input_check=>@check_del_flg}, :class => 'return_icon' %>