<%#= form_for(@d_sale, :html => {:id => 'form_d_sale'}) do |f| %>
<%= form_for(@d_sale, :html => {:id => 'form_d_sale', :name => 'form_update'}) do |f| %>
  <%= f.hidden_field :m_shop_id %>
  <%= f.hidden_field :sale_date %>
  <%= f.hidden_field :kakutei_flg %>
  <%= f.hidden_field :pay_money, :class=>"money" %>
  <%= f.hidden_field :recive_money, :class=>"money" %>
  <%#= f.hidden_field :sale_cashbox, :class=>"money" %>
  <%= f.hidden_field :sale_changebox, :class=>"money" %>
  <%= f.hidden_field :exist_money, :class=>"money" %>
  <%= f.hidden_field :over_short, :class=>"money" %>
  
  <%= hidden_field_tag 'head_input_shop_kbn', @head[:input_shop_kbn] %>
  <%= hidden_field_tag 'head_from_view', @head[:from_view] %>
  
  <%#= hidden_field_tag 'zenjitu_changebox_zenjitu' , num_fmt(@zenjitu_d_sale.sale_changebox.to_i - (@zenjitu_d_sale.sale_am_out.to_i + @zenjitu_d_sale.sale_pm_out.to_i)) %>
  
  <% if @d_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@d_sale.errors.count, "error") %> prohibited this d_sale from being saved:</h2>

      <ul>
      <% @d_sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="d_sale">
	<table class="rounded-corner">
		<tr>
		  <td class="title_alias">売上１</td>
		  <td class="input_alias"><%= f.text_field :sale_money1, :size=>4, :class=>"money",:tabindex=>1 %></td>
		  <td class="title_alias">プリカ</td>
		  <td class="input_alias"><%= f.text_field :sale_purika, :size=>4, :class=>"money",:tabindex=>4 %></td>
		  <td class="title_alias">前日出</td>
		  <td class="info_alias"><%= label :zenjitu_d_sale, :sale_pm_out, num_fmt(@zenjitu_d_sale.sale_pm_out.to_i), :id=>'zenjitu_sale_pm_out' %></td>
		  <td class="title_alias">釣銭機１</td>
		  <td class="input_alias"><%= f.text_field :sale_change1, :size=>4, :class=>"money",:tabindex=>9 %></td>
<!-- 2012/09/25 レイアウト修正その他売上追加 小田 start -->
<!--
		  <td class="title_alias">ＡＳＳ</td>
		  <td class="input_alias"><%= f.text_field :sale_ass, :size=>4, :class=>"money" %></td>
-->
		  <td class="title_alias">その他売上</td>
		  <td class="input_alias"><%= f.text_field :sale_etc, :size=>4, :class=>"money",:tabindex=>12 %></td>
<!--2012/09/25 レイアウト修正その他売上追加 小田 end-->
		</tr>
		<tr>
		  <td class="title_alias">売上２</td>
		  <td class="input_alias"><%= f.text_field :sale_money2, :size=>4, :class=>"money",:tabindex=>2 %></td>
<!-- 2012/09/25 レイアウト修正その他売上追加 小田 start -->	  
		  <td class="title_alias">両替金</td>
		  <td class="input_alias"><%= f.text_field :sale_ass, :size=>4, :class=>"money",:tabindex=>5 %></td>
<!--		  
		  <td class="none_alias" colspan="2" rowspan="3"></td>
-->
<!--2012/09/25 レイアウト修正その他売上追加 小田 end-->
		  <td class="title_alias">当日出</td>
		  <td class="input_alias"><%= f.text_field :sale_today_out, :size=>4, :class=>"money",:tabindex=>6 %></td>
		  <td class="title_alias">釣銭機２</td>
		  <td class="input_alias"><%= f.text_field :sale_change2, :size=>4, :class=>"money",:tabindex=>10 %></td>
		  <td class="title_alias">固定金庫</td>
		  <td class="input_alias">
		  	<% if @head[:from_view] == "index" %>
		  		<%= f.text_field :sale_cashbox, :size=>4, :class=>"money",:tabindex=>13 %>
		  	<% else %>
		  		<%= f.text_field :sale_cashbox, :size=>4, :class=>"money", :readonly=>true %>
		  	<% end %>
		  </td>
		</tr>
		<tr>
		  <td class="title_alias">売上３</td>
		  <td class="input_alias"><%= f.text_field :sale_money3, :size=>4, :class=>"money",:tabindex=>3 %></td>
<!-- 2012/09/25 レイアウト修正その他売上追加 小田 start -->
		  <td class="none_alias" colspan="2" style="border-bottom-style: none"></td>
<!--2012/09/25 レイアウト修正その他売上追加 小田 end-->	  
		  <td class="title_alias">翌日出前</td>
		  <td class="input_alias"><%= f.text_field :sale_am_out, :size=>4, :class=>"money",:tabindex=>7 %></td>
		  <td class="title_alias">釣銭機３</td>
		  <td class="input_alias"><%= f.text_field :sale_change3, :size=>4, :class=>"money",:tabindex=>11 %></td>
		  <td class="title_alias">固定釣銭機</td>
		  <td class="info_alias"><%= num_fmt(@m_fix_money.total_change_money.to_i) %></td>
		</tr>
		<tr>
		  <td class="title_alias">売上合計</td>
		  <td class="info_alias"><label id="sale_money_total"><%= num_fmt(@d_sale.sale_money1.to_i + @d_sale.sale_money2.to_i + @d_sale.sale_money3.to_i) %></label></td>	  
		  <td class="none_alias" colspan="2" style="border-top-style: none"></td>
		  <td class="title_alias">翌日出後</td>
		  <td class="input_alias"><%= f.text_field :sale_pm_out, :size=>4, :class=>"money",:tabindex=>8 %></td>
	      <td class="title_alias">釣銭機合計</td>
	      <td class="info_alias"><label id="sale_change_total"><%= num_fmt(@sale_change_total) %></label></td>
	      <td class="title_alias">通帳預金額</td>
	      <td class="info_alias"><label id="tucyo_money">
	      <!--2012/09/24 前日の当日出→前日の翌日出後に修正 oda
	      <%#= num_fmt(@zenjitu_d_sale.sale_today_out.to_i + @d_sale.sale_today_out.to_i -  @d_sale.sale_ass.to_i + @d_sale.sale_am_out.to_i) %>
			-->
	      <%= num_fmt(@zenjitu_d_sale.sale_pm_out.to_i + @d_sale.sale_today_out.to_i -  @d_sale.sale_ass.to_i + @d_sale.sale_am_out.to_i) %>
	      </label></td>

		</tr>
		<% if @head[:from_view] == "index" %>
		<tr>
			<td colspan="8" style="border-bottom-style: none; border-left-style: none"></td>
			<td class="title_alias">入金確認</td>
			<td class="input_alias">
				<%#= f.text_field :recive_check, :size=>4 %>
				<% if @d_sale.recive_check.to_i == 1 %>
					<%= f.check_box :recive_check, {:checked => true}, 1, 0 %>
				<% else %>
					<%= f.check_box :recive_check, {:checked => false}, 1, 0 %>
				<% end %>
			</td>
	      
		</tr>
		<% end %>
	</table>
      
      <br />
      <div class="title_alias">入金</div>
      <div class="info_alias"><%= label :d_sale, :recive_money, num_fmt(@d_sale.recive_money.to_i), :id=>'recive_money_total' %></div>
      <div class="title_alias">出金</div>
      <div class="info_alias"><%= label :d_sale, :pay_money, num_fmt(@d_sale.pay_money.to_i), :id=>'pay_money_total' %></div>
　　　<br />

<div id="tabs" style="float:left; width: 720px; ">
	 <ul>
	     <li><a href="#pay_tab">出　金</a></li>
	     <li><a href="#recive_tab">入　金</a></li>
	     <li><a href="#etc_tab">その他</a></li>
	     <li><a href="#purika_tab">プリカ</a></li>
	     
	 </ul>	
	 <div id="pay_tab" style="padding-left: 2px;">
      <div id="pay_item">
		<table id="pay_table" class="rounded-corner" style="margin-left: 0px;">
			<thead>
			<tr>
				<th style="min-width:15px"></th>
				<th style="min-width:200px">出金内訳</th>
				<th style="min-width:200px">出金先</th>
				<th style="min-width:100px">金額</th>
				<th style="min-width:60px"></th>
			</tr>
			</thead>
			<tbody>
			<% if @d_sale.id == nil %>
			  <% d_sale_items = DSaleItem.new %>
			<% else %>
			  <% d_sale_items = DSaleItem.find(:all, :conditions=>["d_sale_id = ? and item_class=?", @d_sale.id, 0], :order => "id")%>
			<% end %>
			<% 20.times { |i| %>
				<% if d_sale_items[i] == nil %>
				  <% @pay_item = DSaleItem.new %>
				  <% @pay_item.item_money = ""  %>
				<% else %>
				  <% @pay_item = d_sale_items[i] %>
				<% end %>
				<tr id="pay_row_<%= i %>">
					<td><%= i + 1 %><%= hidden_field :pay_item, :id, {:index => i} %></td>
					<td>
						<%= select :pay_item, :m_item_id, 
						        MItem.find(:all, :conditions=>["item_class=0 and deleted_flg=0"], :order=>"item_kana, id").collect{|i| [ "#{i.item_ryaku}", i.id ]}, {:include_blank => true},{:index => i} %>
                    </td>
                    <td><%= text_field :pay_item, :item_name,  {:index => i, :size=>15, :class=>"text"} %></td>
					<td><%= text_field :pay_item, :item_money,  {:index => i, :size=>4, :class=>"money"} %></td>
					<td>
						<% unless @pay_item.id == nil  %>
						<%= link_to 'クリア', {:action => "destroy_d_sale_item", :id => @pay_item.id, :kbn=> "pay_item", :index=>i }, :confirm => 'この行をクリアします。よろしいですか？', :remote => true, :method => :delete, :class=> 'delete_icon' %>
						<% end %>
					</td>
				</tr>
            <% } %>
            </tbody>
		</table>
      </div>
	 </div>
	 <div id="recive_tab" style="padding-left: 2px;">
      <div id="recive_item">
      	<table id="recive_table" class="rounded-corner" style="margin-left: 0px;">
			<thead>
			<tr>
				<th style="min-width:15px"></th>
				<th style="min-width:200px">入金内訳</th>
				<th style="min-width:200px">入金元</th>
				<th style="min-width:100px">金額</th>
				<th style="min-width:60px"></th>
			</tr>
			</thead>
			<tbody>
			<% if @d_sale.id == nil %>
			  <% d_sale_items = DSaleItem.new %>
			<% else %>
			  <% d_sale_items = DSaleItem.find(:all, :conditions=>["d_sale_id = ? and item_class=?", @d_sale.id, 1], :order => "id")%>
			<% end %>
			<% 20.times { |i| %>
				<% if d_sale_items[i] == nil %>
				  <% @recive_item = DSaleItem.new %>
				  <% @recive_item.item_money = "" %>
				<% else %>
				  <% @recive_item = d_sale_items[i] %>
				<% end %>
				<tr id="recive_row_<%= i %>">
					<td><%= i + 1 %><%= hidden_field :recive_item, :id, {:index => i} %></td>
					<td>
						<%= select :recive_item, :m_item_id, 
						        MItem.find(:all, :conditions=>["item_class=1 and deleted_flg=0"], :order=>"item_kana, id").collect{|i| [ "#{i.item_ryaku}", i.id ]}, {:include_blank => true},{:index => i} %>
                    </td>
                    <td><%= text_field :recive_item, :item_name,  {:index => i, :size=>15, :class=>"text"} %></td>
					<td><%= text_field :recive_item, :item_money,  {:index => i, :size=>4, :class=>"money"} %></td>
					<td>
						<% unless @recive_item.id == nil  %>
						<%= link_to 'クリア', {:action => "destroy_d_sale_item", :id => @recive_item.id, :kbn=> "recive_item", :index=>i }, :confirm => 'この行をクリアします。よろしいですか？', :remote => true, :method => :delete, :class=> 'delete_icon' %>
						<% end %>
					</td>
				</tr>				
            <% } %>
			</tbody>
		</table>
      </div>
	 </div>
	 <div id="etc_tab" style="padding-left: 2px;">
      <div id="etc_item">
      	<table id="etc_table" class="rounded-corner" style="margin-left: 0px;">
			<thead>
			<tr>
				<th style="min-width:15px"></th>
				<th style="min-width:200px">その他内訳</th>
				<th style="min-width:200px">その他名</th>
				<th style="min-width:100px">金額</th>
				<th style="min-width:60px"></th>
			</tr>
			</thead>
			<tbody>
			<% if @d_sale.id == nil %>
			  <% d_sale_items = DSaleItem.new %>
			<% else %>
			  <% d_sale_items = DSaleItem.find(:all, :conditions=>["d_sale_id = ? and (item_class=? or item_class=?)", @d_sale.id, 3,4], :order => "id")%>
			<% end %>
			<% 10.times { |i| %>
				<% if d_sale_items[i] == nil %>
				  <% @etc_item = DSaleItem.new %>
				  <% @etc_item.item_money = "" %>
				<% else %>
				  <% @etc_item = d_sale_items[i] %>
				<% end %>
				<tr id="etc_row_<%= i %>">
					<td><%= i + 1 %><%= hidden_field :etc_item, :id, {:index => i} %></td>
					<td>
						<%= select :etc_item, :m_item_id, 
						        MItem.find(:all, :conditions=>["(item_class = 3 or item_class = 4) and deleted_flg=0"], :order=>"item_kana, id").collect{|i| [ "#{i.item_ryaku}", i.id ]}, {:include_blank => true},{:index => i} %>
                    </td>
                    <td><%= text_field :etc_item, :item_name,  {:index => i, :size=>15, :class=>"text"} %></td>
					<td><%= text_field :etc_item, :item_money,  {:index => i, :size=>4, :class=>"money"} %></td>
					<td>
						<% unless @etc_item.id == nil  %>
						<%= link_to 'クリア', {:action => "destroy_d_sale_item", :id => @etc_item.id, :kbn=> "etc_item", :index=>i }, :confirm => 'この行をクリアします。よろしいですか？', :remote => true, :method => :delete, :class=> 'delete_icon' %>
						<% end %>
					</td>
				</tr>				
            <% } %>
			</tbody>
		</table>
      </div>
     </div>
     <div id="purika_tab" style="padding-left: 2px;">
      <div id="purika_item">
      	<table id="purika_table" class="rounded-corner" style="margin-left: 0px;">
			<thead>
			<tr>
				<th style="min-width:15px" rowspan="2"></th>
				<th colspan="3">プリカ送付内訳</th>
				<th style="min-width:60px" rowspan="2"></th>
			</tr>
			<tr>
				<th style="min-width:320px" >店舗</th>
				<th style="min-width:100px" >シリアルNo</th>
				<th style="min-width:100px" >金額</th>
			</tr>
			</thead>
			<tbody>
			<% if @d_sale.id == nil %>
			  <% d_sale_items = DSaleItem.new %>
			<% else %>
			  <% d_sale_items = DSaleItem.find(:all, :conditions=>["d_sale_id = ? and item_class=?", @d_sale.id, 2], :order => "id")%>
			<% end %>
			<% 10.times { |i| %>
				<% if d_sale_items[i] == nil %>
				  <% @purika_item = DSaleItem.new %>
				  <% @purika_item.item_money = "" %>
				<% else %>
				  <% @purika_item = d_sale_items[i] %>
				<% end %>
				<tr　id="purika_row_<%= i %>">
					<td><%= i + 1 %><%= hidden_field :purika_item, :id, {:index => i} %></td>
					<td>
						<%= select :purika_item, :m_shop_id, 
						        MShop.find(:all, :conditions=>["deleted_flg=0"], :order=>"shop_cd").collect{|i| [ "#{i.shop_cd} #{i.shop_name}", i.id ]}, {:include_blank => true},{:index => i} %>
					</td>
					<td>
						<%= text_field :purika_item, :item_name,  {:index => i, :size=>10, :class=>"number"} %>
                    </td>
					<td><%= text_field :purika_item, :item_money,  {:index => i, :size=>4, :class=>"money"} %></td>
					<td>
						<% unless @purika_item.id == nil  %>
						<%= link_to 'クリア', {:action => "destroy_d_sale_item", :id => @purika_item.id,:kbn=> "purika_item", :index=>i }, :confirm => 'この行をクリアします。よろしいですか？', :remote => true, :method => :delete, :class=> 'delete_icon' %>
						<% end %>
					</td>
				</tr>				
            <% } %>
			</tbody>
		</table>      	
      </div>
     </div>
</div>
<% matujitu = (Date.new(@head[:input_day].to_s[0,4].to_i, @head[:input_day].to_s[5,2].to_i, -1)).strftime("%d").to_i %>
<% if matujitu == @head.input_day.to_s[8,2].to_i  %>
<div id="balance_money_info"  style="float:left; padding-left: 500px;">
	<br />
	<div class="title_alias">出納残高</div>
	<div class="input_alias"><%= f.text_field :balance_money, :size=>4, :class=>"money" %></div>
</div>
<% end %>
	  <div id="total_alias">
      <div class="title_alias">売上</div>
      <div class="info_alias"><label id="sale_money_total2"><%= num_fmt(@d_sale.sale_money1.to_i + @d_sale.sale_money2.to_i + @d_sale.sale_money3.to_i) %></label></div>
      <br />
      <div class="title_alias">プリカ</div>
      <div class="info_alias"><label id="sale_purika2"><%= num_fmt(@d_sale.sale_purika.to_i) %></label></div>
      <br />
      <div class="title_alias">入金(＋)</div>
      <div class="info_alias"><%= label :d_sale, :recive_money, num_fmt(@d_sale.recive_money.to_i), :id=>'recive_money_total2' %></div>
      <br />
      <div class="title_alias">出金(ー)</div>
      <div class="info_alias"><%= label :d_sale, :pay_money, num_fmt(@d_sale.pay_money.to_i), :id=>'pay_money_total2' %></div>
      <br />
      <div class="title_alias">小計</div>
      <div class="info_alias"><label id="syo_total"><%= num_fmt(@syo_total) %></label></div>
      <br /><br />
      <div class="title_alias">金庫(＋)</div>
      <div class="info_alias"><%= label :zenjitu_d_sale, :sale_cashbox, num_fmt(@zenjitu_d_sale.sale_cashbox.to_i), :id=>'zenjitu_cashbox' %></div>
      <br />
      <div class="title_alias">釣銭機(＋)</div>
      <div class="info_alias">
      	<!-- 2012/09/28 算出式変更 翌日出前翌日出後を加算 oda -->
      	<%#= label :zenjitu_d_sale, :sale_changebox, num_fmt(@zenjitu_d_sale.sale_changebox.to_i), :id=>'zenjitu_changebox' %>
      	<!-- 2012/09/30 算出式変更 前日釣銭高2-前日翌日出前-前日翌日出後 nishimura -->
      	<%#= label( :zenjitu_d_sale, :sale_changebox, num_fmt(@zenjitu_d_sale.sale_changebox.to_i - (@zenjitu_d_sale.sale_am_out.to_i + @zenjitu_d_sale.sale_pm_out.to_i) + (@d_sale.sale_am_out.to_i + @d_sale.sale_pm_out.to_i)),:id=>'zenjitu_changebox') %>
      	<%= label( :zenjitu_d_sale, :sale_changebox, num_fmt(@zenjitu_d_sale.sale_changebox.to_i - @zenjitu_d_sale.sale_am_out.to_i - @zenjitu_d_sale.sale_pm_out.to_i),:id=>'zenjitu_changebox') %>
      </div>
      <br />
      <div class="title_alias">両替金</div>
      <div class="info_alias"><label id="sale_ass"><%= num_fmt(@d_sale.sale_ass.to_i) %></label></div>
      <br />
      <div class="title_alias">合計(A)</div>
      <div class="info_alias"><label id="total"><%= num_fmt(@total) %></label></div>
      <br /><br />
      <div class="title_alias">釣銭有高1</div>
      <div class="info_alias"><label id="m_fix_money_total_cash_box2"><%= num_fmt(@d_sale.sale_cashbox.to_i) %></label></div>
      <div class="title_alias">釣銭有高2</div>
      <div class="info_alias"><label id="changebox_aridaka2"><%#= num_fmt(@changebox_aridaka) %>
      	<!-- 2012/09/30 算出項目変更 釣銭機合計 nishimura -->
      	<%= num_fmt(@sale_change_total) %>
      </label></div>
      <!--
      <div class="title_alias">前日出</div>
      <div class="info_alias"><label id="zenjitu_d_sale_sale_pm_out2"><%#= num_fmt(@zenjitu_d_sale.sale_pm_out.to_i) %></label></div>
      -->
      <div class="title_alias">当日出</div>
      <div class="info_alias"><label id="sale_today_out2"><%= num_fmt(@d_sale.sale_today_out.to_i) %></label></div>
      <div class="title_alias">現金有高(B)</div>
      <div class="info_alias"><label id="cash_aridaka"><%= num_fmt(@cash_aridaka.to_i) %></label></div>
      <div class="title_alias">過不足 B-A</div>
      <%
      	bgcolor = ""
      	if (@cash_aridaka - @total).to_i != 0
      	  bgcolor = "#FFD700" 
      	end
      %>
      <div class="info_alias" style="background-color: <%=bgcolor%>"><label id="kabusoku"><%= num_fmt(@cash_aridaka - @total) %></label></div><br /><br />
      <div class="title_alias">翌日出前</div>
      <div class="info_alias"><label id="sale_am_out2"><%= num_fmt(@d_sale.sale_am_out.to_i) %></label></div>
      <div class="title_alias">翌日出後</div>
      <div class="info_alias"><label id="sale_pm_out2"><%= num_fmt(@d_sale.sale_pm_out.to_i) %></label></div>
      <div class="title_alias">出金誤差</div>
      <%
      	bgcolor = ""
      	if (@d_sale.sale_am_out.to_i + @d_sale.sale_pm_out.to_i + @d_sale.sale_today_out.to_i -
      				@syo_total - @d_sale.sale_ass.to_i).to_i != 0
      	  bgcolor = "#FFD700" 
      	end
      %>
      <div class="info_alias" style="background-color: <%=bgcolor%>"><label id="kabusoku_total">
      	<!-- 翌日出前 + 翌日出後 + 当日出 - 小計 - 両替金 + 過不足 -->
      	<%#= num_fmt(@d_sale.sale_am_out.to_i + @d_sale.sale_pm_out.to_i + @d_sale.sale_today_out.to_i - @syo_total - @d_sale.sale_ass.to_i + (@cash_aridaka - @total)) %>
      	<!-- 翌日出前 + 翌日出後 + 当日出 - 小計 - 両替金 -->
      	<%= num_fmt(@d_sale.sale_am_out.to_i + @d_sale.sale_pm_out.to_i + @d_sale.sale_today_out.to_i -
      				@syo_total - @d_sale.sale_ass.to_i) %>
      </label></div>
      
      </div>
  </div>
  
  <div class="actions">
  	<span class="actions_left">
  	<% if @head[:from_view] == "index" %>
  		<%= link_to "入力状況へ戻る", {:controller => "d_sales", :action => "index", :input_day => @head[:input_day], :input_shop_kbn => @head[:input_shop_kbn]}, :confirm => "入力状況へ戻ります。よろしいですか？", :method => :get, :class => 'return_icon' %>
  	<% end %>
  	</span>
  	<span class="actions_right">
  		
  	<span style="margin-right:10px;">
  	<label style='color:red; font-weight:bold;'>再確認</label>
  	<% if f.object.new_record? %>
  		<%= f.check_box :double_check, {:disabled => true,:checked => false}, 1, 0 %>
  	<% else %>	
  		<% if @d_sale.double_check.to_i == 1 %>
			<%= f.check_box :double_check, {:checked => true}, 1, 0 %>
		<% else %>
			<%= f.check_box :double_check, {:checked => false}, 1, 0 %>
		<% end %>
	<% end %>
	</span>
  		
  	<% if @head[:from_view] == "index" %>
  	    <%#= link_to "キャンセル", {:controller => "d_sales", :action => "new", :from_view=>"index", :input_shop_kbn => @head[:input_shop_kbn], :id => @d_sale.id}, :confirm => "入力をキャンセルします。よろしいですか？", :method => :get %>
		<!--input type="button" value="キャンセル" 
				onclick="if (confirm('入力をキャンセルします。よろしいですか？')) {
							this.value='キャンセル中です...';
							this.disabled=true;document.location='<%#= url_for(:controller => "d_sales", :action => "new", :from_view=>"index", :input_shop_kbn => @head[:input_shop_kbn], :id => @d_sale.id) %>';
						}" /-->  	    
		<input type="button" value="キャンセル" class="exec_do"
				onclick="if (confirm('入力をキャンセルします。よろしいですか？')) {
							this.value='キャンセル中です...';
							exec_do();
							this.disabled=true;document.form_cancel.submit();
						}" />
	<% else %>
     	<%#= link_to "キャンセル", {:controller => "d_sales", :action => "new", :input_day => @head.input_day}, :confirm => "入力をキャンセルします。よろしいですか？", :method => :get %>
		<!--input type="button" value="キャンセル" 
		onclick="if (confirm('入力をキャンセルします。よろしいですか？')) {
					this.value='キャンセル中です...';
					this.disabled=true;document.location='<%#= url_for(:controller => "d_sales", :action => "new", :input_day => @head.input_day) %>';
				}" /-->
		<input type="button" value="キャンセル" class="exec_do"
		onclick="if (confirm('入力をキャンセルします。よろしいですか？')) {
					this.value='キャンセル中です...';
					exec_do();
					this.disabled=true;document.form_cancel.submit();
				}" /> 
  	<% end %>	
  	<% if @d_sale.kakutei_flg == 1 and params[:from_view] != "index" %>
  	   <%#= f.submit '  登  録  ', :disable_with => "登録中.....",:confirm => "登録します。よろしいですか？", :method => :post, :disabled=>"disabled" %>
  	   <%= f.submit '  登  録  ', :onclick => "if (confirm('登録します。よろしいですか？'))
  	                                              {
  	                                                 if (update_chk()){;exec_do();value='登録中.....';$('#form_d_sale').submit();
  	                                                    }else{return false;}
  	                                               }else{return false;}", :method => :post, :disabled=>"disabled" ,:class=>"exec_do" %>
  	<% else%>
  	   <%#= f.submit '  登  録  ', :disable_with => "登録中.....",:confirm => "登録します。よろしいですか？", :method => :post %>
  	   <%= f.submit '  登  録  ', :onclick => "if (confirm('登録します。よろしいですか？'))
  	                                              {
  	                                                 if (update_chk()){;exec_do();value='登録中.....';$('#form_d_sale').submit();
  	                                                    }else{return false;}
  	                                               }else{return false;}", :method => :post ,:class=>"exec_do" %>
  	<% end %>
  	
  	<%= f.hidden_field :comment %>
  	<% if @d_sale.kakutei_flg == 1 and params[:from_view] != "index" %>
      <%= link_to("過不足(出金誤差)理由", {:action => "comment", :mode => 'show'}, :class => 'modal', :style => 'margin-left:70px;') %>
    <% else %>
      <%= link_to("過不足(出金誤差)理由", {:action => "comment", :mode => 'edit'}, :class => 'modal', :style => 'margin-left:70px;') %>
    <% end %>
  	</span>
  	
  </div>
<% end %>

<%= form_tag({:action => 'new' }, :name => "form_cancel") do%>
	<% if @head[:from_view] == "index" %>
		<%= hidden_field_tag 'from_view', "index" %>
		<%= hidden_field_tag 'input_shop_kbn', @head[:input_shop_kbn] %>
		<%= hidden_field_tag 'id', @d_sale.id %>
	<%else%>
		<%= hidden_field_tag 'input_day', @head.input_day %>
	<%end%>
<% end %>

<%= javascript_include_tag "comma" %>
<script>
$(function () {
	$('#tabs').css("display", "block");
    $('#pay_table').tablefix({width: 685, height: 430, fixRows: 1, fixCols: 0});
    $('#recive_table').tablefix({width: 685, height: 430, fixRows: 1, fixCols: 0});
    $('#etc_table').tablefix({width: 685, height: 430, fixRows: 1, fixCols: 0});
    $('#purika_table').tablefix({width: 685, height: 430, fixRows: 1, fixCols: 0});
});	
</script>
<%= javascript_include_tag "tabs" %>
  
<script>
/* //キャンセル処理修正時コメントアウト
$(function () {

    //保存の時
    $("form").submit(function() {
    	
         	//金額欄のカンマを消す
         	//Application.jsに移行
         	//$("input.money").each(function(){
         	//	var num = new String($(this).val()).replace(/,/g, "");
           	//	$(this).val(num); 
         	//});
         	
         	//必須入力チェック
         	//その他内訳　金額、または、その他名が入力されている場合は、内訳は必須入力
         	var item_money;
         	var item_name;
         	var m_item_id;
         	var errmsg = "";
         	$("[id^=etc_row]").each(function(i){
         		item_money = $(this).find(":input[id*=_item_money]").val();
         		item_name = $(this).find(":input[id*=_item_name]").val();
         		m_item_id = $(this).find(":input[id*=_m_item_id]").val();

         		if (item_money != "" || item_name != "") {
         			if (m_item_id == "") {
         			if (errmsg != "") { errmsg = errmsg + ", " };
         			errmsg = errmsg + (i+1) + "行目"
         			};
         		};
         	});
     		if (errmsg != "") {
     			alert("「その他内訳」入力が不完全です。正しく入力してください。\n（" + errmsg + "）");
     			return false;
     	    };         	
    });
});	
*/

  	// 保存の時
  	function update_chk() {
  		//必須入力チェック
      	//その他内訳　金額、または、その他名が入力されている場合は、内訳は必須入力
       	var item_money;
       	var item_name;
       	var m_item_id;
       	var errmsg = "";
       	$("[id^=etc_row]").each(function(i){
       		item_money = $(this).find(":input[id*=_item_money]").val();
       		item_name = $(this).find(":input[id*=_item_name]").val();
       		m_item_id = $(this).find(":input[id*=_m_item_id]").val();

       		if (item_money != "" || item_name != "") {
       			if (m_item_id == "") {
       			if (errmsg != "") { errmsg = errmsg + ", " };
       			errmsg = errmsg + (i+1) + "行目"
       			};
       		};
       	});
   		if (errmsg != "") {
   			alert("「その他内訳」入力が不完全です。正しく入力してください。\n（" + errmsg + "）");
   			return false;
   	    };
   	    return true;
  	}

  	// 更新時ボタン押下不可
  	function exec_do() {
  		$('.exec_do').attr('disabled',true);
  		return true;
  	}
</script>


