<h1>売上現金管理表</h1>

<% m_shop = MShop.find(@head[:m_shop_id]) %>
<div id="shop_info">
	<div class="title_alias">対象店舗</div>
	<div class="info_alias"><%= "#{m_shop.shop_cd}　#{m_shop.shop_name}" %></div></div>
<div id="select_day_info">
	<div class="title_alias">売上年月</div>
	<div class="info_alias">
		<%= @head[:input_day].to_s[0,7] %>
    </div>
</div>
<br />
<div id="before_day_info">
	<div class="title_alias">前月末現金有高</div>
	<div class="info_alias">
		<%= num_fmt(@d_sale_zengetumatu.exist_money.to_i) %>
    </div>
    <div class="title_alias">前月末過不足</div>
	<div class="info_alias">
		<%= num_fmt(@d_sale_zengetumatu.over_short.to_i) %>
    </div>
</div>

<hr style="clear: both">


<!--div id="report_view"-->
  	<table id="report_view_table" class="rounded-corner">
  		<thead>
		<tr>
			<th style="min-width: 40px;">日付</th>
			<th style="min-width: 40px;">曜日</th>
			<th style="min-width: 100px;">現金売上</th>
			<th style="min-width: 100px;">プリカ売上</th>
			<th style="min-width: 100px;">ﾌﾟﾘｶ手数料</th>
			<th style="min-width: 100px;">その他売上</th>
			<th style="min-width: 100px;">掛入金</th>
			<th style="min-width: 100px;">出金</th>
			<th style="min-width: 100px;">小計</th>
			<th style="min-width: 100px;">釣銭追加</th>
			<th style="min-width: 100px;">両替金入金</th>
			<th style="min-width: 100px;">前日入金</th>
			<th style="min-width: 100px;">当日入金</th>
			<th style="min-width: 100px;">翌日入金<br />(前)</th>
			<th style="min-width: 100px;">翌日入金<br />(後)</th>
			<th style="min-width: 100px;">計算上有高</th>
			<th style="min-width: 100px;">現金有高</th>
			<th style="min-width: 100px;">過不足</th>
		</tr>
		</thead>
		<tbody>
		<% d_sale_total = Hash::new %>
		<% loopcnt = (Date.new(@head[:input_day].to_s[0,4].to_i, @head[:input_day].to_s[5,2].to_i, -1)).strftime("%d").to_i %>
		<% loopcnt.times { |i| %>
			<% select_day = Date.new(@head[:input_day].to_s[0,4].to_i, @head[:input_day].to_s[5,2].to_i, i + 1) %>				
			<% @d_sale, @zenjitu_d_sale = get_d_sales_data(select_day.strftime("%Y%m%d")) %>
		
			<tr>
				<td class="title"><%= i + 1 %></td>
				<td class="title">
					<%= day_of_the_week(select_day.wday) %>
				</td>
				<td class="money"><%= num_fmt(@d_sale.sale_money) if @d_sale %></td><!--現金売上-->
				<td class="money"><%= num_fmt(@d_sale.sale_purika) if @d_sale %></td><!--プリカ売上-->
				<td class="money"><%= num_fmt(@d_sale.purika_tesuryo) if @d_sale %></td><!--ﾌﾟﾘｶ手数料-->
				<td class="money"><%= num_fmt(@d_sale.sonota_money) if @d_sale %></td><!--その他売上-->
				<td class="money"><%= num_fmt(@d_sale.recive_money) if @d_sale %></td><!--掛入金-->
				<td class="money"><%= num_fmt(@d_sale.pay_money) if @d_sale %></td><!--出金-->
				<td class="money"><%= num_fmt(@d_sale_syokei) if @d_sale %></td><!--小計-->
				<td class="money"><%= num_fmt(@d_sale.sale_ass) if @d_sale %></td><!--釣銭追加-->
				<td class="money"><%= num_fmt(@d_sale_ass) if @d_sale %></td><!--ＡＳＳ入金-->
				<td class="money"><%= num_fmt(@zenjitu_d_sale.sale_pm_out) if @d_sale %></td><!--前日入金-->
				<td class="money"><%= num_fmt(@d_sale.sale_today_out) if @d_sale %></td><!--当日入金-->
				<td class="money"><%= num_fmt(@d_sale.sale_am_out) if @d_sale %></td><!--翌日入金(前)-->
				<td class="money"><%= num_fmt(@d_sale.sale_pm_out) if @d_sale %></td><!--翌日入金(後)-->
				<td class="money"><%= num_fmt(@calc_exist_money) if @d_sale %></td><!--計算上有高-->
				<td class="money"><%= num_fmt(@d_sale.exist_money) if @d_sale %></td><!--現金有高-->
				<td class="money"><%= num_fmt(@d_sale.over_short) if @d_sale %></td><!--過不足-->
			</tr>
			<% d_sale_total = calc_total(d_sale_total) %>
		<% } %>
		<tr class="total">
			<td class="title" colspan="2">合計</td>
			<td class="money"><%= num_fmt(d_sale_total[:sale_money]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:sale_purika]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:purika_tesuryo]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:sonota_money]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:recive_money]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:pay_money]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:d_sale_syokei]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:sale_ass]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:d_sale_ass]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:zenjitu_d_sale_sale_pm_out]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:sale_today_out]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:sale_am_out]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:sale_pm_out]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:d_sale_calc_aridaka]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:d_sale_cash_aridaka]) %></td>
			<td class="money"><%= num_fmt(d_sale_total[:kabusoku]) %></td>
		</tr>
		<tr class="total">
			<td class="title" colspan="2">現金売上</td>
			<td class="money"><%= num_fmt(d_sale_total[:sale_money].to_i - @etc_item_total.item_money.to_i) %></td>
		</tr>
		<tr class="total">
			<td class="title" colspan="2">コイン手数料</td>
			<td class="money"><%= num_fmt(@etc_item_total.item_money.to_i) %></td>
		</tr>
		<tr class="total">
			<td class="title" colspan="2">出納帳残高</td>
			<td class="money">
				<%#= num_fmt(@d_sale_syokei.to_i + @d_sale_cash_aridaka.to_i)  %>
				<%= num_fmt(@balance_money)  %>
		    </td>
		</tr>
		</tbody>
	</table>
<!--/div-->
<% if @from_controller == "d_sale_approves" %>
	<%= link_to "戻る", {:controller => @from_controller, :action => "edit", :header=> {:ym => @head[:input_ym], :shop_kbn => @head[:input_shop_kbn], :zumi_flg =>  @head[:input_zumi_flg]}}, :method => :get, :class => 'return_icon' %>
<% else %>
	<%= link_to "戻る", {:controller => @from_controller, :action => "index", :input_day => @head[:input_day], :input_shop_kbn => @head[:input_shop_kbn]}, :method => :get, :class => 'return_icon' %>
<% end %>

<script>
$(function () {
	$('#report_view_table').tablefix({width: 925, height: 900, fixRows: 1, fixCols: 2});
    //テーブルにスクロールバーを設定
//    new superTable("report_view_table", {
//      cssSkin : "sSky",
//      headerRows : 1,
//      fixedCols : 2,
//      colWidths :  [40, 40, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]
//    });
    
});	
</script>
