<table id='rounded-corner'>
  <tr>
    <th>内訳種別</th>
    <th>内訳名称</th>
    <th>内訳略称</th>
    <th>内訳科目</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @m_items.each do |m_item| %>
  <% if m_item.deleted_flg == 0 %>
  	<% del_flg = "del_n" %>
  <% else %>
  	<% del_flg = "del_y" %>
  <% end %>

  <tr>
    <td class="<%= "#{del_flg}" %>"><%= m_item.item_class_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_item.item_name %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_item.item_ryaku %></td>
    <td class="<%= "#{del_flg}" %>"><%= m_item.item_account_name %></td>
    <td class="icon">
    	<%- if m_item.deleted_flg == 0 -%>
    	<%= link_to image_tag('icon/24_edit.png'), {:action=>"edit",:id=>m_item.id,:input_check=>@check_del_flg} %>
    	<%- end -%>
    </td>
    
    <td class="icon">
    <%- if m_item.deleted_flg == 0 -%>
    <%= link_to image_tag('icon/24_delete.png'), {:action=>"destroy",:id=>m_item.id,:input_check=>@check_del_flg}, :confirm => '削除します。よろしいですか？', :method => :delete %>
    <%- else -%>
    <%= link_to image_tag('icon/refresh.png'), {:action=>"destroy",:id=>m_item.id,:input_check=>@check_del_flg}, :confirm => '削除の取消をします。よろしいですか？', :method => :delete %>
    <%- end -%>
    </td>
    
  </tr>
<% end %>
</table>