<p id="notice"><%= notice %></p>

<p>
  <b>Item class:</b>
  <%= @m_item.item_class %>
</p>

<p>
  <b>Item name:</b>
  <%= @m_item.item_name %>
</p>

<p>
  <b>Item ryaku:</b>
  <%= @m_item.item_ryaku %>
</p>

<p>
  <b>M item account:</b>
  <%= @m_item.m_item_account %>
</p>


<%= link_to 'Edit', edit_m_item_path(@m_item) %> |
<%= link_to 'Back', m_items_path %>
