<p id="notice"><%= notice %></p>

<p>
  <b>M shop:</b>
  <%= @m_washsale_plan.m_shop_id %>
</p>

<p>
  <b>M wash:</b>
  <%= @m_washsale_plan.m_wash_id %>
</p>

<p>
  <b>Sunday:</b>
  <%= @m_washsale_plan.sunday %>
</p>

<p>
  <b>Monday:</b>
  <%= @m_washsale_plan.monday %>
</p>

<p>
  <b>Tuesday:</b>
  <%= @m_washsale_plan.tuesday %>
</p>

<p>
  <b>Wednesday:</b>
  <%= @m_washsale_plan.wednesday %>
</p>

<p>
  <b>Thursday:</b>
  <%= @m_washsale_plan.thursday %>
</p>

<p>
  <b>Friday:</b>
  <%= @m_washsale_plan.friday %>
</p>

<p>
  <b>Saturday:</b>
  <%= @m_washsale_plan.saturday %>
</p>

<p>
  <b>Created user:</b>
  <%= @m_washsale_plan.created_user_id %>
</p>

<p>
  <b>Updated user:</b>
  <%= @m_washsale_plan.updated_user_id %>
</p>

<p>
  <b>Deleted flg:</b>
  <%= @m_washsale_plan.deleted_flg %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @m_washsale_plan.deleted_at %>
</p>


<%= link_to 'Edit', edit_m_washsale_plan_path(@m_washsale_plan) %> |
<%= link_to 'Back', m_washsale_plans_path %>
