<%#= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->
<%if @start_year == "none" then%>
  <font color="red">洗車メータ売上入力が行われていません。</font>
<%else%> <!-- @start_year.nil? -->
<%  #最終行集計用初期化
        k_sale_meter = 0
		k_sale_sum = 0
		g_sale_sum = 0
		gosa_sum  = 0
		g_sum_meter_pos = 0
		g_sum_gosa = 0
		g_sum_zengetu_sa = 0
		g_sale_meter = 0
%>
<% if @d_washsale_report == nil %>
  <font color="red">データの更新はされていません</font>
<% else %>
<% end %>
<%= form_tag({:action => 'update'}) do %>
<table class='rounded-corner' >
	<!-- 共通ヘッダ -->
	<tr>
		<th style="width:24%">機種名</th>
		<th style="width:15%">月末メーター</th><!-- 売上入力 -->
		<th style="width:15%">月初メーター</th><!-- 売上報告 -->
		<th style="width:15%">月間メーター売上</th>
		<th style="width:15%">POS売上</th>
		<th style="width:15%">誤差</th>
		<!-- 2012/09/19 d nishimura
		<th>前月差</th>
		<th>前月売上</th>
		-->
	</tr>  	


	<% @m_washes.each do |wash| %>
	  <% wash.max_num.times do |i| %>
		<tr>
			<!-- 機種名 -->
			<th  id="wash_cd_<%= wash.wash_cd.to_s %>_<%= (i+1).to_s %>"><%= wash.wash_name + (i+1).to_s %></th>
			
			<%# @d_wash_sales = get_d_wash_sales_month(@this_month ,@m_shop_id) %>
			<%# sum_meter = sum_d_washsale_item_meter(@d_wash_sales,wash.id,(i+1)) %>
			
			
			<%
			   #@d_wash_sales = DWashSale.find(:all, :conditions => ["sale_date between ? and ? and m_shop_id = ?",
               #                                                     @this_month + "01",
               #                                                     @this_month + "31",
               #                                                     @m_shop_id],
               #                                     :order => 'sale_date')  
			   
			   sql =  "
			       select * from d_wash_sales a 
			       left join 
			       (select d_wash_sale_id,meter,m_wash_id,wash_no
			          from d_washsale_items) b on  a.id = b.d_wash_sale_id and b.meter > 0
			       where a.sale_date >= '#{@this_month}01' 
			         and a.sale_date <= '#{@this_month}31' 
			         and a.m_shop_id = #{@m_shop_id} 
			         and b.m_wash_id = #{wash.id} 
			         and b.wash_no = #{i+1} 
			       order by a.sale_date,a.m_shop_id,b.m_wash_id,b.wash_no
			    "
			   
			   @d_wash_sales = DWashSale.find_by_sql(sql)
			   
			   if @d_wash_sales.length > 0 then
			   #sum_meter = DWashsaleItem.find(:last, :conditions => ["d_wash_sale_id=? and m_wash_id=? and wash_no=?",
			   #                                                     @d_wash_sales.last.id,
			   #                                                     wash.id,
			   #                                                     (i+1)]).meter
			   sum_meter = DWashsaleItem.find(:last, :conditions => ["d_wash_sale_id=? and m_wash_id=? and wash_no=?",
			                                                        @d_wash_sales.last.id,
			                                                        wash.id,
			                                                        (i+1)]) ? 
			               	DWashsaleItem.find(:last, :conditions => ["d_wash_sale_id=? and m_wash_id=? and wash_no=?",
			                                                        @d_wash_sales.last.id,
			                                                        wash.id,
			                                                        (i+1)]).meter : 0
			   end if
			   
			   sum_meter = 0 if sum_meter.nil?
			%>
			<% meter_id = "meter_" + wash.id.to_s + '_'+ (i+1).to_s %>
			
			<!-- 月末メータ -->
			<td class="no-input-num"><%= number_with_delimiter(sum_meter) %><%= hidden_field_tag meter_id, sum_meter %></td>
			
			
            
            <% if @d_washsale_report_last == nil %>
              <% d_washsale_detail_report = nil %>
			<% else %>
  			  <% d_washsale_detail_report = get_d_washsale_detail_report(@d_washsale_report_last.id,wash.id,(i+1)) %>
			<% end%>
			<% if d_washsale_detail_report == nil %>
			  <% sum_meter_last = 0 %>
			<% else %>
			  <% sum_meter_last = d_washsale_detail_report.meter %>
			<% end %>
			
			<!-- 月初メータ -->
			<td class="no-input-num"><%= number_with_delimiter(sum_meter_last) %></td>					


			<% last_meter_id = "sale_meter_" + wash.id.to_s + '_'+ (i+1).to_s %>
			<%
				sql = "
					select 
					   coalesce(sum(b.uriage), 0) as sum_uriage
					from 
					  d_wash_sales a inner join d_washsale_items b
				    on 
				      a.id = b.d_wash_sale_id
				    where
				          a.sale_date >= '#{@this_month}01'
				      and a.sale_date <= '#{@this_month}31'
				      and a.m_shop_id  = #{@m_shop_id}
				      and b.m_wash_id  = #{wash.id}
				      and b.wash_no    = #{(i+1)}
				"
				
				g_meter_uriage = DWashSale.find_by_sql(sql)[0].sum_uriage.to_i
			%>
			<!-- 月間メータ売上 -->
			<td class="no-input-num"><%= number_with_delimiter(g_meter_uriage) %><%= hidden_field_tag last_meter_id, g_meter_uriage %></td>
            
            <% k_sale_sum = k_sale_sum + g_meter_uriage %>
            
            <% if i == 0 %>
              <!-- POS売上 -->
              <td rowspan="<%= wash.max_num %>"></td>
              
              <!-- 誤差 -->
              <td rowspan="<%= wash.max_num %>">
              	<%= link_to '誤差',{:action => 'show_error',
		    	    	   :sale_date=> @this_month,:wash_cd => wash.wash_cd,
		    	    	   :shop_id => @shop.id  },:class => 'modal'%> 
              	</td>
              
              <!-- 前月差 -->
              <!-- 2012/09/19 d nishimura
              <td rowspan="<%#= wash.max_num %>"></td>
              -->
            <% end %>
            
            <!-- 前月売上 -->
            <!-- 2012/09/19 d nishimura
            <td  class="no-input-num">
            -->
            	<% unless d_washsale_detail_report == nil %>
            	  <% sale_meter = d_washsale_detail_report.sale_meter %>
            	<% else %>
            	  <% sale_meter = 0 %>
            	<% end %>
            	<% k_sale_meter = k_sale_meter + sale_meter %>
            	<%#= number_with_delimiter(sale_meter) %><!-- 2012/09/19 d nishimura -->
            <!-- 2012/09/19 d nishimura
            </td>
            -->
		</tr>
      <% end %><!-- times -->
        <tr>
          <%   
            # INSERT BEGIN 2012.11.06
               # ループの中で@d_wash_salesを洗車No毎に読むようになったので、
               # 合計行の洗車No=99を読み返す。
			   sql =  "
			       select * from d_wash_sales a 
			       left join 
			       (select d_wash_sale_id,meter,m_wash_id,wash_no
			          from d_washsale_items) b on  a.id = b.d_wash_sale_id and b.meter > 0
			       where a.sale_date >= '#{@this_month}01' 
			         and a.sale_date <= '#{@this_month}31' 
			         and a.m_shop_id  = #{@m_shop_id} 
			         and b.m_wash_id  = #{wash.id} 
			         and b.wash_no    = 99
			       order by a.sale_date,a.m_shop_id,b.m_wash_id,b.wash_no
			    "
			   
			   @d_wash_sales = DWashSale.find_by_sql(sql)
            # INSERT END 2012.11.07 
          %>
          <td colspan="2"></td>
          <th><%= wash.wash_name + "計" %></th>
          <td class="no-input-num"><%= number_with_delimiter(k_sale_sum) %></td>
          <% g_sale_sum = g_sale_sum + k_sale_sum %>
          <% k_sale_sum = 0 %>
          <td class="no-input-num"><!-- POS売上 -->
          	  <% meter_99 = "meter_" + wash.id.to_s + '_'+ 99.to_s %>
          	  <% sum_meter_pos = sum_d_washsale_item_meter(@d_wash_sales,wash.id,99) %>
              <%= number_with_delimiter(sum_meter_pos) %><%= hidden_field_tag meter_99, sum_meter_pos %>
              <% g_sum_meter_pos = g_sum_meter_pos + sum_meter_pos %>
          </td>
          <td class="no-input-num">
          	<%= number_with_delimiter(sum_d_washsale_item_gosa(@d_wash_sales,wash.id)) %>
          	<% g_sum_gosa = g_sum_gosa + sum_d_washsale_item_gosa(@d_wash_sales,wash.id) %>	
          </td><!-- 誤差-->
          
          <!-- 2012/09/19 d nishimura
          <td class="no-input-num">
          	<%#= number_with_delimiter(sum_meter_pos - k_sale_meter) %>
          -->
          	<% g_sum_zengetu_sa = g_sum_zengetu_sa - (sum_meter_pos - k_sale_meter) %>
          	<!-- 2012/09/19 d nishimura</td>--><!--前月差 -->
          
          <!-- 2012/09/19 d nishimura	
          <td class="no-input-num"><%#= number_with_delimiter(k_sale_meter) %>
          -->
          	<% g_sale_meter = g_sale_meter + k_sale_meter %>
          	<% k_sale_meter = 0 %><!-- 2012/09/19 d nishimura</td>--><!-- 前月売上 -->
        </tr>
	<% end %><!-- each -->
	<tr>
		<td colspan="2"></td>
		<th>売上合計</th>
		<td class="no-input-num"><%= number_with_delimiter(g_sale_sum) %></td>
		<td class="no-input-num"><%= number_with_delimiter(g_sum_meter_pos) %></td>
		<td class="no-input-num"><%= number_with_delimiter(g_sum_gosa) %></td>
		<!-- 2012/09/19 d nishimura
		<td class="no-input-num"><%#= number_with_delimiter(g_sum_zengetu_sa) %></td>
		<td class="no-input-num"><%#= number_with_delimiter(g_sale_meter) %></td>
		-->
	</tr>
	
	<!-- 2012/09/20 a nishimura 登録条件追加-->
	<% if params[:mode] == 'list' %>
	<% else %>
	<tr>
		<td colspan="6"><!-- 2012/09/19 u nishimura colspan="8" => "6"  -->
			<%= submit_tag("  登  録  ",:disable_with => "登録中...",:confirm => '登録しても良いですか？') %>	
		</td>
	</tr>
	<% end %>
	
</table>
<%= hidden_field_tag 'sale_date',@this_month %>
<%= hidden_field_tag 'm_shop_id',@m_shop_id %>
<% end %><!-- form -->

<% end %><!-- @start_year.nil? -->
