<h1>月間洗車機売上報告書</h1>
<%= form_tag(url_for(:action => 'search'),:remote => true) do %>
<table id='rounded-corner'>
	<tr>
		<th>対象店舗</th>
		<td class="input_no" id="display"><%= @shop.shop_cd %>&nbsp;&nbsp;<%= @shop.shop_name %></td>
		<th>対象年月</th>
		<td>
			<% if params[:mode] == 'list' %>
			<%= @d_washsale_report.sale_date[0,4].to_s + '年' + @d_washsale_report.sale_date[4,2].to_s + '月'%>
			<% else %>
			<%= select_year(@time_now,:start_year => @start_year, :end_year => @time_now.year) %>年<%= select_month(@time_now,:use_month_numbers => true) %>月
			<% end %>
		</td>
		<% unless params[:mode] == 'list' %>
		<td><%= submit_tag "検索" %></td>
		<% end %>
	</tr>
</table>
<% end %>
<% if params[:mode] == 'list' %>
<%= link_to('洗車売上報告書に戻る',{:controller => 'd_washsale_report_lists',:action => 'index',:sale_date => params[:sale_date],:shop_kbn => params[:shop_kbn],:mode => params[:mode]}) %><br />
<% end %>
<p>
	<div id="report">
	    <%= render partial: 'report'%>
	</div>
</p>

<% if params[:mode] == 'list' %>
<%= link_to('洗車売上報告書に戻る',{:controller => 'd_washsale_report_lists',:action => 'index',:sale_date => params[:sale_date],:shop_kbn => params[:shop_kbn],:mode => params[:mode]}) %>
<% end %>
