<table  id='rounded-corner'>
	<tr>
		<th>店舗</th>
		<th>最終入力日</th>
		<th>入力者</th>
		<th>店舗種別</th>
		<th>詳細</th>
	</tr>
  <% @shops.each do |shop| %>
    <tr>
      <td><%= shop.shop_cd %>&nbsp;&nbsp;<%= shop.shop_name %></td>
      <td><%#= shop.last_update_at %>
      	<%= shop.last_update_at[0,4] + '年' + shop.last_update_at[4,2] + '月' + shop.last_update_at[6,2] + '日' unless shop.last_update_at == nil or shop.last_update_at == ''%>
      </td>
      <td><%= shop.last_account %>&nbsp;&nbsp;<%= shop.last_user_name %></td>
      <td align="center"><%= shop.shop_kbn_name %><%#= if shop.shop_kbn == 0 then "直営" else "油外" end %></td>
      <td align="center"><%= link_to(image_tag('icon/24_show.png'),{:controller => 'd_aims',:action => 'index',
            :input_year => @year,:input_month => @month,
            :input_shop_id => shop.shop_id,:input_aim => 0,:mode => 'list'}) %></td>
    </tr>
  <% end %>
  
  <%#= hidden_field_tag "input_ymd",@input_ymd %>
  <%= hidden_field_tag "shop_kbn",@shop_kbn %>
</table>

