<h1>目標値一覧</h1>

<%= form_tag(url_for(:action => 'search'),:remote => true) do %>
<table id='rounded-corner'>
	<tr>
      <th>対象年月</th>
      <td><%#= select_year(@time_now,:start_year => @start_year, :end_year => @time_now.year) %><%#= select_month(@time_now,:use_month_numbers => true) %>
      	<%#= select_date(@month_first,{:use_month_numbers=>true,:discard_day=>true}) %>
      	<%= select_year(@month_first,:end_year => @month_first.year) %>年
      	<%= select_month(@month_first,:use_month_numbers=>true) %>月
      </td>
	  <th>店舗種別</th>
	  <td>
	  	<%= select_tag "shop_kbn",  
        options_for_select(MCode.find(:all, :conditions=>["kbn='shop_kbn' and code <> '9'"], :order=>"code").collect{|i| [ "#{i.code_name}", i.code ]},@shop_kbn.to_i) %>
	  	<%#= select_tag "shop_kbn",
	        raw('<option value="0">直営</option><option value="1">油外</option>')
	        %></td> 
	  <td><%= submit_tag "検索" %></td>
      </tr>
</table>
<% end %>

<hr>

	<div id="shop_list">
	    <%= render partial: 'shop_list'%>
	</div>
