<%= form_tag({:action => 'update'}) do %>
<table class="rounded-corner">
  <tr>
    <th colspan="3" scope="col">店舗情報</th>
    <th scope="col">表示/価格</th>
    <th scope="col">レギュラー</th>
    <th scope="col">ハイオク</th>
    <th scope="col">軽油</th>
    <th scope="col">灯油</th>
    <th scope="col">備考</th>
  </tr>
  <% @etc_shops.each do |etc_shop| %>
  <% price_check = DPriceCheckEtc.where(:research_day => @research_day,
  :research_time => @research_time,:m_etc_shop_id => etc_shop.id).first %>
  <tr>
    <td colspan="8"><%= etc_shop.access %></td>
    <td rowspan="6"><%= price_check.note unless price_check == nil %></td>
  </tr>
  <tr>
    <td rowspan="2"><%= etc_shop.brand %></td>
    <td colspan="2" rowspan="2"><%= etc_shop.company %></td>
    <td>&nbsp;</td>
    <td><%= text_field_tag("rg_price1_#{i}",price_check.rg_price1,:class => 'money' ,:style=>"width:100px;") unless price_check == nil %></td>
    <td><%= price_check.hg_price1 unless price_check == nil %></td>
    <td><%= price_check.kg_price1 unless price_check == nil %></td>
    <td><%= price_check.tg_price1 unless price_check == nil %></td>
  </tr>
  <tr>
  	<td>&nbsp;</td>
    <td><%= price_check.rg_price2 unless price_check == nil %></td>
    <td><%= price_check.hg_price2 unless price_check == nil %></td>
    <td><%= price_check.kg_price2 unless price_check == nil %></td>
    <td><%= price_check.tg_price2 unless price_check == nil %></td>
  </tr>
  <tr>
    <td rowspan="2"><%= etc_shop.shape %></td>
    <td rowspan="2"><%= etc_shop.area %>坪</td>
    <td rowspan="2"><%= etc_shop.tank %>k</td>
    <td>&nbsp;</td>
    <td><%= price_check.rg_price3 unless price_check == nil %></td>
    <td><%= price_check.hg_price3 unless price_check == nil %></td>
    <td><%= price_check.kg_price3 unless price_check == nil %></td>
    <td><%= price_check.tg_price3 unless price_check == nil %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%= price_check.rg_price4 unless price_check == nil %></td>
    <td><%= price_check.hg_price4 unless price_check == nil %></td>
    <td><%= price_check.kg_price4 unless price_check == nil %></td>
    <td><%= price_check.tg_price4 unless price_check == nil %></td>
  </tr>
  <tr>
    <td colspan="3"><%= etc_shop.place %></td>
    <td>&nbsp;</td>
    <td><%= price_check.rg_price5 unless price_check == nil %></td>
    <td><%= price_check.hg_price5 unless price_check == nil %></td>
    <td><%= price_check.kg_price5 unless price_check == nil %></td>
    <td><%= price_check.tg_price5 unless price_check == nil %></td>
  </tr>
  <% end %>
</table>
<%= submit_tag '更新' %>
<% end %>
