<% sum_receive = 0 
   sum_compute_stock = 0
   sum_decrease = 0
   last_sale_total = 0
   sum_decrease_total = 0
   %>
<% get_ymd = @from_ymd %>
<% start_ymd = (@from_ymd[0,4].to_s + '/' + @from_ymd[4,2] + '/' + @from_ymd[6,2]).to_time %>
<% start_day = start_ymd.end_of_month.day %>
<%= form_tag({:action => 'print'}) do %>
  <%= hidden_field_tag 'tank_id',@tank_id %>
  <%= hidden_field_tag 'oil_id',@oil_id %>
  <%= hidden_field_tag 'from_ymd',@from_ymd %>
  <%= hidden_field_tag 'to_ymd',@to_ymd %>

<table id="rounded-corner" class="tank_compute_view_table" width="900">
  <thead>
    <tr>
	  <th colspan="2" style="min-width: 50px;"><%= @from_ymd[0,4]%>年<br /><%= @from_ymd[4,2].to_i %>月</th>
	  <th style="min-width: 50px;">検査官<br />点検</th>
	  <th style="min-width: 65px;">前日営業<br />終了後の<br />実在庫量</th>
	  <th style="min-width: 65px;">ローリー<br />からの<br />受入数量</th>
	  <th style="min-width: 65px;">計量機<br />からの<br />販売数量</th>
	  <th style="min-width: 50px;">計量<br />在庫量</th>
	  <th style="min-width: 65px;">当日営業<br />終了後の<br />実在庫量</th>
	  <th style="min-width: 50px;">本日の<br />増減</th>
	  <th style="min-width: 70px;">計量機<br />からの<br />販売累計</th>
	  <th style="min-width: 70px;">増減の<br />累計</th>
	  <th style="min-width: 70px;">累計<br />増減率</th>
    </tr>
    <tr>
	  <th rowspan="2" colspan="3">（注）</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
      <th>G</th>
      <th>H</th>
      <th>I</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>A+B-C</th>
      <th></th>
      <th>E-D</th>
      <th>前日のG+C</th>
      <th>前日のH+F</th>
      <th>(H/G)%</th>
    </tr>
    <tr>
  	  <% unless @oil_id == nil %><!-- 油種の場合-->
        <% tank_compute_last = get_select_oil(@dr_lastday.id,@oil_id,@shop_id) unless @dr_lastday == nil %>
      <% end %>
      <% unless @tank_id == nil %><!-- タンクの場合-->
        <% tank_compute_last = get_select_tank(@dr_lastday.id,@tank_id,@shop_id) unless @dr_lastday == nil %>
  	  <% end %>
      <th colspan="2">前月末</th>
      <td></td>
      <td>&nbsp;</td>
      <td class="input_no"><%= tank_compute_last.receive unless tank_compute_last == nil %></td>
      <td class="input_no"><%= tank_compute_last.sale unless tank_compute_last == nil %></td>
      <td>&nbsp;</td>
      <td class="input_no"><%= tank_compute_last.after_stock unless tank_compute_last == nil %></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  
  <tbody>
    <% start_day.times do |i| %>
      <% result = DResult.find(:all,:conditions => ['result_date = ? and m_shop_id = ?',
	                                                 get_ymd,@shop_id]).first %>
      <% get_ymd = (get_ymd.to_i + 1).to_s %>
      <% unless @oil_id == nil %><!-- 油種の場合-->
        <% tank_compute = get_select_oil(result.id,@oil_id,@shop_id) unless result == nil %>
      <% end %>
      <% unless @tank_id == nil %><!-- タンクの場合-->
        <% tank_compute = get_select_tank(result.id,@tank_id,@shop_id) unless result == nil %>
  	  <% end %>
	
      <tr>
	    <th><center><%= i + 1 %></center></th>
	    <th><center><%= day_of_the_week(start_ymd.wday) %><% start_ymd = start_ymd.tomorrow %></center></th>
	    <td>
	      <center> 	
		  <% unless tank_compute == nil %>
		    <% if tank_compute.inspect_flg > 0 %>○<% end %>
		  <% end %>
		  </center>
	    </td>
		<td class="input_no"><%= tank_compute.before_stock unless tank_compute == nil %></td>
		<td class="input_no">
		  <% unless tank_compute == nil %>
			<%= tank_compute.receive %>
			<% sum_receive = sum_receive + tank_compute.receive %>
	      <% end %>
		</td>
		<td class="input_no"><%= tank_compute.sale unless tank_compute == nil %></td>
		<td class="input_no">
		  <% unless tank_compute == nil %>
		    <%= tank_compute.compute_stock  %>
			<% sum_compute_stock = sum_compute_stock + tank_compute.compute_stock %>
		  <% end %>
		</td>
		<td class="input_no"><%= tank_compute.after_stock unless tank_compute == nil %></td>
		<td class="input_no">
		  <% unless tank_compute == nil %>
			<%= tank_compute.decrease %>
			<% sum_decrease = sum_decrease + tank_compute.decrease %>
		  <% end %>
		</td>
		<td class="input_no">
		  <% unless tank_compute == nil %>
		  	<%= tank_compute.sale_total %>
		  	<% last_sale_total = last_sale_total + tank_compute.sale_total %>
		  <% end %>
		</td>
		<td class="input_no">
		  <% unless tank_compute == nil %>
			<%= tank_compute.decrease_total %>
			<% sum_decrease_total = sum_decrease_total + tank_compute.decrease_total %>
		  <% end %>
		</td>
		<td class="input_no">
		  <%= sprintf("%-8.3f",(tank_compute.decrease_total*1.000 / tank_compute.sale_total*1.000)*100) + "%" unless tank_compute == nil %>
		</td>
      </tr>
    <% end %>

    <tr>
	  <th colspan="3">月間累計</th>
	  <td></td>
	  <td class="input_no"><%= sum_receive %></td>
	  <td></td>
	  <td class="input_no"><%= sum_compute_stock %></td>
	  <td></td>
	  <td class="input_no"><%= sum_decrease %></td>
	  <td class="input_no"><%= last_sale_total %></td>
	  <td class="input_no"><%= sum_decrease_total %></td>
	  <td class="input_no">
	  	<%#= sprintf("%-8.3f",(sum_decrease_total * 1.000 / last_sale_total * 1.000)*100) + "%"%>
	  	<% if sum_decrease_total == 0 or last_sale_total == 0 %>
	  	  0
	  	<% else %>
	  	  <%= sprintf("%-8.3f",(sum_decrease_total * 1.000 / last_sale_total * 1.000)*100) + "%"%>
	  	<% end %>  
	  </td>
    </tr>
  </tbody>
</table>

<%= submit_tag '  印  刷  ',format: 'pdf' unless @mode == 'manager' %>
<% end %>

<script>
  $(function () {
	  $('.tank_compute_view_table').tablefix({height: 500, fixRows: 3});
  });	
</script>