<table id="rounded-corner">
	<tr><th>店舗名</th>
		<td><%= MShop.find(@shop_id).shop_name %>
	    </td>
	</tr>
</table>
<%= radio_button_tag("rbtn",1,:checked => true) %>油種　
<%= radio_button_tag("rbtn",2) %>タンク
<%= form_tag(url_for(:action => 'search'),:remote => true) do %>
<%= hidden_field_tag 'mode',@mode %>
<%= hidden_field_tag 'shop_id',@shop_id %>
<table id='rounded-corner'>
	<tr>
      <th>対象年月</th>
      <td><%= select_year(@time_now,:start_year => @start_year, :end_year => @time_now.year) %><%= select_month(@time_now,:use_month_numbers => true) %></td>
	  <th><div id="select_text">油種</div></th>
	  <td>
	  <div id="select_box">
	  	<%= render partial: 'select_oil'%>
	  </div>
	  </td>
	  <td><%= submit_tag "検索" %></td>
      </tr>
</table>
<% end %>
<% if @mode == 'manager' %>
  <%= link_to '地下タンク計算表一覧',{:controller => 'd_tank_compute_reports',:action => 'index'}%>
<% end %>
<p>
	<div id="result">
	    <%= render partial: 'result'%>
	</div>
</p>
<% if @mode == 'manager' %>
  <%= link_to('地下タンク計算表一覧',{:controller => 'd_tank_compute_reports',:action => 'index'}) %>
<% end %>

<script type="text/javascript">
jQuery(function() {
    jQuery('input[name="rbtn"]').change(function(){
        var data = jQuery(this).val();
        $.get("<%=url_for({:action => 'change_radio'}) %>?rbtn=" + data + "&shop_id=" + <%= @shop_id %> + "&mode=" + <%= @mode %> );
    });
});
</script>


