<%= javascript_include_tag "modal" %><!-- モーダルを出すには再読み込みする必要あり -->
<% kakutei_flg = 0 %>
<% if notice -%>
  <p id="notice"><%= notice -%></p>
<% end -%>
<% sum_goukei_uriage = 0 -%>
<% sum_genkin_uriage = 0 -%>
<% sum_gosa = 0 -%>
<!--                    データ更新      -->
<ul id="error_summary"></ul>

	<%= form_tag({:action => 'update'}) do %>
	  <table  id='rounded-corner' style="width:98%;" >
	  <tr>
		<th style="width:24%">機種名</th>
		<th style="width:15%">当日メーター</th>
		<th style="width:15%">前回メーター</th>
		<th style="width:15%">計算上売上高</th>
		<th style="width:15%">現金売上高</th>
		<th style="width:15%">誤差</th>
	  </tr>
     <%  @m_washes.each do |wash| %>
       <% d_wash_sale = get_d_wash_sale(@input_ymd_s,@shop.id,@mode) %>
       
       <% unless d_wash_sale == nil %>
         <% kakutei_flg = d_wash_sale.kakutei_flg %>
       <% else %>
         <% kakutei_flg = 0 %>
       <% end %>
       
       <% sum_keisan_uriage = 0 %>
       <% wash.max_num.times do |i| %>
	  <tr>
		  <th id="wash_cd_<%= wash.wash_cd.to_s %>_<%= (i+1).to_s %>">
		  	<%= wash.wash_name + (i + 1).to_s %>
		  	
		  	<%# 単価情報埋め込み %>
		  	<% price_id = "price_" + wash.wash_cd.to_s + '_'+ (i+1).to_s %>
		  	<%= hidden_field_tag price_id, wash.price %>
		  </th>
		  	<% unless d_wash_sale == nil %>
		  	  <% d_washsales_item = get_d_washsale_item(d_wash_sale.id, wash.wash_cd,(i+1)) %>
		  	<% else %>
		  	  <% d_washsales_item = nil %>
		  	<% end %>
		  	<% unless (d_washsales_item == nil) %>
		  		<% if kakutei_flg == 1 %>
		  		  <td align="right"><%= number_with_delimiter(d_washsales_item.meter) %></td>
		  		<% else %>
		  		  <div class="field">
   	  	  	      <% meter_id = "meter_" + d_washsales_item.m_wash_id.to_s + '_'+ d_washsales_item.wash_no.to_s %>
		  		  <td><%= text_field_tag(meter_id, d_washsales_item.meter ,:class => "money", :style=>"width:100px;") %></td>
		  		  </div>
		  		<% end %>
		  	<% else %>
		  	  <% unless d_wash_sale == nil %>
		  	    <% if kakutei_flg == 1 %>
		  	      <td align="right">0</td>
		  	    <% else %>
		  	      <td>
		  	        <% meter_id = "meter_" + wash.wash_cd.to_s + '_'+ (i+1).to_s %>
		  	        <%= text_field_tag(meter_id,0,:class => 'money' ,:style=>"width:100px;") %>
		  	      </td>
		  	    <% end %>
		  	  <% else %>
		  	    <td>
		  	      <% meter_id = "meter_" + wash.wash_cd.to_s + '_'+ (i+1).to_s %>
		  	      <%= text_field_tag(meter_id,0,:class => "money" ,:style=>"width:100px;") %>
		  	    </td>
		  	  <% end %>
		  	<% end %>

		  <td align="right" class="input_no" id="display"><!-- 前回メーター-->
		  	<span id="z<%=meter_id%>">
		  	<% d_wash_sale_mae = get_d_wash_sale(@input_ymd_mae_s,@shop.id,@mode) %>
		  	<% unless d_wash_sale_mae == nil  %>
 		  	  <% d_washsales_item_mae = get_d_washsale_item(d_wash_sale_mae.id, wash.wash_cd,(i+1)) %>
 		  	<% else %>
 		  	  <% d_washsales_item_mae = nil %>
 		  	<% end %>

		  	<% if d_washsales_item_mae == nil %>
		  	  0
		  	<% else %>
		  	  <%= number_with_delimiter(d_washsales_item_mae.meter) %>
		  	<% end %>
		  	</span>
		  </td>
		  <td align="right" class="input_no" id="display"><!-- 計算上売上高 -->
		  	<% display_keisan_uriage = keisan_uriage(d_washsales_item,d_washsales_item_mae) %>
		  	<% 
		  	   v1 = 0
		  	   v2 = 0
		  	   if not(d_washsales_item.nil?) then
		  	   	if not(d_washsales_item.meter.nil?) then
		  	   		v1 = d_washsales_item.meter
		  	   	end
		  	   end  
		  	   if not(d_washsales_item_mae.nil?) then
		  	   	if not(d_washsales_item_mae.meter.nil?) then
		  	   		v2 = d_washsales_item_mae.meter
		  	   	end
		  	   end  
		  	   if v1 < v2 then
		  	     display_keisan_uriage = v1
		  	   else
		  	   	 display_keisan_uriage = (v1 - v2)
		  	   end
		  	%>
            <% display_keisan_uriage = display_keisan_uriage * wash.price %>
		  	<span id="k<%=meter_id%>"><%= number_with_delimiter(display_keisan_uriage) %></span>
		    <% sum_keisan_uriage = sum_keisan_uriage + display_keisan_uriage %>
		  </td>
          <% if i == 0%>
		    <td rowspan="<%= wash.max_num %>"><center>ー</center></td>
		    <td rowspan="<%= wash.max_num %>"> 
	   		  <% unless d_wash_sale == nil %>
	   		    <% d_washsales_item_99 = get_d_washsale_item(d_wash_sale.id, wash.wash_cd,99) %>
	     		  <% unless d_washsales_item_99 == nil %>
	     		    <% if kakutei_flg == 1%>
		    	      <%= link_to '誤差',{:controller => 'd_wash_sales',:action => 'show_error',
		    	    	   :sale_date=> @input_ymd_s,:wash_cd => wash.wash_cd,:mode => @mode,
		    	    	   :shop_id => @shop.id  },:class => 'modal'%> 
	     		    <% else %>
		    	      <%= link_to '誤差入力',{:controller => 'd_wash_sales',:action => 'entry_error',
		    	    	   :sale_date=> @input_ymd_s,:wash_cd => wash.wash_cd,:mode => @mode,
		    	    	   :shop_id => @shop.id  },:class => 'modal'%> 
		    	    <% end %>
		  	      <% else %>
		  	        誤差入力不可
		    	<% end%>
	   		  <% else %>
	   		     誤差入力不可
	   		  <% end %>
		    </td>
		  <% end %>
	  </tr>
	    <% end %>
	  <tr>
	   	<td colspan="2">&nbsp;</td>
	   	<th><%= wash.wash_name + "計" %></th>
	   	<td align="right" class="input_no" id="display">
	   		<span id=<%="kmeter_" + wash.wash_cd.to_s + '_'+ 99.to_s%>>
	   		<%= number_with_delimiter(sum_keisan_uriage) %>
	   		<% sum_goukei_uriage = sum_goukei_uriage + sum_keisan_uriage %>
	   		</span>
	   	</td>
	   	
	   		<% meter_id = "meter_" + wash.wash_cd.to_s + '_'+ 99.to_s %>
	   		<% unless d_wash_sale == nil %>
	   		  <% d_washsales_item_99 = get_d_washsale_item(d_wash_sale.id, wash.wash_cd,99) %>
	   		  <% unless d_washsales_item_99 == nil %>
	   		    <% if kakutei_flg == 1 %>
	   		    <td align="right"><%= number_with_delimiter(d_washsales_item_99.meter) %></td>
	   		    <% else %>
		  	    <td><%= text_field_tag(meter_id, d_washsales_item_99.meter ,
		  	      :class => "money" ,:style=>"width:100px;") %></td>
		  	    <% end %>
		  	    <% sum_genkin_uriage = sum_genkin_uriage + d_washsales_item_99.meter %>
		  	  <% else %>
		  	    <td><%= text_field_tag(meter_id,0 ,:class => "money", :style=>"width:100px;") %></td>
		  	<% end%>
	   		<% else %>
	   		   <td><%= text_field_tag(meter_id,0 ,:class => "money", :style=>"width:100px;") %></td>
	   		<% end %>
		<td align="right" class="input_no" id="display">
			<% unless d_washsales_item_99 == nil %>
			  <% if sum_keisan_uriage -  d_washsales_item_99.meter == d_washsales_item_99.error_money %>
			    <span id="gosa_<%=wash.wash_cd.to_s%>">
			    <%= number_with_delimiter(d_washsales_item_99.error_money) %>
			    </span>
			  <% else %>
			    <font color="red">
			    	<span id="gosa_<%=wash.wash_cd.to_s%>">
			    	<%= number_with_delimiter(d_washsales_item_99.error_money) %><br />
			    	</span>
			    	※更新ボタンを<br />押してください
			    </font>
			  <% end %>
			  <% sum_gosa = sum_gosa + d_washsales_item_99.error_money %>
			<% else %>
			  <span id="gosa_<%=wash.wash_cd.to_s%>">
			  0
			  </span>
			<% end %>
	    </td>
	   </tr>
	  <% end %>
	  <tr><td colspan="2">&nbsp;</td>
	  	  <th>売上合計</th>
	  	  <td align="right" class="input_no" id="display">
	  	  	<span id="kmeter_k"><%= number_with_delimiter(sum_goukei_uriage) %></span></td>
	  	  <td align="right" class="input_no" id="display">
	  	  	<span id="meter_k"> <%= number_with_delimiter(sum_genkin_uriage) %></span></td>
	  	  <td align="right" class="input_no" id="display">
	  	  	<span id="gosa_k"><%= number_with_delimiter(sum_gosa) %></span></td>
	  </tr>
	  <tr><td colspan="6">
	  	<div class="field">
	     <% if kakutei_flg == 1 %>
	       <%= submit_tag("  登  録  ",:disabled => true) %>	 
	     <% else %>
	       <%= submit_tag("  登  録  ",:disable_with => "登録中.....",:confirm => '登録しても良いですか？') %>	  
	     <% end %>
	   </div>
	 </td></tr>
	 </table>
	 <%= hidden_field_tag 'sale_date',@input_ymd.delete("/") %>
     <%= hidden_field_tag 'shop_kbn',@shop_kbn %>
     <%= hidden_field_tag 'shop_id',@shop.id %>
     <%= hidden_field_tag 'mode',@mode %>
	<% end %>

<script language="javascript">
	
	//整数数字に強制変換する(変換不可の場合は0)
	function toNum(str) {
		var num = new String( str ).replace( /,/g, "" ).replace(/(~\s+)|(\s+$)/g, "" )
		if (isNaN(num)) {
			return 0;
		} else {
			num = Number(num);
			return Math.floor(num);	
		}
	}
	
	
	$(function(){
		// 読込時に再計算
		if ($("input:text[id^=meter_]").length > 0) {
			kmeter_update();
		}

		//当日メータ更新後イベント
		$("input:text[id^=meter_]").blur(function(){
				
			kmeter_update();
			
			return true;
		});
		
	});
	
	// 計算上売上高再計算
	function kmeter_update(){
		
		// 各明細計算
		$("input:text[id^=meter_]:not(input:text[id^=meter_][id$=99])").each(function(){
			t = toNum($(this).val());             //当日
			z = toNum($("#z" + this.id).html());  //前回
	        price = toNum($("#" + this.id.replace("meter", "price")).val()) //単価
	        		
			// 当日 - 前回
			if (t < z) {
				k = t;
			} else {
				k = t- z;
			}
			
			// 計算上売上高	
			$("#k" + this.id).html(format_kanma(k * price));
				
		});
		
		// 機種名毎集計計算
		$("span[id^=kmeter_][id$=99]").each(function(){
			k = 0;
			id = this.id.split("_");     
			id = id[0] + "_" + id[1] + "_" // 『kmeter_1_』等
			
			
			$("span:[id^=" + id + "]:not(span:[id$=99])").each(function(){
				k += toNum($(this).html());	
			});
			
			$(this).html(format_kanma(k));
		});
		
		// 計算上売上高計算
		k = 0;
		$("span[id^=kmeter_][id$=99]").each(function(){
			k += toNum($(this).html());
		});
		$("#kmeter_k").html(format_kanma(k));
		
		// 誤差計算
		$("span[id^=gosa]:not(span:[id$=k])").each(function(){
			id = this.id.split("_"); 
			id = id[1];
			
			k =  toNum($("#kmeter_" + id + "_99").html());
			k -= toNum($("#meter_" + id + "_99").val());
			
			$(this).html(format_kanma(k));
			
		});
		
		// 現金売上高
		k = 0;
		$("input:text[id^=meter_][id$=99]").each(function(){
			k += toNum($(this).val());
		});
		$("#meter_k").html(format_kanma(k));
		
		// 誤差計
		k = toNum($("#kmeter_k").html()) - toNum($("#meter_k").html());
		$("#gosa_k").html(format_kanma(k));
		
	}

</script>
<%= javascript_include_tag "comma" %>