<!-- ><h1>DWashSales#index</h1> -->

<table id='rounded-corner'>
	<tr>
		<th>対象店舗</th>
		<td><%= @shop.shop_cd %> | 
<%= @shop.shop_name %></td> <th>
入力日</th><td>
	<% if @mode == nil %>
	  <%= text_field_tag  "input_ymd" , @input_ymd ,:class => 'datepicker',:size => 10%>
	<% else %>
	  <%= @input_ymd %>	
	<% end %>
	</td>
</tr>
</table>

<% unless (@mode == nil) || (@mode == "") %>
  <%= link_to '洗車売上入力状況一覧へ戻る',{:controller => 'd_washsale_lists',:action => 'index',
  	:input_ymd => @input_ymd,:shop_kbn => @shop_kbn} %>
<% end %>
<p>
	<div id="meter_data">
	    <%= render partial: 'meter_data'%>
	</div>
</p>

<% unless (@mode == nil) || (@mode == "") %>
  <%= link_to '洗車売上入力状況一覧へ戻る',{:controller => 'd_washsale_lists',:action => 'index',
  	:input_ymd => @input_ymd,:shop_kbn => @shop_kbn} %>
<% end %>
<!-- 読み込む位置が関係しているので、ここに書く -->
<script type="text/javascript">
$("#input_ymd").change(function(){
    var input_ymd = $("#input_ymd").val();
    $.get("<%=url_for({:action => 'change_input_ymd'}) %>?input_ymd=" + input_ymd);
});
</script>

