<%  #最終行集計用初期化
	k_uri_sum = 0
	g_uri_sum = 0
	gosa_sum  = 0
%>

<!-- INSERT BEGIN 2012.10.16 コメント機能追加 -->
<table class="rounded-corner">
	<td class="orange" width="100px;" align="center">
		<%= link_to("コメント入力", {:action => "edit_comment"}, :class => 'modal') %>
	</td>
</tr>
</table>
<%= hidden_field :comment, :on, :value => params[:comment] %>
<%
	if @d_audit_wash.nil? then
		key_id = ""
	else
		key_id = @d_audit_wash[:id].to_s
	end
%>
<%= hidden_field :key,     :id, :value => key_id %>
<!-- INSERT END 2012.10.16 コメント機能追加 -->
<table class='rounded-corner' style="width:95%;" >	
	<!-- 共通ヘッダ -->
	<tr>
		<th>機種名</th>
		<th>当日メーター</th>
		<th>前回メーター</th>
		<th>計算上売上高</th>
		<th>現金売上高</th>
		<th>誤差</th>
		<th>予備有無</th>
	</tr>  	

	<% for dt_rec in @dt%>
		<%if dt_rec[:wash_no] != 99 then %>
			<!--明細レコード-->
			<tr>
				<!-- 機種名 -->
				<th              ><%= dt_rec[:wash_name] %><%= dt_rec[:wash_no] %></th>
  				
  				<!-- 当日メータ -->
  				<td align="right"><%= number_with_delimiter(dt_rec[:t_meter]) %></td>
  				
  				<!-- 前回メータ -->
  				<td align="right"><%= number_with_delimiter(dt_rec[:z_meter]) %></td>
  				
  				<!-- 計算上売上高 -->
  				<td align="right"><%= number_with_delimiter(dt_rec[:k_uri])   %></td>
  				
  				<% if dt_rec[:wash_no] == 1 then %>
  					<!-- 現金売上高(明細は空項目)-->
  					<td rowspan="<%= dt_rec[:max_num] %>" style="background-color: #C3C3C3;">&nbsp;</td>
  					
  					<!-- 誤差 -->
  					<td rowspan="<%= dt_rec[:max_num] %>" align="center" >
  						<!-- 
  						<%= form_tag({:action => 'dialog_gosa' }, { :remote => true }) do %>
  							<%= hidden_field(:dialog_gosa, :sale_date_from, :value => dt_rec[:audit_date_from]) %>
  							<%= hidden_field(:dialog_gosa, :sale_date_to,   :value => dt_rec[:audit_date_to]) %>
  							<%= hidden_field(:dialog_gosa, :m_shop_id,      :value => dt_rec[:m_shop_id]) %>
  							<%= hidden_field(:dialog_gosa, :m_wash_id,      :value => dt_rec[:m_wash_id]) %>
							<%= submit_tag '参照', :disable_with => "処理中です..." %>
  						<% end %>
  						-->
	  					<!-- 誤差有無 -->
	  					<% if @d_wash_sales = get_gosa(dt_rec[:audit_date_from],
	  							dt_rec[:audit_date_to],
	  							dt_rec[:m_shop_id],
	  							dt_rec[:m_wash_id]).blank?%>
	  						誤差参照
	  					<% else %>
	  						<%=link_to "誤差参照", {:action => "dialog_gosa", :dialog_gosa => {
	  							:sale_date_from => dt_rec[:audit_date_from],
	  							:sale_date_to => dt_rec[:audit_date_to],
	  							:m_shop_id => dt_rec[:m_shop_id],
	  							:m_wash_id => dt_rec[:m_wash_id]}}, :class => "modal" %>
						<% end %>
					</td>
  					<!-- 2013/04/25 予備メーター有無参照追加 -->
  					<td rowspan="<%= dt_rec[:max_num] %>" align="center" >
	  					<!-- 予備メーター有無 -->
	  					<% if @d_wash_sales = get_sub_meter(dt_rec[:audit_date_from],
	  							dt_rec[:audit_date_to],
	  							dt_rec[:m_shop_id],
	  							dt_rec[:m_wash_id]).blank?%>
	  						予備参照
	  					<% else %>
	  						<%=link_to "予備参照", {:action => "dialog_sub_meter", :dialog_sub_meter => {
	  							:sale_date_from => dt_rec[:audit_date_from],
	  							:sale_date_to => dt_rec[:audit_date_to],
	  							:m_shop_id => dt_rec[:m_shop_id],
	  							:m_wash_id => dt_rec[:m_wash_id]}}, :class => "modal" %>
						<% end %>
					</td>

  				<% end %>
			</tr>
		<%else%>
			<!--合計レコード-->
  			<tr>
  				<td colspan="2" style="border-left-width: 0px; border-bottom-width: 0px;">&nbsp;</td>
  				<th              ><%= dt_rec[:wash_name] %>計</th>
  				<td align="right" style="background-color: #A5D7AA;"><%= number_with_delimiter(dt_rec[:k_uri]) %></td>
  				<td align="right" style="background-color: #A5D7AA;"><%= number_with_delimiter(dt_rec[:g_uri]) %></td>
  				<td align="right" style="background-color: #A5D7AA;"><%= number_with_delimiter(dt_rec[:gosa])  %></td>
  				<td></td>
  			</tr>		
  			
  		    <%  #最終行集計用合算
				k_uri_sum += dt_rec[:k_uri]
				g_uri_sum += dt_rec[:g_uri]
				gosa_sum  += dt_rec[:gosa]
			%>
  			
		<%end%>
		
	<% end %>

	<!-- 最終合計 -->
  	<tr>
  		<td colspan="2" style="border-left-width: 0px; border-top-width: 0px; border-bottom-width: 0px;">&nbsp;</td>
  		<th style="border-width: 3px; "                                        >売上合計</th>
  		<td style="border-width: 3px; background-color: #A5D7AA;" align="right"><%= number_with_delimiter(k_uri_sum) %></td>
  		<td style="border-width: 3px; background-color: #A5D7AA;" align="right"><%= number_with_delimiter(g_uri_sum) %></td>
  		<td style="border-width: 3px; background-color: #A5D7AA;" align="right"><%= number_with_delimiter(gosa_sum)  %></td>
  		<td></td>
  	</tr>
  	  	
	<tr>
		<td colspan="9" style="border:none" align="right">
		<%#=form_tag :action => 'update' do %>
		<%= form_tag({:action => 'update' }, :name => "form_update") do %>
		    <%= hidden_field_tag :audit_list, params[:audit_list] %>
			
			<!-- INSERT BEGIN 2012.10.16 コメント機能追加 -->
			<% 
				if @d_audit_wash.nil? then 
					comment = ""
				else
					comment = @d_audit_wash[:comment].to_s
				end
			%>
			<%= hidden_field :d_audit_wash, :comment, :value => comment %>
			<!-- INSERT END 2012.10.16 コメント機能追加 -->
		
			<!-- 立会人 -->
			<%
		  		c_shop_id = @d_audit_wash.confirm_shop_id unless @d_audit_wash.nil?
		  		c_user_id = @d_audit_wash.confirm_user_id unless @d_audit_wash.nil?
			%>
			<table class='rounded-corner' >
				<tr>
					<th rowspan="2">立会人</th>
					<td>
							<%=render :partial => 'd_audit_changemachines/confirm_shop_id', 
								:locals => {:c_shop_id => c_shop_id, 
								            :c_user_id => c_user_id} %>
					</td>
			    </tr>
			    <tr>
					<td>
						<div id="confirm_user_id_div">
							<%=render :partial => 'd_audit_changemachines/confirm_user_id', 
								:locals => {:c_shop_id => c_shop_id, 
								            :c_user_id => c_user_id} %>
						</div>
					</td>
			    </tr>
			</table>
		
			<!-- 更新内容 -->
			<% rec_no = 0 %>
			<% for dt_rec in @dt %>  
		  		<% rec_no += 1 %>
		    	<%= hidden_field("dt#{rec_no}", :audit_date_from, :value => dt_rec[:audit_date_from]) %>	
		    	<%= hidden_field("dt#{rec_no}", :audit_date_to,   :value => dt_rec[:audit_date_to]) %>	
		    	<%= hidden_field("dt#{rec_no}", :audit_class,     :value => dt_rec[:audit_class]) %>	
		    	<%= hidden_field("dt#{rec_no}", :m_shop_id,       :value => dt_rec[:m_shop_id]) %>	
		    	<%= hidden_field("dt#{rec_no}", :m_wash_id,       :value => dt_rec[:m_wash_id]) %>	
		    	<%= hidden_field("dt#{rec_no}", :wash_no,         :value => dt_rec[:wash_no]) %>	
		    
		    	<%= hidden_field("dt#{rec_no}", :t_meter,         :value => dt_rec[:t_meter]) %>	
		    	<%= hidden_field("dt#{rec_no}", :z_meter,         :value => dt_rec[:z_meter]) %>	
		    	<%= hidden_field("dt#{rec_no}", :k_uri,           :value => dt_rec[:k_uri]) %>	
		    	<%= hidden_field("dt#{rec_no}", :g_uri,           :value => dt_rec[:g_uri]) %>	
		    	<%= hidden_field("dt#{rec_no}", :gosa,            :value => dt_rec[:gosa]) %>	
		  	
			<% end %>
			<br/>

		<div style="float:right;">
		<!-- 承認のチェックを追加 -->
		<%= raw(apploval_check_box "d_audit_washes", params[:id].to_i) if params[:approve].to_s == "true" %>
			
		<!-- INSERT BEGIN 2012.11.20 最終データのみ削除機能を追加 -->
		<%
			# 表示中のデータが最終データかを確認する
			wash_max = DAuditWash.find(:first, :conditions => ["m_shop_id=?", @m_shop_id], :order => "audit_date_from desc")
			b_del = false
			if not(wash_max.nil?) then
				if wash_max.audit_date_from == @audit_date_from.delete("/") then
					if @d_audit_wash["kakutei_flg"].to_s == "0" then # ADD 2013.02.21 確定済みのデータは削除させない
						b_del = true
					end 
				end
			end
		%>
		<% if b_del then %>
			<%= hidden_field_tag "delete_id" %>
			<%#= submit_tag "　削　除　", :onclick => "return audit_wash_delete();", :disable_with => "削除中です..." %>
			<%= submit_tag "　削　除　", :onclick => "if (audit_wash_delete()){exec_do();value='削除中です...';document.form_update.submit();}else{return false;}", :class=>"exec_do"%>
			<script>
				function audit_wash_delete(){
					if (confirm('削除します。よろしいですか？')) {
						$('#delete_id').val('<%= wash_max.id %>');
						return true;
					} else {
						return false;
					}
				}
			</script>
		<% end %>
		<!-- INSERT END 2012.11.20 最終データのみ削除機能を追加-->
		<%
			if params[:audit_list].to_s == "true" then
				url = "./edit?id=#{params[:id]}&audit_list=true"
			else
				url = "./edit?header[m_shop_id]=#{@m_shop_id}&header[created_user_id]=#{@created_user_id}&header[audit_date_from]=#{@audit_date_from}&header[audit_date_to]=#{@audit_date_to}"			
			end
		%>
			<!--input type="button" value="キャンセル" 
					onclick="if (confirm('入力をキャンセルします。よろしいですか？')) {
								this.value='キャンセル中です...';
								this.disabled=true;document.location='<%#=url%>';
							}" /-->
			<input type="button" value="キャンセル" class="exec_do"
				onclick="if (confirm('入力をキャンセルします。よろしいですか？')) {
								this.value='キャンセル中です...';
								exec_do();
								this.disabled=true;document.form_cancel.submit();
						}" />
			<!-- 使用不可で開始、立会人入力により使用可 -->
			<%#= submit_tag '　登　録　', :onclick => "return update_chk()" ,:disable_with => '登録中です...', :disabled => not(params["audit_list"].to_s == "true") , :id => "btn_update" %>
			<%= submit_tag("　登　録　" ,:onclick => "if (update_chk()){exec_do();value='登録中です...';document.form_update.submit();}else{return false;}" , :disabled => not(params["audit_list"].to_s == "true") , :id => "btn_update" ,:class=>"exec_do") %>
			<!-- true の場合は永続的に更新不可 -->
			<% 
				if @d_audit_wash.nil? then
					kakutei_flg = ""
				else
					kakutei_flg = @d_audit_wash["kakutei_flg"].to_s
				end
			%>
			<%= hidden_field_tag "update_flg", ((params[:readonly].to_s == "true") or (kakutei_flg == "1")) %>
		</div>
		
		<div style="float:left; padding-left: 20px;">
		<!-- 戻るボタンを実装する -->
		<% if params[:back].to_s == "true" then %>
			<!-- <a href="javascript:history.back();" class="return_icon" >一覧へ戻る</a><br/> -->
			<%=link_to "一覧へ戻る", {:controller => "d_audit_approves", :action => "edit"}, :class => "return_icon" %>
			</br/>
		<% end %>
		<!-- INSERT 2012.12.06 監査リストからの戻るを実装する -->
		<% if params[:audit_list].to_s == "true" then %>
			<%=link_to "一覧へ戻る", {:controller => "d_audit_lists", :action => "edit", :back => "true"}, :class => "return_icon" %>
		<% end %>
		<!-- INSERT 2012.12.06 監査リストからの戻るを実装する -->
		</div>
		</td>
		
	</tr>
</table>
<% end %>

<%= form_tag({:action => 'edit' }, :name => "form_cancel") do%>
	<%if params[:audit_list].to_s == "true" then%>
		<%= hidden_field_tag 'audit_list', "true" %>
		<%= hidden_field_tag 'id', params[:id] %>
	<%else%>
		<%= hidden_field_tag 'header[m_shop_id]', @m_shop_id %>
		<%= hidden_field_tag 'header[created_user_id]', @created_user_id %>
		<%= hidden_field_tag 'header[audit_date_from]', @audit_date_from %>
		<%= hidden_field_tag 'header[audit_date_to]', @audit_date_to %>
	<%end%>
<% end %>

<!-- 参照ダイアログ -->
<div id="dialog_div" style="display: none;" >

</div>

<script language="JavaScript">
  	  	
  	// 更新前チェック
  	function update_chk() {
  		var sel_shop = $("#confirm_shop_id")[0];
  		var sel_user = $("#confirm_user_id")[0];
  		
  		if (sel_shop.value == '') {
  			alert('立会人を選択してください。');
  			sel_shop.focus();
  			return false;
  		}
  		
  		if (sel_user.value == '') {
  			alert('立会人を選択してください。');
  			sel_user.focus();
  			return false;
  		}
  		
  		return confirm('登録しても良いですか？');	
  		
  	}
  	
  	// 更新時ボタン押下不可
  	function exec_do() {
  		$('.exec_do').attr('disabled',true);
  		return true;
  	}
  	
</script>
