<!DOCTYPE html>
<html>
<head>
  <title>SsKanri</title>
  <%= stylesheet_link_tag    "application" %> 
  <%= stylesheet_link_tag    params[:controller] %> <!-- 呼出元のコントローラのCSSを読込 -->
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %> <!-- 呼出元のコンtノローラのJSを読込 -->
  <%= javascript_include_tag "jquery.mini" %>
  <%= stylesheet_link_tag    "table" %> 
  <%= stylesheet_link_tag    "icon" %>   
  <%= javascript_include_tag "modal" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "tablefix" %>

  <!--カレンダー用↓ --> 
  <%= stylesheet_link_tag 'jquery-ui-1.8.22.custom' %>    
  <%= javascript_include_tag "jquery-ui-1.8.22.custom.min" %>
  <%= javascript_include_tag "jquery.ui.datepicker-ja" %> 
    
  <!-- ドロップダウンメニュー用↓ -->  
  <%= javascript_include_tag "ddsmoothmenu" %>
  <%= stylesheet_link_tag 'ddsmoothmenu' %>  
 
  <!-- テーブル用↓ -->  
  <%= stylesheet_link_tag    "superTables_compressed" %>  
  <%= javascript_include_tag "superTables_compressed" %>

  <%= csrf_meta_tags %> 
</head>
<body>
  <div id="page">	
    <div id="modal">
      <div class="background"></div>
      <div class="container"></div>
    </div>
  <div id="header">
  	<span style="float:left font-weight:bold;">
  	<% @establish = Establish.find(:first)%>
  	<label style="font-size: 20px">
    &nbsp;＜&nbsp;
  	<%= @establish.system_name %>
    &nbsp;＞&nbsp;
    </label>
  	</span>
    <span style="float:right">
    ログイン者：<%= current_user.user_name %>
    &nbsp; &nbsp;
    <%= link_to "パスワード変更", {:controller=>"users",:action=>"edit",:id=>current_user.id,:pass_flg=>1}, :class => 'key_icon' %>
    &nbsp;
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'logout_icon' %>
    &nbsp;
    </span>
    <br>
  	<%= render :partial => "/layouts/menus.html" %> 
   </div>   
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  
  <%= yield %>
  <%= render :partial => "/layouts/footer.html" %>
  </div>
  
  <!-- カレンダー表示↓ -->
  <script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
  </script>
</body>
</html>
